@model SanPablo.Reclutador.Web.Models.ParientePostulanteGeneralViewModel
@{
    Layout = "";
}
    <script type="text/javascript">

        //$(document).ready(function () {

        //    //$('#fechaNacimiento').change(function () {
        //    //    var date = $(this).val();
        //    //    var arrDate = date.split("/");
        //    //    var today = new Date();
        //    //    var msj = document.getElementById('msjError');
                
        //    //    useDate = new Date(arrDate[2], arrDate[1] - 1, arrDate[0]);

        //    //    if (useDate > today) {
        //    //        msj.innerHTML = "Ingresar un fecha válida";
        //    //        msj.style.display = "block";
        //    //        $(this).val('');
        //    //    }
        //    //    else { msj.style.display = "none"; }
        //    //});
        //});
    </script>
@using (Html.BeginForm("Edit", "ParientePostulante", FormMethod.Post, new { @id = "parientePostulanteForm" }))
    {
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model =>model.Pariente.IdeParientePostulante)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Apellido paterno <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Pariente.ApellidoPaterno, new { @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Pariente.ApellidoPaterno)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" >Apellido materno <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Pariente.ApellidoMaterno, new { @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Pariente.ApellidoMaterno)
                </div>
            </td>
        </tr> 
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario"> Nombres<span class="text-error">*</span></label>
            </td>
            <td >
                @Html.TextBoxFor(model => model.Pariente.Nombres, new { @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Pariente.Nombres)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Tipo de vínculo <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Pariente.TipoDeVinculo, new SelectList(Model.TipoVinculos, "Valor", "Descripcion", Model.Pariente.TipoDeVinculo))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Pariente.TipoDeVinculo)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario"> Fecha de nacimiento </label>
            </td>
            <td class="colInput" >
                @Html.EditorFor(model => model.Pariente.FechaNacimiento, new { onblur="validarFechaNac();"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Pariente.FechaNacimiento)
                </div>
                <div id="msjError" class="tex-error" style="font-size:12px;color:red ; display:none" > 
                    <span>Ingresar la fecha de nacimiento</span>
                </div>
            </td>
        </tr>
        </table>
            <div>
                
            </div>
}