@model SanPablo.Reclutador.Web.Models.ParientePostulanteGeneralViewModel
@{
    ViewBag.Title = "Parientes";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            mostrarAlerta();
            actualizarBarra();

            jQuery("#grdList").jqGrid({
                url: '@Url.Action("Listar", "ParientePostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Apellido Paterno', 'Apellido Materno', 'Nombres', 'Vínculo', 'Fecha Nac.'],
                colModel: [
                        { name: 'ApellidoPaterno', index: 'ApellidoPaterno', align: 'left', sortable: false },
                        { name: 'ApellidoMaterno', index: 'ApellidoMaterno', align: 'left', sortable: false },
                        { name: 'Nombres', index: 'Nombres', align: 'left', sortable: false },
                        { name: 'Vinculo', index: 'Vinculo', align: 'left', sortable: false },
                        { name: 'Fecha Nac.', index: 'Fecha Nac.', align: 'left', sortable: false },
                ],
                pager: jQuery('#grdPager'),
                rownumbers: true,
                rowList: [10, 30, 50],
                sortname: 'IdeParientePostulante',
                sortorder: 'desc',
                viewrecords: false,
                autowidth: true,
                height: 300,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {
                },
                loadComplete: function (data) {

                }
            });

            $('#updateDialog').dialog({
                autoOpen: false,
                width: 500,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function (e) {
                        validarFechaNac();
                        e.preventDefault();
                        var result = $('form').valid();
                        if (result) {
                            $.post('@Url.Action("Edit", "ParientePostulante")',
                                $("#parientePostulanteForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.msj) {
                                        $("#updateDialog").dialog("close");
                                        location.reload(true);

                                    }
                                    else {
                                        var mensj = document.getElementById("mensajeError");
                                        mensj.style.display = "block";
                                    }
                                }
                            );
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#btnAgregar').click(function () {
                mostrarAgregarPariente();
            });

            $('#btnEditar').click(function () {
                var idePariente = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (idePariente != null) {
                    mostrarEditarPariente(idePariente);
                }
                else {
                    $("#spanMensaje").html('Seleccione un item a editar.');
                    $("#divMensaje").dialog({
                        title: 'SAN PABLO',
                        modal: true,
                        buttons: {
                            "OK": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            // btn Eliminar
            $('#btnEliminar').click(function () {
                var idePariente = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (idePariente != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?.');

                    $("#divMensaje").dialog({
                        title: 'CONVOCATORIAS SAN PABLO',
                        modal: true,
                        buttons: {
                            "Eliminar": function () { eliminarPariente(idePariente); $(this).dialog("close"); location.reload(true) },
                            "Cancel": function () { $(this).dialog("close"); }
                        }
                    });
                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccione un item a eliminar.');
                    $("#divMensaje").dialog({
                        title: 'SAN PABLO',
                        modal: true,
                        buttons: {
                            "OK": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

        });

        function mostrarEditarPariente(id) {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Edit", "ParientePostulante")', { id: id }, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function eliminarPariente(id) {
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("eliminarPariente","ParientePostulante")',
                data: { idePariente: id },
            });
        }

        function mostrarAgregarPariente() {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Edit", "ParientePostulante", new { id = "0"})', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function validarFechaNac() {
            var vinculo = $('#Pariente_TipoDeVinculo').val();
            var menjError = document.getElementById("msjError");
            if (vinculo == "03") {
                var fecha = $("#fechaNacimiento").val();
                if (fecha == null) {

                    menjError.style.display = "block";
                }
                else { menjError.style.display = "none"; }
            }
            else { menjError.style.display = "none"; }
        }
    </script>
}
<div class="span12">
    @Html.Partial("MenuCv")
</div>

    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Parientes</h5>
            </div>
            @Html.HiddenFor(model=>model.porcentaje)
            <div style="margin-top:10px;margin-left:20px;" > Ingresar datos de la familia directa (padres, conyugue y/o hijos)</div>
            <div class="grilla-opciones">
                <div class="opciones">
                    <a id="btnAgregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdList">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" href="@Url.Action("DatosComplementarios", "Postulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                    <a class="btn btn-info" href="@Url.Action("Index", "DiscapacidadPostulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
<div id="updateDialog" title="Datos de familiar"></div>
 <div id="divMensaje">
        <span id="spanMensaje"></span>
    </div>



