@model SanPablo.Reclutador.Web.Areas.Intranet.Models.ConocimientoCargoViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {
               
        
    });
</script>



@using (Html.BeginForm("Idioma", "ConocimientosCargo", FormMethod.Post, new { @id = "IdiomaForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> 
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Conocimiento.IdeConocimientoGeneralCargo)
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Descripcion <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Conocimiento.TipoIdioma, new SelectList(Model.DescripcionConocimiento, "Valor", "Descripcion", Model.Conocimiento.TipoIdioma))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Conocimiento.TipoIdioma)
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de Conocimiento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.Conocimiento.TipoConocimientoIdioma, new SelectList(Model.TipoConocimientos, "Valor", "Descripcion", Model.Conocimiento.TipoConocimientoIdioma))
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Conocimiento.TipoConocimientoIdioma)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Nivel de Conocimiento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.Conocimiento.TipoNivelConocimiento, new SelectList(Model.NivelesConocimientos, "Valor", "Descripcion", Model.Conocimiento.TipoNivelConocimiento))
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Conocimiento.TipoNivelConocimiento)
                </div>
            </td>
        </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.Conocimiento.PuntajeConocimiento, new {@class="input-xxmini" })
               <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Conocimiento.PuntajeConocimiento)
                </div>
           </td>
       </tr>  
    </table>
}