@model SanPablo.Reclutador.Web.Areas.Intranet.Models.ConocimientoCargoViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

       
       

        $('select#Conocimiento_TipoConocimientoGeneral').change(function () {
            var tipoConocimiento = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarNombreConocimiento","ConocimientosCargo")',
                    data: { tipoConocimiento: tipoConocimiento },
                    success: function (respuesta) {
                        $("select#Conocimiento_TipoNombreConocimientoGeneral").empty();
                        $("select#Conocimiento_TipoNombreConocimientoGeneral").append("<option value='00'> Seleccionar </option>");
                        $.each(respuesta, function (i, items) {
                            $("select#Conocimiento_TipoNombreConocimientoGeneral").append("<option value='"
                            + items.Valor + "'>" + items.Descripcion + "</option>");
                        }
                        );
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
                          })
        
    });
    SanPablo.Numeros('Conocimiento_PuntajeConocimiento');

    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });
</script>



@using (Html.BeginForm("OtrosConocimientos", "ConocimientosCargo", FormMethod.Post, new { @id = "otrosConocimientosForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> 
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Cargo.IdeCargo)
                @Html.TextBoxFor(model => model.Conocimiento.IdeConocimientoGeneralCargo, new { style = "display:none;" })
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de Conocimiento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Conocimiento.TipoConocimientoGeneral, new SelectList(Model.TipoConocimientos, "Valor", "Descripcion", Model.Conocimiento.TipoConocimientoGeneral))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Conocimiento.TipoConocimientoGeneral)
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Descripción <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.Conocimiento.TipoNombreConocimientoGeneral, new SelectList(Model.DescripcionConocimiento, "Valor", "Descripcion", Model.Conocimiento.TipoNombreConocimientoGeneral))
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Conocimiento.TipoNombreConocimientoGeneral)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Nivel de Conocimiento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.Conocimiento.TipoNivelConocimiento, new SelectList(Model.NivelesConocimientos, "Valor", "Descripcion", Model.Conocimiento.TipoNivelConocimiento))
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Conocimiento.TipoNivelConocimiento)
                </div>
            </td>
        </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.Conocimiento.PuntajeConocimiento, new { @class = "input-xxmini", maxLength = "2" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Conocimiento.PuntajeConocimiento)
                </div>
           </td>
       </tr>  
    </table>
}