@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SeguridadViewModel
@using SanPablo.Reclutador.Entity

@{
    Layout = "";
}

<!DOCTYPE html>



<html>
<head>
    <title>Iniciar Sesión &middot; Sistema de Reclutamiento</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom-theme/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="@Url.Content("~/Content/custom-theme/jquery.ui.1.10.0.ie.css")" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid.overrides.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
      body {
        padding-top: 100px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    .alert-info {
        background-color: #772953;
        border-color:#772953;
        color:#fff;
        text-align:center;
        font-weight:bold;
    }

    </style>

</head>
<body>
    <div class="container">

   
@using (Html.BeginForm("Lista", "Postulante", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data", id = "frmLogin" }))
{
    @Html.ValidationSummary(true)

        <div style="text-align:center;clear:both">
          

             <img src="@Url.Content("~/Content/images/logo_san_pablo_png.png")" alt="Ingresar" title="Ingresar">

        </div>
        <br />
        <div class="alert alert-info" style="font-size:15px">
            Sistema de Reclutamiento y Selecci&oacute;n de Personal
        </div>
        <label style="font-weight:bold;font-size:13px;">Usuario</label>
        @Html.TextBoxFor(model => model.IndSede,  new { style = "display: none;" })  
        @Html.TextBoxFor(model => model.Usuario.CodUsuario, new { @class = "input-block-level" ,data_val = "false",onblur="aMays(event, this);getRol();"})  
    
         <label style="font-weight:bold;font-size:13px;">Contraseña</label>
       
        @Html.TextBoxFor(model => model.Usuario.CodContrasena, new { @class = "input-block-level" ,data_val = "false", type="password" }) 
            <div id="indRol">
                <label style="font-weight:bold;font-size:13px;">Rol</label>
                 @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.listaRol, "IdRol", "CodRol", Model.Rol.IdRol), new {  data_val = "false" ,@class="input-block-level"})     
            </div>
            
            
                 <div id="ListaSede">
                    <label style="font-weight:bold;font-size:13px;">Sede</label>
                         @Html.DropDownListFor(model => model.Sede.CodigoSede, new SelectList(Model.listaSede, "CodigoSede", "DescripcionSede", Model.Sede.CodigoSede), new {  data_val = "false",@class="input-block-level" })     
                    </div>
           
           
    
    
        <br />
        <br />
        <div style="text-align:center">
            @*<a href="@Url.Action("ListaNuevo", "SolicitudCargo", new { area = "Intranet" })" class="btn btn-info">Iniciar Sesión</a>*@
            <a id="btnIniciaSesion" class="btn btn-info">Iniciar Sesión</a>


        </div>
        <br />

  
}
    </div> 
   @* <div id="dialog" title="Create Album" style="overflow: hidden;">
        <iframe id="frameRegistro" style="width:490px;height:490px;border:0px" frameborder="0"></iframe>
    </div>*@
    <div id="divMensaje">
        <span id="spnMensaje"></span>
    </div>
  
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.conastec.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    

    <script type="text/javascript">

    $(document).ready(function () {
          
        $('#ListaSede').hide();
        $('#IndSede').val(0);

        $(".ui-dialog-titlebar-close").hide();
        $('#btnIniciaSesion').click(function () {

           

            var codUsuario = $("#Usuario_CodUsuario").val();
            var codPass = $("#Usuario_CodContrasena").val();
            var codRol = $("#Rol_IdRol").val();
            var codSede = $("#Sede_CodigoSede").val();
            var indSede = $("#IndSede").val();
          
            $.ajax({
                type: "POST",
                url: '@Url.Action("Logon", "Seguridad",new { area = "Intranet" })',
                    data: {
                        id: codUsuario,
                        codPass: codPass,
                        codRol:  codRol,
                        codSede: codSede,
                        indSede: indSede
                    },
                    traditional: true,
                    success: function (data) {
                        if (data.Resultado) {
                           
                           window.location = '@Url.Action("GetMenu", "Seguridad", new { id = "",  area = "Intranet"})' + '/' + data.IdDato;
                        } else {
                           
                            MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                            
                        }

                    }
             });

           

        });


        $('#Usuario_CodUsuario').on('keypress', function (event) {
            if (event.which == '13') {
                $("#btnIniciaSesion").trigger("click");
            }
        });

        $('#Usuario_CodContrasena').on('keypress', function (event) {
            if (event.which == '13') {
                $("#btnIniciaSesion").trigger("click");
            }
        });

        $('#Rol_IdRol').on('keypress', function (event) {
            if (event.which == '13') {
                $("#btnIniciaSesion").trigger("click");
            }
        });

        $('#Sede_CodigoSede').on('keypress', function (event) {
            if (event.which == '13') {
                $("#btnIniciaSesion").trigger("click");
            }
        });


        $("#Rol_IdRol").change(function () {
            var vvalor = $(this).val();
            var codUsuario = $("#Usuario_CodUsuario").val();

            if (vvalor !=null && vvalor!=0) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("validaSede", "Seguridad")',
                    data: {
                        id: codUsuario,
                        codRol: vvalor
                    },
                    traditional: true,
                    success: function (data) {
                        if (data.Resultado) {
                            $('#ListaSede').show();
                            $('#IndSede').val(1);
                            getSede(codUsuario, vvalor);
                        } else {
                            $('#ListaSede').hide();
                            $('#IndSede').val(0);
                        }

                    }
                 });

            }
            
        });

       
    });


    function getRol() {
            
        var codUsuario = $("#Usuario_CodUsuario").val();
        SanPablo.LoadDropDownList('Rol_IdRol', '@Url.Action("getRol", "Seguridad")', { id: codUsuario }, 0, 'IdRol', 'CodRol');

    }

    function getSede(codUsuario,idRol) {
        SanPablo.LoadDropDownList('Sede_CodigoSede', '@Url.Action("getSede", "Seguridad")', { id: codUsuario, codRol: idRol }, 0, 'CodigoSede', 'DescripcionSede');
    }

    function MostrarMensaje(mensaje, titulo) {
        Funciones.Alert("divMensaje", "spnMensaje", mensaje, titulo);
    }

    function aMays(e, elemento) {
        tecla = (document.all) ? e.keyCode : e.which;
        elemento.value = elemento.value.toUpperCase();
    }

</script>

</body>
</html>