@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudRempCargoViewModel
@{
    ViewBag.Title = "Perfil";
}
@section ScriptsCargo{  


    }
@using (Html.BeginForm("ConfiguracionPerfil", "SolicitudAmpliacionCargo", FormMethod.Post, new { @id = "configuracionPerfilForm" }))
{

<!--CONFIGURACION PERFIL -->
    @Html.ValidationSummary(true)
    <div class="tab-pane" id="H">
        <form>
            <div class="grilla-opciones" style="margin-top:0px;">
                <h6>Parámetros</h6>
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="margin-left:20px;">
                <table style="width: 900px;" border="0">
                    <tr>
                        <td style="width: 50%; vertical-align: top">
                                <h6>Parámetros Pre-Selección</h6>
                                <table border="0">
                                    <tr>
                                        <td style="width: 80px;"></td>
                                        <td></td>
                                        <td>Ptje.
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td>Ptje.Min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label" style="width: 130px;">
                                            <label>Postulante Interno</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntPostuinte, new {@Class ="input-xxmini text-right", @disabled = "disabled"})</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Edad</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntEdad, new {@Class ="input-xxmini text-right", @disabled = "disabled"})</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Género</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntSexo, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Rango Salarial</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntSalario, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Nivel de Estudios</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotNivelEst, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Centro de Estudios</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotCentroEst, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Experiencia Laboral</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotExpLaboral, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Ofimatica</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntajeTotalOfimatica, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Idiomas</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotConoIdioma, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Generales</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotConoGen, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Discapacidades</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotDisCapa, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Horario</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotHorario, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                         </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Ubigeo</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotUbigeo, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>

                                       <td >
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label"><b>Totales</b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.TotalMaxino, new { @Class = "input-xxmini text-right", @readonly="readonly" })
                                            @*<input id="puntajeTotal" type="text" class="input-xxmini text-right"  disabled="disabled">*@</td>
                                        <td></td>
                                        <td>
                                            @*<input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>*@
                                            @Html.TextBoxFor(model => model.SolReqPersonal.PuntajeMinimoGeneral, new { @Class = "input-xxmini text-right", @disabled = "disabled" })

                                    </tr>
                                </table>

                        </td>
                        <td style="width: 50%; vertical-align: top">
                            <h6>Parámetros Selección</h6>
                                <table border="0">
                                        <tr>
                                        <td></td>
                                        <td>Ptje.Prom
                                            </td>
                                            <td style="width:10px;"></td>
                                        <td>Ptje.Min
                                            </td>

                                    </tr>
                                    <tr>
                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                        <td>
                                             @Html.TextBoxFor(model=>model.SolReqPersonal.PuntTotExamen, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td  style="text-align:left">
                                            @Html.TextBoxFor(model=>model.SolReqPersonal.PuntMinExamen, new {@Class ="input-xxmini text-right", disabled = "disabled" })
                                            <div class="tex-error" style="font-size:12px;color:red"> 
                                                @Html.ValidationMessageFor(model => model.SolReqPersonal.PuntMinExamen)
                                            </div>
                                            </td>
                                    </tr>                                                       
                                        <tr>
                                        <td colspan="4" style="height:20px;"></td>
                                    </tr>
                                </table>
                            <label>Vacantes por Estado</label>
                                <table border="0">
                                    <tr>
                                        <td class="td-label" style="width:130px;">
                                            Postulantes Pre-Selec.
                                        </td>
                                        <td>  @Html.TextBoxFor(model=>model.SolReqPersonal.CantPreSelec, new {@Class ="input-xxmini text-right", disabled = "disabled" }) @*<input type="text" class="input-xxmini text-right" value="9">*@</td>
                                    </tr>
                                        <tr>
                                        <td colspan="2" style="height:40px;">                                                            
                                        </td>                                                            
                                    </tr>
                                </table>
                                </td>
                    </tr>                                                             
                                                                                                                 
                                                                              
                    </table>
            </div>
        </form>
        <div class="formulario-accion">
            <div class="opciones">
                 @*<button id="btnGrabar" type="submit" class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</button>*@
                 <a class="btn" href="#" onclick="irATab('G');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            </div>
        </div>
    </div>

    <!--CONFIGURACION PERFIL-->
}