@{
    ViewBag.Title = "Solicitud Personal";
}
@section Head{
}

@section Scripts{

<script type="text/javascript">
    //Table initialisation 
    $(document).ready(function () {
        $("#txtfechapublicacion").datepicker();
        $("#txtfechaexpiracion").datepicker();
        $("#txtFechaInicio").datepicker();
        $("#txtFechaFin").datepicker();

        jQuery("#grdListFunciones").jqGrid({
            url: '@Url.Action("ListaFunciones", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 60,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,

        });

        jQuery("#grdListCompetencias").jqGrid({
            url: '@Url.Action("ListaCompetencias", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListOfrecemos").jqGrid({
            url: '@Url.Action("ListaOfrecemos", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListHorario").jqGrid({
            url: '@Url.Action("ListaHorario", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', "Puntaje"],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', editable: false, sortable: false }
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListUbigeo").jqGrid({
            url: '@Url.Action("ListaUbigeo", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Departamento', 'Provincia', 'Distrito', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Departamento', index: 'Departamento', align: 'left', editable: false, sortable: false },
                    { name: 'Provincia', index: 'Provincia', align: 'left', editable: false, sortable: false },
                    { name: 'Distrito', index: 'Distrito', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListNivelAcademico").jqGrid({
            url: '@Url.Action("ListaEstudios", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Nivel de Estudios', 'Carrera', 'Nivel Alcanzado', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Carrera', index: 'Carrera', align: 'left', editable: false, sortable: false },
                    { name: 'Estado', index: 'Estado', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],

            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListCentroEstudios").jqGrid({
            url: '@Url.Action("ListaCentroEstudios", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Nivel de Estudios', 'Carrera', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Carrera', index: 'Carrera', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],

            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListExperenciaLaboral").jqGrid({
            url: '@Url.Action("ListaExperienciaLaboral", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Cargo', 'Años', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Estado', index: 'Estado', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],

            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListConocimentoGeneral").jqGrid({
            url: '@Url.Action("ListaConocimientosGeneralaes", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListConocimientoIdiomas").jqGrid({
            url: '@Url.Action("ListaConocimientosIdiomas", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', 'Tipo Conoc.', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'TipoConocimiento', index: 'TipoConocimiento', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListOtrosConocimientos").jqGrid({
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListDiscapacidad").jqGrid({
            url: '@Url.Action("ListaDiscapacidades", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Tipo', 'Descripci&oacuten', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListEvaluacion").jqGrid({
            url: '@Url.Action("ListaEvaluacionesPerfil", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', 'Tipo', 'Nota Mínima', 'Responsable', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'NotaMinima', index: 'NotaMinima', align: 'left', editable: false, sortable: false },
                    { name: 'Responsable', index: 'Responsable', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        var dlgobservacion = $("#dlgAprobarRechazo").dialog(
           {
               autoOpen: false,
               modal: true,
               title: "Aprobación/Rechazo",
               width: 600,
               height: 300,
               buttons: {
                   "Grabar": function () {
                       //AsociarReciboAPolizaCorrecta();
                       return true;
                   },
                   "Cancelar": function () {
                       $(this).dialog("close");
                       return false;
                   }
               }
           });

        $("#dlgEnviarSolicitud").dialog({
            autoOpen: false,
            resizable: false,
            height: 180,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dlgGrabar").dialog({
            autoOpen: false,
            resizable: false,
            height: 180,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
        //$("#txtEdadInicial").spinner();
        //$("#txtEdadFinal").spinner();

    });
    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function irATab(tab) {
        $('a[href=#' + tab + ']').tab('show');
    }

    function mostrarAprobarRechazar() {
        $("#dlgAprobarRechazo").dialog('open');
    }

    function mostrarEnvio(id) {
        $("#dlgEnviarSolicitud").dialog("open");
    }

    function mostrarGrabar(id) {
        $("#dlgGrabar").dialog("open");
    }

</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Solicitud de Reemplazo de Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>            
            </div>
            <h5>Motivo requerimiento</h5>
<form class="formulario-busqueda">
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                <input type="text" class="input-small" id="txtcodigo" disabled="disabled" value="REQ0001">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Dependecia</label>
                            <div class="controles">
                                <select id="sedependencia" class="select-large valid">
                                    <option selected="selected">Gerencia Médica</option>
                                </select>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Tipo Puesto</label>
                            <div class="controles">
                                <select id="setipopuesto" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option>Tiempo Completo</option>
                                    <option>Tiempo Parcial</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Departamento</label>
                            <div class="controles">
                                <select>
                                    <option>Seleccionar</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Tipo Vacante</label>
                            <div class="controles">
                                <select id="setipovacante" class="select-large valid">
                                    <option value="0">Seleccionar</option>
                                    <option value="2">Reemplazo - Vacaciones</option>
                                    <option value="3">Reemplazo - Descanso Médico</option>
                                    <option value="4">Reemplazo - Cese</option>
                                    <option value="5">Reemplazo - Permiso</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Área</label>
                            <div class="controles">
                                <select id="searea" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Cuidados Intensivos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Vacantes</label>
                            <div class="controles">
                                <input type="text" class="input-mini" id="txtcantidad" value="1">
                            </div>
                        </div>
                    </div>                    
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                <select id="setipo" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option>Técnico en Enfermería</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Fecha Inicio</label>
                            <div class="controles">
                                <input type="text" class="input-small hasDatepicker" id="txtFechaInicio">
                            </div>
                        </div>
                    </div>                    
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Nombres</label>
                            <div class="controles">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Fecha Fin</label>
                            <div class="controles">
                                <input type="text" class="input-small hasDatepicker" id="txtFechaFin">
                            </div>
                        </div>
                    </div>     
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Permanencia</label>
                            <div class="controles">
                                <select class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option>Temporal</option>
                                    <option>Permanente</option>
                                </select>
                            </div>
                        </div>
                    </div>     
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Observaciones</label>
                            <div class="controles">
                                <textarea class="input-large" rows="3"></textarea>
                            </div>
                        </div>
                    </div>                    
                </div>
            </form>
            <h5>Perfil</h5>
            <ul class="nav nav-tabs">
                <li><div style="width:110px;display:inline-block"></div></li>
                <li class="active"><a href="#A" data-toggle="tab">Puesto</a></li>
                <li class=""><a href="#B" data-toggle="tab">General</a></li>
                <li class=""><a href="#C" data-toggle="tab">Estudios</a></li>
                <li class=""><a href="#D" data-toggle="tab">Experiencia</a></li>
                <li class=""><a href="#E" data-toggle="tab">Conocimientos</a></li>
                <li class=""><a href="#F" data-toggle="tab">Discapacidad</a></li>
                <li><a href="#G" data-toggle="tab">Evaluación</a></li>
                <li class=""><a href="#H" data-toggle="tab">Conf.Perfil</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                    <!--Puesto Inicio -->
                    <div class="tab-pane active" id="A">
                        <div class="grilla-opciones" style="margin-top:0px;">
                            <h6>Objetivos</h6>
                            <div style="clear:both"></div>
                        </div>
                        <textarea style="width:900px;margin-left:8px;" id="taobjetivos" rows="3" disabled="disabled"></textarea>
                        <div class="espacio-division-entre-fieldset"></div>
                        <div class="grilla-opciones">
                            <h6>Funciones</h6>
                            <div class="opciones">
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <textarea style="width:900px;margin-left:8px;" id="taFunciones" rows="3" disabled="disabled"></textarea>
                        <div class="grilla-opciones">
                            <h6>Competencias</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListCompetencias">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Ofrecemos</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListOfrecemos">
                            </table>
                        </div>

                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn btn-info" href="#" onclick="irATab('B');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <!--Puesto Fin -->

                    <!--General Inicio -->

                    <div class="tab-pane" id="B">
                        <form>                            
                            <div class="grilla-opciones" style="margin-top:0px;">
                                <h6>Datos generales</h6>
                                <div class="opciones">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <table border="0" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td style="width:60px"></td>
                                        <td style="width:250px">
                                        </td>
                                        <td>
                                            Ptje.
                                        </td>
                                        <td style="width:50px">
                                        </td>
                                        <td></td>
                                        <td>
                                        </td>
                                        <td style="text-align:center">
                                            Ptje.
                                        </td>
                                            <td style="width:80px"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="width:180px;">
                                            <label class="control-label" for="input01">Postulante Interno</label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="15">
                                        </td>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Rango Edad</label>
                                        </td>
                                        <td>
                                              
                                            <input id="txtEdadInicial" type="text" class="input-mini" value="22"> - <input id="txtEdadFinal" type="text" class="input-mini" value="35">
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Referencias Laborales</label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="30">
                                        </td>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Rango Salarial Bruto (S/.)</label>
                                        </td>
                                        <td>
                                            <select class="input-medium">
                                                <option>Menos de 1000</option>
                                                <option>De 1000 a 2000</option>
                                                <option>De 2000 a 3000</option>
                                                <option>De 3000 a 4000</option>
                                                <option>De 4000 a 5000</option>
                                                <option>De 5000 a 6000</option>
                                                <option>De 6000 a más</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label class="control-label" for="input01">Sexo
                                                <select class="input-medium">
                                                    <option>Ambos</option>
                                                    <option>Masculino</option>
                                                    <option>Femenino</option>
                                                </select>                                             
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>                                       
                                        <td></td>
                                        <td> <label class="control-label" for="input01">Publicación Sexo</label></td>
                                        <td>
                                            <select id="sesexo" class="input-medium">
                                                <option>Indistinto</option>
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select> 
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" style="text-align:left;">
                                            <span style="font-size:9px;font-weight:bolder;">El(los) sexo(s) seleccionado(s) serán considerados</span>
                                        </td> 
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>                                      
                                    <tr>
                                        <td></td>
                                        <td style="height:20px;">
                                                
                                        </td>
                                        <td>
                                                
                                        </td>
                                        <td></td>
                                        <td></td>
                                            <td>
                                                 
                                        </td>
                                        <td></td>
                                    </tr>                                     
                                    <tr>
                                        <td></td>
                                        <td colspan="5"><span style="font-size:9px;font-weight:bolder;">(**) Al seleccionar esta opción solo se tomarán en cuenta los que cumplan con el requisito para visualizarlo en el ranking de postulantes</span></td>
                                    </tr>
                                </tbody>

                            </table>                            
                        </form>

                        <div class="grilla-opciones">
                            <h6>Horario</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListHorario">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Ubigeo</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListUbigeo">
                            </table>
                        </div>
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('A');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('C');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <!--General Fin-->

                    <div class="tab-pane" id="C">
                        <div class="grilla-opciones">
                            <h6>Nivel Académico</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListNivelAcademico">
                            </table>
                        </div>                        
                        <div class="grilla-opciones">
                            <h6>Centro Estudios</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListCentroEstudios">
                            </table>
                        </div>                                            
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('B');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('D');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="D">
                        <div class="grilla-opciones">
                            <h6>Experiencia Laboral</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListExperenciaLaboral">
                            </table>
                        </div>   
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('C');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('E');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="E">
                        <div class="grilla-opciones">
                            <h6>Ofimática</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListConocimentoGeneral">
                            </table>
                        </div>                                               
                        <div class="grilla-opciones">
                            <h6>Idiomas</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListConocimientoIdiomas">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Otros conocimientos</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListOtrosConocimientos">
                            </table>
                        </div> 
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('D');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('F');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="F">
                        <div class="grilla-opciones">
                            <h6></h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListDiscapacidad">
                            </table>
                        </div>                         
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('E');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('G');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>                        
                    </div>

                    <div class="tab-pane" id="G">
                        <div class="grilla-opciones">
                            <h6></h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListEvaluacion">
                            </table>
                        </div>                         
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('F');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('H');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>                        
                    </div>

                    <!--Conf. Perfil Inicio-->
                    <div class="tab-pane" id="H">
                        <form>
                            <div class="grilla-opciones" style="margin-top:0px;">
                                <h6>Parámetros</h6>
                                <div class="opciones">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="margin-left:20px;">
                                <table style="width: 900px;" border="0">
                                    <tr>
                                        <td style="width: 50%; vertical-align: top">
                                                <h6>Parámetros Pre-Selección</h6>
                                                <table border="0">
                                                    <tr>
                                                        <td style="width: 80px;"></td>
                                                        <td></td>
                                                        <td>Ptje.
                                                        </td>
                                                        <td style="width: 10px;"></td>
                                                        <td>Ptje.Min
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label" style="width: 130px;">
                                                            <label>Postulante Interno</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Edad</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="8" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">
                                                            <label>Sexo</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Rango Salarial</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Nivel de Estudios</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="7" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Centro de Estudios</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Experiencia Laboral</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="6" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Ofimáticos</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="3" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Idiomas</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Otros</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">
                                                            <label>Discapacidades</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="9" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Horario</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Ubigeo</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label"><b>Totales</b></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="84" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>

                                                    </tr>
                                                </table>

                                        </td>
                                        <td style="width: 50%; vertical-align: top">
                                            <h6>Parámetros Selección</h6>
                                                <table border="0">
                                                        <tr>
                                                        <td></td>
                                                        <td>Ptje.
                                                            </td>
                                                            <td style="width:10px;"></td>
                                                        <td>Ptje.Min
                                                            </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                                        <td></td>
                                                            <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>                                                       
                                                    <tr>
                                                        <td colspan="4" style="height:20px;"></td>
                                                    </tr>
                                                </table>
                                            <label>Vacantes por Estado</label>
                                                <table border="0">
                                                    <tr>
                                                        <td class="td-label" style="width:130px;">
                                                            Postulantes Pre-Selec.
                                                        </td>
                                                        <td> <input type="text" class="input-xxmini text-right" value="9"></td>
                                                    </tr>
                                                        <tr>
                                                        <td colspan="2" style="height:40px;">                                                            
                                                        </td>                                                            
                                                    </tr>
                                                        <tr>
                                                        <td class="td-label">
                                                            Fecha de Publicación.<span class="text-error">*</span>
                                                        </td>
                                                        <td> <input type="text" id="txtfechapublicacion" class="input-small" ></td>
                                                    </tr>
                                                        <tr>
                                                        <td class="td-label">
                                                            Fecha de Expiración<span class="text-error">*</span>
                                                        </td>
                                                        <td> <input type="text" id="txtfechaexpiracion" class="input-small"></td>
                                                    </tr>
                                                </table>

                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="formulario-accion">
                                <div class="opciones">
                                     <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a> 
                                    <a class="btn" href="#" onclick="irATab('G');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--Conf. Perfil Fin-->


                </div>
            </div>
            <div class="form-actions">
                <a class="btn" href="@Url.Action("ListaReemplazo", "SolicitudCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <button type="submit" class="btn btn-info" onclick="mostrarAprobarRechazar()"><i class="icon-list icon-white"></i> Aprob/Rech</button>
                <button type="submit" class="btn btn-info" onclick="mostrarEnvio()"><i class="icon-screenshot icon-white"></i> Enviar</button>
                <a class="btn btn-info" href="@Url.Action("Publicacion", "SolicitudCargo")"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>

            </div>
        
        </div>
    </div>
</div>

<div id="dlgAprobarRechazo">
    <table style="width:100%">
        <tr><td>Comentarios</td></tr>
        <tr>               
            <td><textarea class="input-xxlarge" id="taobservacionaprobacion" rows="3"></textarea></td>
        </tr>
        <tr>
            <td style="height:10px;"></td>
        </tr>
        <tr>
            <td ><input type="radio" name="aprobacion" value="1" /> Aprobar <input type="radio" name="aprobacion" value="0" /> Rechazar</td>
        </tr>
    </table>
</div>

<div id="dlgEnviarSolicitud" title="Mensaje">
    <p></p> <p></p>
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Está seguro de enviar la solicitud?</p>
</div>

<div id="dlgGrabar" title="Mensaje">
    <p></p> <p></p>
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Está seguro de grabar la solicitud?</p>
</div>
