@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudRempCargoViewModel
@using SanPablo.Reclutador.Entity


@{
    ViewBag.Title = "Solicitud Personal";
    
}
@section Head{
}

@section Scripts{

<script type="text/javascript">
    //Table initialisation 
    $(document).ready(function () {

        //inicio

        //Reemplazo_FecInicioReemplazo
        //Reemplazo_FecFinReemplazo

     jQuery("#grdListReemplazosReq").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();
                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                    { field: 'id', data: $("#SolReqPersonal_IdeSolReqPersonal").val() },
                    { field: 'codigo', data: $("#SolReqPersonal_CodSolReqPersonal").val() }
                       
                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListReemplazoReq", "SolicitudCargo", new { area = "Intranet"})',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListReemplazosReq')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
             colNames: ['', '', 'Fecha Inicio', 'Fecha Fin', 'Nombre', 'Apellido Paterno','Apellido Materno'],
             colModel: [
                       { name: 'IdeSolReqPersonal', index: 'IdeSolReqPersonal', align: 'left', editable: false, sortable: false, hidden: true },
                      { name: 'IdReemplazo', index: 'IdReemplazo', align: 'left', editable: false, sortable: false, hidden: true },
                      { name: 'FecInicioReemplazo', index: 'FecInicioReemplazo', align: 'left', sortable: false, editable: false, width: 180 },
                      { name: 'FecFinReemplazo', index: 'FecFinReemplazo', align: 'left', sortable: false, editable: false, width: 180 },
                      { name: 'Nombres', index: 'Nombres', align: 'left', sortable: false, editable: false, width: 400 },
                      { name: 'ApePaterno', index: 'ApePaterno', align: 'left', sortable: false, width: 400, editable: false },
                      { name: 'ApeMaterno', index: 'ApeMaterno', align: 'left', sortable: false, width: 400, editable: false }
             ],

             pager: jQuery('#grdPagerReemplazosReq'),
             rowNum: 10,
             //rowList: [10, 30, 50],
             autowidth: true,
             rules: true,
             sortname: 'Nombres',
             sortorder: 'desc',
             viewrecords: true,
             height: 250,
             cellsubmit: 'clientArray',
             hidegrid: false,
             rownumbers: true,
             shrinkToFit: false,

             postData: {
             },
             loadComplete: function (data) {
             }
         });



       
        $('#btnAgregarReemplazo').click(function () {
           mostrarPopuprReemplazo();
        });


        $('#popupDialogReemplazo').dialog({
            autoOpen: false,
            width: 500,
            height: 400,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function () {
                    $('#DialogReemplazo').dialog('open');

                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#spanDialogReemplazo").html("¿Desea guardar los cambios?")
        $('#DialogReemplazo').dialog({
            autoOpen: false,
            modal: true,
            title: "Sistema de Reclutamiento Y Seleccion de Personal",
            buttons: {
                "Si": function () {
                    //if ($("#frmPopupReemplazo").validate().form()) {
                        $.ajax({
                            data: $("#frmPopupReemplazo").serialize(),
                            type: "POST",
                            url: '@Url.Action("SetPopupReemplazo", "SolicitudCargo")',
                            traditional: true,
                            success: function (data) {
                            if (data.Resultado) {
                                MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                $('#DialogReemplazo').dialog('close');
                                $('#popupDialogReemplazo').dialog('close');
                                $('#grdListReemplazosReq').trigger('reloadGrid');
                            }
                        }
                    });
                //}
            },
            "No": function () {
                $(this).dialog("close");
            }
        }
    });


        //fin

        //$("#txtfechapublicacion").datepicker();
        //$("#txtfechaexpiracion").datepicker();
        //$("#txtFechaInicio").datepicker();
        //$("#txtFechaFin").datepicker();

        jQuery("#grdListFunciones").jqGrid({
            url: '@Url.Action("ListaFunciones", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 60,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,

        });

        jQuery("#grdListCompetencias").jqGrid({
            url: '@Url.Action("ListaCompetencias", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListOfrecemos").jqGrid({
            url: '@Url.Action("ListaOfrecemos", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListHorario").jqGrid({
            url: '@Url.Action("ListaHorario", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', "Puntaje"],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', editable: false, sortable: false }
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListUbigeo").jqGrid({
            url: '@Url.Action("ListaUbigeo", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Departamento', 'Provincia', 'Distrito', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Departamento', index: 'Departamento', align: 'left', editable: false, sortable: false },
                    { name: 'Provincia', index: 'Provincia', align: 'left', editable: false, sortable: false },
                    { name: 'Distrito', index: 'Distrito', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListNivelAcademico").jqGrid({
            url: '@Url.Action("ListaEstudios", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Nivel de Estudios', 'Carrera', 'Nivel Alcanzado', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Carrera', index: 'Carrera', align: 'left', editable: false, sortable: false },
                    { name: 'Estado', index: 'Estado', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],

            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListCentroEstudios").jqGrid({
            url: '@Url.Action("ListaCentroEstudios", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Nivel de Estudios', 'Carrera', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Carrera', index: 'Carrera', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],

            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });

        jQuery("#grdListExperenciaLaboral").jqGrid({
            url: '@Url.Action("ListaExperienciaLaboral", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Cargo', 'Años', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Estado', index: 'Estado', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],

            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListConocimentoGeneral").jqGrid({
            url: '@Url.Action("ListaConocimientosGeneralaes", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListConocimientoIdiomas").jqGrid({
            url: '@Url.Action("ListaConocimientosIdiomas", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', 'Tipo Conoc.', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'TipoConocimiento', index: 'TipoConocimiento', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListOtrosConocimientos").jqGrid({
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListDiscapacidad").jqGrid({
            url: '@Url.Action("ListaDiscapacidades", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Tipo', 'Descripci&oacuten', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListEvaluacion").jqGrid({
            url: '@Url.Action("ListaEvaluacionesPerfil", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Código', 'Descripci&oacuten', 'Tipo', 'Nota Mínima', 'Responsable', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'NotaMinima', index: 'NotaMinima', align: 'left', editable: false, sortable: false },
                    { name: 'Responsable', index: 'Responsable', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false
        });
        jQuery("#grdListRemplazos").jqGrid({
            //url: 'alt-64//Url.Action("ListaCompetencias", "SolicitudCargo")',
            datatype: 'json', 
            mtype: 'POST',
            colNames: ['Fecha Inicio', 'Fecha Fin','Nombre',' Apellido'],
            colModel: [
                    { name: 'Fecha Inicio', index: 'Fecha Inicio', align: 'center', editable: false, sortable: false },
                    { name: 'Fecha Fin', index: 'Fecha Fin', align: 'left', editable: false, sortable: false },
                    { name: 'Nombre', index: 'Nombre', align: 'left', editable: false, sortable: false },
                    { name: 'Apellido', index: 'Apellido', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Fecha Inicio',
            sortorder: 'desc',
            viewrecords: true,
            height: 90,
            width: 930,
            rowNum: 4,
            cellsubmit: 'clientArray',
            hidegrid: true

        });
        var dlgobservacion = $("#dlgAprobarRechazo").dialog(
           {
               autoOpen: false,
               modal: true,
               title: "Aprobación/Rechazo",
               width: 600,
               height: 300,
               buttons: {
                   "Grabar": function () {
                       //AsociarReciboAPolizaCorrecta();
                       return true;
                   },
                   "Cancelar": function () {
                       $(this).dialog("close");
                       return false;
                   }
               }
           });

        $("#dlgEnviarSolicitud").dialog({
            autoOpen: false,
            resizable: false,
            height: 180,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dlgGrabar").dialog({
            autoOpen: false,
            resizable: false,
            height: 180,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
        //$("#txtEdadInicial").spinner();
        //$("#txtEdadFinal").spinner();

    });
    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function irATab(tab) {
        $('a[href=#' + tab + ']').tab('show');
    }

    function mostrarAprobarRechazar() {
        $("#dlgAprobarRechazo").dialog('open');
    }

    function mostrarEnvio(id) {
        $("#dlgEnviarSolicitud").dialog("open");
    }

    function mostrarGrabar(id) {
        $("#dlgGrabar").dialog("open");
    }



    //inicio
    function mostrarPopuprReemplazo() {
        var dialogDiv = $('#popupDialogReemplazo');

        $.get('@Url.Action("InicioPopupReemplazo", "SolicitudCargo", new { area = "Intranet"})', function (data) {

            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#popupDialogTipReq"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    //fin

</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Solicitud de Reemplazo de Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>            
            </div>
            <h5>Motivo requerimiento</h5>
             
@using (Html.BeginForm("Index", "SolicitudReemplazoCargo", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmSolReemplazoCargo", @class = "formulario-busqueda" }))
{
    @Html.ValidationSummary(true)

     @Html.TextBoxFor(model => model.SolReqPersonal.IdeSolReqPersonal, new { style = "display: none;" })
     @Html.TextBoxFor(model => model.SolReqPersonal.IdeArea, new { style = "display: none;" })
     @Html.TextBoxFor(model => model.SolReqPersonal.IdeDepartamento, new { style = "display: none;" })
     @Html.TextBoxFor(model => model.SolReqPersonal.IdeDependencia, new { style = "display: none;" })
    
                <table class="formulario-busqueda">
                    <tr class="formulario-fila">
                        <td class="span5">
                           
                                <label class="control-label" for="inputSuccess">Requerimiento</label>
                            <div class="controles">    
                            @Html.TextBoxFor(model => model.SolReqPersonal.CodSolReqPersonal, new { @class = "textoFormulario", @readonly = "readonly" })    
                            </div>
                            
                        </td>
                        <td class="span5">
                       
                                <label class="control-label" for="inputSuccess">Dependecia</label>
                                <div class="controles">
                                     @Html.DropDownListFor(model => model.SolReqPersonal.IdeDependencia, new SelectList(Model.listaDependencia, "IdeDependencia", "NombreDependencia", Model.SolReqPersonal.IdeDependencia), new { disabled = "disabled" })                      
                                    
                                    @*@Html.TextBoxFor(model => model.SolReqPersonal.DEPENDENCIA_DES, new { @class = "textoFormulario" ,disabled = "disabled"})    *@

                            </div>
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                            
                                <label class="control-label" for="inputSuccess">Departamento</label>
                                <div class="controles">
                                  
                                    @Html.DropDownListFor(model => model.SolReqPersonal.IdeDepartamento, new SelectList(Model.listaDepartamento, "IdeDepartamento", "NombreDepartamento", Model.SolReqPersonal.IdeDepartamento), new { disabled = "disabled" })                      

                                    @*@Html.TextBoxFor(model => model.SolReqPersonal.DEPARTAMENTO_DES, new { @class = "textoFormulario",disabled = "disabled" })    *@
                                </div>
                           
                        </td>
                          <td class="span5">
                       
                            <label class="control-label" for="inputSuccess">Área</label>
                            <div class="controles">
                               
                                @*@Html.TextBoxFor(model => model.SolReqPersonal.IDEAREA, new { @class = "textoFormulario" ,disabled = "disabled"})    *@
                                 @Html.DropDownListFor(model => model.SolReqPersonal.IdeArea, new SelectList(Model.listaArea, "IdeArea", "NombreArea", Model.SolReqPersonal.IdeArea), new { disabled = "disabled" })                      
                            </div>
                      
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                        
                            <label class="control-label" for="selectError">Tipo Vacante</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolReqPersonal.TipVacante, new SelectList(Model.listaTipVacante, "Valor", "Descripcion", Model.SolReqPersonal.TipVacante))
                            </div>
                        
                        </td>
                        <td class="span5">
                       
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolReqPersonal.Idecargo, new SelectList(Model.listaTipCargo, "IdeCargo", "NombreCargo", Model.SolReqPersonal.Idecargo))
                            </div>
                       
                        </td>
                      
                    </tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                       
                            <label class="control-label" for="inputSuccess">Vacantes</label>
                            <div class="controles">
                                
                                @Html.TextBoxFor(model => model.SolReqPersonal.NumVacantes, new { @class = "textoFormulario" }) 
                            </div>
                        
                        </td>                    
                        
                    </tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="inputSuccess">Observaciones</label>
                        <div class="controles">
                                @Html.TextAreaFor(model => model.SolReqPersonal.Observacion, new { rows = 4, cols = 10, style = "margin: 0px 0px 10px; width: 598px; height: 70px;", maxlength = "255" }) 
                        </div>
                        </td>                    
                    </tr>
                </table>
                <div class="grilla-opciones">
                    <h6>Reemplazos</h6>
                        <div class="opciones">
                            <a class="btn btn-small btn-info" title="Agregar" id ="btnAgregarReemplazo"><i class="icon-plus icon-white"></i></a>  
                            <a class="btn btn-small btn-info" title="Editar" id="btnEditarReemplazo"><i class="icon-edit icon-white"></i></a>
                            <a class="btn btn-small btn-info" title="Eliminar" id="btnEliminarReemplazo"><i class="icon-remove icon-white"></i></a>                                  
                        </div>
                        <div style="clear:both"></div>
                </div>@*
                <div class="tabla-datos">
                        <table id="grdListRemplazos">
                        </table>
                </div>*@
    
    <div class="tabla-datos" >
    <table id="grdListReemplazosReq" >
    </table>
    <div id="grdPagerReemplazosReq">
    </div>
</div>

                
                             
}
           
            
            @if (!Accion.Nuevo.Equals(Model.Accion))
            {
                

             <h5>Perfil</h5>
            <ul class="nav nav-tabs">
                <li><div style="width:110px;display:inline-block"></div></li>
                <li class="active"><a href="#A" data-toggle="tab">Puesto</a></li>
                <li class=""><a href="#B" data-toggle="tab">General</a></li>
                <li class=""><a href="#C" data-toggle="tab">Estudios</a></li>
                <li class=""><a href="#D" data-toggle="tab">Experiencia</a></li>
                <li class=""><a href="#E" data-toggle="tab">Conocimientos</a></li>
                <li class=""><a href="#F" data-toggle="tab">Discapacidad</a></li>
                <li><a href="#G" data-toggle="tab">Evaluación</a></li>
                <li class=""><a href="#H" data-toggle="tab">Conf.Perfil</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                    <!--Puesto Inicio -->
                    <div class="tab-pane active" id="A">
                        <div class="grilla-opciones" style="margin-top:0px;">
                            <h6>Objetivos</h6>
                            <div style="clear:both"></div>
                        </div>
                        <textarea style="width:900px;margin-left:8px;" id="taobjetivos" rows="3" disabled="disabled"></textarea>
                        <div class="espacio-division-entre-fieldset"></div>
                        <div class="grilla-opciones">
                            <h6>Funciones</h6>
                            <div class="opciones">
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <textarea style="width:900px;margin-left:8px;" id="taFunciones" rows="3" disabled="disabled"></textarea>
                        <div class="grilla-opciones">
                            <h6>Competencias</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListCompetencias">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Ofrecemos</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListOfrecemos">
                            </table>
                        </div>

                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn btn-info" href="#" onclick="irATab('B');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <!--Puesto Fin -->

                    <!--General Inicio -->

                    <div class="tab-pane" id="B">
                        <form>
                            <div class="grilla-opciones" style="margin-top:0px;">
                                <h6>Datos generales</h6>
                                <div class="opciones">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <table border="0" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td style="width:40px"></td>
                                        <td style="width:350px">
                                        </td>
                                        <td>
                                            Ptje.
                                        </td>
                                        <td style="width:50px">
                                        </td>
                                        <td></td>
                                        <td>
                                        </td>
                                        <td style="text-align:center">
                                            Ptje.
                                        </td>
                                        <td></td>
                                        <td style="width:80px"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="width:180px;">
                                            <label class="control-label" for="input01">Postulante Interno</label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="15">
                                        </td>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Rango Edad</label>
                                        </td>
                                        <td>
                                              
                                            <input id="txtEdadInicial" type="text" class="input-xmini" value="22"> - <input id="txtEdadFinal" type="text" class="input-xmini" value="35">
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                        </td>
                                        <td><label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label></td>
              
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label class="control-label" for="input01">Sexo
                                                <select class="input-medium">
                                                    <option>Ambos</option>
                                                    <option>Masculino</option>
                                                    <option>Femenino</option>
                                                </select>                                             
                                            </label>
                                        </td>
                                        <td style="width:80px" >
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>                                       
                                        <td></td>
                                        <!--<td> <label class="control-label" for="input01">Publicación Sexo</label></td>
                                        <td>
                                            <select id="sesexo" class="input-medium">
                                                <option>Indistinto</option>
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select> 
                                        </td> -->
                                        <td> <label class="control-label" for="input01">Tipo de Requerimiento </label> </td> 
                                        <td>                                         
                                            <select class="input-large">
                                                <option>Jefe Corporativo Administrativo</option>
                                                <option>Personal Administrativo</option>
                                                <option>Personal Asistencial</option>
                                                <option>Personal de Contacto</option>
                                                <option>Personal Operativo</option>
                                            </select>

                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" style="text-align:left;">
                                            <span style="font-size:9px;font-weight:bolder;">El(los) sexo(s) seleccionado(s) serán considerados</span>
                                        </td> 
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>   
                                    <tr>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Rango Salarial Bruto (S/.)                                             <select class="input-medium">
                                                <option>Menos de 1000</option>
                                                <option>De 1000 a 2000</option>
                                                <option>De 2000 a 3000</option>
                                                <option>De 3000 a 4000</option>
                                                <option>De 4000 a 5000</option>
                                                <option>De 5000 a 6000</option>
                                                <option>De 6000 a más</option>
                                            </select>
</label>
                                        </td>
                                        <td style="width:80px">
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="5"><span style="font-size:9px;font-weight:bolder;">(**) Al seleccionar esta opción solo se tomarán en cuenta los que cumplan con el requisito para visualizarlo en el ranking de postulantes</span></td>
                                    </tr>
                                </tbody>

                            </table>
                        </form>
                        <div class="grilla-opciones">
                            <h6>Horario</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListHorario">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Ubigeo</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListUbigeo">
                            </table>
                        </div>
                                            
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>                        
                                <a class="btn" href="#" onclick="irATab('A');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('C');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>

                        </div>
                    </div>

                    <!--General Fin-->

                    <div class="tab-pane" id="C">
                        <div class="grilla-opciones">
                            <h6>Nivel Académico</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListNivelAcademico">
                            </table>
                        </div>                        
                        <div class="grilla-opciones">
                            <h6>Centro Estudios</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListCentroEstudios">
                            </table>
                        </div>                                            
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('B');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('D');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="D">
                        <div class="grilla-opciones">
                            <h6>Experiencia Laboral</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListExperenciaLaboral">
                            </table>
                        </div>   
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('C');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('E');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="E">
                        <div class="grilla-opciones">
                            <h6>Ofimática</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListConocimentoGeneral">
                            </table>
                        </div>                                               
                        <div class="grilla-opciones">
                            <h6>Idiomas</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListConocimientoIdiomas">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Otros conocimientos</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListOtrosConocimientos">
                            </table>
                        </div> 
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('D');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('F');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="F">
                        <div class="grilla-opciones">
                            <h6></h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListDiscapacidad">
                            </table>
                        </div>                         
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('E');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('G');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>                        
                    </div>

                    <div class="tab-pane" id="G">
                        <div class="grilla-opciones">
                            <h6></h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListEvaluacion">
                            </table>
                        </div>                         
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn" href="#" onclick="irATab('F');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('H');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                        </div>                        
                    </div>

                    <!--Conf. Perfil Inicio-->
                    <div class="tab-pane" id="H">
                        <form>
                            <div class="grilla-opciones" style="margin-top:0px;">
                                <h6>Parámetros</h6>
                                <div class="opciones">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="margin-left:20px;">
                                <table style="width: 900px;" border="0">
                                    <tr>
                                        <td style="width: 50%; vertical-align: top">
                                                <h6>Parámetros Pre-Selección</h6>
                                                <table border="0">
                                                    <tr>
                                                        <td style="width: 80px;"></td>
                                                        <td></td>
                                                        <td>Ptje.
                                                        </td>
                                                        <td style="width: 10px;"></td>
                                                        <td>Ptje.Min
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label" style="width: 130px;">
                                                            <label>Postulante Interno</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Edad</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="8" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">
                                                            <label>Sexo</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Rango Salarial</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Nivel de Estudios</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="7" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Centro de Estudios</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Experiencia Laboral</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="6" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Ofimáticos</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="3" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Idiomas</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Otros</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">
                                                            <label>Discapacidades</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="9" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Horario</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Ubigeo</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label"><b>Totales</b></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="84" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>

                                                    </tr>
                                                </table>

                                        </td>
                                        <td style="width: 50%; vertical-align: top">
                                            <h6>Parámetros Selección</h6>
                                                <table border="0">
                                                        <tr>
                                                        <td></td>
                                                        <td>Ptje.
                                                            </td>
                                                            <td style="width:10px;"></td>
                                                        <td>Ptje.Min
                                                            </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                                        <td></td>
                                                            <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>                                                       
                                                    <tr>
                                                        <td colspan="4" style="height:20px;"></td>
                                                    </tr>
                                                </table>
                                            <label>Vacantes por Estado</label>
                                                <table border="0">
                                                    <tr>
                                                        <td class="td-label" style="width:130px;">
                                                            Postulantes Pre-Selec.
                                                        </td>
                                                        <td> <input type="text" class="input-xxmini text-right" value="9"></td>
                                                    </tr>
                                                        <tr>
                                                        <td colspan="2" style="height:40px;">                                                            
                                                        </td>                                                            
                                                    </tr>
                                                </table>

                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="formulario-accion">
                                <div class="opciones">
                                     <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a> 
                                    <a class="btn" href="#" onclick="irATab('G');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--Conf. Perfil Fin-->


                </div>
            </div>
            }
            <div class="form-actions">
                <a class="btn" href="@Url.Action("ListaReemplazo", "SolicitudCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <button type="submit" class="btn btn-info" onclick="mostrarAprobarRechazar()"><i class="icon-list icon-white"></i> Aprob/Rech</button>
                <button type="submit" class="btn btn-info" onclick="mostrarEnvio()"><i class="icon-screenshot icon-white"></i> Enviar</button>
                <a class="btn btn-info" href="@Url.Action("Publicacion", "SolicitudCargo")"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>

            </div>
        
        </div>
    </div>
</div>

<div id="dlgAprobarRechazo">
    <table style="width:100%">
        <tr><td>Comentarios</td></tr>
        <tr>               
            <td><textarea class="input-xxlarge" id="taobservacionaprobacion" rows="3"></textarea></td>
        </tr>
        <tr>
            <td style="height:10px;"></td>
        </tr>
        <tr>
            <td ><input type="radio" name="aprobacion" value="1" /> Aprobar <input type="radio" name="aprobacion" value="0" /> Rechazar</td>
        </tr>
    </table>
</div>

<div id="dlgEnviarSolicitud" title="Mensaje">
    <p></p> <p></p>
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Está seguro de enviar la solicitud?</p>
</div>

<div id="dlgGrabar" title="Mensaje">
    <p></p> <p></p>
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Está seguro de grabar la solicitud?</p>
</div>

@*Inicio*@
<div id="popupDialogReemplazo" title="Reemplazo"></div>
<div id="DialogReemplazo"><span id="spanDialogReemplazo"></span></div>




@*Fin*@