@model SanPablo.Reclutador.Web.Models.ConocimientoPostulanteGeneralViewModel
@{
    ViewBag.Title = "Conocimientos";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}

@section Head{
}

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            mostrarAlerta();
            actualizarBarra();

            

            $('#btnConocimientoSig').click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("validaConocimiento", "Postulante")',
                    traditional: true,
                    success: function (data) {
                        if (data.Resultado)
                        {
                            SanPablo.Redirecciona('@Url.Action("DatosComplementarios", "Postulante")');
                        }
                        else
                        {
                            MostrarMensaje(data.Mensaje, "Alerta");
                        }
                    }
                });
            });




            jQuery("#grdListOfimatica").jqGrid({
                url: '@Url.Action("Listar", "ConocimientoGeneralPostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Código', 'Tipo', 'Descripción', 'Nivel', 'Certificación'],
                colModel: [
                        { name: 'Codigo', index: 'Codigo', align: 'left', sortable: false, hidden: true },
                        { name: 'Tipo', index: 'Tipo', align: 'left', sortable: false },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', sortable: false },
                        { name: 'Nivel', index: 'Nivel', align: 'left', sortable: false },
                        { name: 'Certificacion', index: 'Nivel', align: 'left', formatter: CheckFormatter, editable: true, sortable: false }
                ],
                pager: jQuery('#grdPager'),
                rownumbers: true,
                rowList: [10, 30, 50],
                sortname: 'IdeConocimientoGeneralPostulante',
                sortorder: 'desc',
                viewrecords: false,
                autowidth: true,
                /*caption: 'Lista Referencias',*/
                height: 120,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

            jQuery("#grdListIdioma").jqGrid({
                url: '@Url.Action("ListarIdiomas", "ConocimientoGeneralPostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Código', 'Idioma', 'Tipo de conocimiento', 'Nivel', 'Certificación'],
                colModel: [
                        { name: 'Codigo', index: 'Codigo', align: 'left', sortable: false, hidden: true },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', sortable: false },
                        { name: 'TipoConocimiento', index: 'TipoConocimiento', align: 'left', sortable: false },
                        { name: 'Nivel', index: 'Nivel', align: 'left', sortable: false },
                        { name: 'Certificacion', index: 'Nivel', align: 'left', formatter: CheckFormatter, sortable: false }
                ],
                pager: jQuery('#grdPager2'),
                rownumbers: true,
                rowList: [10, 30, 50],
                sortname: 'IdeConocimientoGeneralPostulante',
                sortorder: 'desc',
                viewrecords: false,
                autowidth: true,
                /*caption: 'Lista Referencias',*/
                height: 120,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

            jQuery("#grdOtrosConocimientos").jqGrid({
                url: '@Url.Action("ListarOtrosConocimientos", "ConocimientoGeneralPostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Código', 'Tipo', 'Descripción', 'Nivel', 'Certificación'],
                colModel: [
                        { name: 'Codigo', index: 'Codigo', align: 'left', sortable: false, hidden: true },
                        { name: 'Tipo', index: 'Tipo', align: 'left', sortable: false },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', sortable: false },
                        { name: 'Nivel', index: 'Nivel', align: 'left', sortable: false },
                        { name: 'Certificacion', index: 'Nivel', align: 'left', formatter: CheckFormatter, sortable: false }
                ],
                pager: jQuery('#grdPager3'),
                rownumbers: false,
                rowList: [10, 30, 50],
                sortname: 'IdeConocimientoGeneralPostulante',
                sortorder: 'desc',
                viewrecords: false,
                autowidth: true,
                /*caption: 'Lista Referencias',*/
                height: 120,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });
            $('#updateDialog').dialog({
                autoOpen: false,
                width: 500,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function (e) {
                        e.preventDefault();
                        var result = $('#ofimaticaForm').valid();
                        if (result) {
                            $.post( '@Url.Action("Ofimatica", "ConocimientoGeneralPostulante")',
                                $("#ofimaticaForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.Resultado) {
                                        $("#updateDialog").dialog("close");
                                        $('#grdListOfimatica').trigger('reloadGrid');

                                    }
                                    else {

                                        var mensj = document.getElementById("mensajeErrorOfimatica");
                                        mensj.innerHTML = respuesta.Mensaje;
                                        mensj.style.display = "block";
                                    }
                                }
                            );
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                open: function () {
                    $(".ui-dialog-buttonpane button:contains('Cancelar')").focus();
                    $("#ConocimientoGeneral_TipoConocimientoOfimatica+div span").html('');
                }
            });


            $('#updateDialogIdiomas').dialog({
                autoOpen: false,
                width: 500,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function (e) {
                        e.preventDefault();
                        var result = $('#idiomasForm').valid();
                        if (result) {
                            $.post('@Url.Action("Idiomas", "ConocimientoGeneralPostulante")',
                                $("#idiomasForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.Resultado) {
                                        $("#updateDialogIdiomas").dialog("close");
                                        $('#grdListIdioma').trigger('reloadGrid');
                                    }
                                    else {
                                        var mensj = document.getElementById("mensajeErrorIdioma");
                                        mensj.innerHTML = respuesta.Mensaje;
                                        mensj.style.display = "block";
                                    }
                                }
                            );
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                open: function () {
                    $(".ui-dialog-buttonpane button:contains('Cancelar')").focus();
                    $("#ConocimientoGeneral_TipoIdioma+div span").html('');
                }
            });

            $('#updateDialogOtro').dialog({
                autoOpen: false,
                width: 500,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function (e) {
                        var tipoConocOtro = $('#nombreConocimiento').val();
                        var nombreConocimiento = $('#ConocimientoGeneral_NombreConocimientoGeneral').val();
                        if ((tipoConocOtro == "XX") && (nombreConocimiento == "")) {
                            validarOtros();
                        }
                        else {
                            e.preventDefault();
                            var result = $('#otroConocimientoForm').valid();
                            if (result) {
                                $.post('@Url.Action("OtroConocimiento", "ConocimientoGeneralPostulante")',
                                    $("#otroConocimientoForm").serialize(),
                                    function (respuesta) {
                                        if (respuesta.Resultado) {
                                            $("#updateDialogOtro").dialog("close");
                                            $('#grdOtrosConocimientos').trigger('reloadGrid');

                                        }
                                        else {
                                            var mensj = document.getElementById("mensajeErrorOtro");
                                            mensj.innerHTML = respuesta.Mensaje;
                                            mensj.style.display = "block";
                                        }
                                    }
                                );
                            }
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                open: function () {
                    $(".ui-dialog-buttonpane button:contains('Cancelar')").focus();
                    $("#tipoConocimientoGral+div span").html('');
                }
            });
            $('#btnAgregarIdioma').click(function () {
                mostrarAgregarIdioma();
            });

            $('#btnAgregarOtro').click(function () {
                mostrarAgregarOtro();
            });

            $('#btnAgregar').click(function () {
                mostrarAgregarOfimatica();
            });

            $('#btnEditar').click(function () {
                var ideOfimatica = jQuery('#grdListOfimatica').jqGrid('getGridParam', 'selrow');
                if (ideOfimatica != null) {
                    mostrarEditarOfimatica(ideOfimatica);
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a editar');
                    $("#divMensaje").dialog({
                        title: 'CONFIRMACIÓN',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            $('#btnEditarIdioma').click(function () {
                var ideIdioma = jQuery('#grdListIdioma').jqGrid('getGridParam', 'selrow');
                if (ideIdioma != null) {
                    mostrarEditarIdioma(ideIdioma);
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a editar');
                    $("#divMensaje").dialog({
                        title: 'ALERTA',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
               }
            });
           
            $('#btnEditarOtro').click(function () {
                var ideOtroConocimiento = jQuery('#grdOtrosConocimientos').jqGrid('getGridParam', 'selrow');
                if (ideOtroConocimiento != null) {
                    mostrarEditarOtroConocimiento(ideOtroConocimiento);
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a editar');
                    $("#divMensaje").dialog({
                        title: 'ALERTA',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            // btn Eliminar
            $('#btnEliminar').click(function () {
                var ideConocimiento = jQuery('#grdListOfimatica').jqGrid('getGridParam', 'selrow');
                if (ideConocimiento != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?.');
                    $("#divMensaje").dialog({
                        title: 'CONFIRMACIÓN',
                        modal: true,
                        buttons: {
                            "Eliminar": function () {
                                eliminarConocimiento(ideConocimiento); $(this).dialog("close"); location.reload(true)
                            },
                            "Cancelar": function () { $(this).dialog("close"); }
                        }
                    });

                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a eliminar');
                    $("#divMensaje").dialog({
                        title: 'ALERTA',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            $('#btnEliminarIdioma').click(function () {
                var ideConocimiento = jQuery('#grdListIdioma').jqGrid('getGridParam', 'selrow');
                if (ideConocimiento != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?.');
                    $("#divMensaje").dialog({
                        title: 'CONFIRMACIÓN',
                        modal: true,
                        buttons: {
                            "Eliminar": function () {
                                eliminarConocimiento(ideConocimiento); $(this).dialog("close"); location.reload(true)
                            },
                            "Cancelar": function () { $(this).dialog("close"); }
                        }
                    });

                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a eliminar');
                    $("#divMensaje").dialog({
                        title: 'ALERTA',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            $('#btnEliminarOtro').click(function () {
                var ideConocimiento = jQuery('#grdOtrosConocimientos').jqGrid('getGridParam', 'selrow');
                if (ideConocimiento != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?.');
                    $("#divMensaje").dialog({
                        title: 'CONFIRMACIÓN',
                        modal: true,
                        buttons: {
                            "Eliminar": function () {
                                eliminarConocimiento(ideConocimiento); $(this).dialog("close"); location.reload(true)
                            },
                            "Cancelar": function () { $(this).dialog("close"); }
                        }
                    });

                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a eliminar');
                    $("#divMensaje").dialog({
                        title: 'ALERTA',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

        });

        function mostrarEditarOfimatica(id) {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Ofimatica", "ConocimientoGeneralPostulante")', {id : id}, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function mostrarEditarIdioma(id) {
            var dialogDiv = $('#updateDialogIdiomas');
            $.get('@Url.Action("Idiomas", "ConocimientoGeneralPostulante")', {id : id}, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogIdioma"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function mostrarEditarOtroConocimiento(id) {
            var dialogDiv = $('#updateDialogOtro');
            $.get('@Url.Action("OtroConocimiento", "ConocimientoGeneralPostulante")', {id : id}, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogOtro"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function eliminarConocimiento(id) {
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("eliminarConocimiento","ConocimientoGeneralPostulante")',
                data: { ideConocimiento: id },
            });
        }

        function mostrarAgregarOfimatica() {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Ofimatica", "ConocimientoGeneralPostulante", new { id = "0"})', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function mostrarAgregarIdioma() {
            var dialogDiv = $('#updateDialogIdiomas');
            $.get('@Url.Action("Idiomas", "ConocimientoGeneralPostulante", new { id = "0"})', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogIdiomas"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function mostrarAgregarOtro() {
            var dialogDiv = $('#updateDialogOtro');
            $.get('@Url.Action("OtroConocimiento", "ConocimientoGeneralPostulante", new { id = "0"})', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogOtro"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function RadioFormatter(cellvalue, options, rowObject) {
            var strRdo = '<input type ="radio" name = "codigo">';
            return strRdo;
        }

        function CheckFormatter(cellvalue, options, rowObject) {
            if (cellvalue == "True") {
                var strRdo = '<input type="checkbox" disabled="disabled" checked>';
            }
            else {
                var strRdo = '<input type="checkbox" disabled="disabled">';
            }
            return strRdo;
        }

        function validarOtros()
        {
            var msjError = document.getElementById('msjErrorOtro');
            var tipoConocOtro = $('#nombreConocimiento').val();
            var nombreConocimiento = $('#ConocimientoGeneral_NombreConocimientoGeneral').val();
            if ((tipoConocOtro == "XX") && (nombreConocimiento == ""))
            {
                msjError.style.display = "block";
            }
            else
            {
                msjError.style.display = "none";
            }
        }

        function MostrarMensaje(mensaje, titulo) {
            Funciones.Alert("divMensaje", "spanMensaje", mensaje, titulo);
        }


    </script>

}
<div class="span12">
    @Html.Partial("MenuCv")
</div>

    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Conocimientos</h5>
            </div>
            @Html.HiddenFor(model => model.ConocimientoGeneral.Postulante.IndicadorRegistroCompleto, new { @id = "indicadorRegistroCompleto"})
            <div class="grilla-opciones">
                <h6>Ofimática</h6>
                <div class="opciones">
                    <a id="btnAgregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdListOfimatica">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="grilla-opciones">
                <h6>Idiomas</h6>
                <div class="opciones">
                    <a id="btnAgregarIdioma" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditarIdioma" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminarIdioma" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdListIdioma">
                    </table>
                    <div id="grdPager2">
                    </div>
                </div>
            </div>
            <div class="grilla-opciones">
                <h6>Otros Conocimientos</h6>
                <div class="opciones">
                    <a id="btnAgregarOtro" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditarOtro" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminarOtro" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdOtrosConocimientos">
                    </table>
                    <div id="grdPager3">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" href="@Url.Action("Index", "ExperienciaPostulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>                    
                   @* <a class="btn btn-info" href="@Url.Action("DatosComplementarios", "Postulante")">Siguiente <i class="icon-arrow-right icon-white"></i></a>*@


                     <a class="btn btn-info" id="btnConocimientoSig">Siguiente <i class="icon-arrow-right icon-white"></i></a>

                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div id="updateDialog" title="Conocimientos de Ofimática"></div>
    <div id="updateDialogIdiomas" title="Idioma"></div>
    <div id="updateDialogOtro" title="Otros Conocimientos"></div>
        <div id="divMensaje">
            <span id="spanMensaje"></span>
        </div>


