@model SanPablo.Reclutador.Web.Models.ConocimientoPostulanteGeneralViewModel
@{
    Layout = "";
}
    <script type="text/javascript">
        $(document).ready(function () {
            //
            var tipoNombre = $('#nombreConocimiento').val();
            habilitarTextOtro(tipoNombre);
            //ELEGIR EL TIPO DE CONOCIMIENTO
            $('select#tipoConocimientoGral').change(function () {
                var tipoConocimiento = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("listarNombreConocimiento","ConocimientoGeneralPostulante")',
                    data: { tipoConocimiento: tipoConocimiento },
                    success: function (respuesta) {
                        $("select#nombreConocimiento").empty();
                        $("select#nombreConocimiento").append("<option value='00'> Seleccionar </option>");
                        $.each(respuesta, function (i, items) {
                            $("select#nombreConocimiento").append("<option value='"
                            + items.Valor + "'>" + items.Descripcion + "</option>");
                        }
                        );
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
            })
            $('select#nombreConocimiento').change(function () {
                var tipoNombre = $(this).val();
                habilitarTextOtro(tipoNombre);
            });
        });
        function habilitarTextOtro(tipoNombre)
        {
            var campo = document.getElementById('ConocimientoGeneral_NombreConocimientoGeneral');
            var label = document.getElementById('labelOtros');
            if (tipoNombre == "XX") {
                campo.style.display = "block";
                label.style.display = "block";
            }
            else {
                campo.style.display = "none";
                label.style.display = "none";
            }
        }

    </script>
@using (Html.BeginForm("OtroConocimiento", "ConocimientoGeneralPostulante", FormMethod.Post, new { @id = "otroConocimientoForm" }))
    {
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model=>model.porcentaje)
                 @Html.HiddenFor(model=>model.ConocimientoGeneral.IdeConocimientoGeneralPostulante)
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de conocimiento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.ConocimientoGeneral.TipoConocimientoGeneral, new SelectList(Model.TipoConocimientoGenerales, "Valor", "Descripcion", Model.ConocimientoGeneral.TipoConocimientoGeneral), new { @id="tipoConocimientoGral"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.ConocimientoGeneral.TipoConocimientoGeneral)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario">Descripción <span class="text-error">*</span></label>
            </td>
            <td class="colInput;input-xxlarge">
                    @Html.DropDownListFor(model => model.ConocimientoGeneral.TipoNombreConocimientoGeneral, new SelectList(Model.TipoNombresConocimientosGrales, "Valor", "Descripcion", Model.ConocimientoGeneral.TipoNombreConocimientoGeneral), new { @id = "nombreConocimiento"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.ConocimientoGeneral.TipoNombreConocimientoGeneral)
                </div>
            </td>
        </tr> 
         <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" id="labelOtros" style =" display:none;">Otros </label>
            </td>
            <td class="colInput;input-xxlarge">
                    @Html.TextBoxFor(model => model.ConocimientoGeneral.NombreConocimientoGeneral, new { @style="text-transform: uppercase; display:none;"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.ConocimientoGeneral.NombreConocimientoGeneral)
                </div>
            </td>
        </tr> 

        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario"> Nivel <span class="text-error">*</span></label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.ConocimientoGeneral.TipoNivelConocimiento, new SelectList(Model.TipoNivelesConocimiento, "Valor", "Descripcion", Model.ConocimientoGeneral.TipoNivelConocimiento))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.ConocimientoGeneral.TipoNivelConocimiento )
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Certificación </label>
            </td>
            <td class="colInput">
              @Html.CheckBoxFor(model => model.ConocimientoGeneral.Certificacion)
        </tr>
        </table>
}