@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.PublicacionViewModel
@{
    ViewBag.Title = "Publicacion";
   
}
@section Head{
}

@section Scripts{

<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@

<script type="text/javascript">
        
    $(document).ready(function () {

       

        var fechaPublicacion = $('#SolicitudCargo_FechaPublicacion').val();
        if (fechaPublicacion != null) {
            $('#SolicitudCargo_FechaPublicacion').val(fechaPublicacion.substring(0, 10));
        }

        var fechaExpiracion = $('#SolicitudCargo_FechaExpiracion').val();
        if (fechaExpiracion != null) {
            $('#SolicitudCargo_FechaExpiracion').val(fechaExpiracion.substring(0, 10));
        }

        var dateToday = new Date();

        var indicador = $('#editarFechaPublicacion').val();

        if (indicador == 'S') {

            var dates = $('#SolicitudCargo_FechaPublicacion').datepicker({
                showOn: "button",
                buttonImage: '@Url.Content("~/Content/images/calendario.png")',
                buttonImageOnly: true,
                //defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                minDate: dateToday,
                onSelect: function (selectedDate) {
                    var option = this.id == "from" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker");
                    //    date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    //dates.not(this).datepicker("option", option, date);
                }
            });
        }
        var dates = $('#SolicitudCargo_FechaExpiracion').datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/images/calendario.png")',
            buttonImageOnly: true,
            //defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            minDate: dateToday,
            onSelect: function (selectedDate) {
                var option = this.id == "from" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker");
                //    date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                //dates.not(this).datepicker("option", option, date);
            }
        });

        $('#SolicitudCargo_FechaPublicacion,#SolicitudCargo_FechaExpiracion').attr("readonly", "readonly");

        $('#updateDialogConfirmacion').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    e.preventDefault();
                    
                        $("#updateDialogConfirmacion").dialog("close");
                        $.blockUI({
                            message: '<h1>Publicando...</h1>',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#000',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff'
                            }
                        });
                        $.post('@Url.Action("Edit", "PublicacionCargo")',
                        $("#publicacionCargoForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                $.unblockUI();
                                mensajeRedirecciona("Requerimiento Publicado exitosamente", "INFORMATIVO");

                            }
                            else {
                                $.unblockUI();
                                MostrarMensaje(respuesta.Mensaje, "MENSAJE");
                            }
                        });
                    
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        jQuery("#grdListCompetencias").jqGrid({
            url: '@Url.Action("Competencias", "PublicacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            //colNames: ['Descripci&oacuten'],
            //colNames: [''],
            colModel: [
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'IdeCompetenciaCargo',
            sortorder: 'desc',
            viewrecords: true,
            cellEdit: true,
            /*caption: 'Horario de Trabajo',*/
            height: 100,
            width: 800,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });


        jQuery("#grdListOfrecemos").jqGrid({
            url: '@Url.Action("Ofrecemos", "PublicacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            //colNames: ['Descripci&oacuten'],
            //colNames: [''],
            colModel: [
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'IdeOfrecemosCargo',
            sortorder: 'desc',
            viewrecords: true,
            cellEdit: true,
            height: 100,
            width: 800,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListEstudios").jqGrid({
            url: '@Url.Action("Estudios", "PublicacionCargo")',
             datatype: 'json',
             mtype: 'POST',
            //colNames: ['','Descripci&oacuten'],
             //colNames: ['', ''],
             colModel: [
                     { name: 'NivelAcademico', index: 'NivelAcademico', align: 'left', editable: false, sortable: false },
                     { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
             ],
             sortname: 'IdeNivelAcademicoCargo',
             sortorder: 'desc',
             viewrecords: true,
             cellEdit: true,
             height: 100,
             width: 800,
             rowNum: 0,
             cellsubmit: 'clientArray',
             hidegrid: false,
             postData: {

             },
             loadComplete: function (data) {

             }
        });

        jQuery("#grdListConocimientos").jqGrid({
            url: '@Url.Action("Conocimientos", "PublicacionCargo")',
              datatype: 'json',
              mtype: 'POST',
            //colNames: ['TipoConocimiento', 'Descripci&oacuten'],
            //  colNames: ['', ''],
              colModel: [
                      { name: 'TipoConocimiento', index: 'TipoConocimiento', align: 'left', editable: false, sortable: false },
                      { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
              ],
              sortname: 'IdeConocimientoGeneralCargo',
              sortorder: 'desc',
              viewrecords: true,
              cellEdit: true,
              /*caption: 'Horario de Trabajo',*/
              height: 100,
              width: 800,
              rowNum: 0,
              cellsubmit: 'clientArray',
              hidegrid: false,
              postData: {

              },
              loadComplete: function (data) {

              }
        });

        jQuery("#grdListExperiencia").jqGrid({
            url: '@Url.Action("Experiencia", "PublicacionCargo")',
              datatype: 'json',
              mtype: 'POST',
              //colNames: ['Descripci&oacuten', 'Tiempo de Experiencia'],
             // colNames: ['', ''],
              colModel: [
                      { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                      { name: 'TiempoExperiencia', index: 'TiempoExperiencia', align: 'left', editable: false, sortable: false },
              ],
              sortname: 'IdeExperienciaCargo',
              sortorder: 'desc',
              viewrecords: true,
              cellEdit: true,
              /*caption: 'Horario de Trabajo',*/
              height: 100,
              width: 800,
              rowNum: 0,
              cellsubmit: 'clientArray',
              hidegrid: false,
              postData: {

              },
              loadComplete: function (data) {

              }
          });

        $('#updateDialogActualizar').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    e.preventDefault();
                    $("#updateDialogActualizar").dialog("close");
                    $.blockUI({
                        message: '<h1>Actualizando...</h1>',
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });
                    var fecha = $('#SolicitudCargo_FechaExpiracion').val();
                    var fechaInico = $('#SolicitudCargo_FechaPublicacion').val();
                    var observacion = $('#SolicitudCargo_ObservacionPublicacion').val();
                    $.post('@Url.Action("ActualizarFechaExpiracion", "PublicacionCargo")',
                            {fechaExpiracion : fecha,
                            Observacion:observacion,
                            fechaInicio: fechaInico
                            },
                        function (respuesta) {
                            $.unblockUI();
                            if (respuesta.Resultado) {
                                mensajeRedireccionaPagina(respuesta.Mensaje, "INFORMATIVO");
                            }
                            else {
                                MostrarMensaje(respuesta.Mensaje, "ALERTA");
                            }
                        });
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
         });


        //ocultar las cabeceras

        $('.ui-jqgrid-hbox').hide();

    });

    function publicarSolicitud()
    {
        validaSesIntranet();
        //var result = $('#publicacionCargoForm').valid();
        //if (result) {
            if (valida()) {
                var dialogDiv = $('#updateDialogConfirmacion');
                dialogDiv.dialog('open');
            }
        //}
        
    }
    function mensajeResultado(mensaje) {
        $("#spnMensaje").html(mensaje);
        $("#divMensaje").dialog({
            title: 'ALERTA',
            modal: true,
            buttons: {
                "Aceptar": function () { $(this).dialog("close"); }
            }
        });
    }

    function actualizarSolitud()
    {
        validaSesIntranet();
        if (valida()) {
            var dialogDiv = $('#updateDialogActualizar');
            dialogDiv.dialog('open');
        }
    }

    function valida() {

        var fechaInicial = $('#SolicitudCargo_FechaPublicacion').val();
        var fechaFinal = $('#SolicitudCargo_FechaExpiracion').val();

        var observacion = $('#SolicitudCargo_ObservacionPublicacion').val();

        if ((fechaInicial.length == 0) || (fechaFinal.length == 0)) {

            MostrarMensaje('Las fechas son obligatorias', "Mensaje");
            return false;
        }

        if (Funciones.compareDate(fechaInicial, fechaFinal) == -1) {
            MostrarMensaje('La fecha inicial no puede ser mayor que la fecha final', "Mensaje");
            return false;
        }

        if ((observacion.length == 0) || (observacion.length > 255))
        {
            MostrarMensaje('Ingresar una observación, máx. 255 caracteres', "Mensaje");
            return false;
        }

        return true;

    }

    function RedireccionaBus() {
        var pagina = $('#pagina').val();

        if (pagina == "04") {
            window.location = '@Url.Action("Index", "SolicitudConsulta", new { area = "Intranet"})';
        } else {
            window.location = '@Url.Action("Index", "SolicitudNuevoCargo", new { area = "Intranet"})';
        }
    }

    function mensajeRedirecciona(mensaje, titulo) {
        $("#spnMensaje").html(mensaje);
        $("#divMensaje").dialog({
            title: titulo,
            resizable:false,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                    SanPablo.Redirecciona('@Url.Action("Index","SolicitudNuevoCargo")');
                }
            }
        });
    }
    function mensajeRedireccionaPagina(mensaje, titulo) {
        var pagina = $('#pagina').val();

        $("#spnMensaje").html(mensaje);
        $("#divMensaje").dialog({
            title: titulo,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                    if (pagina == "04") {
                        window.location = '@Url.Action("Index", "SolicitudConsulta", new { area = "Intranet"})';
                    } else {
                        window.location = '@Url.Action("Index", "SolicitudNuevoCargo", new { area = "Intranet"})';
                    }
                }
            }
        });
    }
    $('textarea[data-val=true]').on('blur', function () {
        $(this).valid();
    });
</script>

}  

@using (Html.BeginForm("Edit", "PublicacionCargo", FormMethod.Post, new { @id = "publicacionCargoForm" }))
{
  @Html.ValidationSummary(true)   
<section id="forms">
    
        <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                @Html.TextBoxFor(model => model.pagina, new { style = "display:none;"})
                @Html.HiddenFor(model => model.SolicitudCargo.IdeSolicitudNuevoCargo)
               <h5> @Html.DisplayFor(model=>model.SolicitudCargo.NombreCargo) - SEDE @Html.DisplayFor(model=>model.Sede) </h5>
            </div>
            <form class="form-horizontal well">
                <fieldset>
                    <legend></legend>
                    <table style="margin-left:50px;" >
                    <tr><td>&nbsp;</td></tr>
                    <tr class="formulario-fila">
                        <td class="control-label" >Área</td>
                        <td class="controls">
                            @Html.HiddenFor(model=>model.SolicitudCargo.IdeArea)
                            @Html.TextBoxFor(model => model.Area, new { @disabled = "disabled" })
                        </td>
                        <td style="width:45px">&nbsp;</td>
                        <td class="control-label" >Tipo</td>
                        <td class="controls">
                            @Html.TextBoxFor(model=>model.TipoHorario, new {@disabled="disabled"})
                            @*<input type="text" class="input-small" id="txttipo" disabled="disabled" value="Tiempo Completo">*@
                        </td>

                    </tr>
                      
                    <tr class="formulario-fila">
                        <td class="control-label" >Vacantes</td>
                        <td class="controls">
                           @Html.TextBoxFor(model=>model.SolicitudCargo.NumeroPosiciones, new {@disabled = "disabled",  @class="input-small" })
                        </td>
                        <td>&nbsp;</td>
                        <td class="control-label">Rango Salarial</td>
                        <td class="controls">
                            @Html.TextBoxFor(model => model.RangoSalario, new {@disabled = "disabled"})
                            @if (TipoSolicitud.ConsultaRequerimientos.Equals(Model.pagina))
                            {
                                @Html.CheckBoxFor(model => model.SolicitudCargo.RangoSalarioPublicar, new { @style="display:inline-block" , disabled="disabled"}) <Label style="display:inline-block; font-size:10pt" for="publicar">Publicar</Label> 
                            }
                            else
                            { 
                                @Html.CheckBoxFor(model => model.SolicitudCargo.RangoSalarioPublicar, new { @style="display:inline-block"}) <Label style="display:inline-block; font-size:10pt" for="publicar"> Publicar</Label>
                            }
                        </td>
                    </tr>


                    <tr class="formulario-fila">
                        <td class="control-label" >Fecha Publicación</td>
                        <td class="controls">
                            @Html.TextBoxFor(model => model.editarFechaPublicacion, new { style = "display:none" })
                            @Html.TextBoxFor(model=>model.SolicitudCargo.FechaPublicacion, new {  @class = "input-small" ,  maxlength="15", placeholder="Desde"  })
                            
                           
                        </td>
                        <td>&nbsp;</td>
                        <td class="control-label" >Fecha Expiración</td>
                        <td class="controls">
                           
                            @Html.TextBoxFor(model =>model.SolicitudCargo.FechaExpiracion, new {  @class = "input-small" ,  maxlength="15", placeholder="Hasta" })
                            
                        </td>
                    </tr>

                        <tr><td>&nbsp;</td></tr>
                    </table>

                    <table style="margin-left:50px;" >
                   <tr><td>&nbsp;</td></tr>
                   <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01"><strong> Funciones</strong></label>
                         <div class="controls">
                            @Html.TextAreaFor(model=>model.Cargo.FuncionCargo, new {@disabled = "disabled", @style = "width:800px; height:100px; resize:none;"})
                         </div>
                       </td>
                   </tr>
                   <tr><td>&nbsp;</td></tr>

                   <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01"><strong> Estudios</strong> </label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListEstudios">
                                    </table>
                                    <div id="grdPagerEstudios">
                                    </div>
                                </div>                                         
                            </div>
                         </div>
                        </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01"><strong> Conocimientos</strong></label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListConocimientos">
                                    </table>
                                    <div id="grdPagerConocimientos">
                                    </div>
                                </div>                                         
                            </div>
                         </div>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01"><strong> Experiencia</strong></label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListExperiencia">
                                    </table>
                                    <div id="grdPagerExperiencia">
                                    </div>
                                </div>                                         
                            </div>
                         </div>
                       </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>
                  

                        @if(Indicador.Si.Equals(Model.visualizarCompetencias))
                        {
                            <tr class="formulario-fila">
                                <td class="span5">
                                <label class="control-label" for="input01"><strong> Competencias</strong></label>
                                 <div class="controls">
                                    <div style="width: 100%">                                        
                                        <div>
                                            <table id="grdListCompetencias">
                                            </table>
                                            <div id="grdPagerCompetencias">
                                            </div>
                                        </div>                                         
                                    </div>
                                 </div>
                               </td>
                            </tr>
                        }
                        @if(Indicador.Si.Equals(Model.visualizarOfrecemos))
                        {
                                <tr><td>&nbsp;</td></tr>
                            <tr class="formulario-fila">
                                <td class="span5">
                                <label class="control-label" for="input01"><strong> Ofrecemos</strong></label>
                                 <div class="controls">
                                    <div style="width: 100%">                                        
                                        <div>
                                            <table id="grdListOfrecemos">
                                            </table>
                                            <div id="grdPagerOfrecemos">
                                            </div>
                                        </div>                                         
                                    </div>
                                 </div>
                                </td>
                            </tr>
                        }
                        <tr><td>&nbsp;</td></tr>
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01"> <strong> Observaciones</strong><span class="text-error">*</span> </label>
                         <div class="controls">
                            
                             @if (Indicador.Si.Equals(Model.editarObservaciones))
                             { 
                                 @Html.TextAreaFor(model => model.SolicitudCargo.ObservacionPublicacion, new { @style = "width:800px;height:100px;resize:none;", onblur = "aMays(event, this)", maxlength = "255" })
                                <div class="tex-error" style="font-size:11px;color:gray">Máx. 255 caracteres</div> 
                                    <div class="tex-error" style="font-size:12px;color:red"> 
                                        @Html.ValidationMessageFor(model => model.SolicitudCargo.ObservacionPublicacion)
                                    </div>
                                
                             }
                             else
                             {
                                 @Html.TextAreaFor(model=>model.SolicitudCargo.ObservacionPublicacion, new { @style = "width:800px;height:100px; resize:none;", onblur="aMays(event, this)", @readonly="readonly"})
                             }
                         </div>
                        </td>
                    </tr>   
                                                
                  
                </table>           

                </fieldset>
            </form>
                  <div class="form-actions"> 
                      @if(TipoSolicitud.Nuevo.Equals(Model.pagina))
                      {
                          <a class="btn" href="@Url.Action("Index", "SolicitudNuevoCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>    
                      }
                      else
                      {
                          <a class="btn" href="@Url.Action("Index", "SolicitudConsulta")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>    
                          
                      }
                      @if(Visualicion.SI.Equals(Model.btnPublicar))
                      {
                          <a class="btn btn-info" onclick="publicarSolicitud()"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
                      }
                      @if(Visualicion.SI.Equals(Model.btnActualizar))
                      {
                          <a class="btn btn-info" onclick="actualizarSolitud()"><i class="icon-circle-arrow-up icon-white"></i> Actualizar</a>    
                      }
                </div>

            </div>
        </div>
</section>

}

<div id="updateDialogConfirmacion" title="CONFIRMACIÓN" ><p>¿Está seguro de publicar el requerimiento de nuevo cargo?</p></div>
<div id="updateDialogActualizar" title="CONFIRMACIÓN" ><p>¿Está seguro de actualizar la publicacion de nuevo cargo?</p></div>

