@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CategoriaViewModel
@using SanPablo.Reclutador.Entity
@{
    ViewBag.Title = "Listado Categoría";
}
@section Head{
}

@section Scripts{
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnBuscar').click(function () {
            $('#grdListaPrincipalCategoria').trigger('reloadGrid');
        });

        $('#btnEditar').click(function () {
            var selr = jQuery('#grdListaPrincipalCategoria').jqGrid('getGridParam', 'selrow');

            
            var rowData = $('#grdListaPrincipalCategoria').jqGrid('getRowData', selr);
            var indEstado = rowData.ESTACTIVO;


            if (selr != null) {

                if ("I"==indEstado) {
                    MostrarMensaje('El registro se encuentra desactivado', "Sistema de Reclutamiento Y Seleccion de Personal");
                } else {
                    window.location = '@Url.Action("btnEditarDetalle", "Categoria",new { id = ""})' + '/' + selr;
                }

            } else {
                MostrarMensaje('Seleccione una categoria', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        });


        $('#btnEliminarCategoria').click(function () {
            var selr = jQuery('#grdListaPrincipalCategoria').jqGrid('getGridParam', 'selrow');


            var rowData = $('#grdListaPrincipalCategoria').jqGrid('getRowData', selr);
            var indEstado = rowData.ESTACTIVO;


            if (selr != null) {

                if ("I" == indEstado) {
                    MostrarMensaje('El registro se encuentra desactivado', "Sistema de Reclutamiento Y Seleccion de Personal");
                } else {
                    $('#divEliminar').dialog('open');
                }

            } else {
                MostrarMensaje('Seleccione una categoria', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        });

        


        $('#btnNuevo').click(function () {
            var selr = 0;
            if (selr != null) {
                window.location = '@Url.Action("Nuevo", "Categoria", new { id = ""})' + '/' + selr;
            } else {
                MostrarMensaje('Seleccione una categoria', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        });
      


        $("#spanConfirmacion").html("¿Desea Activar/Desactivar?")
        $('#confirmacion').dialogo({
            buttons: {
                "Si": function () {
                    var selr = jQuery('#grdListaPrincipalCategoria').jqGrid('getGridParam', 'selrow');
                    
                    var rowData = jQuery('#grdListaPrincipalCategoria').jqGrid('getRowData', selr);
                    if (selr != null) {
                        ActivarDesactivarCatgoria(selr, rowData);
                    } else {
                        MostrarMensaje('Seleccione una categoria', "Sistema de Reclutamiento Y Seleccion de Personal");
                    }
                    $(this).dialog("close");
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });




        $("#spanEliminar").html("¿Desea eliminar?")
        $('#divEliminar').dialogo({
            buttons: {
                "Si": function () {
                    var selr = $('#grdListaPrincipalCategoria').jqGrid('getGridParam', 'selrow');
                    var rowData = $('#grdListaPrincipalCategoria').jqGrid('getRowData', selr);
                    if (selr != null) {
                        EliminarCategoria(selr, rowData);
                    } else {
                        MostrarMensaje('Seleccione una categoria', "Sistema de Reclutamiento Y Seleccion de Personal");
                    }
                    $(this).dialog("close");
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('#btnConsultar').click(function () {
            var selr = jQuery('#grdListaPrincipalCategoria').jqGrid('getGridParam', 'selrow');
            if (selr != null) {
                window.location = '@Url.Action("btnConsultarDetalle", "Categoria",new { id = ""})' + '/' + selr;
            } else {
                MostrarMensaje('Seleccione una categoria', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        }); 


        jQuery("#grdListaPrincipalCategoria").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();
                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'ideCategoria', data: jQuery('#grdListaPrincipalCategoria').jqGrid('getGridParam', 'selrow') },
                       { field: 'tipCriterio', data: $("#Categoria_TipoCriterio").val() },
                       { field: 'estado', data: $("#Categoria_ESTACTIVO").val() },
                       { field: 'descrip', data: $("#Categoria_DESCCATEGORIA").val() }
                      
                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListaPrincipalCategoria", "Categoria")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListaPrincipalCategoria')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: ['Estado','','','Nombre', 'Descripci&oacuten','', 'Tipo', 'Fecha Creación', 'Usuario Creación', 'Fecha Modificación', 'Usuario Modificación'],
            colModel: [
                    { name: 'Estado', index: 'Estado', align: 'center', sortable: false, width: 50, formatter: HabilitarFormatter },
                    { name: 'ESTACTIVO', index: 'ESTACTIVO', align: 'left' ,hidden:true},
                    { name: 'IDECATEGORIA', index: 'IDECATEGORIA', align: 'center', sortable: false, hidden: true },
                    { name: 'Nombre', index: 'Nombre', align: 'left', width: 200, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', width: 300, sortable: false },
                    { name: 'Tipo', index: 'Tipo', align: 'left', hidden:true },
                    { name: 'TIPCATEGORIADES', index: 'TIPCATEGORIADES', align: 'left', width: 150, sortable: false },
                    { name: 'FechaCreacion', index: 'FechaCreacion', align: 'left', width: 150, sortable: false },
                    { name: 'UsuarioCreacion', index: 'UsuarioCreacion', align: 'left', width: 150, sortable: false },
                    { name: 'FechaModificacion', index: 'FechaModificacion', align: 'left', width: 150, sortable: false },
                    { name: 'UsuarioModificacion', index: 'UsuarioModificacion', align: 'left', width: 160, sortable: false }
            ],
            pager: jQuery('#grdPagerCategoria'),
            rowNum: 10,
            rowList: [10, 30, 50],
            autowidth: true,
            rules: true,
            sortname: 'IDECATEGORIA',
            sortorder: 'desc',
            viewrecords: true,
            height: 350,
            cellsubmit: 'clientArray',
            hidegrid: false,
            rownumbers: true,
            shrinkToFit: false,
            
            postData: {
            }, loadComplete: function (data) {
            }
        });



    });


    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

   

    function MostrarMensaje(mensaje, titulo) {
        Funciones.Alert("divMensaje", "spnMensaje", mensaje, titulo);
    }


    function ActivarDesactivarCatgoria(selr, rowData) {
        $.post("@Url.Action("ActivarDesactivar", "Categoria")?id=" + selr + "&estado=" + rowData.ESTACTIVO,
            function (data) {
                $('#grdListaPrincipalCategoria').trigger('reloadGrid');
            }
        );
        return false;
    }

    function EliminarCategoria(selr, rowData) {
        $.post("@Url.Action("EliminarCategoria", "Categoria")?id=" + selr,
             function (data) {
                 $('#grdListaPrincipalCategoria').trigger('reloadGrid');
             }
         );
        return false;
    }

</script>
}

@using (Html.BeginForm("Index", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmListaCategoria" }))
{
    @Html.ValidationSummary(true)
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Categoría</h5>
            </div>
            <table style="margin-left:120px;">
                <tr>
                  <td colspan="8">&nbsp;</td>
                </tr>
                <tr >
                    <td class="colEtiqueta">
                      <label class="etiquetaFormulario" for="inputSuccess">Tipo</label>
                    </td>
                    <td class="colInput">
                      @Html.DropDownListFor(model => model.Categoria.TipoCriterio, new SelectList(Model.TipoCriterio, "Valor", "Descripcion", Model.Categoria.TipoCriterio),new { data_val = "false" })
                    </td>
                    <td style="width:40px;"></td> 
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" for="inputSuccess">Descripción</label>
                    </td>   
                    <td class="colInput">
                      @Html.TextBoxFor(model => model.Categoria.DESCCATEGORIA, new { @class = "textoFormulario", @maxlength = "150" , data_val = "false",onkeyup="aMays(event, this)"}) 
                    </td>
                </tr>
                <tr >
                    <td class="colEtiqueta">
                      <label class="etiquetaFormulario" for="inputSuccess">Estado</label>
                    </td>
                    <td class="colInput">
                      @Html.DropDownListFor(model => model.Categoria.ESTACTIVO, new SelectList(Model.TipoEstado, "Valor", "Descripcion", Model.Categoria.ESTACTIVO),new { data_val = "false" })
                    </td>
                </tr>
              
            </table>

             <table>
                <tr>
                  <td  class="formulario-accion offset9">
                      @if (Visualicion.SI.Equals(Model.btnBuscar))
                      {
                        <button type="submit" class="btn btn-info" id="btnBuscar"><i class="icon-search icon-white"></i> Buscar</button>    
                      }    
                      
                      @if (Visualicion.SI.Equals(Model.btnLimpiar))
                      {
                        <button type="reset" class="btn"><i class="icon-trash"></i> Limpiar</button>    
                      }
                     
                      
                   
                  </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

             <div class="tabla-datos">
                <table id="grdListaPrincipalCategoria">
                </table>
                <div id="grdPagerCategoria">
                </div>
            </div>
            <div class="form-actions">
                @if (Visualicion.SI.Equals(Model.btnNuevo))
                {
                  <a class="btn btn-info" id="btnNuevo"><i class="icon-plus icon-white"></i> Nuevo</a>
                }

                @if (Visualicion.SI.Equals(Model.btnConsultar))
                {
                  <a class="btn btn-info" id="btnConsultar"><i class="icon-zoom-in icon-white"></i> Consultar</a>
                }

                @if (Visualicion.SI.Equals(Model.btnEditar))
                {
                  <a class="btn btn-info" id="btnEditar"><i class="icon-pencil  icon-white"></i> Editar</a>
                }
                
                @if (Visualicion.SI.Equals(Model.btnActivarDesactivar))
                {
                  <a  id="btnActivaDesactiva" class="btn btn-info" onclick="$('#confirmacion').dialog('open'); return false;"><i class="icon-check icon-white"></i> Activar / Desactivar</a>
                }

                @if (Visualicion.SI.Equals(Model.btnEliminar))
                {
                  <a  id="btnEliminarCategoria" class="btn btn-danger" ><i class="icon-remove icon-white"></i> Eliminar</a>
                }
            </div>
        </div>
    </div>
</div>
}
<div id="confirmacion"><span id="spanConfirmacion"></span></div>
<div id="divEliminar"><span id="spanEliminar"></span></div>
<div id="divMensaje"><span id="spnMensaje"></span></div>
