@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/LayoutCargo.cshtml";
}
@section ScriptsCargo{  
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            SanPablo.Numeros('Cargo_PuntajeMinimoExamen');
            SanPablo.Numeros('Cargo_CantidadPreseleccionados');
            SanPablo.Numeros('Cargo_PuntajeMinimoGeneral');

            var puntPromMin = $('#Cargo_PuntajeTotalExamen').val();
            var puntActual = $('#Cargo_PuntajeMinimoExamen').val();
            if ((puntActual == 0) || (puntPromMin < puntActual) || (puntActual == null)) {
                $('#Cargo_PuntajeMinimoExamen').val(puntPromMin) ;
            }

        });

        function calcularTotales()
        {
            if (parseInt($("#Cargo_PuntajeMinimoPostulanteInterno").val()) > parseInt($("#Cargo_PuntajeTotalPostulanteInterno").val())) {
                mostrarMensaje()
                $("#Cargo_PuntajeMinimoPostulanteInterno").val('0');
            }
            else {
                var total = parseInt($("#Cargo_PuntajeMinimoPostulanteInterno").val()) + parseInt($("#Cargo_PuntajeMinimoEdad").val()) +
                            parseInt($("#Cargo_PuntajeMinimoSexo").val()) + parseInt($("#Cargo_PuntajeMinimoSalario").val()) + parseInt($("#Cargo_PuntajeMinimoNivelEstudio").val()) +
                            parseInt($("#Cargo_PuntajeMinimoCentroEstudio").val()) + parseInt($("#Cargo_PuntajeMinimoExperiencia").val()) + parseInt($("#Cargo_PuntajeMinimoOfimatica").val()) +
                            parseInt($("#Cargo_PuntajeMinimoIdioma").val()) + parseInt($("#Cargo_PuntajeMinimoConocimientoGeneral").val()) + parseInt($("#Cargo_PuntajeMinimoDiscapacidad").val()) +
                            parseInt($("#Cargo_PuntajeMinimoHorario").val()) + parseInt($("#Cargo_PuntajeMinimoUbigeo").val()) + parseInt($("#Cargo_PuntajeMinimoExamen").val());

                $("#TotalMinimo").val(total);
            }
        }
        function mostrarMensaje()
        {
            mostrarMensaje("El puntaje Mínimo no puede ser mayor al puntaje Máximo")
        }

        function verificarPuntaje()
        {
            var ptjePromMin = $('#Cargo_PuntajeTotalExamen').val();
            var ptjeMin = $('#Cargo_PuntajeMinimoExamen').val();

            var msjeError = document.getElementById('msjErrorPtjExamen');

            if (ptjeMin > ptjePromMin) {
                
                msjeError.innerHTML = "El ptje. mín no puede ser superior al ptje. prom. mín."
                msjeError.style.display = "block";
            }
            else { msjeError.style.display = "none";}
        }

        function verificarPuntajeTotal() {
            var ptjeMax = $('#TotalMaximo').val();
            var ptjeMin = $('#Cargo_PuntajeMinimoGeneral').val();

            var msjeError = document.getElementById('msjErrorPtj');

            if (ptjeMin > ptjeMax) {

                msjeError.innerHTML = "El ptje. mín no puede ser superior al ptje. prom. mín."
                msjeError.style.display = "block";
            }
            else { msjeError.style.display = "none"; }
        }

        $('input[data-val=true]').on('blur', function () {
            $(this).valid();
        });
    </script>

    }
@using (Html.BeginForm("ConfiguracionPerfil", "Perfil", FormMethod.Post, new { @id = "configuracionPerfilForm" }))
{

<!--CONFIGURACION PERFIL -->
    @Html.ValidationSummary(true)
    <div class="tab-pane" id="H">
        <form>
            <div class="grilla-opciones" style="margin-top:0px;">
                <h6>Parámetros</h6>
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="margin-left:20px;">
                <table style="width: 900px;" border="0">
                    <tr>
                        <td style="width: 50%; vertical-align: top">
                                <h6>Parámetros Pre-Selección</h6>
                                <table border="0">
                                    <tr>
                                        <td style="width: 80px;"></td>
                                        <td></td>
                                        <td>Ptje.
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label" style="width: 130px;">
                                            <label>Postulante Interno</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalPostulanteInterno, new {@Class ="input-xxmini text-right", @disabled = "disabled"})</td>
                                        <td></td>
                                        <td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Edad</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeEdad, new {@Class ="input-xxmini text-right", @disabled = "disabled"})</td>
                                        <td></td>
                                        <td>
                                            </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Sexo</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeSexo, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                                                               
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Rango Salarial</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeSalario, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                         <td></td>
                                        <td>
                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Nivel de Estudios</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalNivelEstudio, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                                                                
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Centro de Estudios</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalCentroEstudio, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Experiencia Laboral</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalExperiencia, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                                                               
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Ofimatica</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalOfimatica, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                                                                 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Idiomas</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalIdioma, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>

                                        <td>
                                                                             
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Generales</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalConocimientoGeneral, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                           

                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Discapacidades</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalDiscapacidad, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Horario</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalHorario, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                         </td>
                                        <td></td>
                                        <td>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Ubigeo</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalUbigeo, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>

                                        <td>
                                           
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td style="width: 80px;"></td>
                                        <td></td>
                                        <td>Ptje Total.
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td>Ptje.Minimo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label"><b> </b></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.TotalMaximo, new {@class="input-xxmini text-right",disabled="disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Model.Accion.Equals(Accion.Consultar))
                                            {
                                               @Html.TextBoxFor(model => model.Cargo.PuntajeMinimoGeneral, new { @class = "input-xxmini text-right", disabled = "disabled" })
                                                
                                            }
                                            else
                                            {
                                               @Html.TextBoxFor(model => model.Cargo.PuntajeMinimoGeneral, new { @class = "input-xxmini text-right", maxlength = "3", onblur="verificarPuntajeTotal()" })
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoGeneral)
                                                </div>
                                               <div id="msjErrorPtj" class="tex-error" style="font-size:12px;color:red"> 
                                               </div>
                                            }
                                    </tr>
                                </table>

                        </td>
                        <td style="width: 50%; vertical-align: top">
                            <h6>Parámetros Selección</h6>
                                <table border="0">
                                        <tr>
                                        <td></td>
                                        <td>Ptje.Prom.Min
                                            </td>
                                            <td style="width:10px;"></td>
                                        <td>Ptje.Min
                                            </td>

                                    </tr>
                                    <tr>
                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                        <td>
                                             @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalExamen, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Model.Accion.Equals(Accion.Consultar))
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoExamen, new {@Class ="input-xxmini text-right", disabled = "disabled"})
                                            }
                                            else
                                            { 
                                                @Html.TextBoxFor(model => model.Cargo.PuntajeMinimoExamen, new { @Class = "input-xxmini text-right", maxlength = "2" , onblur="verificarPuntaje();" })
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoExamen)
                                                </div>
                                                <div id="msjErrorPtjExamen" class="tex-error" style="font-size:12px;color:red"> 
                                                </div>
                                            }
                                            </td>
                                    </tr>                                                       
                                        <tr>
                                        <td colspan="4" style="height:20px;"></td>
                                    </tr>
                                </table>
                            <label>Vacantes por Estado</label>
                                <table border="0">
                                    <tr>
                                        <td class="td-label" style="width:130px;">
                                            Postulantes Pre-Selec.
                                        </td>
                                        <td>
                                            @if (Model.Accion.Equals(Accion.Consultar))
                                            {
                                                 @Html.TextBoxFor(model=>model.Cargo.CantidadPreseleccionados, new {@Class ="input-xxmini text-right", disabled="disabled"})  
                                            }
                                            else
                                            {
                                              @Html.TextBoxFor(model=>model.Cargo.CantidadPreseleccionados, new {@Class ="input-xxmini text-right", maxlength="3"}) 
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.CantidadPreseleccionados)
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                        <tr>
                                        <td colspan="2" style="height:40px;">                                                            
                                        </td>                                                            
                                    </tr>
                                </table>
                                </td>
                    </tr>                                                             
                                                                                                                 
                                                                              
                    </table>
            </div>
        </form>
        <div class="formulario-accion">
            <div class="opciones">
             @if (Accion.Enviar == Model.Accion)
             {
                 <button id="btnGrabar" type="submit" class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</button>
             }
                 <a class="btn" href="@Url.Action("Evaluacion", "Perfil")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            </div>
        </div>
    </div>

    <!--CONFIGURACION PERFIL-->
}