@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudNuevoCargoViewModel
@using SanPablo.Reclutador.Entity
@using System.Collections.Generic

@{
    ViewBag.Title = "Solicitud Nuevo Cargo";
}
@section Head{

}

@section Scripts{

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#fechaInicio').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#fechaFin').datepicker({ dateFormat: 'dd/mm/yy' });

        $('#btnBuscarSolicitud').click(function () {
            $('#grdList').trigger('reloadGrid');
        });

        $('select#Dependencias').change(function () {
            var ideDependencia = $(this).val();
            $("select#SolicitudNuevoCargo_IdeArea").empty();
            $("select#SolicitudNuevoCargo_IdeArea").append("<option value='0'> Seleccionar </option>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("listaDepartamentos","SolicitudNuevoCargo")',
                data: { ideDependencia: ideDependencia },
                success: function (respuesta) {
                    $("select#Departamentos").empty();
                    $("select#Departamentos").append("<option value='0'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Departamentos").append("<option value='"
                        + item.IdeDepartamento + "'>" + item.NombreDepartamento + "</option>");
                    }
                );
                }
            });
         })

        $('select#Departamentos').change(function () {
            var ideDepartamento = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listaAreas","SolicitudNuevoCargo")',
                data: { ideDepartamento: ideDepartamento },
                success: function (respuesta) {
                    $("select#SolicitudNuevoCargo_IdeArea").empty();
                    $("select#SolicitudNuevoCargo_IdeArea").append("<option value='0'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#SolicitudNuevoCargo_IdeArea").append("<option value='"
                        + item.IdeArea + "'>" + item.NombreArea + "</option>");
                    }
                );
                }
            });
        })

        $("#spanMessage").html("¿Desea Activar/Desactivar el registro?")
        $('#updateDialog').dialogo({
            buttons: {
                "Si": function () {
                    var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                    var rowData = jQuery('#grdList').jqGrid('getRowData', selr);
                    var estado = rowData.EstadoActivo;
                    if (selr != null) {
                        ActivarDesactivarSolicitud(selr, estado);
                    } else {
                        MostrarMensaje('Seleccione una solicitud', "Sistema de reclutamiento y selección de personal");
                    }
                    $(this).dialog("close");
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });

        jQuery("#grdList").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();
                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [

                    { field: 'idSolicitud', data: jQuery('#grdList').jqGrid('getGridParam', 'selrow') },
                    { field: 'idCargo', data: $("Select#SolicitudNuevoCargo_IdeCargo").val() },
                    { field: 'ideDependencia', data: $("Select#Dependencias").val() },
                    { field: 'ideArea', data: $("Select#SolicitudNuevoCargo_IdeArea").val() },
                    { field: 'responsable', data: $("Select#Responsables").val() },
                    { field: 'fechaInicial', data: $("#fechaInicio").val() },
                    { field: 'fechaFin', data: $("#fechaFin").val() },
                    { field: 'ideDepartamento', data: $("Select#Departamentos").val() },
                    { field: 'etapa', data: $("Select#Etapas").val() },
                    { field: 'estado', data: $("Select#Estados").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListaSolicitudes", "SolicitudNuevoCargo")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdList')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: ['Estado', '', '', 'Codigo', '', 'Cargo', '', 'Dependencia', '', 'Departamento', '', 'Area', 'Posiciones', 'Postulantes', 'Pre-Sel', 'Eval.', 'Selec.', 'Inicio', 'Cierre', '', 'Responsable', 'Nom.Responsable', 'Publicado', 'Etapa', ''],
                    colModel: [
                            { name: 'Estado', index: 'Estado', align: 'center', sortable: false, width: 50, formatter: HabilitarFormatter },
                            { name: 'EstadoActivo', index: 'EstadoActivo', align: 'center', width: 50, hidden: true },
                            { name: 'IdeSolicitudNuevo', index: 'IdeSolicitudNuevo', align: 'center', hidden: true },
                            { name: 'Codigo', index: 'Codigo', align: 'center', width: 80 },
                            { name: 'IdCargo', index: 'IdCargo', align: 'left', hidden: true },
                            { name: 'Cargo', index: 'Cargo', align: 'left' },
                            { name: 'ideDependencia', index: 'Cargo', align: 'left', hidden: true },
                            { name: 'Dependencia', index: 'Dependencia', align: 'left', width: 160 },
                            { name: 'ideDepartamento', index: 'Cargo', align: 'left', hidden: true },
                            { name: 'Departamento', index: 'Departamento', align: 'left', width: 160 },
                            { name: 'ideArea', index: 'Cargo', align: 'left', hidden: true },
                            { name: 'Area', index: 'Area', align: 'left', width: 160 },
                            { name: 'Posiciones', index: 'Posiciones', align: 'right', width: 60 },
                            { name: 'Postulantes', index: 'Postulantes', align: 'right', width: 60 },
                            { name: 'PreSeleccionados', index: 'PreSeleccionados', align: 'right', width: 60 },
                            { name: 'Evaluados', index: 'Evaluados', align: 'right', width: 60 },
                            { name: 'Seleccionados', index: 'Seleccionados', align: 'right', width: 60 },
                            { name: 'Inicio', index: 'Inicio', align: 'left', width: 100 },
                            { name: 'Cierre', index: 'Cierre', align: 'left', width: 100 },
                            { name: 'ideResponsable', index: 'ideRol', align: 'left', hidden: true },
                            { name: 'Responsable', index: 'Responsable', align: 'left', width: 120 },
                            { name: 'NombreResponsable', index: 'NombreResponsable', align: 'left', width: 150 },
                            { name: 'Publicado', index: 'Publicado', align: 'left', width: 100 },
                            { name: 'TipoEtapa', index: 'ideEtapa', align: 'left', width: 100 },
                            { name: 'idUsuarioRespo', index: 'Etapa', align: 'center', hidden: true }
                          
                    ],

                    pager: jQuery('#grdPager'),
                    rowNum: 10,
                    rowList: [10, 30, 50],
                    autowidth: true,
                    rules: true,
                    sortname: 'IdeSolicitudNuevoCargo',
                    sortorder: 'desc',
                    viewrecords: true,
                    height: 350,
                    cellsubmit: 'clientArray',
                    hidegrid: false,
                    rownumbers: true,
                    shrinkToFit: false,

                    postData: {
                    }, loadComplete: function (data) {
                    }
                });


        $('#btnRankingSol').click(function () {
            var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            var rowData = jQuery('#grdList').jqGrid('getRowData', selr);
            var pagina = '@TipoSolicitud.Nuevo';
            var tipSol = '@TipoSolicitud.Nuevo';

        if (selr != null) {


            var url = '@Url.Action("Index", "Ranking", new { id = "",area="Intranet" })?id=' + selr + "&tipSol=" + tipSol + "&pagina=" + pagina;
            window.location = url;


        } else {
            MostrarMensaje('Seleccione una solicitud', "Sistema de Reclutamiento Y Seleccion de Personal");
        }

        });


        $('#btnPreseleccion').click(function () {

            var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            var rowData = jQuery('#grdList').jqGrid('getRowData', selr);

            var idSol = selr;
            var tipSol = '@TipoSolicitud.Nuevo';
            var pagina = '@TipoSolicitud.Nuevo';
            var indPagina = '@Indicador.No';

             if (idSol != null) {

                 var url = '@Url.Action("Preseleccionado", "Ranking", new { id = "",area="Intranet" })?id=' + idSol + "&tipSol=" + tipSol + "&pagina=" + pagina + "&ind=" + indPagina;
                 window.location = url;

             } else {
                 MostrarMensaje('Seleccione una solicitud', "Sistema de Reclutamiento Y Seleccion de Personal");
             }

         });

        $('#btnNuevo').click(function () {

            var pagina = '@TipoSolicitud.Nuevo';
            var url = '@Url.Action("Edit", "SolicitudNuevoCargo", new { id = "",area="Intranet" })?id=0'+ "&pagina="+ pagina;
            window.location = url;
        });

   

        $('#btnActivarDesactivar').click(function () {
            var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            if (selr != null) {
                $('#updateDialog').dialog('open');
            } else {
                MostrarMensaje('Seleccione una solicitud para Activar/Desactivar', "Sistema de reclutamiento y selección de personal");
            }

        });


        $('#btnEditarSolicitud').click(function () {
            var ideSolicitud = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            var pagina = '@TipoSolicitud.Nuevo'

            if (ideSolicitud != null) {

                var url = '@Url.Action("Edit", "SolicitudNuevoCargo", new { id = "",area="Intranet" })?id=' + ideSolicitud + "&pagina=" + pagina;
                window.location = url;

            }
            else {
                MostrarMensaje("Seleccione una Solicitud para su Aprobación/Rechazo","Sistema de Reclutamiento y Selección de personal");
            }

        });
        
        $('#btnPerfil').click(function () {
            var ideSolicitud = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            //var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            var rowData = jQuery('#grdList').jqGrid('getRowData', ideSolicitud);
            var estado = rowData.EstadoActivo;
            estadoSolicitud(ideSolicitud, estado);
        });

    });

    function ActivarDesactivarSolicitud(selr, estado) {

        $.ajax({
            data: {
                id: selr,
                codEstado: estado
            },
            type: "POST",
            url: "@Url.Action("CambiarEstado", "SolicitudNuevoCargo")",
            traditional: true,
            success: function (data) {
                if (data.Resultado == false) {
                    MostrarMensaje(data.Mensaje, "Sistema de reclutamiento y selección de personal")
                    
                } else {
                    MostrarMensaje(data.Mensaje, "Sistema de reclutamiento y seleccion de personal");
                    $('#grdList').trigger('reloadGrid');
                }
            }
        });

    }

   
    function HabilitarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'enabled.png';
        var title = "Habilitar";

        if (rowObject[1] == "V") {
            archivo = 'enabled.png';
            var title = "Habilitar";

        }
        else {
            if (rowObject[1] == "M") {
                archivo = 'ekiga.png';
                var title = "Habilitar";
            }
            else {
                if (rowObject[1] == "R") {
                    archivo = 'red.png';
                    var title = "Habilitar";
                }
                else {
                    if (rowObject[1] == "I") {
                        archivo = 'enigma.png';
                        var title = "Habilitar";
                    }
                }
            }
        }
        var strImg = '<img src="' + imgPath + archivo + '" title="' + title + '" alt="' + title + '">';
        return strImg;
    }

    function estadoSolicitud(ideSolicitud, estado) {
        if (ideSolicitud != null) {
            $.ajax({
                data: { ideSolicitud: ideSolicitud },
                type: "POST",
                url: "@Url.Action("EstadoSolicitud", "SolicitudNuevoCargo")",
                traditional: true,
                success: function (data) {
                    if (data.Resultado == true) {
                        if (estado != "I") {
                            window.location = '@Url.Action("Index", "Perfil", new { id = "-id"})'.replace("-id", ideSolicitud);
                        }
                        else { MostrarMensaje("No puede editar el Perfil de una solicitud inactiva", "Sistema de reclutamiento y selección de personal"); }
                    } else { MostrarMensaje(data.Mensaje, "Sistema de reclutamietno y selección de personal"); }
                }
            });
        }
        else { MostrarMensaje("Seleccione la solicitud asociada al perfil", "Sistema de reclutamiento y selección de personal");}
    }

    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    //function MostrarMensaje(mensaje) {
    //    $("#spanMensaje").html(mensaje);
    //    $("#divMensaje").dialog({
    //        title: 'SAN PABLO',
    //        modal: true,
    //        buttons: {
    //            "Ok": function () { $(this).dialog("close"); }
    //        }
    //    });
    //}

    $(function () {

        //Array para dar formato en español
        $.datepicker.regional['es'] =
        {
            closeText: 'Cerrar',
            prevText: 'Previo',
            nextText: 'Próximo',

            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
            'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
            'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
            dateFormat: 'dd/mm/yy', firstDay: 0,
            initStatus: 'Selecciona la fecha', isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

        //miDate: fecha de comienzo D=días | M=mes | Y=año
        //maxDate: fecha tope D=días | M=mes | Y=año
        $("#datepicker").datepicker({ minDate: "-1D", maxDate: "+1M +10D" });
    });

</script>
}
@using (Html.BeginForm("Index", "SolicitudNuevoCargo", FormMethod.Post, new { enctype = "multipart/form-data", id = "solicitudNuevoForm" }))
{
    @Html.ValidationSummary(true)
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Listado Solicitud de Nuevos Cargos</h5>
            </div>
           
               <table class="formulario-busqueda">
                <tr class="formulario-fila">
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudNuevoCargo.IdeCargo, new SelectList(Model.Cargos, "IdeSolicitudNuevoCargo","NombreCargo",Model.SolicitudNuevoCargo.NombreCargo ))
                            </div>
                        </div>
                    </td>
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Fecha</label>
                            <div class="controles">
                                <input id="fechaInicio" type="text" class="input-small" placeholder=" Inicial"/>
                                <input id="fechaFin" type="text" class="input-small" placeholder=" Final"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="formulario-fila">
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Dependencia</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.Dependencias, new SelectList(Model.Dependencias, "IdeDependencia","NombreDependencia",Model.Dependencias ))
                            </div>
                        </div>
                    </td>

                     <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Responsable</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.Responsables, new SelectList(Model.Responsables, "IdRol", "DscRol", Model.Responsables))
                            </div>
                        </div>
                    </td>  

                </tr>

                <tr class="formulario-fila">
                    
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Departamento</label>
                            <div class="controles">
                                 @Html.DropDownListFor(model => model.Departamentos, new SelectList(Model.Departamentos, "IdeDepartamento","NombreDepartamento",Model.Departamentos ))
                            </div>
                        </div>
                    </td>

                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Etapa</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.Etapas, new SelectList(Model.Etapas, "Valor", "Descripcion", Model.Etapas))
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="formulario-fila">
                   
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Área</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudNuevoCargo.IdeArea, new SelectList(Model.Areas, "IdeArea","NombreArea",Model.SolicitudNuevoCargo.IdeArea ))
                            </div>
                        </div>
                    </td>

                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Estado</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.Estados, new SelectList (Model.Estados, "Valor", "Descripcion", Model.Estados ))
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="formulario-accion offset9">
                    <td>
                    <a id="btnBuscarSolicitud"  class="btn btn-info"><i class="icon-search icon-white"></i> Buscar</a>
                    <button id ="btnLimpiarUsuario" type="reset" class="btn"><i class="icon-trash"></i> Limpiar</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>

              </table>

            <div class="tabla-datos">
                <table id="grdList">
                </table>
                <div id="grdPager">
                </div>
            </div>
            <div class="form-actions">
                @*<a class="btn btn-info" href="@Url.Action("PostulantesPorRequerimiento", "SolicitudCargo")"><i class="icon-eye-open icon-white"></i> Ranking</a>*@
                <a class="btn btn-info" id="btnRankingSol"><i class="icon-eye-open icon-white"></i> Ranking</a>
                @*<a class="btn btn-info" href="@Url.Action("PostulantesPreSeleccionados", "SolicitudCargo")"><i class="icon-tasks  icon-white"></i> Pre-select</a>*@
                <a class="btn btn-info" id="btnPreseleccion"><i class="icon-tasks  icon-white"></i> Pre-select</a>


                <a id="btnPerfil" class="btn btn-info"><i class="icon-user icon-white"></i> Perfil</a>
                <a id="btnNuevo" class="btn btn-info" @*href="@Url.Action("Edit", "SolicitudNuevoCargo", new { id = "0"})"*@><i class="icon-plus icon-white"></i> Nuevo</a>
                <a id="btnEditarSolicitud" class="btn btn-info"><i class="icon-pencil icon-white"></i> Requerimiento</a>
                <a id="btnActivarDesactivar" class="btn btn-info"><i class="icon-check icon-white"></i> Activar / Desactivar</a>
                <button type="submit" class="btn btn-danger"><i class="icon-remove icon-white"></i> Eliminar</button>
            </div>

        </div>

    </div>
</div>
}
<div id="updateDialog" ><span id="spanMessage"></span></div>
<div id="divMensaje"><span id="spnMensaje"></span></div>