@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.MantenimientoGeneralViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#TablaDetalleGeneral_IndActivo').val('');

        $('#btnNuevo').click(function () {
            $('#TablaDetalleGeneral_Accion').val('N');
            $('#TablaDetalleGeneral_Valor').removeAttr("disabled");
            $('#TablaDetalleGeneral_Valor').val('');
            $('#TablaDetalleGeneral_Descripcion').val('');
            $('#TablaDetalleGeneral_IndActivo').val('');

        });

        $('#btnGuardar').click(function () {
            var valor = $('#TablaDetalleGeneral_Valor').val();
            var descripcion = $('#TablaDetalleGeneral_Descripcion').val();
            $('#valorDetalle').val(valor);
            if ((valor != null)||(valor!="") ){
                guardarDatos(valor, descripcion);
            }
            else {
                MostrarMensaje('Seleccione un item', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        });

        $('#btnEliminar').click(function () {
            var selr = jQuery('#grdList1').jqGrid('getGridParam', 'selrow');
            var rowData = jQuery('#grdList1').jqGrid('getRowData', selr);
            if (selr != null) {
                activarDesactivar(rowData.Valor, rowData.Descripcion);
            } else {
                MostrarMensaje('Seleccione un item', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        });


        $('#btnEditarDetalle').click(function () {
            var selr = jQuery('#grdList1').jqGrid('getGridParam', 'selrow');
            var rowData = jQuery('#grdList1').jqGrid('getRowData', selr);
            if (selr != null) {
                mostrarEditarSubDetalle(rowData.Valor, rowData.Descripcion);
            } else {
                MostrarMensaje('Seleccione un item', "Sistema de Reclutamiento Y Seleccion de Personal");
            }
        });

        jQuery("#grdList1").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();
                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListaDetalle", "MantenimientoGenerales", new { area = "Intranet" })',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdList1')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: ['Valor', 'Descripcion','estado'],
            colModel: [
                    { name: 'Valor', index: 'Valor', align: 'center', hidden: false, width: 100 },
                    { name: 'Descripcion', index: 'Descripcion', align: 'center', sortable: false, width: 380 },
                    { name: 'IndicadorEstado', index: 'IndicadorEstado', align: 'center', sortable: false }

            ],
            pager: jQuery('#grdPager1'),
            rowNum: 10,
            //rowList: [10, 30, 50],
            autowidth: true,
            rules: true,
            sortname: 'Valor',
            sortorder: 'desc',
            viewrecords: true,
            height: 200,
            cellsubmit: 'clientArray',
            hidegrid: false,
            rownumbers: true,
            shrinkToFit: false,
            autowidth: true,
            postData: {
            }, loadComplete: function (data) {
            }
        });


        $('#updateDialogSubDetalle').dialog({
            autoOpen: false,
            width: 600,
            height: 600,
            resizable: false,
            modal: true,
            buttons: {
                "Cerrar": function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function guardarDatos(valor, descripcion)
    {
        var result = $('#mantenimientoGeneralesForm').valid();

        if (result) {
            $.post('@Url.Action("Edit", "MantenimientoGenerales")',
                $("#mantenimientoGeneralesForm").serialize(),
                function (respuesta) {
                    if (respuesta.Resultado) {
                        $('#grdList1').trigger('reloadGrid');
                        notificacionExito(respuesta.Mensaje);
                        $('#TablaDetalleGeneral_Valor').val('');
                        $('#TablaDetalleGeneral_Descripcion').val('');
                    }
                    else {
                        notificacionError(respuesta.Mensaje);
                    }
                }
            );
        }
        else {
            notificacionError("ERROR: Verifique que los datos ingresados son correctos");
        }
        
    }
    function mostrarfila()
    {
        var mensj = document.getElementById("mensajeError");
        mensj.style.display = "none";

        $('#TablaDetalleGeneral_Accion').val('E');
        var id = jQuery('#grdList1').jqGrid('getGridParam', 'selrow');
        var rowData = jQuery('#grdList1').jqGrid('getRowData', id);

        $('#valorDetalle').val(rowData.Valor);
        $('#TablaDetalleGeneral_Valor').val(rowData.Valor);
        $('#TablaDetalleGeneral_Descripcion').val(rowData.Descripcion);
        $('#TablaDetalleGeneral_IndActivo').val(rowData.IndicadorEstado);
        $('#TablaDetalleGeneral_Valor').attr("disabled", "disabled");
    }

    function activarDesactivar(valor, descripcion)
    {

            $.post('@Url.Action("ActivarDesactivar", "MantenimientoGenerales", new { area = "Intranet"})?valor=' + valor + "&descripcion=" + descripcion ,
            function (respuesta) {
                if (respuesta.Resultado) {
                    $('#grdList1').trigger('reloadGrid');
                    alert(respuesta.Mensaje);
                    notificacionError(respuesta.Mensaje);
                    mostrarfila();
                }
                else {
                    notificacionError(respuesta.Mensaje);
                }
            }
        );
    }

    function mostrarEditarSubDetalle(id,descripcion) {

        var dialogDiv = $('#updateDialogSubDetalle');

        $.get('@Url.Action("SubDetalle", "MantenimientoGenerales", new { area = "Intranet"})?id=' + id, function (data) {

            dialogDiv.html(data);
            dialogDiv.dialog('option', 'title', descripcion);
            $.validator.unobtrusive.parse($("#updateDialogSubDetalle"));
            dialogDiv.dialog('open');

        });
        $('#updateDialog').dialog('close');
        return false;
    }



</script>

@using (Html.BeginForm("Edit", "MantenimientoGenerales", FormMethod.Post, new { @id = "mantenimientoGeneralesForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
    </div>
    <div id="divNotificacion" class="alert alert-success" style="display:none;margin-bottom:0px;">
        <a class="close" onclick="">×</a>
    <span></span>
    </div>
    <table style="margin-left:30px;">
        <tr>

            <td class="colEtiqueta">
                @Html.TextBoxFor(model => model.TablaDetalleGeneral.Accion, new { style = "display : none;" })
                @Html.TextBoxFor(model => model.TablaDetalleGeneral.IdeGeneral, new { style = "display : none;" })
                @Html.TextBoxFor(model => model.Valor, new { style = "display : none;", id = "valorDetalle" })
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Valor <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.TablaDetalleGeneral.Valor)
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.TablaDetalleGeneral.Valor)
                </div>
            </td> 
        </tr>
        <tr>

            <td class="colEtiqueta">
                @*@Html.HiddenFor(model => model.Evaluacion.IdeEvaluacionCargo)*@
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Descripcion <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.TablaDetalleGeneral.Descripcion)
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.TablaDetalleGeneral.Descripcion)
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Estado <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.TablaDetalleGeneral.IndActivo, new { disabled = "disabled", value =""})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.TablaDetalleGeneral.IndActivo)
                </div>
            </td> 
        </tr>
    </table>
    
    <div class="grilla-opciones">
        <div class="opciones">
            <a id="btnNuevo" class="btn btn-info" ><i class="icon-plus icon-white"></i> Nuevo</a> 
            <a id="btnGuardar" class="btn btn-info" ><i class="icon-edit icon-white"></i> Guardar</a>
            <a id="btnEliminar" class="btn btn-info" ><i class="icon-remove icon-white"></i> Act/Desc</a>
        </div>
        <div style="clear:both"></div>
        
    </div>
    <div class="tabla-datos">
            <table id="grdList1" ondblclick ="mostrarfila()">
            </table>
            <div id="grdPager1">
            </div>
    </div>
    
    
    if(Indicador.Si.Equals(Model.IndSubDetalle))
    {
        <div class="formulario-accion">
            <div class="opciones">
                <a id="btnEditarDetalle" class="btn btn-info" ><i class="icon-arrow-rigth icon-white"></i> Ver Detalle</a>
            </div>
        </div> 
    }

}    
   

<div id="updateDialogSubDetalle" title="Sub Detalle" ></div>


               
                    
             

