@model SanPablo.Reclutador.Web.Areas.Intranet.Models.RankingViewModel
@using SanPablo.Reclutador.Entity
@using System.Collections.Generic



@using System.Configuration;
@{
    ViewBag.Title = "Postulantes Seleccionados";
}
@section Head{
}


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            
            $('#btnContratar').click(function () {
                var selr = jQuery('#grdListSel').jqGrid('getGridParam', 'selrow');
                var numVacantes =$("#Solicitud_NumVacantes").val();
                var idSol = $("#Solicitud_IdeSolReqPersonal").val();
                var tipSol = $("#Solicitud_Tipsol").val();
                if (selr != null && selr > 0) {
                    contPostulante(selr, numVacantes, idSol, tipSol);
                } else {
                    MostrarMensaje('Seleccione un registro', "Sistema de Reclutamiento Y Seleccion de Personal");
                }
            });


            $('#btnFinalizar').click(function () {
                
                var idSol = $("#Solicitud_IdeSolReqPersonal").val();
                var tipSol = $("#Solicitud_Tipsol").val();
                var idSede = $("#Solicitud_IdeSede").val();
                var idCargo = $("#Solicitud_IdeCargo").val();
                var tipPuesto = $("#Solicitud_TipPuesto").val();
                var numVac = $("#Solicitud_NumVacantes").val();

                
                finalizaSol(idSol, tipSol, tipPuesto, idSede, idCargo, numVac);

            });



            $('#btnAnteriorPre').click(function () {
                var idSol = $("#Solicitud_IdeSolReqPersonal").val();
                var tipSol = $("#Solicitud_Tipsol").val();
               
                var pagina = $("#pagina").val();
                var indPagina = $("#indPagina").val();

                if (idSol != null) {

                    var url = '@Url.Action("Preseleccionado", "Ranking", new { id = "",area="Intranet" })?id=' + idSol + "&tipSol=" + tipSol + "&pagina=" + pagina + "&ind=" + indPagina;
                    window.location = url;

                }
            });


            $('#btnContactado').click(function () {

                var selr = jQuery('#grdListEvaluacion').jqGrid('getGridParam', 'selrow');
                var rowData = jQuery('#grdListEvaluacion').jqGrid('getRowData', selr);
                var indContacto = rowData.IndicadorContactado;


                if (selr != null && selr > 0) {
                    contactaPostulante(selr, indContacto);
                } else {
                    MostrarMensaje('Seleccione un registro', "Sistema de Reclutamiento Y Seleccion de Personal");
                }

            });


            $('#popupDialogObserv').dialog({
                autoOpen: false,
                width: 520,
                height: 350,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function () {
                        if ($("#frmPopuObserv").validate().form()) {
                            $('#dialogObserv').dialog('open');
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#spanDialogObserv").html("¿Desea guardar los cambios?")
            $('#dialogObserv').dialog({
                autoOpen: false,
                modal: true,
                title: "Sistema de Reclutamiento Y Seleccion de Personal",
                buttons: {
                    "Si": function () {
                        if ($("#frmPopuObserv").validate().form()) {
                            $.ajax({
                                type: "POST",
                                data: $("#frmPopuObserv").serialize(),
                                url: '@Url.Action("FinalizaSolicitudObs", "Contrata", new { area = "Intranet" })',
                                traditional: true,
                                success: function (data) {
                                    if (data.Resultado) {
                                        $('#dialogObserv').dialog("close");
                                        $('#popupDialogObserv').dialog("close");

                                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                    } else {
                                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                    }

                                }
                            });
                        }
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });



            jQuery("#grdListSel").jqGrid({
                datatype: function (postdata) {
                    var migrilla = new Object();
                    migrilla.page = postdata.page;
                    migrilla.rows = postdata.rows;
                    migrilla.sidx = postdata.sidx;
                    migrilla.sord = postdata.sord;
                    migrilla._search = postdata.isSearch;
                    migrilla.filters = postdata.filters;
                    migrilla.Rules = [

                        { field: 'idSol', data: $("#Solicitud_IdeSolReqPersonal").val() },
                        { field: 'tipSol', data: $("#Solicitud_Tipsol").val() }
                        
                    ];

                    if (migrilla._search == true) {
                        migrilla.searchField = postdata.searchField;
                        migrilla.searchOper = postdata.searchOper;
                        migrilla.searchString = postdata.searchString;
                    }

                    var params = { grid: migrilla };

                    $.ajax({
                        url: '@Url.Action("ListPostulantesSel", "Contrata", new { area = "Intranet" })',
                        type: 'post',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: false,
                        success: function (data, st) {
                            if (st == 'success') {
                                var jq = $('#grdListSel')[0];
                                jq.addJSONData(data);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
              colNames: ['', '', '', '', '', 'Apellidos', 'Nombres','Teléfono','Celular', '', 'Estado'],
              colModel: [
                      { name: 'IdeReclutaPersona', index: 'IdeReclutaPersona', align: 'left', editable: false, sortable: false, hidden: true },
                      { name: 'IdePostulante', index: 'IdePostulante', align: 'left', editable: false, sortable: false, hidden: true },
                      { name: 'IdeSol', index: 'IdeSol', align: 'center', editable: false, sortable: false, hidden: true },
                      { name: 'IdSede', index: 'IdSede', align: 'center', editable: false, sortable: false, width: 300, hidden: true },
                      { name: 'IdeCargo', index: 'IdeCargo', align: 'center', editable: false, sortable: false, width: 300, hidden: true },
                      { name: 'Apellidos', index: 'Apellidos', align: 'center', editable: false, sortable: false, width: 300 },
                      { name: 'Nombres', index: 'Nombres', align: 'center', editable: false, sortable: false, width: 300 },
                      { name: 'FonoFijo', index: 'FonoFijo', align: 'center', editable: false, sortable: false, width: 150 },
                      { name: 'FonoMovil', index: 'FonoMovil', align: 'center', editable: false, sortable: false, width: 150 },
                      { name: 'EstPostulante', index: 'EstPostulante', align: 'center', editable: false, sortable: false, hidden: true },
                      { name: 'DesEstadoPostulante', index: 'DesEstadoPostulante', align: 'center', editable: false, sortable: false, width: 200 }
                      
              ],

              pager: jQuery('#grdPagerListSel'),
              rowNum: 10,
              rowList: [10, 30, 50],
              autowidth: true,
              rules: true,
              sortname: 'IdeReclutaPersona',
              sortorder: 'desc',
              viewrecords: true,
              height: 350,
              cellsubmit: 'clientArray',
              hidegrid: false,
              rownumbers: true,
              shrinkToFit: false,
             
              postData: {
              }, loadComplete: function (data) {
              }
          });

        });

       
        function contPostulante(selr, numVacantes, idSol, tipSol) {

            $.ajax({
                data: {
                    id: selr,
                    numVac: numVacantes,
                    idSol : idSol,
                    tipSol: tipSol

                },
                type: "POST",
                url: '@Url.Action("ContrataPost", "Contrata")',
                traditional: true,
                success: function (data) {
                if (data.redirecciona) {
                    SanPablo.Redirecciona('@Url.Action("Login", "Seguridad")');
                }
                    if (data.Resultado) {
                        $('#grdListSel').trigger('reloadGrid');
                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                    } else {
                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                    }
                }
            });

        }
       
        function finalizaSol(idSol, tipSol, tipPuesto, idSede, idCargo, numVac) {

            $.ajax({
                data: {
                    idSol: idSol,
                    tipSol: tipSol,
                    tipPuesto: tipPuesto,
                    idSede: idSede,
                    idCargo: idCargo,
                    numVac: numVac
                },
                type: "POST",
                url: '@Url.Action("FinalizaSol", "Contrata")',
                traditional: true,
                success: function (data) {
                if (data.redirecciona) {
                    sanpablo.redirecciona('@Url.Action("login", "seguridad")');
                }
                    if (data.Resultado) {
                        $('#grdListSel').trigger('reloadGrid');
                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                    } else {
                        var dialogDiv = $('#popupDialogObserv');

                        $.get('@Url.Action("popupObserv", "Contrata", new { area = "Intranet" })?id=' + idSol + "&tipSol=" + tipSol + "&tipPuesto=" + tipPuesto + "&idSede=" + idSede + "&idCargo=" + idCargo, function (data) {

                            dialogDiv.html(data);
                            $.validator.unobtrusive.parse($("#popupDialogObserv"));
                            dialogDiv.dialog('open');
                        });
                        return false;

                    }
                }
            });

        }
       
       

  </script>
}

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Postulantes Seleccionados</h5>
            </div>
@using (Html.BeginForm("Index", "Contrata", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmContratar", @class = "formulario-busqueda" }))
{
    @Html.ValidationSummary(true)

    
     @Html.TextBoxFor(model => model.Solicitud.IdeSolReqPersonal, new { style = "display: none;" }) 
     @Html.TextBoxFor(model => model.Solicitud.Tipsol, new { style = "display: none;" }) 
     @Html.TextBoxFor(model => model.Solicitud.IdeSede, new { style = "display: none;" }) 
     @Html.TextBoxFor(model => model.Solicitud.IdeCargo, new { style = "display: none;" })  
     @Html.TextBoxFor(model => model.Solicitud.TipPuesto, new { style = "display: none;" })

     @Html.TextBoxFor(model => model.pagina, new { style = "display: none;" }) 
     @Html.TextBoxFor(model => model.indPagina, new { style = "display: none;" }) 
    
    
           <table class="formulario-busqueda">
                <tr class="formulario-fila">
                   
                     <td class="span5">
			
			            <label class="control-label" for="inputSuccess">Solicitud</label>
			            <div class="controles">
				            
                            @Html.TextBoxFor(model => model.Solicitud.CodSolReqPersonal, new { @class = "textoFormulario", disabled = "disabled" }) 

			            </div>
		   
		            </td>
                     <td class="span5">
		   
			            <label class="control-label" for="selectError">Cargo</label>
			            <div class="controles">
				            
                            @Html.TextBoxFor(model => model.Solicitud.nombreCargo, new { @class = "textoFormulario", disabled = "disabled" }) 
                        </div>
		   
		            </td>
                    
                </tr>
                <tr class="formulario-fila">
                   <td class="span5">
		   
			            <label class="control-label" for="selectError">Dependencia</label>
			            <div class="controles">
				            
                            @Html.TextBoxFor(model => model.Solicitud.Dependencia_des, new { @class = "textoFormulario", disabled = "disabled" }) 

			            </div>
			
		            </td>
                     <td class="span5">
		   
			            <label class="control-label" for="inputSuccess">Departamento</label>
			            <div class="controles">
				           
                            @Html.TextBoxFor(model => model.Solicitud.Departamento_des, new { @class = "textoFormulario", disabled = "disabled" }) 
			            </div>
		   
		            </td>
		           
                </tr>
                <tr class="formulario-fila">
                     <td class="span5">
		   
			            <label class="control-label" for="selectError">Area</label>
			            <div class="controles">
				           
                            @Html.TextBoxFor(model => model.Solicitud.Area_des, new { @class = "textoFormulario", disabled = "disabled" }) 
			            </div>
			
		            </td>
                   <td class="span5">
		  
			            <label class="control-label" for="inputSuccess">Sede</label>
			            <div class="controles">
				           
                           @Html.TextBoxFor(model => model.Solicitud.Sede_des, new { @class = "textoFormulario", disabled = "disabled" }) 

			            </div>
			
		            </td>
                </tr>

              
               <tr class="formulario-fila">
                     <td class="span5">
		   
			            <label class="control-label" for="selectError">Vacantes</label>
			            <div class="controles">
				           
                            @Html.TextBoxFor(model => model.Solicitud.NumVacantes, new { @class = "textoFormulario", disabled = "disabled" }) 
			            </div>
			
		            </td>
                </tr>
                </table>
}


               <div style="clear:both"></div>
                <div class="tabla-datos">
                            <table id="grdListSel">
                            </table>
                            <div id="grdPagerListSel">
                            </div>
                </div>
            
            <div class="form-actions">
                
                <a class="btn" id="btnAnteriorPre"><i class="icon-arrow-left icon-cog"></i> Anterior</a> 
                
                @if (Visualicion.SI.Equals(Model.btnContratarPost))
                {
                  <a class="btn btn-info" id="btnContratar"><i class="icon-edit icon-white"></i> Contratar</a>    
                }
                
                @if (Visualicion.SI.Equals(Model.btnFinalizarSol))
                {
                  <a class="btn btn-info" id="btnFinalizar"><i class="icon-edit icon-white"></i> Finalizar</a>    
                }                
                
            </div>
        </div>
    </div>
</div>
<div id="popupDialogObserv" title="Motivo de cierre de solicitud"></div>
<div id="dialogObserv"><span id="spanDialogObserv"></span></div>
