@model SanPablo.Reclutador.Web.Areas.Intranet.Models.RankingViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

    });

</script>


@using (Html.BeginForm("Index", "Contrata", FormMethod.Post, new { id = "frmPopuObserv" }))
    {
  
         @Html.ValidationSummary(true)
         @Html.TextBoxFor(model => model.ReclutaPersonal.IdeSol, new { style = "display: none;" }) 
         @Html.TextBoxFor(model => model.ReclutaPersonal.IdeCargo, new { style = "display: none;" }) 
         @Html.TextBoxFor(model => model.ReclutaPersonal.TipSol, new { style = "display: none;" }) 
         @Html.TextBoxFor(model => model.ReclutaPersonal.TipPuesto, new { style = "display: none;" }) 
         @Html.TextBoxFor(model => model.ReclutaPersonal.IdSede, new { style = "display: none;" }) 
        
        <table style="margin-left:30px;">
        <tr >
            <td class="colEtiqueta" >
                <label class="etiquetaFormulario" >Motivo<span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
               
                @Html.TextAreaFor(model=>model.ReclutaPersonal.MotivoCierre, new { @style = "width:300px;height:100px;resize:none;" ,maxlength="254", onblur="aMays(event, this)" })
                <div class="tex-error" style="font-size:11px;color:gray">Máx. 255 caracteres</div>
                <div class="tex-error" style="font-size:12px;color:red">    
                @Html.ValidationMessageFor(model => model.ReclutaPersonal.MotivoCierre )
                </div>
            </td>
        </tr>
    </table>
}

