@model SanPablo.Reclutador.Web.Areas.Intranet.Models.EvaluacionCargoViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //ACTUALIZAR EL TIPO DE EXAMEN

        SanPablo.Numeros('Evaluacion_NotaMinimaExamen');

        $('select#Evaluacion_IdeExamen').change(function () {
            var ideExamen = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getTipoExamen","EvaluacionCargo")',
                data: { ideExamen: ideExamen },
                success: function (respuesta) {
                    if(respuesta.Resultado)
                    {
                        $('#descExamen').val(respuesta.Mensaje);
                        $('#Evaluacion_TipoExamen').val(respuesta.Accion);
                    }
                },
                error: function (e) {
                    alert(e);
                }
            });
        })
        
    });

    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });
</script>



@using (Html.BeginForm("Edit", "EvaluacionCargo", FormMethod.Post, new { @id = "evaluacionCargoForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:5px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Evaluacion.IdeEvaluacionCargo)
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Evaluación <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Evaluacion.IdeExamen, new SelectList(Model.Examenes, "IdeExamen", "DescExamen", Model.Evaluacion.IdeEvaluacionCargo))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Evaluacion.IdeExamen)
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Tipo <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.HiddenFor(model => model.Evaluacion.TipoExamen)
                 @Html.TextBoxFor(model => model.descExamen, new {@disabled="disabled" })
                 <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Evaluacion.TipoExamen)
                 </div>
            </td>
        </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:150px" class="etiquetaFormulario" for="setipoInstitucion">Nota Mínima <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.Evaluacion.NotaMinimaExamen, new { @class = "input-xxmini", maxlength = "2" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                 @Html.ValidationMessageFor(model => model.Evaluacion.NotaMinimaExamen)
                </div>
           </td>
       </tr> 
    </table>
}