@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.MantenimientoCargoViewModel
@{
    ViewBag.Title = "Mantenimiento Cargo";
    Layout = "~/Views/Shared/LayoutMantenimientoCargo.cshtml";
}
@section ScriptsCargo{  
    <script type="text/javascript">
        $(document).ready(function () {
            calcularTotales();
            calcularTotalMaximo();
        });

        function calcularTotalMaximo() {
            $.ajax({
                data: { },
                type: "POST",
                url: "@Url.Action("calcularPuntajeTotal", "MantenimientoCargo")",
                traditional: true,
                success: function (data) {
                    if (data.Resultado == true) {
                        $("#TotalMaximo").val(data.IdDato);
                    } else { MostrarMensaje(data.Mensaje); $("#TotalMaximo").val("0"); }
                }
            });
        }

        function calcularTotales()
        {
            if (parseInt($("#Cargo_PuntajeMinimoPostulanteInterno").val()) > parseInt($("#Cargo_PuntajeTotalPostulanteInterno").val())) {
                mostrarMensaje()
                $("#Cargo_PuntajeMinimoPostulanteInterno").val('0');
            }
            else {
                var total = parseInt($("#Cargo_PuntajeMinimoPostulanteInterno").val()) + parseInt($("#Cargo_PuntajeMinimoEdad").val()) +
                            parseInt($("#Cargo_PuntajeMinimoSexo").val()) + parseInt($("#Cargo_PuntajeMinimoSalario").val()) + parseInt($("#Cargo_PuntajeMinimoNivelEstudio").val()) +
                            parseInt($("#Cargo_PuntajeMinimoCentroEstudio").val()) + parseInt($("#Cargo_PuntajeMinimoExperiencia").val()) + parseInt($("#Cargo_PuntajeMinimoOfimatica").val()) +
                            parseInt($("#Cargo_PuntajeMinimoIdioma").val()) + parseInt($("#Cargo_PuntajeMinimoConocimientoGeneral").val()) + parseInt($("#Cargo_PuntajeMinimoDiscapacidad").val()) +
                            parseInt($("#Cargo_PuntajeMinimoHorario").val()) + parseInt($("#Cargo_PuntajeMinimoUbigeo").val()) + parseInt($("#Cargo_PuntajeMinimoExamen").val());

                $("#TotalMinimo").val(total);
            }
        }
        function mostrarMensaje()
        {
            $("#spanMensaje").html("El puntaje Mínimo no puede ser mayor al puntaje Máximo");
            $("#divMensaje").dialog({
                title: 'SAN PABLO',
                modal: true,
                buttons: {
                    "Ok": function () { $(this).dialog("close"); }
                }
            });
        }
    </script>

    }
@using (Html.BeginForm("ConfiguracionPerfil", "Perfil", FormMethod.Post, new { @id = "configuracionPerfilForm" }))
{

<!--CONFIGURACION PERFIL -->
    @Html.ValidationSummary(true)
    <div class="tab-pane" id="H">
        <form>
            <div class="grilla-opciones" style="margin-top:0px;">
                <h6>Parámetros</h6>
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="margin-left:20px;">
                <table style="width: 900px;" border="0">
                    <tr>
                        <td style="width: 50%; vertical-align: top">
                                <h6>Parámetros Pre-Selección</h6>
                                <table border="0">
                                    <tr>
                                        <td style="width: 80px;"></td>
                                        <td></td>
                                        <td>Ptje.
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td>Ptje.Min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label" style="width: 130px;">
                                            <label>Postulante Interno</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalPostulanteInterno, new {@Class ="input-xxmini text-right", @disabled = "disabled"})</td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoPostulanteInterno, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                     @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoPostulanteInterno)
                                                </div>
                                            }
                                            else
                                            {
                                                 @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoPostulanteInterno, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled= "disabled"})
                                            }

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Edad</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeEdad, new {@Class ="input-xxmini text-right", @disabled = "disabled"})</td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoEdad, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoEdad)
                                                </div>
                                             }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoEdad, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                            </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Sexo</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeSexo, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoSexo, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                     @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoSexo)
                                                </div>                                       
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoSexo, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                         </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Rango Salarial</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeSalario, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                         <td></td>
                                        <td>
                                             @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoSalario, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                   @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoSalario)
                                                </div> 
                                             }
                                            else
                                            {
                                                 @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoSalario, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                             }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Nivel de Estudios</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalNivelEstudio, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoNivelEstudio, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoNivelEstudio)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoNivelEstudio, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Centro de Estudios</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalCentroEstudio, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoCentroEstudio, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoNivelEstudio)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoCentroEstudio, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                        </td>
                                                
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Experiencia Laboral</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalExperiencia, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoExperiencia, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoCentroEstudio)
                                                </div>                       
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoExperiencia, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }    
                                        </td>
                                                
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Ofimatica</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalOfimatica, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoOfimatica, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoOfimatica)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoOfimatica, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Idiomas</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalIdioma, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>

                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoIdioma, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoIdioma)
                                                </div>    
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoIdioma, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled= "disabled"})
                                            }                                
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Generales</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalConocimientoGeneral, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoConocimientoGeneral, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoConocimientoGeneral)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoConocimientoGeneral, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Discapacidades</label></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalDiscapacidad, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoDiscapacidad, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                 @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoDiscapacidad)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoDiscapacidad, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Horario</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalHorario, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                         </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoHorario, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoHorario)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.Cargo.PuntajeMinimoHorario, new { @Class = "input-xxmini text-right", onblur = "calcularTotales();", disabled = "disabled" })
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Ubigeo</td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalUbigeo, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>

                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoUbigeo, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoUbigeo)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoUbigeo, new {@Class ="input-xxmini text-right",onblur = "calcularTotales();", disabled = "disabled"})
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label"><b>Totales</b></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.TotalMaximo, new {@class="input-xxmini text-right",disabled="disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.TotalMinimo, new {@class="input-xxmini text-right",disabled="disabled"})

                                    </tr>
                                </table>

                        </td>
                        <td style="width: 50%; vertical-align: top">
                            <h6>Parámetros Selección</h6>
                                <table border="0">
                                        <tr>
                                        <td></td>
                                        <td>Ptje.
                                            </td>
                                            <td style="width:10px;"></td>
                                        <td>Ptje.Min
                                            </td>

                                    </tr>
                                    <tr>
                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                        <td>
                                             @Html.TextBoxFor(model=>model.Cargo.PuntajeTotalExamen, new {@Class ="input-xxmini text-right", @disabled = "disabled"})
                                        </td>
                                        <td></td>
                                        <td>
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoExamen, new {@Class ="input-xxmini text-right"})
                                                <div class="tex-error" style="font-size:12px;color:red"> 
                                                    @Html.ValidationMessageFor(model => model.Cargo.PuntajeMinimoExamen)
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model=>model.Cargo.PuntajeMinimoExamen, new {@Class ="input-xxmini text-right", disabled = "disabled"})
                                            }
                                            </td>
                                    </tr>                                                       
                                        <tr>
                                        <td colspan="4" style="height:20px;"></td>
                                    </tr>
                                </table>
                            <label>Vacantes por Estado</label>
                                <table border="0">
                                    <tr>
                                        <td class="td-label" style="width:130px;">
                                            Postulantes Pre-Selec.
                                        </td>
                                        <td> 
                                            @if (Accion.Editar == Model.Accion)
                                            {
                                                 @Html.TextBoxFor(model=>model.Cargo.CantidadPreseleccionados, new {@Class ="input-xxmini text-right"}) @*<input type="text" class="input-xxmini text-right" value="9">*@
                                            }
                                            else
                                            {
                                                     @Html.TextBoxFor(model=>model.Cargo.CantidadPreseleccionados, new {@Class ="input-xxmini text-right", disabled= "disabled"})
                                            }
                                        </td>
                                    </tr>
                                        <tr>
                                        <td colspan="2" style="height:40px;">                                                            
                                        </td>                                                            
                                    </tr>
                                </table>
                                </td>
                    </tr>                                                             
                                                                                                                 
                                                                              
                    </table>
            </div>
        </form>
        <div class="formulario-accion">
            <div class="opciones">
                 <button id="btnGrabar" type="submit" class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</button>
                 <a class="btn" href="@Url.Action("Evaluacion", "MantenimientoCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            </div>
        </div>
    </div>

    <!--CONFIGURACION PERFIL-->
}