@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.MantenimientoCargoViewModel
@{
       ViewBag.Title = "Mantenimiento Cargo";
}

@using (Html.BeginForm("DatosGenerales", "MantenimientoCargo", FormMethod.Post, new { @id = "datosGeneralesForm" }))
{
<!--PUESTO -->
     @Html.ValidationSummary(true)
    <form class="formulario-busqueda">
        <table >
            <tr class="formulario-fila">
               <td class="colEtiqueta" style="width:130px;text-align:right">
                            <label class="control-label" for="inputSuccess">Código de Cargo</label>
                        </td>
                        <td class ="colImput">
                            @Html.TextBoxFor(model=>model.Cargo.CodigoCargo,  new { @disabled = "disabled"})
               </td>
               
                <td class="colEtiqueta" style="width:130px;text-align:right">
                    <label class="control-label" for="selectError">Dependencia<span class="text-error">*</span></label>
                </td>
                <td class="controls">
                 @if (Accion.Editar == Model.Accion)
                 {
                    @Html.DropDownListFor(model => model.Cargo.IdeDependencia, new SelectList(Model.Dependencias, "IdeDependencia", "NombreDependencia", Model.Cargo.IdeDependencia))
                    <div class="tex-error" style="font-size:12px;color:red"> 
                        @Html.ValidationMessageFor(model => model.Cargo.IdeDependencia)
                    </div>
                 }
                 else
                 {
                     @Html.DropDownListFor(model => model.Cargo.IdeDependencia, new SelectList(Model.Dependencias, "IdeDependencia", "NombreDependencia", Model.Cargo.IdeDependencia), new { disabled = "disabled"})
                 }   
                </td>
             
            </tr>
            <tr>
                    <td class="colEtiqueta" style="width:150px;text-align:right">
                    <label class="control-label" for="inputSuccess">Nombre<span class="text-error">*</span></label>
                </td>
                <td class="controls">
                    @if (Accion.Editar == Model.Accion)
                    {
                        @Html.TextBoxFor(model => model.Cargo.NombreCargo, new {  maxlength = "50", onblur = "aMays(event, this)"})
                        <div class="tex-error" style="font-size:12px;color:red"> 
                             @Html.ValidationMessageFor(model => model.Cargo.NombreCargo)
                        </div>
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Cargo.NombreCargo, new { disabled = "disabled"})
                    }
                </td> 
                
                <td class="colEtiqueta" style="width:130px;text-align:right">
                    <label class="control-label" for="selectError">Departamento<span class="text-error">*</span></label>
                </td>
                <td class="controls">
                    @if (Accion.Editar == Model.Accion)
                    {
                        @Html.DropDownListFor(model => model.Cargo.IdeDepartamento, new SelectList(Model.Departamentos, "IdeDepartamento", "NombreDepartamento", Model.Cargo.IdeDepartamento))
                        <div class="tex-error" style="font-size:12px;color:red"> 
                             @Html.ValidationMessageFor(model => model.Cargo.IdeDepartamento)
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Cargo.IdeDepartamento, new SelectList(Model.Departamentos, "IdeDepartamento", "NombreDepartamento", Model.Cargo.IdeDepartamento), new { disabled = "disabled"})
                    }
                </td>
               
            </tr>
            <tr class="formulario-fila">
               

                 <td class="colEtiqueta" style="width:130px;text-align:right">
                    <label class="control-label" for="inputSuccess">Descripcion <span class="text-error">*</span></label>
                </td>
                <td class ="colImput">
                    @if (Accion.Editar == Model.Accion)
                    {
                        @Html.TextBoxFor(model => model.Cargo.DescripcionCargo, new {  maxlength = "100", onblur = "aMays(event, this)"})
                        <div class="tex-error" style="font-size:12px;color:red"> 
                             @Html.ValidationMessageFor(model => model.Cargo.DescripcionCargo)
                        </div>
                    }
                    else
                    {
                       @Html.TextBoxFor(model => model.Cargo.DescripcionCargo, new { disabled = "disabled"})
                    }
                </td>
                <td class="colEtiqueta" style="width:130px;text-align:right">
                    <label class="control-label" for="selectError">Área<span class="text-error">*</span></label>
                </td>
                <td class="controles">
                    @if (Accion.Editar == Model.Accion)
                    {
                        @Html.DropDownListFor(model => model.Cargo.IdeArea, new SelectList(Model.Areas, "IdeArea", "NombreArea", Model.Cargo.IdeArea))
                        <div class="tex-error" style="font-size:12px;color:red"> 
                            @Html.ValidationMessageFor(model => model.Cargo.IdeArea)
                        </div>
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Cargo.IdeArea, new SelectList(Model.Areas, "IdeArea", "NombreArea", Model.Cargo.IdeArea), new { disabled = "disabled"})
                    }
                </td>
              
            </tr>
        </table>
        <div class="formulario-accion">   
            <div class="opciones">
                @if (Accion.Editar == Model.Accion)
                {
                    <a id="btnGrabarDatosGenerales" class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>   
                }
                
            </div>    
       </div>  
   </form>
}
<!--PUESTO FIN -->



@section ScriptsCargo{ 
      <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {

        SanPablo.LetrasSpace('Cargo_NombreCargo');
        SanPablo.LetrasSpace('Cargo_DescripcionCargo');

        //PERFIL PUESTO
        $('#btnGrabarDatosGenerales').click(function () {
            mostrarconfirmacion();
        });

        $('#updateDialog').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function (e) {
                    e.preventDefault();
                    var result = $('#ofrecemosForm').valid();
                    if (result) {
                        $.post('@Url.Action("DatosGenerales", "MantenimientoCargo")',
                                $("#datosGeneralesForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.Resultado) {
                                        $("#updateDialog").dialog("close");
                                       // $('#grdListOfrecemos').trigger('reloadGrid');
                                    }
                                    else {
                                        notificacionError(respuesta.Mensaje)

                                    }
                                }
                            );
                    }
                    else {
                        notificacionError("ERROR: --");

                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

       

    });

      function mostrarconfirmacion() {
          var dialogDiv = $('#updateDialog');
              dialogDiv.dialog('open');
          //return false;
      }

  </script>

}

