@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.MantenimientoCargoViewModel
@{
    ViewBag.Title = "Mantenimiento Cargo";
    Layout = "~/Views/Shared/LayoutMantenimientoCargo.cshtml";
}
@section ScriptsCargo{  
<script type="text/javascript">
     $(document).ready(function () {
        $('#btnAgregarNivelAcademico').click(function () {
            mostrarAgregarNivelAcademico();
        });

        $('#updateDialogNivelAcademico').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function (e) {
                    e.preventDefault();
                    var result = $('#nivelAcademicoForm').valid();
                    if (result) {
                        $.post('@Url.Action("Edit", "NivelAcademicoCargo")',
                            $("#nivelAcademicoForm").serialize(),
                            function (respuesta) {
                                if (respuesta.Resultado) {
                                    $("#updateDialogNivelAcademico").dialog("close");
                                    $('#grdListNivelAcademico').trigger('reloadGrid');
                                }
                                else {
                                    notificacionError(respuesta.Mensaje);
                                }
                            }
                        );
                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados son correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#btnAgregarCentroEstudio').click(function () {
            mostrarAgregarCentroEstudio();
        });


        $('#updateDialogCentroEstudio').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function (e) {
                    e.preventDefault();
                    var result = $('#centroEstudioForm').valid();
                    if (result) {
                        $.post('@Url.Action("Edit", "CentroEstudioCargo")',
                                $("#centroEstudioForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.Resultado) {
                                        $("#updateDialogCentroEstudio").dialog("close");
                                        $('#grdListCentroEstudio').trigger('reloadGrid');
                                    }
                                    else {
                                        notificacionError(respuesta.Mensaje);
                                    }
                                }
                            );
                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados son correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

         $('#btnEliminarNivelAcademico').click(function () {
             var ideNivelAcademico = jQuery('#grdListNivelAcademico').jqGrid('getGridParam', 'selrow');
             if (ideNivelAcademico != null) {
                 $("#spanMensaje5").html('¿Está seguro que desea eliminar el registro?.');
                 $("#divMensaje5").dialog({
                     title: 'SAN PABLO',
                     modal: true,
                     buttons: {
                         "Eliminar": function () { eliminarNivelAcademico(ideNivelAcademico); $(this).dialog("close"); $('#grdListNivelAcademico').trigger('reloadGrid'); },
                         "Cancel": function () { $(this).dialog("close"); }
                     }
                 });

                 return false;
             }
             else {
                 $("#spanMensaje5").html('Seleccionar un item a eliminar');
                 $("#divMensaje5").dialog({
                     title: 'SAN PABLO',
                     modal: true,
                     buttons: {
                         "Ok": function () { $(this).dialog("close"); }
                     }
                 });
             }
         });

         $('#btnEliminarCentroEstudio').click(function () {
             var ideCentroEstudio = jQuery('#grdListCentroEstudio').jqGrid('getGridParam', 'selrow');
             if (ideCentroEstudio != null) {
                 $("#spanMensaje6").html('¿Está seguro que desea eliminar el registro?.');
                 $("#divMensaje6").dialog({
                     title: 'SAN PABLO',
                     modal: true,
                     buttons: {
                         "Eliminar": function () { eliminarCentroEstudio(ideCentroEstudio); $(this).dialog("close"); $('#grdListCentroEstudio').trigger('reloadGrid'); },
                         "Cancel": function () { $(this).dialog("close"); }
                     }
                 });

                 return false;
             }
             else {
                 $("#spanMensaje6").html('Seleccionar un item a eliminar');
                 $("#divMensaje6").dialog({
                     title: 'SAN PABLO',
                     modal: true,
                     buttons: {
                         "Ok": function () { $(this).dialog("close"); }
                     }
                 });
             }
         });

         $('#btnEditarNivelAcademico').click(function () {
             var ideNivelAcademico = jQuery('#grdListNivelAcademico').jqGrid('getGridParam', 'selrow');
             if (ideNivelAcademico != null) {
                 mostrarEditarNivelAcademico(ideNivelAcademico);
             }
             else {
                 $("#spanMensaje5").html('Seleccionar un item a editar');
                 $("#divMensaje5").dialog({
                     title: 'SAN PABLO',
                     modal: true,
                     buttons: {
                         "Ok": function () { $(this).dialog("close"); }
                     }
                 });
             }
         });

         $('#btnEditarCentroEstudio').click(function () {
             var ideCentroEstudio = jQuery('#grdListCentroEstudio').jqGrid('getGridParam', 'selrow');
             if (ideCentroEstudio != null) {
                 mostrarEditarCentroEstudio(ideCentroEstudio);
             }
             else {
                 $("#spanMensaje6").html('Seleccionar un item a editar');
                 $("#divMensaje6").dialog({
                     title: 'SAN PABLO',
                     modal: true,
                     buttons: {
                         "Ok": function () { $(this).dialog("close"); }
                     }
                 });
             }
         });

     });

    $(function () {
        $("#txtfechainicio").datepicker();
        $("#txtfechafin").datepicker();


        jQuery("#grdListNivelAcademico").jqGrid({
            url: '@Url.Action("ListaNivelAcademico", "NivelAcademicoCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Tipo de Educación', 'Área de Estudios', 'Nivel Alcanzado','Ciclo/Semestre', 'Puntaje'],
            colModel: [
                    { name: 'TipoEducacion', index: 'TipoEducacion', align: 'left', editable: false, sortable: false },
                    { name: 'AreaEstudio', index: 'AreaEstudio', align: 'left', editable: false, sortable: false },
                    { name: 'NivelAlcanzado', index: 'NivelAlcanzado', align: 'left', editable: false, sortable: false },
                    { name: 'CicloSemestre', index: 'CicloSemestre', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            pager: jQuery('#grdPagerNivelAcademico'),
            sortname: 'IdeNivelAcademicoCargo',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListCentroEstudio").jqGrid({
            url: '@Url.Action("ListaCentroEstudio", "CentroEstudioCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Tipo de Institución', 'Institución', 'Puntaje'],
            colModel: [
                    { name: 'Tipo', Tipo: 'Codigo', align: 'center', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            pager: jQuery('#grdPagerCentroEstudio'),
            sortname: 'IdeCentroEstudioCargo',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });
    });

    function mostrarAgregarNivelAcademico() {
        var dialogDiv = $('#updateDialogNivelAcademico');
        $.get('@Url.Action("Edit", "NivelAcademicoCargo", new { id = "0"})', function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogNivelAcademico"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function mostrarAgregarCentroEstudio() {
        var dialogDiv = $('#updateDialogCentroEstudio');
        $.get('@Url.Action("Edit", "CentroEstudioCargo", new { id = "0"})', function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogCentroEstudio"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function mostrarEditarNivelAcademico(ideNivelAcademico) {
        var dialogDiv = $('#updateDialogNivelAcademico');
        $.get('@Url.Action("Edit", "NivelAcademicoCargo")', { id: ideNivelAcademico }, function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogNivelAcademico"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function mostrarEditarCentroEstudio(ideCentroEstudios) {
        var dialogDiv = $('#updateDialogCentroEstudio');
        $.get('@Url.Action("Edit", "CentroEstudioCargo")', { id: ideCentroEstudios }, function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogCentroEstudio"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function eliminarNivelAcademico(id) {
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("eliminarNivelAcademico","NivelAcademicoCargo")',
            data: { ideNivelAcademico: id },
        });
    }

    function eliminarCentroEstudio(id) {
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("eliminarCentroEstudio","CentroEstudioCargo")',
            data: { ideCentroEstudio: id },
        });
    }
</script>
}

@using (Html.BeginForm("Estudio", "Perfil", FormMethod.Post, new { @id = "estudioCargoForm" }))
{

<!--ESTUDIOS -->
  
    <div class="tab-pane" id="C">
        <div class="grilla-opciones">
            <h6>Nivel Académico</h6>
            <div class="opciones">
                @if (Accion.Editar == Model.Accion)
                {
                <a id="btnAgregarNivelAcademico" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                <a id="btnEditarNivelAcademico" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                <a id="btnEliminarNivelAcademico" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                }
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="tabla-datos">
            <table id="grdListNivelAcademico">
            </table>
            <div id="grdPagerNivelAcademico">
            </div>
        </div>
                        
        <div class="grilla-opciones">
            <h6>Centro Estudios</h6>
            <div class="opciones">
                @if (Accion.Editar == Model.Accion)
                {
                <a id="btnAgregarCentroEstudio" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                <a id="btnEditarCentroEstudio" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                <a id="btnEliminarCentroEstudio" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                }
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="tabla-datos">
            <table id="grdListCentroEstudio">
            </table>
            <div id="grdPagerCentroEstudio">
            </div>
        </div>
                                            
        <div class="formulario-accion">       
            <div class="opciones">
            <a class="btn" href="#" onclick="irATab('B');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            <a class="btn btn-info"  href="@Url.Action("Experiencia", "MantenimientoCargo")" ><i class="icon-arrow-right icon-white"></i> Siguiente</a>

            </div>
                                    
        </div>                    
    </div>
    <!--ESTUDIOS FIN-->
}

<div id="updateDialogNivelAcademico" title="Nivel Académico"></div>
    <div id="divMensaje5">
        <span id="spanMensaje5"></span>
    </div>

<div id="updateDialogCentroEstudio" title="Centro de Estudio"></div>
    <div id="divMensaje6">
        <span id="spanMensaje6"></span>
    </div>