@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CompetenciaCargoViewModel
@{
    Layout = "";
}
<script type="text/javascript">
    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });
</script>

@using (Html.BeginForm("Edit", "CompetenciaCargo", FormMethod.Post, new { @id = "competenciasForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> 
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Competencia.IdeCompetenciaCargo)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Competencias <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Competencia.TipoCompetencia, new SelectList(Model.Competencias, "Valor", "Descripcion", Model.Competencia.TipoCompetencia))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Competencia.TipoCompetencia)
                </div>
            </td>
        </tr>  
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Competencia.Puntaje, new {@class="input-xxmini" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Competencia.Puntaje)
                </div>
            </td>
        </tr> 
    </table>
}
