@model SanPablo.Reclutador.Web.Models.SeguridadViewModel
@using SanPablo.Reclutador.Entity

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión &middot; Sistema de Reclutamiento</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom-theme/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="@Url.Content("~/Content/custom-theme/jquery.ui.1.10.0.ie.css")" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid.overrides.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
      body {
        padding-top: 100px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    .alert-info {
        background-color: #772953;
        border-color:#772953;
        color:#fff;
        text-align:center;
        font-weight:bold;
    }

    </style>

</head>
<body>


    <div class="container">

@using (Html.BeginForm("Lista", "Postulante", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data", id = "frmLoginExtranet" }))
{
    @Html.ValidationSummary(true)

    
        
        <div style="text-align:center;clear:both">
            <img src="@Url.Content("~/Content/images/sanpablo_logo2.GIF")" alt="Ingresar" title="Ingresar">
        </div>
        <br />
        <div class="alert alert-info" style="font-size:15px;display:none">
            Sistema de Reclutamiento y Seleccion de Personal
        </div>
        <label style="font-weight:bold;font-size:13px;">Usuario</label>
        @Html.TextBoxFor(model => model.UsuarioExtranet.Usuario, new { @class = "input-block-level" ,placeholder="Usuario"}) 
        <div class="tex-error" style="font-size:12px;color:red">         
          @Html.ValidationMessageFor(model => model.UsuarioExtranet.Usuario)
        </div>
        <label style="font-weight:bold;font-size:13px;">Contraseña</label>
       
        @Html.TextBoxFor(model => model.UsuarioExtranet.Password, new { @class = "input-block-level" , type="password",placeholder="Contraseña" }) 
        <div class="tex-error" style="font-size:12px;color:red">         
          @Html.ValidationMessageFor(model => model.UsuarioExtranet.Password)
        </div>
        <br />
        <br />
        <div style="text-align:center">
            @*<a href="@Url.Action("General","Postulante")" class="btn btn-info">Iniciar Sesión</a>*@
              <a id="btnIniciaSesion" class="btn btn-info">Iniciar Sesión</a>
        </div>
        <br />
        <br />
        <a id="lnkRestablecePass"  style="font-weight:bold;font-size:12px;color:#99356b">¿No puedes acceder a tu cuenta?</a>
        <br />
        <span style="font-weight:normal;font-size:11px;color:#000">¿No dispones de una cuenta?  </span><a id="lnkRegistrarUsuario"  style="font-weight:bold;font-size:12px;color:#99356b">Registrate Ahora</a>
    @*
         <li><a onclick ="ResetPass();">Cambiar Contrase&ntilde;a</a></li>
    </form>*@
}
    </div> <!-- /container -->
    <div id="PopupDialogLogeoExtranet" title="Registro de Nuevo Usuario"></div>
    <div id="PopupDialogRestablePass" title="Restablecer Contraseña"></div>
    
    <div id="LogeoExtranet"><span id="spanLogeoExtranet"></span></div>
    <div id="DialogRestablePass"><span id="spanDialogRestablePass"></span></div>
    
    <div id="divMensajeExtranet">
        <span id="spnMensajeExtranet"></span>
    </div>
    
    
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

           
            //if ($.browser.msie) {
            //    alert($.browser.version);
            //}

            $("#lnkRegistrarUsuario").click(function (e) {
                e.preventDefault();
                
                RegistroUsuario();
            });

            $("#lnkRestablecePass").click(function (e) {
                e.preventDefault();

                RestablecePass();
            });

            


            $('#dialog').dialog({
                autoOpen: false,
                width: 486,
                height: 300,
                resizable: false,
                title: 'Registrar Usuario',
                modal: true,
                open: function (event, ui) {
                }
            });


            $('#PopupDialogLogeoExtranet').dialog({
                autoOpen: false,
                width: 430,
                height: 290,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function () {
                        if ($("#frmLogeoExPopup").validate().form()) {
                            $('#LogeoExtranet').dialog('open');
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#PopupDialogRestablePass').dialog({
                autoOpen: false,
                width: 500,
                height: 200,
                resizable: false,
                modal: true,
                buttons: {
                    "Restablecer": function () {
                        if ($("#frmPopupRestablecePass").validate().form()) {
                            $('#DialogRestablePass').dialog('open');
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            
            $("#spanDialogRestablePass").html("¿Desea restablecer la contraseña?")
            $('#DialogRestablePass').dialog({
                autoOpen: false,
                modal: true,
                title: "Sistema de Reclutamiento Y Seleccion de Personal",
                buttons: {
                    "Si": function () {

                        $.blockUI({
                            message: '<h1>Procesando...</h1>',
                            css: { border: 'none',
                                   padding: '15px',
                                   backgroundColor: '#000',
                                   '-webkit-border-radius': '10px',
                                   '-moz-border-radius': '10px',
                                   opacity: .5,
                                   color: '#fff'
                            }
                        });

                        $('#DialogRestablePass').dialog("close");
                        $('#PopupDialogRestablePass').dialog("close");

                        $.ajax({
                            data: $("#frmPopupRestablecePass").serialize(),
                            type: "POST",
                            url: '@Url.Action("RestablecePass", "Seguridad")',
                            traditional: true,
                            success: function (data) {
                                if (data.Resultado) {
                                       $.unblockUI();
                                      // $('#DialogRestablePass').dialog("close");
                                      // $('#PopupDialogRestablePass').dialog("close");
                                       MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                } else {
                                        $.unblockUI();
                                       // $('#DialogRestablePass').dialog("close");
                                      //  $('#PopupDialogRestablePass').dialog("close");

                                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                    }
                                }
                        });

                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });



            $("#spanLogeoExtranet").html("¿Desea registrar el usuario?")
            $('#LogeoExtranet').dialog({
                autoOpen: false,
                modal: true,
                title: "Sistema de Reclutamiento Y Seleccion de Personal",
                buttons: {
                    "Si": function () {

                        $.blockUI({
                            message: '<h1>Procesando...</h1>',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#000',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff'
                            }
                        });

                        $('#LogeoExtranet').dialog("close");
                        $('#PopupDialogLogeoExtranet').dialog("close");

                        $.ajax({
                            type: "POST",
                            data: $("#frmLogeoExPopup").serialize(),
                            url: '@Url.Action("LogeoUsuario", "Seguridad")',
                            traditional: true,
                                success: function (data) {
                                    if (data.Resultado) {
                                        $.unblockUI();
                                        //$('#LogeoExtranet').dialog("close");
                                        //$('#PopupDialogLogeoExtranet').dialog("close");

                                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                    } else {
                                        $.unblockUI();
                                       // $('#LogeoExtranet').dialog("close");
                                       // $('#PopupDialogLogeoExtranet').dialog("close");
                                        
                                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                    }
                                }
                            });

                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });

            $('#btnIniciaSesion').click(function () {
                if ($("#frmLoginExtranet").validate().form()) {
                    $.ajax({
                        type: "POST",
                        data: $("#frmLoginExtranet").serialize(),
                        url: '@Url.Action("Logon", "Seguridad")',
                        traditional: true,
                        success: function (data) {
                            if (data.Resultado) {
                                window.location = '@Url.Action("GetMenuEx", "Seguridad")';
                            } else {
                                MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                            }
                        }
                    });
                };

            });

        });


        function RegistroUsuario() {

            var dialogDiv = $('#PopupDialogLogeoExtranet');
            $.get('@Url.Action("InicializaPopupExtranet", "Seguridad")', function (data) {
                    dialogDiv.html(data);
                    $.validator.unobtrusive.parse($("#PopupDialogLogeoExtranet"));
                    dialogDiv.dialog('open');
                });
                return false;

        }

        function RestablecePass() {

            var dialogDiv = $('#PopupDialogRestablePass');
            $.get('@Url.Action("InicializaPopupRestablePass", "Seguridad")', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#PopupDialogRestablePass"));
                dialogDiv.dialog('open');
            });
            return false;

        }


        function MostrarMensaje(mensaje, titulo) {
            Funciones.Alert("divMensajeExtranet", "spnMensajeExtranet", mensaje, titulo);
        }

    </script>
</body>
</html>