@model SanPablo.Reclutador.Web.Models.OportunidadLaboralViewModel
@using SanPablo.Reclutador.Entity
@using System.Collections.Generic

@{
    ViewBag.Title = "Publicacion";
}
@section Head{
}

@section Scripts{

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script type="text/javascript">
        
    $(document).ready(function () {

        


        jQuery("#grdListOtrosConocimientos").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();

                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                       { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                        { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ConocimientoAdicionales", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListOtrosConocimientos')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: ['Conocimiento', 'Descripción', 'Nivel'],
            colModel: [
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 320 },
                    { name: 'Nombre', index: 'Nombre', align: 'left', editable: false, sortable: false, width: 250 },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false, width: 150 }

            ],
          
            //pager: jQuery('#grdPagerConocimientos'),
            height: 'auto',
            rowNum: 10,
            //rowList: [10, 30, 50],
            autowidth: true,
            rules: true,
            sortname: 'DescripcionConocimientoGeneral',
            sortorder: 'desc',
            viewrecords: true,
            //height: 180,
            //width: 780,
            cellsubmit: 'clientArray',
            hidegrid: false,
            //rownumbers: true,
            shrinkToFit: false,

            postData: {
            },
            loadComplete: function (data) {
            }
        });





        jQuery("#grdListIdiomas").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();

                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                       { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                        { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("Idiomas", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListIdiomas')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: ['Idioma', 'Descripción','Nivel'],
            colModel: [
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 320 },
                    { name: 'Nombre', index: 'Nombre', align: 'left', editable: false, sortable: false, width: 250 },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false, width: 150 }
                  
            ],

            //pager: jQuery('#grdPagerConocimientos'),
            //rowNum: 10,
            //rowList: [10, 30, 50],
            autowidth: true,
            height:'auto',
            rules: true,
            sortname: 'DescripcionIdioma',
            sortorder: 'desc',
            viewrecords: true,
           // height: 180,
           // width: 780,
            cellsubmit: 'clientArray',
            hidegrid: false,
            //rownumbers: true,
            shrinkToFit: false,

            postData: {
            },
            loadComplete: function (data) {
            }
        });




        jQuery("#grdListConocimientos").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();

                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                       { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                        { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("Conocimientos", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListConocimientos')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
             colNames: ['Tipo Conocimiento','Descripción'],
             colModel: [
                     { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 400 },
                     { name: 'Nombre', index: 'Nombre', align: 'left', editable: false, sortable: false, width: 320 }
             ],

             //pager: jQuery('#grdPagerConocimientos'),
             rowNum: 10,
             height: 'auto',
             //rowList: [10, 30, 50],
             autowidth: true,
             rules: true,
             sortname: 'DescripcionNombreOfimatica',
             sortorder: 'desc',
             viewrecords: true,
             //height: 180,
             //width: 780,
             cellsubmit: 'clientArray',
             hidegrid: false,
            //rownumbers: true,
             shrinkToFit: false,

             postData: {
             },
             loadComplete: function (data) {
             }
         });



        jQuery("#grdListEstudios").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();

                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                       { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                        { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("Estudios", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListEstudios')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: [''],
            colModel: [
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 720 }
            ],

            //pager: jQuery('#grdPagerConocimientos'),
            rowNum: 10,
            height: 'auto',
            //rowList: [10, 30, 50],
            autowidth: true,
            rules: true,
            sortname: 'DescripcionAreaEstudio',
            sortorder: 'desc',
            viewrecords: true,
            //height: 180,
            //width: 780,
            cellsubmit: 'clientArray',
            hidegrid: false,
            //rownumbers: true,
            shrinkToFit: false,

            postData: {
            },
            loadComplete: function (data) {
            }
        });


        jQuery("#grdListExperiencia").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();


                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                      { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                      { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                      { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }


                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("Experiencia", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListExperiencia')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
             },
             colNames: ['Descripci&oacuten', 'Tiempo de Experiencia'],
             colModel: [
                     { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 400 },
                     { name: 'TiempoExperiencia', index: 'TiempoExperiencia', align: 'left', editable: false, sortable: false, width: 250 },
             ],

             //pager: jQuery('#grdPagerExperiencia'),
             rowNum: 10,
             height: 'auto',
            //rowList: [10, 30, 50],
             autowidth: true,
             rules: true,
             sortname: 'DescripcionExperiencia',
             sortorder: 'desc',
             viewrecords: true,
            // height: 180,
            // width: 780,
             cellsubmit: 'clientArray',
             hidegrid: false,
            //rownumbers: true,
             shrinkToFit: false,

             postData: {
             },
             loadComplete: function (data) {
             }
        });


        jQuery("#grdListCompetencias").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();


                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                       { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                       { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListarCompetencias", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListCompetencias')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
              colNames: [''],
              colModel: [
                      { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 720 }
              ],

             // pager: jQuery('#grdPagerCompetencias'),
              rowNum: 10,
              height: 'auto',
              //rowList: [10, 30, 50],
              autowidth: true,
              rules: true,
              sortname: 'DescripcionCompetencia',
              sortorder: 'desc',
              viewrecords: true,
              //height: 180,
              //width: 780,
              cellsubmit: 'clientArray',
              hidegrid: false,
            //rownumbers: true,
              shrinkToFit: false,

              postData: {
              },
              loadComplete: function (data) {
              }
        });


        jQuery("#grdListOfrecemos").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();


                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                        { field: 'idSol', data: $("#solReqPersonal_IdeSolReqPersonal").val() },
                       { field: 'tipoSol', data: $("#solReqPersonal_Tipsol").val() },
                       { field: 'ideCargo', data: $("#solReqPersonal_IdeCargo").val() }

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("Ofrecemos", "OportunidadLaboral")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListOfrecemos')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
             colNames: [''],
             colModel: [
                     { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, width: 720 },
             ],

             //pager: jQuery('#grdPagerOfrecemos'),
             rowNum: 10,
             height: 'auto',
             //rowList: [10, 30, 50],
             autowidth: true,
             rules: true,
             sortname: 'DescripcionOfrecimiento',
             sortorder: 'desc',
             viewrecords: true,
             //height: 180,
             //width: 780,
             cellsubmit: 'clientArray',
             hidegrid: false,
             //rownumbers: true,
             shrinkToFit: false,

             postData: {
             },
             loadComplete: function (data) {
             }
         });



    });

  


    function MostrarMensaje(mensaje, titulo) {
        Funciones.Alert("divMensaje", "spnMensaje", mensaje, titulo);
    }


    function information(selectorDiv, selectorSpan, msg, title) {
        $('#' + selectorSpan).html(msg);
        var opt = {
            title: title,
            autoOpen: false,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                    RedireccionaBus();
                }
            }
        };
        $('#' + selectorDiv).dialog(opt).dialog('open');

    }

    function RedireccionaBus() {
        window.location = '@Url.Action("ListaReemplazo", "SolicitudCargo", new { area = "Intranet"})';
    }


</script>

}     
        <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>@Model.solReqPersonal.nombreCargo</h5>
            </div>
@using (Html.BeginForm("Index", "OportunidadLaboral", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmDetalleGrupoCargo" }))
{
    @Html.ValidationSummary(true)

    
    @Html.TextBoxFor(model => model.solReqPersonal.IdeSolReqPersonal, new { style = "display: none;" })
    @Html.TextBoxFor(model => model.solReqPersonal.Tipsol, new { style = "display: none;" })
    @Html.TextBoxFor(model => model.solReqPersonal.IdeCargo, new { style = "display: none;" })
    
                <fieldset>
                    <legend></legend>
                    <table class="formulario-busqueda">

                    <tr class="formulario-fila">
                        <td class="span5">
                            <label class="control-label" for="inputSuccess">Sede</label>
                            <div class="controles">                         
                              @Html.TextBoxFor(model => model.solReqPersonal.Sede_des, new { @class = "textoFormulario" ,disabled ="disabled" }) 
                            </div>
                        </td>
                         <td class="span5">
                            <label class="control-label" for="inputSuccess">Área</label>
                            <div class="controles">                         
                              @Html.TextBoxFor(model => model.solReqPersonal.Area_des, new { @class = "textoFormulario" ,disabled ="disabled" }) 
                            </div>
                        </td>
                    </tr>

                    <tr class="formulario-fila">
                        
                       
                        <td class="span5">
                            <label class="control-label" for="selectError">Tipo de horario</label>
                            <div class="controles">
                               @Html.TextBoxFor(model => model.oportunidadLaboral.TipoHorarioDes, new { @class = "textoFormulario" ,disabled ="disabled" }) 
                            </div>
                        </td>

                       
                         <td class="span5">
                            <label class="control-label" for="inputSuccess">Vacantes</label>
                            <div class="controles">                         
                              @Html.TextBoxFor(model => model.solReqPersonal.NumVacantes, new { @class = "textoFormulario" ,disabled ="disabled" }) 
                            </div>
                        </td>
                    </tr>
                   
                         
                    <tr class="formulario-fila">
                        <td class="span5">
                            <label class="control-label" for="selectError">Fecha de publicaci&oacute;n</label>
                            <div class="controles">
                               @Html.TextBoxFor(model => model.solReqPersonal.FechaInicioBus, "{0:dd/MM/yyyy}",new { @class = "textoFormulario" ,disabled ="disabled"})  
                            </div>
                        </td>

                         <td class="span5">
                            <label class="control-label" for="selectError">Fecha de expiraci&oacute;n</label>
                            <div class="controles">
                               @Html.TextBoxFor(model => model.solReqPersonal.FechaFinBus, "{0:dd/MM/yyyy}",new { @class = "textoFormulario" ,disabled ="disabled" })  
                            </div>
                        </td>
                    </tr>


                   <tr class="formulario-fila">
                         @if (Indicador.Si.Equals(Model.solReqPersonal.IndVerSalario))
                        {
                           <td class="span5">
                                <label class="control-label" for="selectError">Rango salarial</label>
                                <div class="controles">
                                   @Html.TextBoxFor(model => model.solReqPersonal.TipoRangoSalarioDes, new { @class = "textoFormulario" ,disabled ="disabled" })  
                                </div>
                            </td>     
                        }

                    </tr>


                    </table>

                   <table style="margin-left:50px;" >
                   <tr><td>&nbsp;</td></tr>
                   
				   <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Funciones</label>
                         <div class="controls">
                            @Html.TextAreaFor(model=>model.solReqPersonal.FuncionesCargo, new {@disabled = "disabled", @style = "width:780px; height:100px;resize:none"})
                         </div>
                       </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>
				   
                  <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Estudios</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListEstudios">
                                    </table>
                                 
                                </div>                                         
                            </div>
                         </div>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>

				   
                    
				   
						
					 <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Experiencia</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListExperiencia">
                                    </table>
                                 
                                </div>                                         
                            </div>
                         </div>
                       </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>	
						
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Competencias</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListCompetencias">
                                    </table>
                               
                                </div>                                         
                            </div>
                         </div>
                       </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>

                       <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Conocimientos</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListConocimientos">
                                    </table>
                                   
                                </div>                                         
                            </div>
                         </div>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>

                          <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Otros Conocimientos</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListOtrosConocimientos">
                                    </table>
                                 
                                </div>                                         
                            </div>
                         </div>
                       </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>

                       
                        <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Idiomas</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListIdiomas">
                                    </table>
                                  
                                </div>                                         
                            </div>
                         </div>
                       </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>
                       
                       
                  

                       
						
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Ofrecemos</label>
                         <div class="controls">
                            <div style="width: 100%">                                        
                                <div>
                                    <table id="grdListOfrecemos">
                                    </table>
                                  
                                </div>                                         
                            </div>
                         </div>
                        </td>
                    </tr>
                        <tr><td>&nbsp;</td></tr>


						
                    <tr class="formulario-fila">
                        <td class="span5">
                        <label class="control-label" for="input01">Observaciones</label>
                         <div class="controls">
                            @Html.TextAreaFor(model=>model.solReqPersonal.ObservacionPublica, new { @style = "width:780px;height:100px;resize:none" ,maxlength="254",@disabled="disabled"})
                         </div>
                        </td>
                    </tr>   
                                                
                  
                </table>                       
                              

                </fieldset>
                <div class="form-actions"> 
                     <a class="btn"  id="btnAnteriorBus" href="@Url.Action("Index", "OportunidadLaboral")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>    
                      
                </div>
}
                  
            </div>
        </div>





