@model SanPablo.Reclutador.Web.Areas.Intranet.Models.NivelAcademicoViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var tipoNivelAcad = $('#NivelAcademico_TipoNivelAlcanzado').val();
       // habilitarTextOtro(tipoNivelAcad);

        $('select#NivelAcademico_TipoNivelAlcanzado').change(function () {
            var tipoNivelAcad = $(this).val();
            habilitarTextOtro(tipoNivelAcad);
        })

        $('select#NivelAcademico_TipoEducacion').change(function () {
            var tipoEducacion = $(this).val();
            habilitarAreaEstudio(tipoEducacion);
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarNivelAlcanzado","NivelAcademicoCargo")',
                    data: { tipoEducacion: tipoEducacion },
                    success: function (respuesta) {
                        $("select#NivelAcademico_TipoNivelAlcanzado").empty();
                        $("select#NivelAcademico_TipoNivelAlcanzado").append("<option value='00'> SELECCIONE </option>");
                        $.each(respuesta, function (i, items) {
                            $("select#NivelAcademico_TipoNivelAlcanzado").append("<option value='"
                            + items.Valor + "'>" + items.Descripcion + "</option>");
                        }
                        );
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
        })
        
    });
    function habilitarTextOtro(tipoNivelAcad) {
        var laCiclo = document.getElementById('laCiclo');
        var textCiclo = document.getElementById('NivelAcademico_CicloSemestre');
        if ((tipoNivelAcad == '08') || (tipoNivelAcad == '12') || (tipoNivelAcad == '05') || (tipoNivelAcad == '18')) {
            laCiclo.style.display = "block";
            textCiclo.style.display = "block";
        }
        else {
            laCiclo.style.display = "none";
            textCiclo.style.display = "none";
        }
    }
    function habilitarAreaEstudio(tipoEducacion)
    {
        var labelArea = document.getElementById('laAreaEstudio');
        var listArea = document.getElementById('NivelAcademico_TipoAreaEstudio');
        if (tipoEducacion == "01") {
            labelArea.style.display = "none";
            listArea.style.display = "none";
        }
        else {
            labelArea.style.display = "block";
            listArea.style.display = "block";
        }
    }

    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });
</script>



@using (Html.BeginForm("Edit", "NivelAcademicoCargo", FormMethod.Post, new { @id = "nivelAcademicoForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> 
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.NivelAcademico.IdeNivelAcademicoCargo)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Tipo Educación <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.NivelAcademico.TipoEducacion, new SelectList(Model.TiposEducacion, "Valor", "Descripcion", Model.NivelAcademico.TipoEducacion))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.NivelAcademico.TipoEducacion)
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label id="laAreaEstudio" style="width:130px; display:none;" class="etiquetaFormulario" for="setipoInstitucion">Área de Estudio <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.NivelAcademico.TipoAreaEstudio, new SelectList(Model.AreasEstudio, "Valor", "Descripcion", Model.NivelAcademico.TipoAreaEstudio), new { style="display:none;"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.NivelAcademico.TipoAreaEstudio)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Nivel Alcanzado <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.NivelAcademico.TipoNivelAlcanzado, new SelectList(Model.NivelesAlcanzados, "Valor", "Descripcion", Model.NivelAcademico.TipoNivelAlcanzado))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.NivelAcademico.TipoNivelAlcanzado)
                </div>
            </td>
       </tr>
           <tr>
            <td class="colEtiqueta">
                <label id="laCiclo" style="width:130px;display:none;" class="etiquetaFormulario" for="setipoInstitucion">Ciclo/Semestre</label>
            </td>
            <td class="colInput">
                 @Html.TextBoxFor(model => model.NivelAcademico.CicloSemestre, new {@class="input-mini", style = "display:none;" , maxlength="2" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.NivelAcademico.CicloSemestre)
                </div>
            </td>
       </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.NivelAcademico.PuntajeNivelEstudio, new {@class="input-xxmini" , maxlength="2" })
               <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.NivelAcademico.PuntajeNivelEstudio)
                </div>
           </td>
       </tr>  
    </table>
}