@model SanPablo.Reclutador.Web.Areas.Intranet.Models.HorarioCargoViewModel
@{
    Layout = "";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });
</script>

@using (Html.BeginForm("Edit", "HorarioCargo", FormMethod.Post, new { @id = "horariosForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Horario.IdeHorarioCargo)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Horarios <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Horario.TipoHorario, new SelectList(Model.Horarios, "Valor", "Descripcion", Model.Horario.TipoHorario))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Horario.TipoHorario)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Horario.PuntajeHorario, new {@class="input-xxmini" , maxlength="2" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Horario.PuntajeHorario)
                </div>
            </td>
        </tr>  
    </table>
}