@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudAmpliacionCargoViewModel
@{
    ViewBag.Title = "Perfil";
}
@section ScriptsCargo{ 
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnAgregarDiscapacidad').click(function () {
            validaSesIntranet();

            mostrarAgregarDiscapacidad();
        });

        $('#updateDialogDiscapacidad').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function (e) {
                    e.preventDefault();
                    var result = $('#discapacidadForm').valid();
                    if (result) {
                        $.post('@Url.Action("Edit", "DiscapacidadCargo")',
                            $("#discapacidadForm").serialize(),
                            function (respuesta) {
                                if (respuesta.Resultado) {
                                    $("#updateDialogDiscapacidad").dialog("close");
                                    $('#grdListDiscapacidad').trigger('reloadGrid');
                                }
                                else {
                                    notificacionError(respuesta.Mensaje);
                                }
                            }
                        );
                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados sean válidos");
                    }
            },
            "Cancelar": function () {
                $(this).dialog("close");
                }
            }
        });

        $('#btnEliminarDiscapacidad').click(function () {

            validaSesIntranet();

            var ideDiscapacidad = jQuery('#grdListDiscapacidad').jqGrid('getGridParam', 'selrow');
            if (ideDiscapacidad != null) {
                $("#spanMensaje11").html('¿Está seguro que desea eliminar el registro?.');
                $("#divMensaje11").dialog({
                    title: 'SAN PABLO',
                    modal: true,
                    buttons: {
                        "Eliminar": function () { eliminarDiscapacidad(ideDiscapacidad); $(this).dialog("close"); $('#grdListDiscapacidad').trigger('reloadGrid'); },
                        "Cancel": function () { $(this).dialog("close"); }
                    }
                });

                return false;
            }
            else {
                $("#spanMensaje11").html('Seleccionar un item a eliminar');
                $("#divMensaje11").dialog({
                    title: 'SAN PABLO',
                    modal: true,
                    buttons: {
                        "Ok": function () { $(this).dialog("close"); }
                    }
                });
            }
        });

        $('#btnEditarDiscapacidad').click(function () {

            validaSesIntranet();

            var ideDiscapacidad = jQuery('#grdListDiscapacidad').jqGrid('getGridParam', 'selrow');
            if (ideDiscapacidad != null) {
                mostrarEditarDiscapacidad(ideDiscapacidad);
            }
            else {
                $("#spanMensaje11").html('Seleccionar un item a editar');
                $("#divMensaje11").dialog({
                    title: 'SAN PABLO',
                    modal: true,
                    buttons: {
                        "Ok": function () { $(this).dialog("close"); }
                    }
                });
            }
        });

    });

    $(function () {
       
        jQuery("#grdListDiscapacidad").jqGrid({
            url: '@Url.Action("ListaDiscapacidad", "DiscapacidadCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Tipo', 'Puntaje'],
            colModel: [
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: false },
            ],
            pager: jQuery('#grdPagerDiscapacidad'),
            sortname: 'IdeDiscapacidadCargo',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });
    });

    function mostrarAgregarDiscapacidad() {
        var dialogDiv = $('#updateDialogDiscapacidad');
        $.get('@Url.Action("Edit", "DiscapacidadCargo", new { id = "0"})', function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogDiscapacidad"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function mostrarEditarDiscapacidad(ideDiscapacidad) {
        var dialogDiv = $('#updateDialogDiscapacidad');
        $.get('@Url.Action("Edit", "DiscapacidadCargo")', { id: ideDiscapacidad }, function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogDiscapacidad"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function eliminarDiscapacidad(id) {
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("eliminarDiscapacidad","DiscapacidadCargo")',
            data: { ideDiscapacidad: id },
        });
    }
</script>
}

<!--CONOCIMEINTOS -->
    <div class="tab-pane" id="F">
        <div class="grilla-opciones">
            <h6>Discapacidad</h6>
            <div class="opciones">
                @*<a id="btnAgregarDiscapacidad" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                <a id="btnEditarDiscapacidad" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                <a id="btnEliminarDiscapacidad" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>*@                                  
            </div>
            <div style="clear:both"></div>
        </div>

        <div class="tabla-datos">
            <table id="grdListDiscapacidad">
            </table>
            <div id="grdPagerDiscapacidad">
            </div>
        </div>
                        
        <div class="formulario-accion">               
            <div class="opciones">
            <a class="btn" href="#" onclick="irATab('E');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            <a class="btn btn-info" href="#" onclick="irATab('G');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

            </div>
        </div> 
    </div>

    <!--CONOCIMIENTOS FIN-->


<div id="updateDialogDiscapacidad" title="Discapacidad"></div>
    <div id="divMensaje11">
        <span id="spanMensaje11"></span>
    </div>

