@using SanPablo.Reclutador.Web.Models
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudAmpliacionCargoViewModel
@using SanPablo.Reclutador.Entity

@{
    ViewBag.Title = "Solicitud Ampliación";
}
@section Head{
      <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/uploadify/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#updateDialogConfirmacion').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    e.preventDefault();
                    var result = $('#solicitudAmpliacionCargoForm').valid();
                    if (result) {
                        $.post('@Url.Action("Edit", "SolicitudAmpliacionCargo")',
                        $("#solicitudAmpliacionCargoForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                $("#updateDialogConfirmacion").dialog("close");
                                $("#SolReqPersonal_IdeSolReqPersonal").val(respuesta.IdDato);
                                MostrarMensaje("Solicitud evniada exitosamente", "SAN PABLO");
                            }
                            else {
                                $(this).dialog("close");
                                mensajeResultado("Solicitud no enviada intente nuevamente".Mensaje);
                            }
                        });
                    }
                    else {
                        $(this).dialog("close");
                        MostrarMensaje("ERROR: Verifique que los datos ingresados son correctos", "SAN PABLO");
                    }

                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        jQuery("#grdListCompetencias").jqGrid({
            url: '@Url.Action("ListarCompetencias", "SolicitudAmpliacionCargo")',
              datatype: 'json',
              mtype: 'POST',
              colNames: ['Descripci&oacuten'],
              colModel: [
                      { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false }
              ],
              pager: jQuery('#grdPagerCompetencia'),
              sortname: 'DescripcionCompetencia',
              sortorder: 'desc',
              viewrecords: false,
              cellEdit: true,
              height: 200,
              width: 898,
              rowNum: 0,
              cellsubmit: 'clientArray',
              hidegrid: false,
              postData: {

              },
              loadComplete: function (data) {

              },
              loadError: function (xhr, st, err) {

              }
        });


        jQuery("#grdListOfrecemos").jqGrid({
            url: '@Url.Action("ListarOfrecemos", "SolicitudAmpliacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Codigo', 'Descripci&oacuten'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            pager: jQuery('#grdPagerOfrecemos'),
            sortname: 'DescripcionOfrecimiento',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });
        
    });

  function confirmarEnvio()
  {
    var dialogDiv = $('#updateDialogConfirmacion');
    dialogDiv.dialog('open');
    return false;
  }

  function deshabilitarControles()
  {

  }

  function MostrarMensaje(mensaje, titulo)
  {
    Funciones.Alert("divMensaje", "spanMensaje", mensaje, titulo);
  }

</script>
}
@using (Html.BeginForm("Edit", "SolicitudAmpliacionCargo", FormMethod.Post, new { @id = "solicitudAmpliacionCargoForm" }))
{
@Html.ValidationSummary(true)
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Solicitud de Ampliación de Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    @Html.HiddenFor(model=>model.SolicitudRequerimiento.IdeSede)
                    @Html.TextBoxFor(model => model.SolicitudRequerimiento.EstadoActivo, new { @class = "btn btn-primary btn-small disabled", disabled = "disabled", @style ="width:60px" })
                </div>            
            </div>
            <h5>Motivo requerimiento</h5>
            <table class="formulario-busqueda">
                <tr class="formulario-fila">
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Requerimiento</label>
                            <div class="controles">
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.IdeSolReqPersonal, new { @class = "input-small", disabled = "disabled" })
                            </div>
                        </div>
                    </td>
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Dependencia </label>
                            <div class="controles">
                                @Html.HiddenFor(model =>model.SolicitudRequerimiento.IdeDependencia)
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.Dependencia_des, new { @disabled = "disabled" })                           
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                      <div class="">
                        <label class="control-label" for="inputSuccess">Cargo <span class="text-error">*</span></label>
                        <div class="controles">
                            @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeCargo, new SelectList(Model.Cargos, "IdeCargo", "NombreCargo", Model.SolicitudRequerimiento.IdeCargo))
                             <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.IdeCargo)
                             </div>
                        </div>
                       </div>
                    </td>
                   <td class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Departamento </label>
                            <div class="controles">
                                @Html.HiddenFor(model =>model.SolicitudRequerimiento.IdeDepartamento)
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.Departamento_des, new { @disabled = "disabled" })                           
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                            <label class="control-label" for="inputSuccess">Vacantes <span class="text-error">*</span></label>
                            <div class="controles">
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.NumVacantes, new { @class = "input-small" })
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.NumVacantes)
                                </div>
                            </div>
                    </td>                    
                    <td class="span5">
                            <label class="control-label" for="inputSuccess">Área </label>
                            <div class="controles">
                                @Html.HiddenFor(model =>model.SolicitudRequerimiento.IdeArea)
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.Area_des, new { @disabled = "disabled" })
                            </div>
                    </td> 
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                         <div class="">
                            <label class="control-label" for="inputSuccess">Observaciones <span class="text-error">*</span></label>
                            <div class="controles">
                                @Html.TextAreaFor(model => model.SolicitudRequerimiento.Observacion, new { @class = "input-large", rows = "3" })
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.Observacion)
                             </div>
                            </div>
                        </div>
                    </td>
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Motivos <span class="text-error">*</span></label>
                            <div class="controles">
                                @Html.TextAreaFor(model => model.SolicitudRequerimiento.Motivo, new { @class = "input-large", rows = "3" })
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.Motivo)
                                </div>
                            </div>
                        </div>
                    </td>   
                </tr>
          </table>
          @if (Accion.Consultar.Equals(Model.Accion))
          {
		           <span></span>
          }
          else
          {
              <h5>Perfil</h5>
            <ul class="nav nav-tabs">
                <li><div style="width:110px;display:inline-block"></div></li>
                <li ><a href="#A" data-toggle="tab">Puesto</a></li>
                <li ><a href="#B" data-toggle="tab">General</a></li>
                <li ><a href="#C" data-toggle="tab">Estudios</a></li>
                <li ><a href="#D" data-toggle="tab">Experiencia</a></li>
                <li ><a href="#E" data-toggle="tab">Conocimientos</a></li>
                <li ><a href="#F" data-toggle="tab">Discapacidad</a></li>
                <li><a href="#G" data-toggle="tab">Evaluación</a></li>
                <li ><a href="#H" data-toggle="tab">Conf.Perfil</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                     <div class="tab-pane" id="A">
                     @Html.Partial("Puesto")
                    </div>
                    <div class="tab-pane" id="B">
                     @Html.Partial("General")
                    </div>
                    <div class="tab-pane" id="C">
                     @Html.Partial("Estudio")
                    </div>
                  <div class="tab-pane" id="D">
                    @Html.Partial("Experiencia")
                  </div>
                  <div class="tab-pane" id="E">
                    @Html.Partial("Conocimientos")
                  </div>
                  <div class="tab-pane" id="F">
                    @Html.Partial("Discapacidad")
                  </div>
                    <div class="tab-pane" id="G">
                    @Html.Partial("Evaluacion")
                  </div>
                  <div class="tab-pane" id="H">
                    @Html.Partial("ConfiguracionPerfil")
                  </div>
              
                </div>     
                <div class="container">
                </div>  
                 </div>  
             }
            <div class="form-actions">
                <a class="btn" href="@Url.Action("ListaAmpliacion", "SolicitudCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <button type="submit" class="btn btn-info" onclick="mostrarAprobarRechazar()"><i class="icon-list icon-white"></i> Aprob/Rech</button>
                <a class="btn btn-info" onclick="confirmarEnvio();"><i class="icon-screenshot icon-white"></i> Enviar</a>
                <a class="btn btn-info" href="@Url.Action("Publicacion", "SolicitudCargo")"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
            </div>
       
       
        </div>
    </div>
</div>
}
<div id="updateDialogConfirmacion" title="Confirmar Envio "><span> ¿Seguro que quiere enviar la solicitud de ampliación de personal?</span></div>
<div id="divMensaje"><span id="spanMensaje"></span></div>
