@using SanPablo.Reclutador.Web.Models
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudAmpliacionCargoViewModel
@using SanPablo.Reclutador.Entity

@{
    ViewBag.Title = "Solicitud Ampliación";
}
@section Head{
      <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/uploadify/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#tabs").tabs();

        var ideSolicitudAmpliacion = $("#SolicitudRequerimiento_IdeSolReqPersonal").val();
        if (ideSolicitudAmpliacion == "") {
            habilitarControles();
        }
        else { deshabilitarControles(); }

        $('#updateDialogConfirmacion').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    e.preventDefault();
                    var result = $('#solicitudAmpliacionCargoForm').valid();
                    if (result) {
                        $.post('@Url.Action("Edit", "SolicitudAmpliacionCargo")',
                        $("#solicitudAmpliacionCargoForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                $("#updateDialogConfirmacion").dialog("close");
                                $("#SolReqPersonal_IdeSolReqPersonal").val(respuesta.IdDato);
                                MostrarMensaje("Solicitud evniada exitosamente", "SAN PABLO");
                            }
                            else {
                                $("#updateDialogConfirmacion").dialog("close");
                                MostrarMensaje("Solicitud no enviada intente nuevamente".Mensaje);
                            }
                        });
                    }
                    else {
                        $("#updateDialogConfirmacion").dialog("close");
                        MostrarMensaje("ERROR: Verifique que los datos ingresados son correctos", "SAN PABLO");
                    }

                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('select#SolicitudRequerimiento_IdeDependencia').change(function () {
            var ideDependencia = $(this).val();
            $("select#SolicitudRequerimiento_IdeArea").empty();
            $("select#SolicitudRequerimiento_IdeArea").append("<option value='0'> Seleccionar </option>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("listaDepartamentos", "SolicitudAmpliacionCargo", new { area = "Intranet"})',
            data: { ideDependencia: ideDependencia },
            success: function (respuesta) {
                $("select#SolicitudRequerimiento_IdeDepartamento").empty();
                $("select#SolicitudRequerimiento_IdeDepartamento").append("<option value='0'> Seleccionar </option>");
                $.each(respuesta, function (i, item) {
                    $("select#SolicitudRequerimiento_IdeDepartamento").append("<option value='"
                    + item.IdeDepartamento + "'>" + item.NombreDepartamento + "</option>");
                }
            );
            }
        });
         })

        $('select#SolicitudRequerimiento_IdeDepartamento').change(function () {
            var ideDepartamento = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listaAreas","SolicitudAmpliacionCargo",new { area = "Intranet"})',
            data: { ideDepartamento: ideDepartamento },
            success: function (respuesta) {
                $("select#SolicitudRequerimiento_IdeArea").empty();
                $("select#SolicitudRequerimiento_IdeArea").append("<option value='0'> Seleccionar </option>");
                $.each(respuesta, function (i, item) {
                    $("select#SolicitudRequerimiento_IdeArea").append("<option value='"
                    + item.IdeArea + "'>" + item.NombreArea + "</option>");
                }
            );
            }
        });
    })

        jQuery("#grdListCompetencias").jqGrid({
            url: '@Url.Action("ListarCompetencias", "SolicitudAmpliacionCargo")',
              datatype: 'json',
              mtype: 'POST',
              colNames: ['Descripci&oacuten'],
              colModel: [
                      { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false }
              ],
              pager: jQuery('#grdPagerCompetencia'),
              sortname: 'DescripcionCompetencia',
              sortorder: 'desc',
              viewrecords: false,
              cellEdit: true,
              height: 200,
              width: 898,
              rowNum: 0,
              cellsubmit: 'clientArray',
              hidegrid: false,
              postData: {

              },
              loadComplete: function (data) {

              },
              loadError: function (xhr, st, err) {

              }
        });


        jQuery("#grdListOfrecemos").jqGrid({
            url: '@Url.Action("ListarOfrecemos", "SolicitudAmpliacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Codigo', 'Descripci&oacuten'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            pager: jQuery('#grdPagerOfrecemos'),
            sortname: 'DescripcionOfrecimiento',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListHorario").jqGrid({
            url: '@Url.Action("ListaHorario", "SolicitudAmpliacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Descripci&oacuten', 'Puntaje'],
            colModel: [
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, editable: false },

            ],
            pager: jQuery('#grdPagerHorario'),
            sortname: 'IdeHorarioCargo',
            sortorder: 'desc',
            viewrecords: true,
            cellEdit: true,
            height: 200,
            width: 890,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListUbigeo").jqGrid({
            url: '@Url.Action("ListaUbigeo", "SolicitudAmpliacionCargo")',
             datatype: 'json',
             mtype: 'POST',
             colNames: ['Departamento', 'Provincia', 'Distrito', 'Puntaje'],
             colModel: [
                     { name: 'Departamento', index: 'Departamento', align: 'left', editable: false, sortable: false },
                     { name: 'Provincia', index: 'Provincia', align: 'left', editable: false, sortable: false },
                     { name: 'Distrito', index: 'Distrito', align: 'left', editable: false, sortable: false },
                     { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: false },
             ],
             pager: jQuery('#grdPagerUbigeo'),
             sortname: 'IdeUbigeoCargo',
             sortorder: 'desc',
             viewrecords: false,
             cellEdit: true,
             height: 200,
             width: 890,
             rowNum: 0,
             cellsubmit: 'clientArray',
             hidegrid: false,
             postData: {

             },
             loadComplete: function (data) {

             }
         });
        
        jQuery("#grdListNivelAcademico").jqGrid({
            url: '@Url.Action("ListaNivelAcademico", "SolicitudAmpliacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Tipo de Educación', 'Área de Estudios', 'Nivel Alcanzado', 'Ciclo/Semestre', 'Puntaje'],
            colModel: [
                    { name: 'TipoEducacion', index: 'TipoEducacion', align: 'left', editable: false, sortable: false },
                    { name: 'AreaEstudio', index: 'AreaEstudio', align: 'left', editable: false, sortable: false },
                    { name: 'NivelAlcanzado', index: 'NivelAlcanzado', align: 'left', editable: false, sortable: false },
                    { name: 'CicloSemestre', index: 'CicloSemestre', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            pager: jQuery('#grdPagerNivelAcademico'),
            sortname: 'IdeNivelAcademicoCargo',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListCentroEstudio").jqGrid({
            url: '@Url.Action("ListaCentroEstudio", "SolicitudAmpliacionCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Tipo de Institución', 'Institución', 'Puntaje'],
            colModel: [
                    { name: 'Tipo', Tipo: 'Codigo', align: 'center', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            pager: jQuery('#grdPagerCentroEstudio'),
            sortname: 'IdeCentroEstudioCargo',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListOfimatica").jqGrid({
            url: '@Url.Action("ListaOfimatica", "SolicitudAmpliacionCargo")',
             datatype: 'json',
             mtype: 'POST',
             colNames: ['Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
             colModel: [
                     { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                     { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                     { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                     { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
             ],
             pager: jQuery('#grdPagerOfimatica'),
             sortname: 'IdeConocimientoGeneralCargo',
             sortorder: 'desc',
             viewrecords: false,
             cellEdit: true,
             height: 200,
             width: 898,
             rowNum: 0,
             cellsubmit: 'clientArray',
             hidegrid: false,
             postData: {

             },
             loadComplete: function (data) {

             }
         });

        jQuery("#grdListIdioma").jqGrid({
            url: '@Url.Action("ListaIdioma", "SolicitudAmpliacionCargo")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Descripci&oacuten', 'Tipo Conoc.', 'Nivel', 'Puntaje'],
                colModel: [
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                        { name: 'TipoConocimiento', index: 'TipoConocimiento', align: 'left', editable: false, sortable: false },
                        { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                        { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
                ],
                pager: jQuery('#grdPagerIdioma'),
                sortname: 'IdeConocimientoGeneralCargo',
                sortorder: 'desc',
                viewrecords: false,
                cellEdit: true,
                height: 200,
                width: 898,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

        jQuery("#grdListOtrosConocimientos").jqGrid({
            url: '@Url.Action("ListaOtrosConocimientos", "SolicitudAmpliacionCargo")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
                colModel: [
                        { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                        { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                        { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
                ],
                pager: jQuery('#grdPagerOtrosConocimientos'),
                sortname: 'IdeConocimientoGeneralCargo',
                sortorder: 'desc',
                viewrecords: false,
                cellEdit: true,
                height: 200,
                width: 898,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
        });

        jQuery("#grdListExperiencia").jqGrid({
            url: '@Url.Action("ListaExperiencia", "SolicitudAmpliacionCargo")',
             datatype: 'json',
             mtype: 'POST',
             colNames: ['Cargo', 'Años', 'Meses', 'Puntaje'],
             colModel: [
                     { name: 'Cargo', index: 'Cargo', align: 'left', editable: false, sortable: false },
                     { name: 'Anho', index: 'Anho', align: 'left', editable: false, sortable: false, width: 50 },
                     { name: 'Meses', index: 'Meses', align: 'left', editable: false, sortable: false, width: 50 },
                     { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: false },
             ],
             pager: jQuery('#grdPagerExperiencia'),
             sortname: 'IdeExperienciaCargo',
             sortorder: 'desc',
             viewrecords: false,
             cellEdit: true,
             height: 200,
             width: 898,
             rowNum: 0,
             cellsubmit: 'clientArray',
             hidegrid: false,
             postData: {

             },
             loadComplete: function (data) {

             }
        });

        jQuery("#grdListDiscapacidad").jqGrid({
            url: '@Url.Action("ListaDiscapacidad", "SolicitudAmpliacionCargo")',
             datatype: 'json',
             mtype: 'POST',
             colNames: ['Tipo', 'Puntaje'],
             colModel: [
                     { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                     { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: false },
             ],
             pager: jQuery('#grdPagerDiscapacidad'),
             sortname: 'IdeDiscapacidadCargo',
             sortorder: 'desc',
             viewrecords: false,
             cellEdit: true,
             height: 200,
             width: 898,
             rowNum: 0,
             cellsubmit: 'clientArray',
             hidegrid: false,
             postData: {

             },
             loadComplete: function (data) {

             }
        });

        jQuery("#grdListEvaluacion").jqGrid({
            url: '@Url.Action("ListaEvaluaciones", "SolicitudAmpliacionCargo")',
             datatype: 'json',
             mtype: 'POST',
             colNames: ['Descripci&oacuten', 'Tipo', 'Nota Mínima', 'Responsable', 'Puntaje'],
             colModel: [
                     { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                     { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                     { name: 'NotaMinima', index: 'NotaMinima', align: 'left', editable: false, sortable: false, width: 60 },
                     { name: 'Responsable', index: 'Responsable', align: 'left', editable: false, sortable: false },
                     { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
             ],
             pager: jQuery('#grdPagerEvaluacion'),
             sortname: 'TipoExamen',
             sortorder: 'desc',
             viewrecords: true,
             cellEdit: true,
             /*caption: 'Horario de Trabajo',*/
             height: 200,
             width: 898,
             rowNum: 0,
             cellsubmit: 'clientArray',
             hidegrid: false,
             postData: {

             },
             loadComplete: function (data) {

             }
        });

        $('#updateDialogAprobacion').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            buttons: {
                "Enviar": function (e) {
                    e.preventDefault();
                    var result = $('#aprobRechazForm').valid();
                    if (result) {
                        $("#spanMensaje").html("¿Seguro que quiere enviar la Aprobacion/Rechazo de la solicitud?");
                        $("#divMensaje").dialog({
                            title: 'SAN PABLO',
                            modal: true,
                            buttons: {
                                "Si": function () { $(this).dialog("close"); enviarAprobacionRechazo(); },
                                "No": function () { $(this).dialog("close"); }
                            }
                        });

                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados son correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#btnPublicar').click(function () {

            if (validaEnvio()) {

                id = $("#SolicitudRequerimiento_IdeSolReqPersonal").val();

                if (id != null && id > 0) {
                    window.location = '@Url.Action("Publica", "SolicitudAmpliacionCargo", new { id = ""})' + '/' + id;
                } else {
                    MostrarMensaje('Genere una Solicitud', "Sistema de Reclutamiento Y Seleccion de Personal");
                }
            }

        });

    });

  function confirmarEnvio()
  {
    var dialogDiv = $('#updateDialogConfirmacion');
    dialogDiv.dialog('open');
    return false;
  }

  function deshabilitarControles()
  {
      $("#SolicitudRequerimiento_IdeCargo").attr("disabled", "disabled");
      $("#SolicitudRequerimiento_NumVacantes").attr("disabled", "disabled");
      $("#SolicitudRequerimiento_Observacion").attr("disabled", "disabled");
      $("#SolicitudRequerimiento_IdeDependencia").attr("disabled", "disabled");
      $("#SolicitudRequerimiento_IdeDepartamento").attr("disabled", "disabled");
      $("#SolicitudRequerimiento_IdeArea").attr("disabled", "disabled");
      $("#SolicitudRequerimiento_Motivo").attr("disabled", "disabled");
  }

  function habilitarControles()
  {
      $("#SolicitudRequerimiento_IdeCargo").removeAttr("disabled");
      $("#SolicitudRequerimiento_NumVacantes").removeAttr("disabled");
      $("#SolicitudRequerimiento_Observacion").removeAttr("disabled");
      $("#SolicitudRequerimiento_IdeDependencia").removeAttr("disabled");
      $("#SolicitudRequerimiento_IdeDepartamento").removeAttr("disabled");
      $("#SolicitudRequerimiento_IdeArea").removeAttr("disabled");
      $("#SolicitudRequerimiento_Motivo").removeAttr("disabled");
  }

  function MostrarMensaje(mensaje, titulo)
  {
    Funciones.Alert("divMensaje", "spanMensaje", mensaje, titulo);
  }

  function irATab(tab) {
      $('a[href=#' + tab + ']').tab('show');
  }

  function mostrarAprobarRechazar() {
      var estado = $('#SolicitudRequerimiento_EstadoActivo').val();
      if (estado == "A") {
          var dialogDiv = $('#updateDialogAprobacion');
          var ideSolicitud = $('#SolicitudRequerimiento_IdeSolReqPersonal').val();
          $.get('@Url.Action("Edit", "LogSolicitudAmpliacionCargo")', { ideSolicitud: ideSolicitud }, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogAprobacion"));
                dialogDiv.dialog('open');
            });
        }
        else {
            mensajeResultado("No puede realizar esta accion en una solicitud en estado 'INACTIVO' o no Enviado");
        }
        return false;
    }

    function enviarAprobacionRechazo() {
        $.post('@Url.Action("Edit", "LogSolicitudAmpliacionCargo")',
             $('#aprobRechazForm').serialize(),
             function (respuesta) {
                 if (respuesta.Resultado) {
                     $('#updateDialogAprobacion').dialog("close");
                     notificacionExito("Aprobación/Rechazo enviado exitosamente");
                 }
                 else {
                     notificacionError(respuesta.Mensaje);
                 }
             }
        );
    }

    function validaEnvio() {

        var solReqIdeCargo = $('#SolicitudRequerimiento_Idecargo').val();
        var numVacante = parseInt($('#SolicitudRequerimiento_NumVacantes').val());

        var observ = $('#SolicitudRequerimiento_Observacion').val();
        var motivo = $('#SolicitudRequerimiento_Motivo').val();



        //if (tipVacante == "0") {
        //    notificacionExito("Seleccione un tipo de vacante");
        //    return false;
        //}

        if (solReqIdeCargo == 0) {
            notificacionExito("Seleccione cargo");
            return false;
        }

        if (numVacante == 0) {
            notificacionExito("Ingrese el numero de vacantes ");
            return false;
        }

        if (observ == "") {
            notificacionExito("Ingrese las observaciones");
            return false;
        }
        return true;

    }


</script>
}
@using (Html.BeginForm("Edit", "SolicitudAmpliacionCargo", FormMethod.Post, new { @id = "solicitudAmpliacionCargoForm" }))
{
@Html.ValidationSummary(true)
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Solicitud de Ampliación de Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    @Html.HiddenFor(model=>model.SolicitudRequerimiento.IdeSede)
                    @Html.TextBoxFor(model => model.SolicitudRequerimiento.IdeSolReqPersonal, new {@type = "hidden"})
                    @Html.TextBoxFor(model => model.SolicitudRequerimiento.EstadoActivo, new { @class = "btn btn-primary btn-small disabled", disabled = "disabled", @style ="width:60px" })
                </div>            
            </div>
            <h5>Motivo requerimiento</h5>
            <table class="formulario-busqueda">
                <tr class="formulario-fila">
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Requerimiento</label>
                            <div class="controles">
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.CodSolReqPersonal, new { @class = "input-small", disabled = "disabled" })
                            </div>
                        </div>
                    </td>
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Dependencia </label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeDependencia, new SelectList(Model.Dependencias, "IdeDependencia", "NombreDependencia", Model.SolicitudRequerimiento.IdeDependencia))
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                     @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.IdeDepartamento)
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Tipo de Puesto </label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.TipPuesto, new SelectList(Model.TipoPuestos, "Valor", "Descripcion", Model.SolicitudRequerimiento.TipPuesto))
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                     @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.TipPuesto)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Departamento </label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeDepartamento, new SelectList(Model.Departamentos, "IdeDepartamento", "NombreDepartamento", Model.SolicitudRequerimiento.IdeDepartamento))
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.IdeDepartamento)
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                      <div class="">
                        <label class="control-label" for="inputSuccess">Cargo <span class="text-error">*</span></label>
                        <div class="controles">
                            @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeCargo, new SelectList(Model.Cargos, "IdeCargo", "NombreCargo", Model.SolicitudRequerimiento.IdeCargo))
                             <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.IdeCargo)
                             </div>
                        </div>
                       </div>
                    </td>
                    <td class="span5">
                            <label class="control-label" for="inputSuccess">Área </label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeArea, new SelectList(Model.Areas, "IdeArea", "NombreArea", Model.SolicitudRequerimiento.IdeArea))
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.IdeArea)
                                </div>
                            </div>
                   </td> 
                </tr >
                <tr class="formulario-fila">
                    <td class="span5">
                            <label class="control-label" for="inputSuccess">Vacantes <span class="text-error">*</span></label>
                            <div class="controles">
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.NumVacantes, new { @class = "input-small" })
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.NumVacantes)
                                </div>
                            </div>
                    </td>                    
                    
                </tr>
            </table>
            <table class="formulario-busqueda">
                <tr class="formulario-fila">
                    <td class="span5">
                         <div class="">
                            <label class="control-label" for="inputSuccess">Observaciones <span class="text-error">*</span></label>
                            <div class="controles">
                                @Html.TextAreaFor(model => model.SolicitudRequerimiento.Observacion,  new { rows = 4, cols = 10, style = "margin: 0px 0px 10px; width: 598px; height: 70px;", maxlength = "255" })
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.Observacion)
                             </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Motivos <span class="text-error">*</span></label>
                            <div class="controles">
                                @Html.TextAreaFor(model => model.SolicitudRequerimiento.Motivo, new { rows = 4, cols = 10, style = "margin: 0px 0px 10px; width: 598px; height: 70px;", maxlength = "255" })
                                <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.SolicitudRequerimiento.Motivo)
                                </div>
                            </div>
                        </div>
                    </td>   
                </tr>
          </table>
          @if (Accion.Enviar.Equals(Model.Accion))
          {
		           <span></span>
          }
          else
          {
             
              <h5>Perfil</h5>
            <ul class="nav nav-tabs">
                <li><div style="width:110px;display:inline-block"></div></li>
                <li class=""><a href="#A" data-toggle="tab">Puesto</a></li>
                <li class=""><a href="#B" data-toggle="tab">General</a></li>
                <li class=""><a href="#C" data-toggle="tab">Estudios</a></li>
                <li class=""><a href="#D" data-toggle="tab">Experiencia</a></li>
                <li class=""><a href="#E" data-toggle="tab">Conocimientos</a></li>
                <li class=""><a href="#F" data-toggle="tab">Discapacidad</a></li>
                <li class=""><a href="#G" data-toggle="tab">Evaluación</a></li>
                <li class=""><a href="#H" data-toggle="tab">Conf.Perfil</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                     <div class="tab-pane" id="A">
                     @Html.Partial("Puesto")
                    </div>
                    <div class="tab-pane" id="B">
                     @Html.Partial("General")
                    </div>
                    <div class="tab-pane" id="C">
                     @Html.Partial("Estudio")
                    </div>
                  <div class="tab-pane" id="D">
                    @Html.Partial("Experiencia")
                  </div>
                  <div class="tab-pane" id="E">
                    @Html.Partial("Conocimientos")
                  </div>
                  <div class="tab-pane" id="F">
                    @Html.Partial("Discapacidad")
                  </div>
                    <div class="tab-pane" id="G">
                    @Html.Partial("Evaluacion")
                  </div>
                  <div class="tab-pane" id="H">
                    @Html.Partial("ConfiguracionPerfil")
                  </div>
              
                </div>     
                 </div>  
               
          
          }
            
            <div class="form-actions">
                
                <a class="btn" href="@Url.Action("Index", "SolicitudAmpliacionCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                
                @if (Accion.Aprobar.Equals(Model.Accion))
                {
                  <a  class="btn btn-info" onclick ="mostrarAprobarRechazar()"><i class="icon-list icon-white"></i> Aprob/Rech</a>    
                }
               
                
                
                @if (Accion.Enviar.Equals(Model.Accion))
                {
                  <a  class="btn btn-info" onclick="confirmarEnvio()"><i class="icon-screenshot icon-white"></i> Enviar</a>    
                }
                
                @if (Accion.Publicar.Equals(Model.Accion))
                {
                <a class="btn btn-info" id ="btnPublicar"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
                }
            </div>
       
       
        </div>
    </div>
</div>
}

<div id="updateDialogAprobacion" title="Aprobacion/Rechazo Solicitud" ></div>
<div id="updateDialogConfirmacion" title="Confirmar Envio "><span> ¿Seguro que quiere enviar la solicitud de ampliación de personal?</span></div>
<div id="divMensaje"><span id="spanMensaje"></span></div>
