@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudAmpliacionCargoViewModel
@{
    ViewBag.Title = "Perfil";
    
}

@section ScriptsCargo{ 
<script type="text/javascript">
    $(document).ready(function () {


        $('#btnAgregarExperiencia').click(function () {
            validaSesIntranet();

            mostrarAgregarExperiencia();
        });


        $('#updateDialogExperiencia').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function (e) {
                    e.preventDefault();
                    var result = $('#experienciaForm').valid();
                    if (result) {
                        $.post('@Url.Action("Edit", "ExperienciaCargo")',
                                $("#experienciaForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.Resultado) {
                                        $("#updateDialogExperiencia").dialog("close");
                                        $('#grdListExperiencia').trigger('reloadGrid');
                                    }
                                    else {
                                        notificacionError(respuesta.Mensaje);
                                    }
                                }
                            );
                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados sean correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#btnEliminarExperiencia').click(function () {
            validaSesIntranet();

            var ideExperiencia = jQuery('#grdListExperiencia').jqGrid('getGridParam', 'selrow');
            if (ideExperiencia != null) {
                $("#spanMensaje10").html('¿Está seguro que desea eliminar el registro?.');
                $("#divMensaje10").dialog({
                    title: 'SAN PABLO',
                    modal: true,
                    buttons: {
                        "Eliminar": function () { eliminarExperiencia(ideExperiencia); $(this).dialog("close"); $('#grdListExperiencia').trigger('reloadGrid'); },
                        "Cancel": function () { $(this).dialog("close"); }
                    }
                });

                return false;
            }
            else {
                $("#spanMensaje10").html('Seleccionar un item a eliminar');
                $("#divMensaje10").dialog({
                    title: 'SAN PABLO',
                    modal: true,
                    buttons: {
                        "Ok": function () { $(this).dialog("close"); }
                    }
                });
            }
        });

        $('#btnEditarExperiencia').click(function () {
            validaSesIntranet();

            var ideExperiencia = jQuery('#grdListExperiencia').jqGrid('getGridParam', 'selrow');
            if (ideExperiencia != null) {
                mostrarEditarExperiencia(ideExperiencia);
            }
            else {
                $("#spanMensaje10").html('Seleccionar un item a editar');
                $("#divMensaje10").dialog({
                    title: 'SAN PABLO',
                    modal: true,
                    buttons: {
                        "Ok": function () { $(this).dialog("close"); }
                    }
                });
            }
        });
    });

    $(function () {
        $("#txtfechainicio").datepicker();
        $("#txtfechafin").datepicker();



        jQuery("#grdListExperiencia").jqGrid({
            url: '@Url.Action("ListaExperiencia", "ExperienciaCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Cargo', 'Años','Meses', 'Puntaje'],
            colModel: [
                    { name: 'Cargo', index: 'Cargo', align: 'left', editable: false, sortable: false},
                    { name: 'Anho', index: 'Anho', align: 'left', editable: false, sortable: false, width: 50 },
                    { name: 'Meses', index: 'Meses', align: 'left', editable: false, sortable: false, width: 50 },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: false },
            ],
            pager: jQuery('#grdPagerExperiencia'),
            sortname: 'IdeExperienciaCargo',
            sortorder: 'desc',
            viewrecords: false,
            cellEdit: true,
            height: 200,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });
    });


    function mostrarAgregarExperiencia() {
        var dialogDiv = $('#updateDialogExperiencia');
        $.get('@Url.Action("Edit", "ExperienciaCargo",new { id = "0"})', function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogExperiencia"));
            dialogDiv.dialog('open');
        });
        return false;
    }


    function mostrarEditarExperiencia(ideExperiencia) {
        var dialogDiv = $('#updateDialogExperiencia');
        $.get('@Url.Action("Edit", "ExperienciaCargo")', { id: ideExperiencia }, function (data) {
            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#updateDialogExperiencia"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function eliminarExperiencia(id) {
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("eliminarExperiencia","ExperienciaCargo")',
            data: { ideExperiencia: id },
        });
    }
    </script>
 
    }

<!--EXPERIENCIA -->
    <div class="tab-pane" id="D">
        <div class="grilla-opciones">
            <h6>Experiencia Laboral</h6>
            <div class="opciones">
                @*<a id ="btnAgregarExperiencia" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                <a id ="btnEditarExperiencia" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                <a id ="btnEliminarExperiencia" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>  *@                                
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="tabla-datos">
            <table id="grdListExperiencia">
            </table>
            <div id="grdPagerExperiencia">
            </div>
        </div>
        <div class="formulario-accion">   
            <div class="opciones">
            <a class="btn" href="#" onclick="irATab('C');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            <a class="btn btn-info"  href="#" onclick="irATab('E');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

            </div>
                                        
        </div>
    </div>
    <!--EXPERIENCIA FIN-->


<div id="updateDialogExperiencia" title="Experiencia"></div>
    <div id="divMensaje10">
        <span id="spanMensaje10"></span>
    </div>