@model SanPablo.Reclutador.Web.Areas.Intranet.Models.LogSolicitudAmpliacionCargoViewModel
@{
    Layout = "";
}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('AreaObservaciones').style.display = "block";

        
        $('#Aprobado').change(function () {
            mostrarObservacion();
        });
        $('#Rechazado').change(function () {
            mostrarObservacion();
        });

    });
    function mostrarObservacion()
    {
        var aprobado = $('input[name="SolicitudRequerimiento.Aprobado"]:checked').val();
        if (aprobado == "false") {
            document.getElementById('AreaObservaciones').style.display = "block";
        }
        else { document.getElementById('AreaObservaciones').style.display = "none"; }
    }
</script>

@using (Html.BeginForm("Edit", "LogSolicitudAmpliacionCargo", FormMethod.Post, new { @id = "aprobRechazForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:0px;">
        <tr>
            @Html.TextBoxFor(model => model.SolicitudRequerimiento.CodSolReqPersonal, new { style = "display: none;" })
            
            <td class="colImput" style="width:50px"></td>
            <td>
                @Html.RadioButtonFor(model => model.Aprobado, "true", new { @id="Aprobado"}) Aprobar
            </td>
            <td class="colImput" style="width:50px"></td>
            <td>
                @Html.RadioButtonFor(model => model.Aprobado, "false", new { @id="Rechazado"}) Rechazar 
            </td>
        </tr>
    </table>
    <table id="AreaObservaciones" style="margin-left:0px; display:none">
        <tr class ="colEtiqueta" style="height:10px"></tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Observación <span class="text-error">*</span></label>
            </td>
            <td>
                @Html.TextAreaFor(model => model.SolicitudRequerimiento.Observacion)
                
            </td>
        </tr>  
    </table>
}