@model SanPablo.Reclutador.Web.Models.EstudioPostulanteGeneralViewModel
@{
    Layout = "";
}
    <script type="text/javascript">

        $(document).ready(function () {
            var indActual = $('#chbIndEstudiando').is(":checked");
            if (indActual == true) {
                $('#Estudio_FechaEstudioFin').val("");
                $('#Estudio_FechaEstudioFin').attr("disabled", "disabled");
            }
            else {
                $('#Estudio_FechaEstudioFin').removeAttr("disabled");
            }


            //ELEGIR EL TIPO DE INSTITUCIONES
            $('select#tipoInstitucion').change(function () {
                var tipoInstituto = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("listarNombreInstitucion","EstudioPostulante")',
                    data: { tipoInstituto: tipoInstituto },
                    success: function (respuesta) {
                        $("select#nombreInstituciones").empty();
                        $("select#nombreInstituciones").append("<option value='00'> Seleccionar </option>");
                        $.each(respuesta, function (i, items) {
                            $("select#nombreInstituciones").append("<option value='"
                            + items.Valor + "'>" + items.Descripcion + "</option>");
                        }
                        );
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
            })

            //Habilitar texto Otro 
            $('select#nombreInstituciones').change(function () {
                var tipoNombre = $(this).val();
                habilitarTextOtro(tipoNombre);
            })

            //DETERMINAR AL CARGAR LA PAGINA
            var tipoNombre = $('#nombreInstituciones').val();
            habilitarTextOtro(tipoNombre);

            //Actualmente Estudiando

            $('#chbIndEstudiando').change(function () {
                if ($(this).is(":checked")) {
                    $('#Estudio_FechaEstudioFin').val('');
                    $('#Estudio_FechaEstudioFin').attr("disabled", "disabled");
                    
                }
                else {
                    $('#Estudio_FechaEstudioFin').removeAttr("disabled");
                }

            })

        });
              
        function habilitarTextOtro(tipoNombre) {
            if ((tipoNombre == 'X1')||(tipoNombre == 'X2')||(tipoNombre == 'X3')) {
                $('#NombreInstitucion_otro').removeAttr('disabled');
            }
            else {
                $('#NombreInstitucion_otro').attr('disabled', 'disabled');
            }
        }
    </script>
@using (Html.BeginForm("Edit", "EstudioPostulante", FormMethod.Post, new { @id = "estudioPostulanteForm" }))
    {
    @Html.ValidationSummary(true)
   
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    
    <table style="margin-left:30px;">

        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Estudio.IdeEstudiosPostulante)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de Institución <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Estudio.TipTipoInstitucion, new SelectList(Model.TipoTipoInstituciones, "Valor", "Descripcion", Model.Estudio.TipTipoInstitucion), new { @id = "tipoInstitucion"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.TipTipoInstitucion)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setInstitucion">Institución <span class="text-error">*</span></label>
            </td>
            <td class="colInput;input-xxlarge">
                    @Html.DropDownListFor(model => model.Estudio.TipoNombreInstitucion, new SelectList(Model.TipoNombreInstituciones, "Valor", "Descripcion", Model.Estudio.TipoNombreInstitucion), new { @id="nombreInstituciones"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Estudio.TipoNombreInstitucion )
                </div>
            </td>
        </tr> 
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario"> Otro <span class="text-error">*</span></label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Estudio.NombreInstitucion, new { @id="NombreInstitucion_otro",@disabled = "disabled", @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.NombreInstitucion )
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setAreaEstudio"> Área de Estudio <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Estudio.TipoArea, new SelectList(Model.AreasEstudio, "Valor", "Descripcion", Model.Estudio.TipoArea), new { @id="tipoArea"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.TipoArea)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setAreaEstudio"> Tipo de Educación <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Estudio.TipoEducacion, new SelectList(Model.TiposEducacion, "Valor", "Descripcion", Model.Estudio.TipoEducacion), new { @id="tipoEducacion"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.TipoEducacion)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setAreaEstudio"> Nivel Alcanzado <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Estudio.TipoNivelAlcanzado, new SelectList(Model.NivelesAlcanzados, "Valor", "Descripcion", Model.Estudio.TipoNivelAlcanzado), new { @id = "tipoNivelAlcanzado"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.TipoNivelAlcanzado)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setAreaEstudio"> Fecha de Inicio <span class="text-error">*</span></label>
            </td>
            <td class="colInput" id="txtfechainicio">
                @Html.EditorFor(model => model.Estudio.FechaEstudioInicio)
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.FechaEstudioInicio)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setAreaEstudio"> Fecha de Fin </label>
            </td>
            <td class="colInput">
                @Html.EditorFor(model => model.Estudio.FechaEstudioFin)
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Estudio.FechaEstudioFin)
                </div>
            </td>
            <td>
                <Label style="display:inline-block; font-size:10pt" for="estudiando">   Actualmente Estudiando</Label>
                @Html.CheckBoxFor(model => model.Estudio.ActualmenteEstudiando, new { @id = "chbIndEstudiando"})
                
            </td>
        </tr>
        </table>
}