@model SanPablo.Reclutador.Web.Models.EstudioPostulanteGeneralViewModel
@{
    ViewBag.Title = "Estudios";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            mostrarAlerta();
            actualizarBarra();

            jQuery("#grdList").jqGrid({
                url: '@Url.Action("Listar", "EstudioPostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Nivel de estudios', 'Institución', 'Área de Estudios', 'Nivel Alcanzado', 'Desde', 'Hasta'],
                colModel: [
                        { name: 'TipoEducacion', index: 'TipoEducacion', align: 'left', sortable: false },
                        { name: 'Institucion', index: 'Institucion', align: 'left', sortable: false },
                        { name: 'AreaEstudios', index: 'AreaEstudios', align: 'left', sortable: false },
                        { name: 'NivelAlcanzado', index: 'NivelAlcanzado', align: 'left', sortable: false },
                        { name: 'FechaInicio', index: 'FechaInicio', align: 'left', sortable: false },
                        { name: 'FechaFin', index: 'FechaFin', align: 'left', sortable: false },
                ],
                pager: jQuery('#grdPager'),
                rownumbers: true,
                rowList: [10, 30, 50],
                sortname: 'IdeEstudiosPostulante',
                sortorder: 'desc',
                viewrecords: false,
                height: 300,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                rules: true,
                hidegrid: false,
                autowidth: true,
                shrinkToFit: false,
                postData: {
                },
                loadComplete: function (data) {

                }
            });

            $('#updateDialog').dialog({
                autoOpen: false,
                width: 550,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function (e) {
                        e.preventDefault();
                        var fechaFin = $('#Estudio_FechaFin').val();
                        var indActual = $('#chbIndEstudiando').is(":checked");
                        if ((fechaFin == "") && (indActual == false)) {
                            var msj = document.getElementById('msjFechaFin');
                            msj.innerHTML = "Indicar fecha fin";
                            msj.style.display = "block";
                        }
                        else {
                            var result = $('#estudioPostulanteForm').valid();
                            if (result) {
                                $.post('@Url.Action("Edit", "EstudioPostulante")',
                                    $("#estudioPostulanteForm").serialize(),
                                    function (respuesta) {
                                        if (respuesta.Resultado) {
                                            $("#updateDialog").dialog("close");
                                            $('#grdList').trigger('reloadGrid');

                                        }
                                        else {
                                            var mensj = document.getElementById("mensajeError");
                                            mensj.innerHTML = respuesta.Mensaje;
                                            mensj.style.display = "block";
                                        }
                                    }
                                );
                            }
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#btnAgregar').click(function () {
                mostrarAgregarEstudios();
            });

            $('#btnEditar').click(function () {
                var ideEstudio = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (ideEstudio != null) {
                    mostrarEditarEstudios(ideEstudio);
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a editar');
                    $("#divMensaje").dialog({
                        title: 'Sistema de Reclutamiento y Selección de Personal',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            // btn Eliminar
            $('#btnEliminar').click(function () {
                var ideEstudio = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (ideEstudio != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?.');
                    $("#divMensaje").dialog({
                        title: 'Sistema de Reclutamiento y Selección de Personal',
                        modal: true,
                        buttons: {
                            "Eliminar": function () { eliminarEstudio(ideEstudio); $(this).dialog("close"); location.reload(true) },
                            "Cancelar": function () { $(this).dialog("close"); }
                        }
                    });

                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a eliminar');
                    $("#divMensaje").dialog({
                        title: 'Sistema de Reclutamiento y Selección de Personal',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });


           

            $('#btnEstudioSiguiente').click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("validaEstudios", "EstudioPostulante")',
                    traditional: true,
                    success: function (data) {
                       if (data.Resultado) {
                            SanPablo.Redirecciona('@Url.Action("Index", "ExperienciaPostulante")');
                        }
                        else {
                            MostrarMensaje(data.Mensaje, "Alerta");
                        }
                    }
                });
            });


        });

        function mostrarEditarEstudios(idEstudio) {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Edit", "EstudioPostulante")', {id : idEstudio},  function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function eliminarEstudio(id) {
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("eliminarEstudio","EstudioPostulante")',
                        data: { ideEstudio: id },
                });
            }

        function mostrarAgregarEstudios() {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Edit", "EstudioPostulante", new { id = "0"})' , function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }


        function MostrarMensaje(mensaje, titulo) {
            Funciones.Alert("divMensajeCon", "spnMensajeCon", mensaje, titulo);
        }

    </script>
}
<div class="span12">
    @Html.Partial("MenuCv")
</div>

    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Estudios realizados</h5>
            </div>
            <div class="grilla-opciones">
                <div class="opciones">
                    <a id="btnAgregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdList">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" id="btnEstudioAtraz" href="@Url.Action("General", "Postulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                    
                    @*<a class="btn btn-info"  id="btnEstudioSiguiente"  href="@Url.Action("Index", "ExperienciaPostulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>*@
                    <a class="btn btn-info"  id="btnEstudioSiguiente"  ><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
<div id="updateDialog" title="Agregar Estudio" ></div>
    <div id="divMensaje">
        <span id="spanMensaje"></span>
    </div>

<div id="divMensajeCon">
        <span id="spnMensajeCon"></span>
</div>



