@model SanPablo.Reclutador.Web.Models.PostulanteGeneralViewModel
@{
    ViewBag.Title = "DatosComplementarios";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
<script>
    $(document).ready(function () {

        mostrarAlerta();
        //verficar el radio button
        actualizarBarra();

        habilitarPestanas();

        //Determinar el radio button
        actualizarDatosCHSP();

        //Habilitar seccion Otros - Como se entero
        $("input[id='rad-btn-comoEntero']").click(function () {
            var selectedRadio = $("#rad-btn-comoEntero:checked").val();
            if (selectedRadio == '04') {
                $('#Postulante_DescripcionOtroMedio').removeAttr('disabled');
            }
            else {
                $('#Postulante_DescripcionOtroMedio').val("");
                $('#Postulante_DescripcionOtroMedio').attr('disabled', 'disabled');
            }
        })

        

        //Habilitar datos del pariente que trabaja CHSP -
        $("input[id='rd-btn-parienteCHSP']").click(function () {
            actualizarDatosCHSP();
        })
    });
    function actualizarDatosCHSP()
    {
        var labelSede = document.getElementById('labelSede');
        var labelNombre = document.getElementById('labelNombre');
        var labelCargo = document.getElementById('labelCargo');
        var campoSede = document.getElementById('Postulante_TipoParienteSede');
        var campoNombre = document.getElementById('Postulante_ParienteNombre');
        var campoCargo = document.getElementById('Postulante_ParienteCargo');

        var selectedRadio = $("#rd-btn-parienteCHSP:checked").val();
        if (selectedRadio == 'S') {

            labelSede.style.display = "block";
            labelNombre.style.display = "block";
            labelCargo.style.display = "block";
            campoSede.style.display = "block";
            campoNombre.style.display = "block";
            campoCargo.style.display = "block";
            //$('#Postulante_TipoParienteSede').removeAttr('disabled');
            //$('#Postulante_ParienteNombre').removeAttr('disabled');
            //$('#Postulante_ParienteCargo').removeAttr('disabled');
        }
        else {
            labelSede.style.display = "none";
            labelNombre.style.display = "none";
            labelCargo.style.display = "none";
            campoSede.style.display = "none";
            campoNombre.style.display = "none";
            campoCargo.style.display = "none";
            //$('#Postulante_TipoParienteSede').attr('disabled', 'disabled');
            //$('#Postulante_ParienteNombre').attr('disabled', 'disabled');
            //$('#Postulante_ParienteCargo').attr('disabled', 'disabled');
        }
    }

</script>
}
<div class="row">
    <div class="span12">
        @Html.Partial("MenuCv")
    </div>
    <div class="span12"> 
       
     @using (Html.BeginForm("DatosComplementarios", "Postulante"))
       { 
           <div class="widget-box">
            <div class="widget-title">
                <h5>Información Complementaria</h5>
            </div>
              @Html.HiddenFor(model=>model.porcentaje)
            <div class="grilla-opciones">
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <table style="margin-left:100px;">
                <tr>
                    <td class="colEtiqueta" style="width:190px;">
                        <label class="etiquetaFormulario" for="setipodocumento">Sueldo bruto (S/.) <span class="text-error">*</span></label>
                    </td>
                    <td class="colInput">
                         @Html.DropDownListFor(model => model.Postulante.TipoSalario, new SelectList(Model.TipoSueldosBrutos, "Valor", "Descripcion", Model.Postulante.TipoSalario))
                         <div class="tex-error" style="font-size:12px;color:red"> 
                         @Html.ValidationMessageFor(model => model.Postulante.TipoSalario)
                         </div>
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="setipodisponibilidad">Disponibilidad para trabajar <span class="text-error">*</span></label>
                    </td>
                    <td class="colInput">
                        @Html.DropDownListFor(model => model.Postulante.TipoDisponibilidadTrabajo, new SelectList(Model.TipoDisponibilidadesTrabajos, "Valor", "Descripcion", Model.Postulante.TipoDisponibilidadTrabajo))
                        <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TipoDisponibilidadTrabajo)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01">Disponibilidad de horario <span class="text-error">*</span></label>
                    </td>
                    <td class="colInput">
                        @Html.DropDownListFor(model => model.Postulante.TipoDisponibilidadHorario, new SelectList(Model.TipoDisponibilidadesHorarios, "Valor", "Descripcion", Model.Postulante.TipoDisponibilidadHorario))
                        <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TipoDisponibilidadHorario)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01">Horario de trabajo</label>
                    </td>
                    <td class="colInput">
                        @Html.DropDownListFor(model => model.Postulante.TipoHorario, new SelectList(Model.TipoHorarios, "Valor", "Descripcion", Model.Postulante.TipoHorario))   
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01">¿Está dispuesto a reubicarse al interior del país?</label>
                    </td>
                    <td class="colInput">
                        @Html.RadioButtonFor(model => model.Postulante.IndicadorReubicarseInterior,"S") @Html.Label("SI", new { @style = "display: inline-block" }) &nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.Postulante.IndicadorReubicarseInterior,"N") @Html.Label("NO", new { @style = "display: inline-block" })
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01">¿Actualmente tiene un pariente que ha trabajado con nosotros?</label>
                    </td>
                    <td class="colInput">
                        @Html.RadioButtonFor(model => model.Postulante.IndicadorParientesCHSP, "S", new { @id="rd-btn-parienteCHSP"}) @Html.Label("SI", new { @style = "display: inline-block" }) &nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.Postulante.IndicadorParientesCHSP, "N", new { @id="rd-btn-parienteCHSP"}) @Html.Label("NO", new { @style = "display: inline-block" })
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01" id="labelSede" style="display:none;">¿En cuál de nuestras sedes?</label>
                    </td>
                    <td class="colInput">
                         @Html.DropDownListFor(model => model.Postulante.TipoParienteSede, new SelectList(Model.TipoParientesSedes, "Valor", "Descripcion", Model.Postulante.TipoParienteSede), new { style="display:none;"})   
                    </td>
                </tr>
                <tr>
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01" id="labelNombre" style="display:none;" >Nombre del pariente</label>
                    </td>
                    <td class="colInput">
                         @Html.TextBoxFor(model => model.Postulante.ParienteNombre, new { @class = "textoFormulario", @style = "text-transform: uppercase;display:none;" })
                    </td>
                </tr>
                <tr >
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01" id="labelCargo" style="display:none;">Cargo</label>
                    </td>
                    <td class="colInput">
                         @Html.TextBoxFor(model => model.Postulante.ParienteCargo, new { @class = "textoFormulario", @style = "text-transform: uppercase; display:none;" })
                    </td>
                </tr>
                <tr >
                    <td class="colEtiqueta">
                        <label class="etiquetaFormulario" for="input01">¿Cómo se enteró de nosotros? <span class="text-error">*</span></label>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(model => model.Postulante.TipoComoSeEntero,"01", new { @id = "rad-btn-comoEntero" }) @Html.Label("Pagina Web CHSP", new { @style = "display: inline-block"}) &nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(model => model.Postulante.TipoComoSeEntero,"02", new { @id = "rad-btn-comoEntero" }) @Html.Label("Internet", new { @style = "display: inline-block" })
                                 </td>
                                 <td></td>
                            </tr>
                            <tr>
                                <td>
                                 @Html.RadioButtonFor(model => model.Postulante.TipoComoSeEntero,"03", new { @id = "rad-btn-comoEntero" }) @Html.Label("Amigos/Familiares", new { @style = "display: inline-block" }) &nbsp;&nbsp;&nbsp;
                                 @Html.RadioButtonFor(model => model.Postulante.TipoComoSeEntero, "04", new { @id = "rad-btn-comoEntero" }) @Html.Label("Otros", new { @style = "display: inline-block" })
                                </td>
                                <td>@Html.TextBoxFor(model => model.Postulante.DescripcionOtroMedio, new { @class = "input-medium", @style = "disabled:disabled"})
                                    @*<input type="text" class="input-medium" id="txtotros" disabled="disabled"></td>*@
                            </tr>
                            <tr>
                                <td>
                                 @Html.RadioButtonFor(model => model.Postulante.TipoComoSeEntero,"05", new { @id = "rad-btn-comoEntero" }) @Html.Label("Diarios", new { @style = "display: inline-block" })
                                 <div class="tex-error" style="font-size:12px;color:red"> 
                                    @Html.ValidationMessageFor(model => model.Postulante.TipoComoSeEntero)
                                </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div class="formulario-accion">
                <div class="opciones">
                    <button class="btn btn-info" id="btnGrabar" type="submit"><i class="icon-hdd icon-white"></i> Grabar</button>
                   <!-- <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a> -->
                    <a class="btn" href="@Url.Action("Index", "ConocimientoGeneralPostulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                    <a class="btn btn-info" href="@Url.Action("Index", "ParientePostulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
     }
    </div>
</div>
