@{
    ViewBag.Title = "DiscapacidadOtros";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}

@section Head{
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            jQuery("#grdList").jqGrid({
                url: '@Url.Action("ListaDiscapacidad", "Postulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Tipo', 'Descripción'],
                colModel: [
                        { name: 'Tipo', index: 'Tipo', align: 'left', sortable: false },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', sortable: false },                        
                ],
                sortname: 'Nombre',
                sortorder: 'desc',
                viewrecords: true,
                autowidth: true,
                /*caption: 'Lista Referencias',*/
                height: 120,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

            var dlgdiscapacidad = $("#dlgdiscapacidad").dialog(
              {
                  autoOpen: false,
                  modal: true,
                  title: "Discapacidad",
                  width: 400,
                  height: 220,
                  buttons: {
                      "Grabar": function () {
                          //AsociarReciboAPolizaCorrecta();
                          return true;
                      },
                      "Cancelar": function () {
                          $(this).dialog("close");
                          return false;
                      }
                  }
              });

        });

        function mostrardiscapcidad() {
            $("#dlgdiscapacidad").dialog('open');
        }

        function RadioFormatter(cellvalue, options, rowObject) {
            var strRdo = '<input type ="radio" name = "codigo">';
            return strRdo;
        }

        function EditarFormatter(cellvalue, options, rowObject) {
            var imgPath = '@Url.Content("~/Content/images/")';
                var archivo = 'action_edit.gif';
                var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Editar" alt="Editar">';
                return strImg;
            }

        function EliminarFormatter(cellvalue, options, rowObject) {
            var imgPath = '@Url.Content("~/Content/images/")';
             var archivo = 'action_delete.gif';
             var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Eliminar" alt="Eliminar">';
             return strImg;
         }

    </script>
}
<div class="row">
    <div class="span12">
        @Html.Partial("MenuCv")
    </div>

    <div class="span12">

        <div class="widget-box">
            <div class="widget-title">
                <h5>Discapacidad</h5>
            </div>
            <div class="grilla-opciones">
                <div class="opciones">
                    <a class="btn btn-small btn-info" title="Agregar" onclick="mostrardiscapcidad();"><i class="icon-plus icon-white"></i></a>  
                    <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div>
                <table id="grdList">
                </table>
                <div id="grdPager">
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>
                    <a class="btn" href="@Url.Action("Parientes", "Postulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>                          
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>


 <div id="dlgdiscapacidad">
       <table>          
            <tr>
               <td>Tipo</td>
               <td>
                    <select id="setipodiscapcidad" class="select-large">
                                <option>Seleccionar</option>                               
                            </select>
               </td>
           </tr>        
           <tr>
               <td style="height:10px;">Descripción</td>
               <td>
                     <input type="text" class="input-medium" id="txtdiscapacidad">
               </td>
           </tr>
           
       </table>
            

        </div>