@model SanPablo.Reclutador.Web.Models.EstudioPostulanteGeneralViewModel
@{
    ViewBag.Title = "Estudios";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.datepicker').datepicker({});
            $("#txtfechainicio").datepicker({});
            $("#txtfechafin").datepicker({});
            

            jQuery("#grdList").jqGrid({
                url: '@Url.Action("ListaEstudios", "Postulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Tipo de Institución', 'Institución', 'Área de Estudios', 'Tipo de Educación', 'Nivel Alcanzado', 'Fecha Inicio', 'Fecha Fin'],
                colModel: [
                        { name: 'Tipo', index: 'Tipo', align: 'left', sortable: false },
                        { name: 'Institucion', index: 'Institucion', align: 'left', sortable: false },
                        { name: 'AreaEstudios', index: 'AreaEstudios', align: 'left', sortable: false },
                        { name: 'TipoEducacion', index: 'TipoEducacion', align: 'left', sortable: false },
                        { name: 'NivelAlcanzado', index: 'NivelAlcanzado', align: 'left', sortable: false },
                        { name: 'FechaInicio', index: 'FechaInicio', align: 'left', sortable: false },
                        { name: 'FechaFin', index: 'FechaFin', align: 'left', sortable: false },
                        
                ],
                sortname: 'Nombre',
                sortorder: 'desc',
                viewrecords: true,
                autowidth: true,
                /*caption: 'Lista Referencias',*/
                height: 300,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

        });

        function RadioFormatter(cellvalue, options, rowObject) {
            var strRdo = '<input type ="radio" name = "codigo">';
            return strRdo;
        }

        function EditarFormatter(cellvalue, options, rowObject) {
            var imgPath = '@Url.Content("~/Content/images/")';
            var archivo = 'action_edit.gif';
            var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Editar" alt="Editar">';
            return strImg;
        }

        function EliminarFormatter(cellvalue, options, rowObject) {
            var imgPath = '@Url.Content("~/Content/images/")';
               var archivo = 'action_delete.gif';
               var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Eliminar" alt="Eliminar">';
               return strImg;
        }
        function mostrarAgregarEstudios() {
            $('#modalAgregarEstudios').modal({
                autoClose: false
            });
        }
        function cerrarAgregarEstudios() {
            $('#modalAgregarEstudios').modal('hidden');

        }
         $(function() {
           $.datepicker.regional['es'] =
           {
            closeText: 'Cerrar',
            prevText: 'Previo',
            nextText: 'Próximo',
            monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
            'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
            'Jul','Ago','Sep','Oct','Nov','Dic'],
            monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
            dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sa'],
            dateFormat: 'dd/mm/yy', firstDay: 0,
            initStatus: 'Selecciona la fecha', isRTL: false};
            $.datepicker.setDefaults($.datepicker.regional['es']);
            $( "#datepicker" ).datepicker({ minDate: "-1D", maxDate: "+1M +10D" });
        });

    </script>
}
<div class="span12">
    @Html.Partial("MenuCv")
</div>
    @using (Html.BeginForm("Estudios", "Postulante"))
{

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Nivel Académico</h5>
            </div>
            <div class="grilla-opciones">
                <div class="opciones">
                    <a class="btn btn-small btn-info" title="Agregar" onclick="mostrarAgregarEstudios();"><i class="icon-plus icon-white"></i></a>  
                    <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdList">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" href="@Url.Action("General", "Postulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                    <a class="btn btn-info" href="@Url.Action("ExperienciaLaboral", "Postulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
        }
<!-- MODULO PARA AGREGAR ESTUDIOS -->

<div id="modalAgregarEstudios" class="modal hide fade" style="width:650px">
    <div class="navbar navbar-inverse" style="margin-bottom:25px;margin-top:2px;background-color:#f5f5f5">       
    </div>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner" >
            <button style="color:white" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 style="color: white" >AGREGAR ESTUDIOS</h5>
        </div>
    </div>
    <div class="modal-body">
        <br />
        <table style="margin-left:30px;">
            <tr>
                <td class="colEtiqueta">
                    <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de Institución <span class="text-error">*</span></label>
                </td>
                <td class="colInput">
                    @Html.DropDownListFor(model => model.Estudio.tipTipoInstitucion, new SelectList(Model.TipoInstituciones, "Codigo", "Descripcion", Model.Estudio.tipTipoInstitucion))
                    @Html.ValidationMessageFor(model => model.Estudio.tipTipoInstitucion)
                </td>
            </tr>
            <tr>
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" for="setInstitucion">Institución <span class="text-error">*</span></label>
                </td>
                <td class="colInput;input-xxlarge">
                     @Html.DropDownListFor(model => model.Estudio.tipNombreInstitucion , new SelectList(Model.Instituciones , "Codigo", "Descripcion", Model.Estudio.tipNombreInstitucion ))
                     @Html.ValidationMessageFor(model => model.Estudio.tipNombreInstitucion )
                </td>
            </tr> 
            <tr>
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" style="visibility:hidden"> Otro <span class="text-error">*</span></label>
                </td>
                <td>
                    <input style="visibility:hidden" type="text" class="input-large" id="txtOtraInstitucion" />
                </td>
            </tr>
            <tr>
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" for="setAreaEstudio"> Área de Estudio <span class="text-error">*</span></label>
                </td>
                <td class="colInput">
                    @Html.DropDownListFor(model => model.Estudio.tipoArea, new SelectList(Model.AreasEstudio, "Codigo", "Descripcion", Model.Estudio.tipoArea))
                    @Html.ValidationMessageFor(model => model.Estudio.tipoArea)
                </td>
            </tr>
            <tr>
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" for="setAreaEstudio"> Nivel Alcanzado <span class="text-error">*</span></label>
                </td>
                <td class="colInput">
                    @Html.DropDownListFor(model => model.Estudio.tipoNivelAlcanzado, new SelectList(Model.NivelesAlcanzados, "Codigo", "Descripcion", Model.Estudio.tipoNivelAlcanzado))
                    @Html.ValidationMessageFor(model => model.Estudio.tipoNivelAlcanzado)
                </td>
            </tr>
            <tr>
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" for="setAreaEstudio"> Fecha de Inicio <span class="text-error">*</span></label>
                </td>
                <td class="colInput" id="txtfechainicio">
                    @Html.TextBoxFor(model => model.Estudio.fechaEstudioInicio,"{0:d}", new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.Estudio.fechaEstudioInicio)
                </td>
            </tr>
            <tr>
                <td class="colEtiqueta">
                    <label class="etiquetaFormulario" for="setAreaEstudio"> Fecha de Fin </label>
                </td>
                <td class="colInput">
                    @Html.TextBoxFor(model => model.Estudio.fechaEstudioFin,"{0:d}", new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.Estudio.fechaEstudioFin)
                </td>
                <td>
                    <Label style="display:inline-block; font-size:10pt" for="estudiando">   Actualmente Estudiando</Label>
                    <input type="checkbox" value="estudiando" id="indicadorEstudiando" name="Estudiando">
                </td>
            </tr>
         </table>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info" ><i class="icon-hdd icon-white"></i> Grabar</button>
        <!--<a href="#" class="btn btn-info">Grabar</a>-->
        <a href="#" class="btn" onclick="cerrarAgregarEstudios()" >Cancelar</a>
    </div>
</div>
