@model SanPablo.Reclutador.Web.Models.PostulanteGeneralViewModel
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
     <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{

    
<script src="@Url.Content("~/Scripts/uploadify/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {


        // reconstruye la imagen para IE
        
        $("#imgSalida")
        .css({
            height: "150px",
            width: "150px"

        });
        
        //$("#imgSalida2")
        //.css({
        //    height: "150px",
        //    width: "150px"

        //});

        mostrarMensajeBienvenida();

        SanPablo.Numeros('Postulante_NumeroDireccion');
        SanPablo.Numeros('Postulante_NumeroDocumento');
        SanPablo.Numeros('Postulante_TelefonoMovil');
        SanPablo.NumeroTelefono('Postulante_TelefonoFijo');


        SanPablo.AlfanumericoSpace('Postulante_NombreVia');

        SanPablo.LetrasSpace('Postulante_ApellidoPaterno');
        SanPablo.LetrasSpace('Postulante_ApellidoMaterno');
        SanPablo.LetrasSpace('Postulante_PrimerNombre');
        SanPablo.LetrasSpace('Postulante_SegundoNombre');
        SanPablo.AlfanumericoSpace('Postulante_Observacion');

        SanPablo.Alfanumerico('Postulante_InteriorDireccion');
        SanPablo.Alfanumerico('Postulante_Manzana');
        SanPablo.Alfanumerico('Postulante_Lote');
        SanPablo.Alfanumerico('Postulante_Bloque');
        SanPablo.Alfanumerico('Postulante_Etapa');

        SanPablo.AlfanumericoSpace('Postulante_NombreZona');
        SanPablo.AlfanumericoSpace('Postulante_ReferenciaDireccion');
        
        SanPablo.Alfanumerico('Postulante_NumeroLicencia');

        mostrarAlerta();
        actualizarBarra();
       

        $("#image").uploadify({
            'uploader': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
             'script': '@Url.Action("Upload", "Postulante")',
             'scriptData': { ext: '.jpeg;.jpg;.png;' },
             'fileDataName': 'file',
             'buttonText': 'Subir Foto',
             'fileDesc': 'Image Files',
             'fileExt': '*.jpeg;*.jpg;*.png;', //
             'multi': false,
             'auto': true,
             'queueSizeLimit': '90',
             'sizeLimit': 2147483647,
             'removeCompleted': true,
             'cancelImg': '@Url.Content("~/Scripts/uploadify/cancel.png")',

            'onError': function (a, b, c, d) {
                if (d.status == 404)
                    alert("Could not find upload script. Use a path relative to: " + "<?= getcwd() ?>");
                else if (d.type === "HTTP")
                    alert("error " + d.type + ": " + d.status);
                else if (d.type === "File Size")
                    alert(c.name + " " + d.type + " Limit: " + Math.round(d.info / (1024 * 1024)) + "MB");
                else
                    alert("error " + d.type + ": " + d.text);
            },
            'onSelect': function (e, q, f) {
                var estado = true;
                var fileName = f.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1).toLowerCase();
                switch (fileNameExt) {
                    case 'jpeg':
                        break;
                    case 'jpg':
                        break;
                    case 'png':
                        break;
                    default:
                        //MotoTravel.ShowAlert('', "extensión no válida");
                        MostrarMensaje("Extención no válida, subir imagen en los siguientes formatos .jpg, .jpeg, .png", "ALERTA");
                        $("#fileInput").uploadifyCancel(q);
                        $("#fileInput").uploadifyClearQueue();
                        estado = false;
                        break;
                }

                return estado;

            },
            'onComplete': function (event, queueId, fileObj, response, data) {

                var rsp = jQuery.parseJSON(response);

                if (rsp.Success == true) {
                    $("#ReclutaPersonaExamen_nombreArchivo").val(rsp.Data.NombreArchivo);
                    $("#nombreTemporalArchivo").val(rsp.Data.NombreTemporalArchivo);

                    // var path = location.pathname;
                    //var path = '@Url.Content("~/Content/images/")';
                    //var fullpath = path + rsp.Data.NombreTemporalArchivo;
                    var fullpath = "../Archivos/Imagenes/" + rsp.Data.NombreTemporalArchivo;
                    $('#imgSalida').attr("src", fullpath);

                }
                //else {

                //}
            }
         });

       
      @*  $('#Postulante_FechaNacimiento').datepicker({
            showOn: "button",
            //showOn: "both",
            dateFormat: 'dd/mm/yy',
            buttonImage: '@Url.Content("~/Content/images/calendario.png")',
            buttonImageOnly: true,
            //defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onSelect: function (date) {
              if ($(this).valid())
              {
                 validarFechaNacimiento();
              }
            }
         });

        $('#Postulante_FechaNacimiento').attr("readonly", "readonly");*@

        //$('#Postulante_FechaNacimiento').change(function () {
        //    validarFechaNacimiento();
        //});

        //Cargar departamentos 
        $('select#Postulante_Pais').change(function () {
            var valor = $(this).val();
            $("select#Provincias").empty();
            $("select#Provincias").append("<option value='0'> SELECCIONE </option>");
            $("select#Distritos").empty();
            $("select#Distritos").append("<option value='0'> SELECCIONE </option>");
            if (valor != "9000") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("listarDepartamentos","Postulante")',
                    //data: { ideUbigeoPadre: null },
                    success: function (respuesta) {
                        $("select#Departamentos").empty();
                        $("select#Departamentos").append("<option value='0'> SELECCIONE </option>");
                        $.each(respuesta, function (i, item) {
                            $("select#Departamentos").append("<option value='"
                            + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                        }
                    );
                    }
                });
            }
            else {
                $("select#Departamentos").empty();
                $("select#Departamentos").append("<option value='0'> SELECCIONE </option>");
            }
          })



        //Cargar las Provincias del Departamento elegido

        $('select#Departamentos').change(function () {
            var ideDepartamento = $(this).val();
            $("select#Distritos").empty();
            $("select#Distritos").append("<option value='0'> SELECCIONE </option>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","Postulante")',
                data: { ideUbigeoPadre: ideDepartamento },
                success: function (respuesta) {
                    $("select#Provincias").empty();
                    $("select#Provincias").append("<option value='0'> SELECCIONE </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Provincias").append("<option value='" 
                        + item.IdeUbigeo +"'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })

        //$('#btnSubirFoto').click(function () {
        //    mostrarAgregarFoto();
        //});

        //Cargar Distritos
        $('select#Provincias').change(function () {
            var ideProvincia = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","Postulante")',
                data: { ideUbigeoPadre: ideProvincia },
                success: function (respuesta) {
                    $("select#Distritos").empty();
                    $("select#Distritos").append("<option value='0'> SELECCIONE </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Distritos").append("<option value='"
                        + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })

        $(function () {
            $('#Postulante_FechaNacimiento').blur(function () {
                validarFechaNacimiento();
            });
        });


    });




    function validarFechaNacimiento() {
        var fecha = $('#Postulante_FechaNacimiento').val();
        if ((fecha != null) && (fecha != "")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("validarFechaNacimiento","Postulante")',
                data: { date: fecha },
                success: function (respuesta) {
                    if (!respuesta) {
                        var msjError = document.getElementById('errorFechaNacimiento');
                        msjError.innerHTML = "  Debes ser mayor de edad";
                        msjError.style.display = "block";
                        $('#Postulante_FechaNacimiento').val('');

                    }
                    else {
                        var msjError = document.getElementById('errorFechaNacimiento');
                        msjError.style.display = "none";
                    }
                }
            });
        }
    }


    function verificarDocumento() {
        var documento = $('#Postulante_NumeroDocumento').val();
        var msjError = document.getElementById('mesjErrorDocuemento');

        if ((documento != null) && (documento != "")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("validarDocumento","Postulante")',
                data: { dni: documento },
                success: function (respuesta) {
                    if (!respuesta) {

                        MostrarMensaje("El nro de DNI se encuentra registrado. Ud. debe comunicarse con el Administrador del Sistema al Correo abc@sanpablo.com ó al Teléfono 555-5555", "ALERTA");
                        $('#Postulante_NumeroDocumento').val('');
                    }
                    else { msjError.style.display = "none"; }
                    
                }
            });
        }
    }

    function mostrarMensajeBienvenida()
    {
        $.ajax({
            type: "POST",
            async: false,
            url: '@Url.Action("IndicadorSession","Postulante")',
            success: function (respuesta) {
                if (!respuesta.Resultado) {
                    MostrarMensaje("Gracias por registrarse. Te recomentamos registrar tus datos en la sección mi CV","SAN PABLO");

                }
            }
        });
    }

    function verificarNrosTelefonicos() {
        var nroMovil = $("#Postulante_TelefonoMovil").val();
        var nroFijo = $("#Postulante_TelefonoFijo").val();
        var msjError = document.getElementById('msjValidador');
        if ((nroMovil == "") && (nroFijo == "")) {
            msjError.innerHTML = "Debe ingresar un nro de contancto: movil y/o fijo";
            msjError.style.display = "block";

        }
        else { msjError.style.display = "none"; }
    }

    function guardarDatosGenerales() {

        var nroMovil = $("#Postulante_TelefonoMovil").val();
        var nroFijo = $("#Postulante_TelefonoFijo").val();
        var msjError = document.getElementById('msjValidador');
        var result1 = $('#generalForm').valid();
        if ((nroMovil == "") && (nroFijo == "")) {
            msjError.innerHTML ="Debe ingresar un nro de contancto: movil y/o fijo";
            msjError.style.display= "block";

        }
        else {
            msjError.style.display ="none";
            var result = $('#generalForm').valid();
            if (result) {
                $.post('@Url.Action("General", "Postulante")',
                         $("#generalForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                window.location = '@Url.Action("Index", "EstudioPostulante")';

                                }
                            else {
                                var mensj = document.getElementById("mensajeError");
                                if (respuesta.Mensaje != null)
                                { mensj.innerHTML = respuesta.Mensaje; }
                                mensj.style.display = "block";
                                }
                        });
          }

      }
    }
    
    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });
    
</script>
}
<div class="row">
    <div class="span12">
    
        @Html.Partial("MenuCv")
   </div>
    <div class="span12"> 
       
     @using (Html.BeginForm("General", "Postulante", FormMethod.Post, new {@id="generalForm", enctype = "multipart/form-data" }))
     { 
         
         @Html.ValidationSummary(true)
         <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('alerta')" >×</a>
         <strong>ERROR :  </strong> Verificar los datos ingresados
        </div>
         
            <div class="widget-box">
                <div class="widget-title">
                    <h5>Datos</h5>
                </div>
         
                <p style="margin-left:300px;margin-top:10px;  "><span class="text-error">No olvides que los campos marcados con (*) son obligatorios</span></p>
                <div class="grilla-opciones">
                    <h6>Datos Generales</h6>
                    <div class="opciones">
                    </div>
                    <div style="clear:both"></div>
                </div>
                <table style="margin-left:120px;">
                    <tr>
                        <td class="colEtiqueta">
                            @Html.HiddenFor(model=>model.porcentaje)
                            <label class="etiquetaFormulario" for="setipodocumento">Tipo de documento <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.TipoDocumento, new SelectList(Model.TipoDocumentos, "Valor", "Descripcion", Model.Postulante.TipoDocumento))
                            @Html.ValidationMessageFor(model => model.Postulante.TipoDocumento)
                        </td>
                        <td rowspan="7" colspan="3" style="text-align:center; width:300px"> 
                                            
                            @*<img id="imgSalida"  width="40%" height="40%" src="~/Content/images/user4.png" alt="user" title="user"/>*@
                            @*<img src="@Url.Content("~/Content/images/"+Model.directorioImagen)"  alt="" id ="imgSalida"  width="40%" height="40%"/>
                           *@
                             


                             @if (Model.Postulante.FotoPostulante!=null)
                                 {
                                     <table>
                                         <tr style="text-align:center">
                                             <td style="width:100px;"></td>
                                              <td class ="colInput" colspan="3">
                                                 <img id="imgSalida"  height ="150" width="150" src ="@Url.Action("GetImage", "Postulante",new { id = Model.Postulante.IdePostulante })" /> 
                                              </td>
                                        </tr>
                                     </table>    
                                 }
                            else
                            {
                                 <img src="~/Content/images/user4.png"  alt="" id ="imgSalida"  width="40%" height="40%"/>
                             }

                             <br />
                            <div id="divImagen">
                              <input type="file" name="image" id="image" />
                                 @Html.TextBoxFor(model => model.nombreTemporalArchivo, new { style = "display:none" })
                              </div>

                           @*  @Html.TextBoxFor(model => model.FotoPostulante, new { type = "file", accept = "image/*" , @class = "custom-file-input"})*@
                                  
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="optionsCheckbox">Número de documento <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NumeroDocumento, new { @class = "textoFormulario",maxlength="8", onblur="verificarDocumento();" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.NumeroDocumento)
                            </div>
                            <div id="mesjErrorDocuemento" class="tex-error" style="font-size:12px;color:red;display:none;"> 
                                El nro de documento ya existe.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtapellidopaterno">Apellido paterno <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.ApellidoPaterno, new { @class = "textoFormulario", onblur="aMays(event, this)"})
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.ApellidoPaterno)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtapellidomaterno">Apellido materno <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.ApellidoMaterno, new { @class = "textoFormulario" , onblur="aMays(event, this)"})
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.ApellidoMaterno)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtprimernombre">Primer nombre <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.PrimerNombre, new { @class = "textoFormulario", onblur="aMays(event, this)" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.PrimerNombre)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtsegundonombre">Segundo nombre</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.SegundoNombre, new { @class = "textoFormulario" ,onblur="aMays(event, this)" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.SegundoNombre)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="senacionalidad">Nacionalidad <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                             @Html.DropDownListFor(model => model.Postulante.TipoNacionalidad, new SelectList(Model.Nacionalidad, "Valor", "Descripcion", Model.Postulante.TipoNacionalidad))
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="dtpfechanacimiento">Fecha de nacimiento <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.EditorFor(model => model.Postulante.FechaNacimiento, new { @class = "textoFormulario", onblur = "validarFechaNacimiento();" , maxlength="10" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.FechaNacimiento)
                            </div>
                            <div  id="errorFechaNacimiento" class="tex-error" style="font-size:12px;color:red; display:none;" > 
                            </div>
                        </td>
                        <td style="width:40px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="seSexo">Sexo <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.IndicadorSexo, new SelectList(Model.Sexo, "Valor", "Descripcion", Model.Postulante.IndicadorSexo))
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.IndicadorSexo)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumerolicencia">Licencia de conducir</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NumeroLicencia, new { @class = "textoFormulario" , maxlength="9", onblur="aMays(event, this)" })

                        </td>
                        <td style="width:40px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="seestadocivil">Estado civil <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.TipoEstadoCivil, new SelectList(Model.EstadosCiviles, "Valor", "Descripcion", Model.Postulante.TipoEstadoCivil))
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TipoEstadoCivil)
                            </div>
                        </td>
                    </tr>
                    
                </table>
                <table style="margin-left:120px;" >
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="taobservaciongeneral" style="width:150px" >Perfil<span class="text-error">*</span></label>
                        </td >
                        <td colspan="4" class="colInput">
                            @Html.TextAreaFor(model => model.Postulante.Observacion, new { @class = "textoFormulario", rows="3", style="width:570px;height: 80px;resize:none;" , onblur="aMays(event, this)" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.Observacion)
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="grilla-opciones">
                    <h6>Datos de Residencia</h6>
                    <div class="opciones">
                    </div>
                    <div style="clear:both"></div>
                </div>
                <table style="margin-left:160px;">
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="sedepartamento">País <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.Pais, new SelectList(Model.Paises, "IdeUbigeo", "Nombre", Model.Postulante.Pais))
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.Pais)
                            </div>
                            @*<select id="pais" class="textoFormulario">
                                <option>SELECCIONE</option>
                                <option selected="selected">PERÚ</option>
                            </select>*@
                        </td>
                        <td style="width:40px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipovia">Tipo vía <span class="text-error">*</span></label>
                        </td>
                        <td id="tipoVias" class="colInput">
                           @Html.DropDownListFor(model => model.Postulante.TipoVia, new SelectList(Model.TipoVias, "Valor", "Descripcion", Model.Postulante.TipoVia), new { @id = "tipoVias" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TipoVia)
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="sedepartamento">Departamento <span class="text-error">*</span></label>
                        </td>
                        
                        <td id="Departamentos" class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.Departamento, new SelectList(Model.Departamentos, "IdeUbigeo", "Nombre", Model.Postulante.Departamento), new { @id = "Departamentos" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.Departamento)
                            </div>

                        </td>
                      
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnombrevia">Nombre de vía</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NombreVia, new { @class = "textoFormulario" ,onblur="aMays(event, this)" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.NombreVia)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="seprovincia">Provincia <span class="text-error">*</span></label>
                        </td>
                        <td id="Provincias" class="colInput">
                              @Html.DropDownListFor(model => model.Postulante.Provincia, new SelectList(Model.Provincias, "IdeUbigeo", "Nombre", Model.Postulante.Provincia), new { @id = "Provincias" }) 
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.Provincia)
                            </div>
                           
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumero">Número </label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NumeroDireccion, new { @class = "input-xmini",maxlength="4" })
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interior&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Postulante.InteriorDireccion, new { @class = "input-xmini", maxlength="4", onblur="aMays(event, this)"})                           
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="sedistrito">Distrito <span class="text-error">*</span></label>
                        </td>
                        <td id="Distritos" class="colInput">
                              @Html.DropDownListFor(model => model.Postulante.IdeUbigeo, new SelectList(Model.Distritos, "IdeUbigeo", "Nombre", Model.Postulante.IdeUbigeo), new { @id = "Distritos" }) 
                             <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.IdeUbigeo)
                            </div>
                           
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumero">Manzana </label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.Manzana, new { @class = "input-xmini" , maxlength="2" , onblur="aMays(event, this)"})
                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lote&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Postulante.Lote, new { @class = "input-xmini" , maxlength="2" , onblur="aMays(event, this)" })
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtemail">Email</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.Correo, new { @class = "textoFormulario" , disabled = "disabled"})
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.Correo)
                            </div>
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumero">Bloque</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.Bloque, new { @class = "input-xmini", maxlength="3", onblur="aMays(event, this)" })
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Etapa&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Postulante.Etapa, new { @class = "input-xmini", maxlength="3", onblur="aMays(event, this)" })
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txttelefonomovil">Teléfono movil </label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.TelefonoMovil, new { maxlength = "9", onblur="verificarNrosTelefonicos();" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TelefonoMovil)
                            </div>
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipozona">Tipo zona</label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.TipoZona, new SelectList(Model.TipoZonas, "Valor", "Descripcion", Model.TipoZonas), new { @id = "tipoZonas" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TipoZona)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txttelefonofijo">Teléfono fijo</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.TelefonoFijo, new { placeholder = "(054)-000-0000", maxlength = "14", onblur= "verificarNrosTelefonicos();" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TelefonoFijo)
                            </div>
                            <div id="msjValidador" class="tex-error" style="font-size:12px;color:red;display:none;"> 
                            </div>
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipozona">Nombre zona</label>
                        </td>
                        <td class="colInput">
                             @Html.TextBoxFor(model => model.Postulante.NombreZona, new { onblur="aMays(event, this)"})
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.NombreZona)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txttelefonofijo">Referencia <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                             @Html.TextBoxFor(model => model.Postulante.ReferenciaDireccion, new {onblur="aMays(event, this)"} )
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.ReferenciaDireccion)
                            </div>
                        </td>
                    </tr>

                </table>
                <div class="formulario-accion">
                    <div class="opciones">
                        <a id="btnGrabar" onclick="guardarDatosGenerales();" class="btn btn-info"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
     }
    </div>

</div>

<div id="updateDialog" title="Experiencia" ></div>
    <div id="divMensaje">
        <span id="spnMensaje"></span>
    </div>

