@model SanPablo.Reclutador.Web.Models.PostulanteGeneralViewModel
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
<script>
    //$.validator.addMethod("notequal", function (value, element, param) {
    //    var valorNotEqual = param;
    //    if (value != valorNotEqual)
    //        return true;
    //    return false;
    //}, "Debe tener otro valor");

    //$.validator.unobtrusive.adapters.add("notequal", ["field"], function (options) {
    //    options.rules["notequal"] = options.params.field;
    //    if (options.message) options.messages["notequal"] = options.message;
    //});

    $(document).ready(function () {


        $('.datepicker').datepicker({});
        $("#fechanacimiento").datepicker({});
       
        //Cargar las Provincias del Departamento elegido
        $('select#Departamentos').change(function () {
            var ideDepartamento = $(this).val();
            $("select#Distritos").empty();
            $("select#Distritos").append("<option value='00'> Seleccionar </option>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","Postulante")',
                data: { ideUbigeoPadre: ideDepartamento },
                success: function (respuesta) {
                    $("select#Provincias").empty();
                    $("select#Provincias").append("<option value='00'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Provincias").append("<option value='" 
                        + item.IdeUbigeo +"'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })

        //Cargar Distritos
        $('select#Provincias').change(function () {
            var ideProvincia = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","Postulante")',
                data: { ideUbigeoPadre: ideProvincia },
                success: function (respuesta) {
                    $("select#Distritos").empty();
                    $("select#Distritos").append("<option value='00'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Distritos").append("<option value='"
                        + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })

  });

    $(function () {
        $.datepicker.regional['es'] =
           {
               closeText: 'Cerrar',
               prevText: 'Previo',
               nextText: 'Próximo',
               monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
               'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
               monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
               'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
               monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
               dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
               dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb'],
               dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
               dateFormat: 'dd/mm/yy', firstDay: 0,
               initStatus: 'Selecciona la fecha', isRTL: false
           };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        $("#datepicker").datepicker({ minDate: "-1D", maxDate: "+1M +10D" });
    });
</script>
}
<div class="row">
    <div class="span12">
    
        @Html.Partial("MenuCv")
   </div>
    <div class="span12"> 
       
     @using (Html.BeginForm("General", "Postulante"))
       { 

            <div class="widget-box">
                <div class="widget-title">
                    <h5>Datos</h5>
                </div>
         
                <p style="margin-left:300px;margin-top:10px;">No olvides que los campos marcados con (<span class="text-error">*</span>) son obligatorios</p>
                <div class="grilla-opciones">
                    <h6>Datos Generales</h6>
                    <div class="opciones">
                    </div>
                    <div style="clear:both"></div>
                </div>
                <table style="margin-left:120px;">
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipodocumento">Tipo Documento <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.TipoDocumento, new SelectList(Model.TipoDocumentos, "Valor", "Descripcion", Model.Postulante.TipoDocumento))
                            @Html.ValidationMessageFor(model => model.Postulante.TipoDocumento)
                        </td>
                        <td rowspan="7" colspan="3" style="text-align:center;">
                            <img src="~/Content/images/user4.png" alt="user" title="user" />
                            <br />
                            <input type="button" class="btn btn-info" value="Subir Foto" />
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="optionsCheckbox">Número Documento <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NumeroDocumento, new { @class = "textoFormulario" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.NumeroDocumento)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtapellidopaterno">Apellido Paterno <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.ApellidoPaterno, new { @class = "textoFormulario" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.ApellidoPaterno)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtapellidomaterno">Apellido Materno <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.ApellidoMaterno, new { @class = "textoFormulario" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.ApellidoMaterno)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtprimernombre">Primer Nombre <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.PrimerNombre, new { @class = "textoFormulario" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.PrimerNombre)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtsegundonombre">Segundo Nombre</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.SegundoNombre, new { @class = "textoFormulario" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.SegundoNombre)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="senacionalidad">Nacionalidad <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                             @Html.DropDownListFor(model => model.Postulante.TipoNacionalidad , new SelectList(Model.Nacionalidad, "Valor", "Descripcion", Model.Postulante.TipoNacionalidad))
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="dtpfechanacimiento">Fecha de Nacimiento <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.FechaNacimiento, new { @class = "textoFormulario" , @id="fechanacimiento"})
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.FechaNacimiento)
                            </div>
                        </td>
                        <td style="width:40px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="seSexo">Sexo <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.IndicadorSexo, new SelectList(Model.Sexo, "Valor", "Descripcion", Model.Postulante.IndicadorSexo))
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.IndicadorSexo)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumerolicencia">Licencia de conducir</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NumeroLicencia, new { @class = "textoFormulario" })

                        </td>
                        <td style="width:40px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="seestadocivil">Estado Civil <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.TipoEstadoCivil, new SelectList(Model.EstadosCiviles, "Valor", "Descripcion", Model.Postulante.TipoEstadoCivil))
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.TipoEstadoCivil)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="taobservaciongeneral">Observación</label>
                        </td >
                        <td colspan="4" class="colInput">
                            @Html.TextAreaFor(model => model.Postulante.Observacion, new { @class = "textoFormulario" })
                        </td>
                    </tr>
                </table>
                <div class="grilla-opciones">
                    <h6>Datos de Residencia</h6>
                    <div class="opciones">
                    </div>
                    <div style="clear:both"></div>
                </div>
                <table style="margin-left:160px;">
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="sedepartamento">País <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            <select id="pais" class="textoFormulario">
                                <option>Seleccionar</option>
                                <option selected="selected">Peru</option>
                            </select>
                        </td>
                        <td style="width:40px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipovia">Tipo Vía <span class="text-error">*</span></label>
                        </td>
                        <td id="tipoVias" class="colInput">
                           @Html.DropDownListFor(model => model.Postulante.TipoVia, new SelectList(Model.TipoVias, "Valor", "Descripcion", Model.Postulante.TipoVia), new {@id="tipoVias" })
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="sedepartamento">Departamento <span class="text-error">*</span></label>
                        </td>
                        
                        <td id="Departamentos" class="colInput">
                            @Html.DropDownListFor(model => model.Departamentos, new SelectList(Model.Departamentos, "IdeUbigeo", "Nombre", Model.Departamentos), new {@id="Departamentos" })

                        </td>
                      
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnombrevia">Nombre de Vía</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NombreVia, new { @class = "textoFormulario" })
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="seprovincia">Provincia <span class="text-error">*</span></label>
                        </td>
                        <td id="Provincias" class="colInput">
                              @Html.DropDownListFor(model => model.Provincias ,new SelectList(Model.Provincias,"IdeUbigeo","Nombre",Model.Provincias),new {@id="Provincias" }) 
                           
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumero">Número </label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.NumeroDireccion, new { @class = "input-xmini" })
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interior&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Postulante.InteriorDireccion, new { @class = "input-xmini" })                           
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="sedistrito">Distrito <span class="text-error">*</span></label>
                        </td>
                        <td id="Distritos" class="colInput">
                              @Html.DropDownListFor(model => model.Postulante.IdeUbigeo ,new SelectList(Model.Distritos,"IdeUbigeo","Nombre",Model.Postulante.IdeUbigeo),new {@id="Distritos" }) 
                             <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.IdeUbigeo)
                            </div>
                           
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumero">Manzana </label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.Manzana, new { @class = "input-xmini" })
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lote&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Postulante.Lote, new { @class = "input-xmini" })
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtemail">Email</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.Correo, new { @class = "textoFormulario" })
                            <div class="tex-error" style="font-size:12px;color:red"> 
                                @Html.ValidationMessageFor(model => model.Postulante.Correo)
                            </div>
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txtnumero">Bloque</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Postulante.Bloque, new { @class = "input-xmini" })
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Etapa&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Postulante.Etapa, new { @class = "input-xmini" })
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txttelefonomovil">Teléfono Movil <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            <input type="text" class="textoFormulario" id="txttelefonomovil">
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipozona">Tipo Zona</label>
                        </td>
                        <td class="colInput">
                            @Html.DropDownListFor(model => model.Postulante.TipoZona, new SelectList(Model.TipoZonas, "Valor", "Descripcion", Model.TipoZonas), new {@id="tipoZonas" })
                        </td>
                    </tr>
                    <tr>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txttelefonofijo">Teléfono Fijo</label>
                        </td>
                        <td class="colInput">
                            <input type="text" class="textoFormulario" id="txttelefonofijo" value="">
                        </td>
                        <td style="width:10px;"></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="setipozona">Nombre Zona</label>
                        </td>
                        <td class="colInput">
                            <input type="text" class="textoFormulario" id="txtNombreZona" value="">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="colEtiqueta">
                            <label class="etiquetaFormulario" for="txttelefonofijo">Referencia <span class="text-error">*</span></label>
                        </td>
                        <td class="colInput">
                            <input type="text" class="textoFormulario" id="txtReferencia" value="">
                        </td>
                    </tr>

                </table>
                <div class="formulario-accion">
                    <div class="opciones">
                        <button id="btnGrabar" type="submit" onclick ="barraProgreso('25%')"><i class="icon-hdd icon-white"></i> Grabar</button>
                        <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>
                        <button type="reset" class="btn">Cancelar</button>
                        <a class="btn btn-info" href="@Url.Action("Estudios", "Postulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        }
    </div>
</div>

