@{
    ViewBag.Title = "Parientes";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#txtfechanacimiento").datepicker();

            jQuery("#grdList").jqGrid({
                url: '@Url.Action("ListaParientes", "Postulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Apellido Paterno', 'Apellido Materno', 'Nombres', 'Vínculo'],
                colModel: [
                        { name: 'ApellidoPaterno', index: 'ApellidoPaterno', align: 'left', sortable: false },
                        { name: 'ApellidoMaterno', index: 'ApellidoMaterno', align: 'left', sortable: false },
                        { name: 'Nombres', index: 'Nombres', align: 'left', sortable: false },
                        { name: 'Vinculo', index: 'Vinculo', align: 'left', sortable: false },                        
                ],
                sortname: 'ApellidoPaterno',
                sortorder: 'desc',
                viewrecords: true,
                autowidth: true,
                /*caption: 'Lista Referencias',*/
                height: 120,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

        });

        function RadioFormatter(cellvalue, options, rowObject) {
            var strRdo = '<input type ="radio" name = "codigo">';
            return strRdo;
        }

        function EditarFormatter(cellvalue, options, rowObject) {
            var imgPath = '@Url.Content("~/Content/images/")';
                        var archivo = 'action_edit.gif';
                        var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Editar" alt="Editar">';
                        return strImg;
        }

        function EliminarFormatter(cellvalue, options, rowObject) {
            var imgPath = '@Url.Content("~/Content/images/")';
               var archivo = 'action_delete.gif';
               var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Eliminar" alt="Eliminar">';
               return strImg;
           }

    </script>
}
<div class="row">
    <div class="span12">
        @Html.Partial("MenuCv")
    </div>

    <div class="span12">

        <div class="widget-box">
            <div class="widget-title">
                <h5>Parientes</h5>
            </div>
            <p style="margin-left:300px;margin-top:10px;">Ingresar datos de familia directa (padres, conyugue y/o hijos)</p>
            <div class="grilla-opciones">
                <div class="opciones">
                    <a class="btn btn-small btn-info" title="Agregar" onclick="mostrarconocimientosgenerales();"><i class="icon-plus icon-white"></i></a>  
                    <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div>
                <table id="grdList">
                </table>
                <div id="grdPager">
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>
                    <a class="btn" href="@Url.Action("DatosComplementarios", "Postulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                    <a class="btn btn-info" href="@Url.Action("DiscapacidadOtros", "Postulante")"><i class="icon-arrow-right icon-white"></i>Siguiente</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>
