@model SanPablo.Reclutador.Web.Areas.Intranet.Models.UbigeoCargoViewModel
@{
    Layout = "";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
               
        $('select#Ubigeo_IdeDepartamento').change(function () {
            var ideDepartamento = $(this).val();
            $("select#Ubigeo_IdeUbigeo").empty();
            $("select#Ubigeo_IdeUbigeo").append("<option value='00'> Seleccionar </option>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","UbigeoCargo")',
                data: { ideUbigeoPadre: ideDepartamento },
                success: function (respuesta) {
                    $("select#Ubigeo_IdeProvincia").empty();
                    $("select#Ubigeo_IdeProvincia").append("<option value='00'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Ubigeo_IdeProvincia").append("<option value='"
                        + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })

        //Cargar Distritos
        $('select#Ubigeo_IdeProvincia').change(function () {
            var ideProvincia = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","UbigeoCargo")',
                data: { ideUbigeoPadre: ideProvincia },
                success: function (respuesta) {
                    $("select#Ubigeo_IdeUbigeo").empty();
                    $("select#Ubigeo_IdeUbigeo").append("<option value='00'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Ubigeo_IdeUbigeo").append("<option value='"
                        + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })
    });

    $('input[data-val=true]').on('blur', function () {
        $(this).valid();
    });

    
    SanPablo.Numeros('Ubigeo_PuntajeUbigeo');
</script>



@using (Html.BeginForm("Edit", "UbigeoCargo", FormMethod.Post, new { @id = "ubigeosForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Ubigeo.IdeUbigeoCargo)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Departamento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Ubigeo.IdeDepartamento, new SelectList(Model.Departamentos, "IdeUbigeo", "Nombre", Model.Ubigeo.IdeDepartamento))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Ubigeo.IdeDepartamento)
                </div>
                
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Provincia <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Ubigeo.IdeProvincia, new SelectList(Model.Provincias, "IdeUbigeo", "Nombre", Model.Ubigeo.IdeProvincia))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Ubigeo.IdeProvincia)
                </div>
                
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Distrito <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Ubigeo.IdeUbigeo, new SelectList(Model.Distritos, "IdeUbigeo", "Nombre", Model.Ubigeo.IdeUbigeo))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Ubigeo.IdeUbigeo)
                </div>
            </td>
       </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.Ubigeo.PuntajeUbigeo, new {@class="input-xxmini" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                     @Html.ValidationMessageFor(model => model.Ubigeo.PuntajeUbigeo)
                </div>
           </td>
       </tr>  
    </table>
}