@model SanPablo.Reclutador.Web.Models.DiscapacidadPostulanteGeneralViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Edit", "DiscapacidadPostulante", FormMethod.Post, new { @id = "discapacidadPostulanteForm" }))
    {
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Discapacidad.IdeDiscapacidadPostulante)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de discapacidad <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Discapacidad.TipoDiscapacidad, new SelectList(Model.TipoDiscapacidades, "Valor", "Descripcion", Model.Discapacidad.TipoDiscapacidad))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Discapacidad.TipoDiscapacidad)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setInstitucion">Descripción <span class="text-error">*</span></label>
            </td>
            <td class="colInput;input-xxlarge">
                    @Html.TextBoxFor(model => model.Discapacidad.DescripcionDiscapacidad, new { @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Discapacidad.DescripcionDiscapacidad )
                </div>
            </td>
        </tr> 
       
        </table>
}