@model SanPablo.Reclutador.Web.Models.DiscapacidadPostulanteGeneralViewModel
@{
    ViewBag.Title = "Discapacidad";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            mostrarAlerta();
            actualizarBarra();

            jQuery("#grdList").jqGrid({
                url: '@Url.Action("Listar", "DiscapacidadPostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Tipo de discapacidad', 'Descripcion'],
                colModel: [
                        { name: 'Tipo de discapacidad', index: 'TipoDiscapacidad', align: 'left', sortable: false },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', sortable: false },
                ],
                pager: jQuery('#grdPager'),
                rownumbers: true,
                rowList: [10, 30, 50],
                sortname: 'IdeDiscapacidadPostulante',
                sortorder: 'desc',
                viewrecords: false,
                autowidth: true,
                height: 300,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {
                },
                loadComplete: function (data) {

                }
            });

            $('#updateDialog').dialog({
                autoOpen: false,
                width: 600,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function (e) {
                        e.preventDefault();
                        var result = $('form').valid();
                        if (result)
                        {
                            $.post('@Url.Action("Edit", "DiscapacidadPostulante")',
                                $("#discapacidadPostulanteForm").serialize(),
                                function (respuesta) {
                                    if (respuesta.msj) {
                                        $("#updateDialog").dialog("close");
                                        location.reload(true);
                                        
                                    }
                                    else {
                                        var mensj = document.getElementById("mensajeError");
                                        mensj.style.display = "block";
                                         }
                                }
                            );
                        }
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#btnAgregar').click(function () {
                mostrarAgregarDiscapacidad();
            });

            $('#btnEditar').click(function () {
                var ideDiscapacidad = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (ideDiscapacidad != null) {
                    mostrarEditarDiscapacidad(ideDiscapacidad);
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a editar');
                    $("#divMensaje").dialog({
                        title: 'SAN PABLO',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            // btn Eliminar
            $('#btnEliminar').click(function () {
                var ideDiscapacidad = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (ideDiscapacidad != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?.');

                    $("#divMensaje").dialog({
                        title: 'CONVOCATORIAS SAN PABLO',
                        modal: true,
                        buttons: {
                            "Eliminar": function () { eliminarDiscapacidad(ideDiscapacidad); $(this).dialog("close"); location.reload(true) },
                            "Cancel": function () { $(this).dialog("close"); }
                        }
                    });

                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a eliminar');
                    $("#divMensaje").dialog({
                        title: 'SAN PABLO',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

        });

        function mostrarEditarDiscapacidad(id) {
            var dialogDiv = $('#updateDialog');
            //var id = parseInt(ideEstudioEdit);
            $.get('@Url.Action("Edit", "DiscapacidadPostulante")', {id : id}, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function eliminarDiscapacidad(id) {
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("eliminarDiscapacidad","DiscapacidadPostulante")',
                        data: { ideDiscapacidad: id },
                });
            }

        function mostrarAgregarDiscapacidad() {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Edit", "DiscapacidadPostulante", new { id = "0"})', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

    </script>
}
<div class="span12">
    @Html.Partial("MenuCv")
</div>

    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Nivel Académico</h5>
            </div>
            @Html.HiddenFor(model=>model.porcentaje)
            <div class="grilla-opciones">
                <div class="opciones">
                    <a id="btnAgregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdList">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" href="@Url.Action("Index", "ParientePostulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
<div id="updateDialog" title="Agregar Discapacidad"></div>
    <div id="divMensaje">
        <span id="spanMensaje"></span>
    </div>



