@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudConsultaViewModel
@using SanPablo.Reclutador.Entity
@using System.Collections.Generic


@{
    ViewBag.Title = "Listado Solicitudes";
}
@section Head{
}

@section Scripts{

<script type="text/javascript">

    $("#txtfechainicio").datepicker();
    $("#txtfechafin").datepicker();


    $('#btnBuscarReemplazo').click(function () {

        $('#grdList').trigger('reloadGrid');
    });

    $('#btnConsultarSolicitud').click(function () {

        var ideSol = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
        var rowData = jQuery('#grdList').jqGrid('getRowData', ideSol);
        var tipoSolicitud = rowData.TipoSol;
        var idCargo = rowData.Idecargo;
        if (ideSol != null) {
            consultarSolicitud(ideSol, tipoSolicitud, idCargo);
        }
        else {
            MostrarMensaje("Seleccione una solicitud para la consulta ");
        }
        
    });


    $('select#SolicitudRequerimiento_IdeDependencia').change(function () {
        var ideDependencia = $(this).val();
        $("select#SolicitudRequerimiento_IdeArea").empty();
        $("select#SolicitudRequerimiento_IdeArea").append("<option value='0'> Seleccionar </option>");
        $.ajax({
            type: "POST",
            url: '@Url.Action("listaDepartamentos", "SolicitudConsulta", new { area = "Intranet"})',
            data: { ideDependencia: ideDependencia },
            success: function (respuesta) {
                $("select#SolicitudRequerimiento_IdeDepartamento").empty();
                $("select#SolicitudRequerimiento_IdeDepartamento").append("<option value='0'> Seleccionar </option>");
                $.each(respuesta, function (i, item) {
                    $("select#SolicitudRequerimiento_IdeDepartamento").append("<option value='"
                    + item.IdeDepartamento + "'>" + item.NombreDepartamento + "</option>");
                }
            );
            }
        });
    })

    $('select#SolicitudRequerimiento_IdeDepartamento').change(function () {
        var ideDepartamento = $(this).val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("listaAreas","SolicitudConsulta",new { area = "Intranet"})',
                data: { ideDepartamento: ideDepartamento },
                success: function (respuesta) {
                    $("select#SolicitudRequerimiento_IdeArea").empty();
                    $("select#SolicitudRequerimiento_IdeArea").append("<option value='0'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#SolicitudRequerimiento_IdeArea").append("<option value='"
                        + item.IdeArea + "'>" + item.NombreArea + "</option>");
                    }
                );
                }
            });
    })


    jQuery("#grdList").jqGrid({
        datatype: function (postdata) {
            var migrilla = new Object();
            migrilla.page = postdata.page;
            migrilla.rows = postdata.rows;
            migrilla.sidx = postdata.sidx;
            migrilla.sord = postdata.sord;
            migrilla._search = postdata.isSearch;
            migrilla.filters = postdata.filters;
            migrilla.Rules = [

                { field: 'idUsuario', data: jQuery('#grdList').jqGrid('getGridParam', 'selrow') },
                { field: 'idCargo', data: $("#SolicitudRequerimiento_IdeCargo").val() },
                { field: 'idDependencia', data: $("#SolicitudRequerimiento_IdeDependencia").val() },
                { field: 'idArea', data: $("#SolicitudRequerimiento_IdeArea").val() },
                { field: 'tipResp', data: $("#SolicitudRequerimiento_TipResponsable").val() },
                { field: 'fecInicio', data: $("#SolicitudRequerimiento_FechaInicioBus").val() },
                { field: 'fecFin', data: $("#SolicitudRequerimiento_FechaFinBus").val() },
                { field: 'idDepartamento', data: $("#SolicitudRequerimiento_IdeDepartamento").val() },
                { field: 'tipEtapa', data: $("#SolicitudRequerimiento_TipEtapa").val() },
                { field: 'tipEstado', data: $("#SolicitudRequerimiento_TipEstado").val() },
                { field: 'tipSol', data: $("#SolicitudRequerimiento_TipoSolicitud").val() },
                { field: 'codSolicitud', data: $("#SolicitudRequerimiento_CodSolReqPersonal").val() }
                

            ];
            if (migrilla._search == true) {
                migrilla.searchField = postdata.searchField;
                migrilla.searchOper = postdata.searchOper;
                migrilla.searchString = postdata.searchString;
            }
            var params = { grid: migrilla };

            $.ajax({
                url: '@Url.Action("ListBusqueda", "SolicitudConsulta", new { area="Intranet"})',
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(params),
                async: false,
                success: function (data, st) {
                    if (st == 'success') {
                        var jq = $('#grdList')[0];
                        jq.addJSONData(data);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        },
     colNames: ['Estado', '', '', 'Código', '', 'Cargo', '', 'Dependencia', '', 'Departamento', '', 'Area', 'Num. Vacantes', 'Postulantes.', 'Pre Seleccionados', 'Evaluados', 'Seleccionados', 'Inicio', 'Cierre', '', 'Responsable', 'Nom.Responsable', 'Publicado','', 'Etapa','','Tipo Solicitud'],
     colModel: [
             { name: 'Estado', index: 'Estado', align: 'center', sortable: false, width: 50, formatter: HabilitarFormatter },
             { name: 'TipEstado', index: 'TipEstado', align: 'center', width: 50, hidden: true },
             { name: 'IdeSolReqPersonal', index: 'IdeSolReqPersonal', align: 'left', hidden: true },
             { name: 'CodSolReqPersonal', index: 'CodSolReqPersonal', align: 'left', width: 200 },
             { name: 'Idecargo', index: 'Idecargo', align: 'left', hidden: true },
             { name: 'DesCargo', index: 'DesCargo', align: 'left', width: 250 },
             { name: 'IdeDependencia', index: 'IdeDependencia', align: 'left', hidden: true },
             { name: 'Dependencia_des', index: 'Dependencia_des', align: 'left', width: 300 },
             { name: 'IdeDepartamento', index: 'IdeDepartamento', align: 'left', hidden: true },
             { name: 'Departamento_des', index: 'Departamento_des', align: 'left', width: 300 },
             { name: 'IdeArea', index: 'IdeArea', align: 'right', hidden: true },
             { name: 'Area_des', index: 'Area_des', align: 'left', width: 300 },
             { name: 'NumVacantes', index: 'NumVacantes', align: 'right', width: 50 },
             { name: 'CantPostulante', index: 'CantPostulante', align: 'right', width: 50 },
             { name: 'CantPreSelec', index: 'CantPreSelec', align: 'right', width: 50 },
             { name: 'CantEvaluados', index: 'CantEvaluados', align: 'left', width: 50 },
             { name: 'CantSeleccionados', index: 'CantSeleccionados', align: 'left', width: 50 },
             { name: 'Feccreacion', index: 'Feccreacion', align: 'left', width: 200 },
             { name: 'FecExpiracacion', index: 'FecExpiracacion', align: 'left', width: 200 },
             { name: 'IdRol', index: 'IdRol', align: 'left', hidden: true },
             { name: 'DesRol', index: 'DesRol', align: 'left', width: 200 },
             { name: 'NomPersonReemplazo', index: 'NomPersonReemplazo', align: 'left', width: 300 },
             { name: 'FlagPublicado', index: 'FlagPublicado', align: 'center', width: 100 },
             { name: 'TipEtapa', index: 'TipEtapa', align: 'center', width: 50, hidden: true },
             { name: 'Etapa', index: 'Etapa', align: 'center', width: 100 },
             { name: 'TipoSol', index: 'TipoSol', align: 'center', width: 50, hidden: true },
             { name: 'TipoSolicitud', index: 'TipSolicitud', align: 'center', width: 100 }
     ],
     pager: jQuery('#grdPager'),
     rowNum: 10,
     //rowList: [10, 30, 50],
     autowidth: true,
     rules: true,
     sortname: 'IdeSolReqPersonal',
     sortorder: 'desc',
     viewrecords: true,
     height: 250,
     cellsubmit: 'clientArray',
     hidegrid: false,
     rownumbers: true,
     shrinkToFit: false,

     postData: {
     },
     loadComplete: function (data) {
     }
 });


    function consultarSolicitud(ideSol, tipoSolicitud, idCargo) {
        if (tipoSolicitud == "01") {
            if (idCargo != 0) {
                window.location = '@Url.Action("Index", "Perfil", new { id = ""})' + '/' + ideSol;
            }
            else {
                window.location = '@Url.Action("Edit", "SolicitudNuevoCargo", new { id = ""})' + '/' + ideSol;
            }
        }
        else {
            if (tipoSolicitud == "02") {
                window.location = '@Url.Action("Edit", "SolicitudAmpliacionCargo", new { id = ""})' + '/' + ideSol;
            }
            else {
                window.location = '@Url.Action("Edit", "SolicitudCargo", new { id = ""})' + '/' + ideSol;
            }
        }
    }

    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function HabilitarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'enabled.png';
        var title = "Habilitar";

        if (rowObject[1] == "V") {
            archivo = 'enabled.png';
            var title = "Habilitar";
        }
        else {
            if (rowObject[1] == "M") {
                archivo = 'ekiga.png';
                var title = "Habilitar";
            }
            else {
                if (rowObject[1] == "R") {
                    archivo = 'red.png';
                    var title = "Habilitar";
                }
                else {
                    if (rowObject[1] == "I") {
                        archivo = 'enigma.png';
                        var title = "Habilitar";
                    }
                }
            }
        }

        var strImg = '<img src="' + imgPath + archivo + '" title="' + title + '" alt="' + title + '">';
        return strImg;
    }

  
</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Listado Solicitudes de Requerimientos</h5>
            </div>
@using (Html.BeginForm("Index", "SolicitudConsulta", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmBusListaReemplazo", @class = "formulario-busqueda" }))
{
    @Html.ValidationSummary(true)
          <table class="formulario-busqueda">        
                  <tr class="formulario-fila">
                    <td class="span5">
                       
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeCargo, new SelectList(Model.Cargos, "IdeCargo", "NombreCargo", Model.SolicitudRequerimiento.IdeCargo),new {  data_val = "false"})
                            </div>
                    </td>
                    <td class="span5" style="width:500px">
                            <label class="control-label" for="selectError">Fecha Solicitud</label>
                            <div class ="controles">
                                @Html.EditorFor(model => model.SolicitudRequerimiento.FechaInicioBus, new {@class = "input-editorFor"})      
                                @Html.EditorFor(model => model.SolicitudRequerimiento.FechaFinBus, new {@class = "input-editorFor"})      
                            </div>
                     </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                        
                            <label class="control-label" for="inputSuccess">Dependencia</label>
                            <div class="controles">
                              @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeDependencia, new SelectList(Model.Dependencias, "IdeDependencia", "NombreDependencia", Model.SolicitudRequerimiento.IdeDependencia),new {  data_val = "false"})
                            </div>
                        
                    </td>
                    <td class="span5">
                        
                            <label class="control-label" for="inputSuccess">Responsable</label>
                            <div class="controles">
                                
                                 @Html.DropDownListFor(model => model.SolicitudRequerimiento.TipResponsable, new SelectList(Model.Roles, "IdRol", "CodRol", Model.SolicitudRequerimiento.TipResponsable), new {  data_val = "false"})     
                            </div>
                       
                    </td>  
                </tr>
                <tr class="formulario-fila">
                    
                    <td class="span5">
                       
                            <label class="control-label" for="inputSuccess">Departamento</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeDepartamento, new SelectList(Model.Departamentos, "IdeDepartamento", "NombreDepartamento", Model.SolicitudRequerimiento.IdeDepartamento),new {  data_val = "false"})
                            </div>
                        
                    </td>
                    <td class="span5">
                        
                            <label class="control-label" for="inputSuccess">Etapa</label>
                            <div class="controles">
                                 @Html.DropDownListFor(model => model.SolicitudRequerimiento.TipEtapa, new SelectList(Model.Etapas, "Valor", "Descripcion", Model.SolicitudRequerimiento.TipEtapa),new {  data_val = "false"})
                            </div>
                      
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="span5">
                      
                            <label class="control-label" for="inputSuccess">Área</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.IdeArea, new SelectList(Model.Areas, "IdeArea", "NombreArea", Model.SolicitudRequerimiento.IdeArea),new {  data_val = "false"})
                            </div>
                      
                    </td>
                    <td class="span5">
                       
                            <label class="control-label" for="inputSuccess">Estado</label>
                            <div class="controles">
                               @Html.DropDownListFor(model => model.SolicitudRequerimiento.TipEstado, new SelectList(Model.Estados, "Valor", "Descripcion", Model.SolicitudRequerimiento.TipEstado),new {  data_val = "false"})
                            </div>
                       
                    </td>
                </tr>

               <tr class="formulario-fila">
                    <td class="span5">
                            <label class="control-label" for="inputSuccess">Tipo Solicitud</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.SolicitudRequerimiento.TipoSolicitud, new SelectList(Model.TiposSolicitudes, "Valor", "Descripcion", Model.SolicitudRequerimiento.TipoSolicitud),new {  data_val = "false"})
                            </div>
                    </td>
                   <td class="span5">
                            <label class="control-label" for="inputSuccess">Codigo Solicitud</label>
                            <div class="controles">
                                @Html.TextBoxFor(model => model.SolicitudRequerimiento.CodSolReqPersonal)
                            </div>
                    </td>
                </tr>
             
             </table>
           
            <div class="formulario-accion offset9">
                <a class="btn btn-info" id="btnBuscarReemplazo"><i class="icon-search icon-white"></i> Buscar</a>
                <button type="reset" class="btn"><i class="icon-trash"></i> Limpiar</button>
            </div>
    <div>
        &nbsp;
    </div>       
    
            <div class="tabla-datos">
                <table id="grdList">
                </table>
                
                <div id="grdPager">
                </div>
            </div>

           <div class="form-actions">
                <a class="btn btn-info" href="@Url.Action("PostulantesPorRequerimiento", "SolicitudAmpliacionCargo")"><i class="icon-eye-open icon-white"></i> Ranking</a>
                <a class="btn btn-info" href="@Url.Action("PostulantesPreSeleccionados", "SolicitudAmpliacionCargo")"><i class="icon-tasks  icon-white"></i> Pre-select</a>
                <a class="btn btn-info" id="btnConsultarSolicitud"><i class="icon-zoom-in icon-white"></i> Consultar</a>
            </div>
        }
        </div>
     </div>
</div>
