@{
    ViewBag.Title = "Mantenimiento de Cargo";
}
@section Head{
}

@section Scripts{

<script type="text/javascript">

$(function(){    
    $("#txtfechainicio").datepicker();
    $("#txtfechafin").datepicker();

    jQuery("#grdListFunciones").jqGrid({
        url: '@Url.Action("ListaFunciones", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Descripci&oacuten', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', editable: false, sortable: false },                        
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListCompetencias").jqGrid({
        url: '@Url.Action("ListaCompetencias", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Descripci&oacuten'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },                                                
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 120,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListOfrecemos").jqGrid({
        url: '@Url.Action("ListaOfrecemos", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Descripci&oacuten'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },                                                
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 120,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListHorario").jqGrid({
        url: '@Url.Action("ListaHorario", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Codigo', 'Descripci&oacuten', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, editable: true },

            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            cellEdit: true,
            /*caption: 'Horario de Trabajo',*/
            height: 60,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

    jQuery("#grdListUbigeo").jqGrid({
        url: '@Url.Action("ListaUbigeo", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Departamento', 'Provincia', 'Distrito', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Departamento', index: 'Departamento', align: 'left', editable: false, sortable: false },
                { name: 'Provincia', index: 'Provincia', align: 'left', editable: false, sortable: false },
                { name: 'Distrito', index: 'Distrito', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListNivelAcademico").jqGrid({
        url: '@Url.Action("ListaEstudios", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Tipo de Educación', 'Área de Estudios', 'Nivel Alcanzado', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                { name: 'Carrera', index: 'Carrera', align: 'left', editable: false, sortable: false },
                { name: 'Estado', index: 'Estado', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListCentroEstudios").jqGrid({
        url: '@Url.Action("ListaCentroEstudios", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo','Tipo de Institución', 'Institución', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Tipo', Tipo: 'Codigo', align: 'center', editable: false, sortable: false},
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });


    jQuery("#grdListExperienciaLaboral").jqGrid({
        url: '@Url.Action("ListaExperienciaLaboral", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Cargo', 'Años', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Cargo', index: 'Cargo', align: 'left', editable: false, sortable: false },
                { name: 'Anho', index: 'Anho', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListConocimientosGenerales").jqGrid({
        url: '@Url.Action("ListaConocimientosGeneralaes", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListConocimientosIdiomas").jqGrid({
        url: '@Url.Action("ListaConocimientosIdiomas", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Descripci&oacuten', 'Tipo Conoc.', 'Nivel', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                { name: 'TipoConocimiento', index: 'TipoConocimiento', align: 'left', editable: false, sortable: false },
                { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListOtrosConocimientos").jqGrid({
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Codigo', 'Tipo', 'Descripci&oacuten', 'Nivel', 'Puntaje'],
            colModel: [
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                    { name: 'Nivel', index: 'Nivel', align: 'left', editable: false, sortable: false },
                    { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            cellEdit: true,
            /*caption: 'Horario de Trabajo',*/
            height: 60,
            width: 898,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });
    jQuery("#grdListDiscapacidades").jqGrid({
        url: '@Url.Action("ListaDiscapacidades", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Tipo', 'Descripci&oacuten', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false, hidden: true },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

    jQuery("#grdListEvaluacion").jqGrid({
        url: '@Url.Action("ListaEvaluacionesPerfil", "SolicitudCargo")',
        datatype: 'json',
        mtype: 'POST',
        colNames: ['Codigo', 'Descripci&oacuten', 'Tipo', 'Nota Mínima', 'Responsable', 'Puntaje'],
        colModel: [
                { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                { name: 'NotaMinima', index: 'NotaMinima', align: 'left', editable: false, sortable: false },
                { name: 'Responsable', index: 'Responsable', align: 'left', editable: false, sortable: false },
                { name: 'Puntaje', index: 'Puntaje', align: 'left', sortable: false, width: 50, editable: true },
        ],
        sortname: 'Codigo',
        sortorder: 'desc',
        viewrecords: true,
        cellEdit: true,
        /*caption: 'Horario de Trabajo',*/
        height: 60,
        width: 898,
        rowNum: 0,
        cellsubmit: 'clientArray',
        hidegrid: false,
        postData: {

        },
        loadComplete: function (data) {

        }
    });

});

    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function EliminarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'action_delete.gif';
        var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Eliminar" alt="Eliminar">';
        return strImg;
    }

    function EditarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'action_edit.gif';
        var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Editar" alt="Editar">';
        return strImg;
    }
    function ConsultarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'action_search.gif';
        var strImg = '<img src="' + imgPath + archivo + '" width="16" height="16" title="Consultar" alt="Consultar">';
        return strImg;
    }

    function irATab(tab) {
        $('a[href=#' + tab + ']').tab('show');
    }



    function mostrarAprobarDesaprobar() {
        $('#modalAprobarRechazar').modal('show');
    }

    function mostrarConfirmacion() {
        $('#modalConfirmacion').modal('show');
    }

    function ocultarAprobarDesaprobar() {
        $('#modalAprobarRechazar').modal('hide');
    }

    function ocultarConfirmacion() {
        $('#modalConfirmacion').modal('hide');
    }
</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>
            </div>
            <form class="formulario-busqueda">
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Código</label>
                            <div class="controles">
                                <input type="text" class="input-small" id="txtcodigo" value="200003" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Dependencia</label>
                            <div class="controles">
                                <select id="sedependencia" class="select-large" disabled="disabled">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Gerencia Médica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                <input type="text" class="input-small" id="txtnombre" value="Técnico en Enfermería " disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Departamento</label>
                            <div class="controles">
                                <select id="sedepartamento" class="select-large" disabled="disabled">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Enfermería</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Descripción</label>
                            <div class="controles">
                                <input type="text" class="input-large" disabled="disabled" value="Técnico en Enfermería " id="txtdescripcion">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Área</label>
                            <div class="controles">
                                <select id="searea" class="select-large" disabled="disabled">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Cuidados Intensivos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Nro Posiciones</label>
                            <div class="controles">
                                <input type="text" class="input-mini" id="txtnroposiciones" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Código de Cargo</label>
                            <div class="controles">
                                <input type="text" class="input-small" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <h5>Perfil</h5>
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li><div style="width:110px;display:inline-block"></div></li>
                <li class="active"><a href="#A" data-toggle="tab">Puesto</a></li>
                <li class=""><a href="#B" data-toggle="tab">General</a></li>
                <li class=""><a href="#C" data-toggle="tab">Estudios</a></li>
                <li class=""><a href="#D" data-toggle="tab">Experiencia</a></li>
                <li class=""><a href="#E" data-toggle="tab">Conocimientos</a></li>
                <li class=""><a href="#F" data-toggle="tab">Discapacidad</a></li>
                <li><a href="#G" data-toggle="tab">Evaluación</a></li>
                <li class=""><a href="#H" data-toggle="tab">Conf.Perfil</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                    <!--Puesto Inicio -->
                    <div class="tab-pane active" id="A">
                        <div class="grilla-opciones" style="margin-top:0px;">
                            <h6>Objetivos</h6>
                            <div style="clear:both"></div>
                        </div>
                        <textarea style="width:900px;margin-left:8px;" id="taobjetivos" rows="3" disabled="disabled"></textarea>
                        <div class="espacio-division-entre-fieldset"></div>
                        <div class="grilla-opciones">
                            <h6>Funciones</h6>
                            <div class="opciones">
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <textarea style="width:900px;margin-left:8px;" id="taFunciones" rows="3" disabled="disabled"></textarea>
                        <div class="grilla-opciones">
                            <h6>Competencias</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListCompetencias">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Ofrecemos</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListOfrecemos">
                            </table>
                        </div>
                        
                        <div class="formulario-accion">                                          
                            <div class="opciones">
                                <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>                        
                                <a class="btn btn-info" href="#" onclick="irATab('B');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                            </div>
                            
                        </div>
                    </div>
                    <!--Puesto Fin -->

                    <!--General Inicio -->

                    <div class="tab-pane" id="B">
                        <form>
                            <div class="grilla-opciones" style="margin-top:0px;">
                                <h6>Datos generales</h6>
                                <div class="opciones">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <table border="0" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td style="width:40px"></td>
                                        <td style="width:350px">
                                        </td>
                                        <td>
                                            Ptje.
                                        </td>
                                        <td style="width:50px">
                                        </td>
                                        <td></td>
                                        <td>
                                        </td>
                                        <td style="text-align:center">
                                            Ptje.
                                        </td>
                                        <td></td>
                                        <td style="width:80px"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="width:180px;">
                                            <label class="control-label" for="input01">Postulante Interno</label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="15">
                                        </td>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Rango Edad</label>
                                        </td>
                                        <td>
                                              
                                            <input id="txtEdadInicial" type="text" class="input-mini" value="22"> - <input id="txtEdadFinal" type="text" class="input-mini" value="35">
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                        </td>
                                        <td><label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label class="control-label" for="input01">Sexo
                                                <select class="input-medium">
                                                    <option>Ambos</option>
                                                    <option>Masculino</option>
                                                    <option>Femenino</option>
                                                </select>                                             
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>                                       
                                        <td></td>
                                        <td> <label class="control-label" for="input01">Publicación Sexo</label></td>
                                        <td>
                                            <select id="sesexo" class="input-medium">
                                                <option>Indistinto</option>
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select> 
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" style="text-align:left;">
                                            <span style="font-size:9px;font-weight:bolder;">El(los) sexo(s) seleccionado(s) serán considerados</span>
                                        </td> 
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>   
                                    <tr>
                                        <td></td>
                                        <td>
                                            <label class="control-label" for="input01">Rango Salarial Bruto (S/.)                                             <select class="input-medium">
                                                <option>Menos de 1000</option>
                                                <option>De 1000 a 2000</option>
                                                <option>De 2000 a 3000</option>
                                                <option>De 3000 a 4000</option>
                                                <option>De 4000 a 5000</option>
                                                <option>De 5000 a 6000</option>
                                                <option>De 6000 a más</option>
                                            </select>
</label>
                                        </td>
                                        <td>
                                            <input type="text" class="input-xxmini" value="10">
                                            <label class="checkbox" style="display:inline-block"><input type="checkbox"/>**</label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                   
                                  
                                    <tr>
                                        <td></td>
                                        <td colspan="5"><span style="font-size:9px;font-weight:bolder;">(**) Al seleccionar esta opción solo se tomarán en cuenta los que cumplan con el requisito para visualizarlo en el ranking de postulantes</span></td>
                                    </tr>
                                </tbody>

                            </table>
                        </form>
                        <div class="grilla-opciones">
                            <h6>Horario</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListHorario">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Ubigeo</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListUbigeo">
                            </table>
                        </div>
                                            
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>                        
                                <a class="btn" href="#" onclick="irATab('A');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                                <a class="btn btn-info" href="#" onclick="irATab('C');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>

                        </div>
                    </div>

                    <!--General Fin-->

                    <div class="tab-pane" id="C">
                        <div class="grilla-opciones">
                            <h6>Nivel Académico</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListNivelAcademico">
                            </table>
                        </div>
                        
                        <div class="grilla-opciones">
                            <h6>Centro Estudios</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListCentroEstudios">
                            </table>
                        </div>
                                            
                        <div class="formulario-accion">       
                            <div class="opciones">
                            <a class="btn" href="#" onclick="irATab('B');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                            <a class="btn btn-info" href="#" onclick="irATab('D');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>
                                    
                        </div>                    
                    </div>

                    <div class="tab-pane" id="D">
                        <div class="grilla-opciones">
                            <h6>Experiencia Laboral</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListExperienciaLaboral">
                            </table>
                        </div>
                        <div class="formulario-accion">   
                            <div class="opciones">
                            <a class="btn" href="#" onclick="irATab('C');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                            <a class="btn btn-info" href="#" onclick="irATab('E');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>
                                        
                        </div>
                    </div>

                    <div class="tab-pane" id="E">
                        <div class="grilla-opciones">
                            <h6>Ofimática</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListConocimientosGenerales">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Idiomas</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>                                             
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" href="#" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                   
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListConocimientosIdiomas">
                            </table>
                        </div>
                        <div class="grilla-opciones">
                            <h6>Otros Conocimientos</h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="tabla-datos">
                            <table id="grdListOtrosConocimientos">
                            </table>
                        </div>                        <div class="formulario-accion">   
                            <div class="opciones">
                            <a class="btn" href="#" onclick="irATab('D');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                            <a class="btn btn-info" href="#" onclick="irATab('F');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>
                                        
                        </div>                    
                    </div>

                    <div class="tab-pane" id="F">
                        <div class="grilla-opciones">
                            <h6></h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>

                        <div class="tabla-datos">
                            <table id="grdListDiscapacidades">
                            </table>
                        </div>
                        
                        <div class="formulario-accion">               
                            <div class="opciones">
                            <a class="btn" href="#" onclick="irATab('E');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                            <a class="btn btn-info" href="#" onclick="irATab('G');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>
                        </div> 
                    </div>

                    <div class="tab-pane" id="G">
                        <div class="grilla-opciones">
                            <h6></h6>
                            <div class="opciones">
                                <a class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                                <a class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                            </div>
                            <div style="clear:both"></div>
                        </div>

                        <div class="tabla-datos">
                            <table id="grdListEvaluacion">
                            </table>
                        </div>
                        
                        <div class="formulario-accion">
                            <div class="opciones">
                            <a class="btn" href="#" onclick="irATab('F');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                            <a class="btn btn-info" href="#" onclick="irATab('H');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                            </div>

                        </div> 
                    </div>

                    <!--Conf. Perfil Inicio-->

                    <div class="tab-pane" id="H">
                        <form>
                            <div class="grilla-opciones" style="margin-top:0px;">
                                <h6>Parámetros</h6>
                                <div class="opciones">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="margin-left:20px;">
                                <table style="width: 900px;" border="0">
                                    <tr>
                                        <td style="width: 50%; vertical-align: top">
                                                <h6>Parámetros Pre-Selección</h6>
                                                <table border="0">
                                                    <tr>
                                                        <td style="width: 80px;"></td>
                                                        <td></td>
                                                        <td>Ptje.
                                                        </td>
                                                        <td style="width: 10px;"></td>
                                                        <td>Ptje.Min
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label" style="width: 130px;">
                                                            <label>Postulante Interno</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Edad</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="8" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">
                                                            <label>Sexo</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Rango Salarial</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Nivel de Estudios</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="7" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Centro de Estudios</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Experiencia Laboral</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="6" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Generales</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="3" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Conoc. Idiomas</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">
                                                            <label>Discapacidades</label></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="9" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Horario</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label">Ubigeo</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                                        <td></td>

                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="td-label"><b>Totales</b></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="84" disabled="disabled"></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>

                                                    </tr>
                                                </table>

                                        </td>
                                        <td style="width: 50%; vertical-align: top">
                                            <h6>Parámetros Selección</h6>
                                                <table border="0">
                                                        <tr>
                                                        <td></td>
                                                        <td>Ptje.
                                                            </td>
                                                            <td style="width:10px;"></td>
                                                        <td>Ptje.Min
                                                            </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                                        <td>
                                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                                        <td></td>
                                                            <td>
                                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                                    </tr>                                                       
                                                     <tr>
                                                        <td colspan="4" style="height:20px;"></td>
                                                    </tr>
                                                </table>
                                            <label>Vacantes por Estado</label>
                                                <table border="0">
                                                    <tr>
                                                        <td class="td-label" style="width:130px;">
                                                            Postulantes Pre-Selec.
                                                        </td>
                                                        <td> <input type="text" class="input-xxmini text-right" value="9"></td>
                                                    </tr>
                                                        <tr>
                                                        <td colspan="2" style="height:40px;">                                                            
                                                        </td>                                                            
                                                    </tr>
                                                        <tr>
                                                        <td class="td-label">
                                                            
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                        <tr>
                                                        <td class="td-label">
                                                            
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>

                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </form>
                        <div class="formulario-accion">
                            <div class="opciones">
                                <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>                        
                                <a class="btn" href="#" onclick="irATab('G');"><i class="icon-arrow-left icon-cog"></i> Atras</a>
                            </div>
                        </div>
                    </div>

                    <!--Conf. Perfil Fin-->


                </div>
            </div>
            <div class="form-actions">     
                <a class="btn" href="@Url.Action("Index","Cargo",new { area = "Intranet"})"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <a class="btn btn-info" onclick="mostrarAprobarDesaprobar();"><i class="icon-list icon-white"></i> Aprob/Rech</a>
                <a class="btn btn-info" onclick="mostrarConfirmacion();" href="#"><i class="icon-screenshot icon-white"></i> Enviar</a>
            </div>
        </div>
    </div>
</div>

<div id="modalAprobarRechazar" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Aprobación/Rechazo</h5>
    </div>
    <div class="modal-body">
        <label>Comentarios</label>
        <textarea class="input-porce" id="taobservacionaprobacion" rows="3"></textarea>
        <br />
        <input type="radio" /><span> Aprobar</span> 
        <input type="radio" /><span> Rechazar</span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="ocultarAprobarDesaprobar();">Cancelar</a>
        <a href="#" class="btn btn-info">Enviar</a>
    </div>
</div>

<div id="modalConfirmacion" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Mensaje</h5>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de enviar la solicitud?</p>            
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="ocultarConfirmacion();">Cancelar</a>
        <a href="#" class="btn btn-info">Aceptar</a>
    </div>
</div>