@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CargoViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {
               
        $('select#Departamentos').change(function () {
            var ideDepartamento = $(this).val();
            alert(ideDepartamento);
            $("select#Ubigeo_IdeUbigeo").empty();
            $("select#Ubigeo_IdeUbigeo").append("<option value='00'> Seleccionar </option>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","Cargo")',
                data: { ideUbigeoPadre: ideDepartamento },
                success: function (respuesta) {
                    $("select#Provincias").empty();
                    $("select#Provincias").append("<option value='00'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Provincias").append("<option value='"
                        + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })

        //Cargar Distritos
        $('select#Provincias').change(function () {
            var ideProvincia = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarUbigeos","Cargo")',
                data: { ideUbigeoPadre: ideProvincia },
                success: function (respuesta) {
                    $("select#Ubigeo_IdeUbigeo").empty();
                    $("select#Ubigeo_IdeUbigeo").append("<option value='00'> Seleccionar </option>");
                    $.each(respuesta, function (i, item) {
                        $("select#Ubigeo_IdeUbigeo").append("<option value='"
                        + item.IdeUbigeo + "'>" + item.Nombre + "</option>");
                    }
                );
                }
            });
        })
    });
</script>



@using (Html.BeginForm("Ubigeo", "Cargo", FormMethod.Post, new { @id = "ubigeosForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @*@Html.HiddenFor(model => model.Cargo.IdeCargo)*@
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Departamento <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Departamentos, new SelectList(Model.Departamentos, "IdeUbigeo", "Nombre", Model.Departamentos))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @*@Html.ValidationMessageFor(model => model.Discapacidad.TipoDiscapacidad)*@
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Provincia <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Provincias, new SelectList(Model.Provincias, "IdeUbigeo", "Nombre", Model.Provincias))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @*@Html.ValidationMessageFor(model => model.Discapacidad.TipoDiscapacidad)*@
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Distrito <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Ubigeo.IdeUbigeo, new SelectList(Model.Distritos, "IdeUbigeo", "Nombre", Model.Ubigeo.IdeUbigeo))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @*@Html.ValidationMessageFor(model => model.Discapacidad.TipoDiscapacidad)*@
                </div>
            </td>
       </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.Horario.PuntajeHorario, new {@class="input-xxmini" })
           </td>
       </tr>  
    </table>
}