@model SanPablo.Reclutador.Web.Models.ExperienciaPostulanteGeneralViewModel
@{
    Layout = "";
}

    <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            SanPablo.Numeros('Experiencia_NumeroMovilReferencia');

            var indActual = $('#indActuaTrabajando').is(":checked");
            habilitarFecha(indActual);

            var tipoNombre = $('#Experiencia_TipoCargoTrabajo').val();
            habilitarOtro(tipoNombre);

            //Habilitar texto Otro 
            $('select#Experiencia_TipoCargoTrabajo').change(function () {
                var tipoNombre = $(this).val();
                habilitarOtro(tipoNombre);
            })


            //actualmente trabajando
            $('#indActuaTrabajando').change(function () {
                habilitarFecha($(this).is(":checked"));
            })
        });
            
        function habilitarOtro(tipoNombre) {
            var campo = document.getElementById("NombreCargo_otro");
            if (tipoNombre == 'XX') {
                campo.style.display = "block";
            }
            else {
                campo.style.display = "none";
            }
        }

        function habilitarFecha(opcion)
        {
            if (opcion == true){
                $('#Experiencia_FechaTrabajoFin').val('');
                $('#Experiencia_FechaTrabajoFin').attr("disabled", "disabled");
                $('#Experiencia_TiempoDeServicio').attr("disabled", "disabled");
                $('#Experiencia_TipoMotivoCese').attr("disabled", "disabled");
            }
            else {
                $('#Experiencia_FechaTrabajoFin').removeAttr("disabled");
                $('#Experiencia_TiempoDeServicio').removeAttr("disabled");
                $('#Experiencia_TipoMotivoCese').removeAttr("disabled");
            }
        }
        </script>
@using (Html.BeginForm("Edit", "ExperienciaPostulante", FormMethod.Post, new { @id = "experienciaPostulanteForm" }))
    {
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:20px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Experiencia.IdeExperienciaPostulante)
                <label class="etiquetaFormulario" style="width:160px">Empresa <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NombreEmpresa, new { @style="text-transform: uppercaseM; width:350px"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NombreEmpresa)
                </div>
            </td>
         </tr>
    </table>
    
    <table style="margin-left:20px;">
      
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" style="width:160px">Cargo <span class="text-error" >*</span></label>
            </td>
            <td class="colInput;input-xxlarge">
                    @Html.DropDownListFor(model => model.Experiencia.TipoCargoTrabajo, new SelectList(Model.TipoCargos, "Valor", "Descripcion", Model.Experiencia.TipoCargoTrabajo))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TipoCargoTrabajo )
                </div>
            </td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" style="width:160px"> Otro </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Experiencia.NombreCargoTrabajo, new { @id = "NombreCargo_otro", @style = "text-transform: uppercase ; display:none;" })
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NombreCargoTrabajo )
                </div>
          </td>
          <tr>
              <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Fecha Inicio <span class="text-error">*</span></label>
              </td>
              <td class="colInput">
                  @Html.EditorFor(model => model.Experiencia.FechaTrabajoInicio, new {@class = "datepicker"})
                  <div class="tex-error" style="font-size:12px;color:red"> 
                      @Html.ValidationMessageFor(model => model.Experiencia.FechaTrabajoInicio)
                  </div>
              </td>
              <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Fecha Fin </label>
              </td>
              <td class="colInput">
                  @Html.EditorFor(model => model.Experiencia.FechaTrabajoFin, new { @class = "datepicker"})
                  <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.FechaTrabajoFin)
                  </div>
              </td>
              <td>
                  <Label style="display:inline-block; font-size:10pt" for="estudiando">   Trabajando</Label>
                  @Html.CheckBoxFor(model => model.Experiencia.ActualmenteTrabajando, new { @id="indActuaTrabajando"})
                
              </td>
        </tr> 
        <tr>
            
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Tiempo de Servicio </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.TiempoDeServicio, new { @style="text-transform: uppercase",disabled = "diasbled"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TiempoDeServicio)
                </div>
            </td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Motivo de Cese </label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Experiencia.TipoMotivoCese, new SelectList(Model.TipoMotivosCese, "Valor", "Descripcion", Model.Experiencia.TipoMotivoCese))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TipoMotivoCese)
                </div>
            </td>
        </tr>

        <tr>
           
        </tr>
       
        </table>
    <section>
        <div>
            <h5> Datos de Referencia</h5>
        </div>
        <table style="margin-left:20px;">
       
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" style="width:160px" > Nombre de Referencia <span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
                @Html.TextBoxFor(model => model.Experiencia.NombreReferente, new { @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NombreReferente)
                </div>
            </td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" style="width:160px" > Cargo <span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
                @Html.DropDownListFor(model => model.Experiencia.TipoCargoTrabajoReferente, new SelectList(Model.TipoCargosReferente, "Valor", "Descripcion", Model.Experiencia.TipoCargoTrabajoReferente))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TipoCargoTrabajoReferente)
                </div>
            </td>
        </tr>
        
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Celular de Referencia  </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NumeroMovilReferencia)
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NumeroMovilReferencia)
                </div>
            </td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Correo de Referencia  </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.CorreoReferente, new { @style="text-transform: uppercase"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.CorreoReferente)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Telefono de Institucion <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NumeroFijoInstitucionReferente, new { @style = "width: 100px"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NumeroFijoInstitucionReferente)
                </div>
            </td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Anexo </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NumeroAnexoInstitucionReferente, new { @style = "width: 70px"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NumeroAnexoInstitucionReferente)
                </div>
            </td>
            
        </tr>
        </table>
        </section>
}