@model SanPablo.Reclutador.Web.Models.ExperienciaPostulanteGeneralViewModel
@{
    Layout = "";
}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.datepicker').datepicker({});
            $("#fechaTrabajoInicio").datepicker({});
            $("#fechaTrabajoFin").datepicker({});
            //
            var indActual = $('#indActuaTrabajando').is(":checked");
            if (indActual == true) {
                $('#fechaTrabajoFin').val("");
                $('#fechaTrabajoFin').attr("disabled", "disabled");
            }
            else {
                $('#fechaTrabajoFin').removeAttr("disabled");
            }
            //Habilitar texto Otro 
            $('select#tipoCargo').change(function () {
                var tipoNombre = $(this).val();
                if (tipoNombre == '99') {
                    $('#NombreCargo_otro').removeAttr('disabled');
                }
                else {
                    $('#NombreCargo_otro').attr('disabled', 'disabled');
                }
            })


            //actualmente trabajando
            $('#indActuaTrabajando').change(function () {
                if ($(this).is(":checked")) {
                    $('#fechaTrabajoFin').val('');
                    $('#fechaTrabajoFin').attr("disabled", "disabled");

                }
                else {
                    $('#fechaTrabajoFin').removeAttr("disabled");
                }

            })

        });
                
        $(function () {
            $.datepicker.regional['es'] =
            {
                closeText: 'Cerrar',
                prevText: 'Previo',
                nextText: 'Próximo',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                dateFormat: 'dd/mm/yy', firstDay: 0,
                initStatus: 'Selecciona la fecha', isRTL: true
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
            $("#datepicker").datepicker({ minDate: "-1D", maxDate: "+1M +10D" });
        });
    </script>
@using (Html.BeginForm("Edit", "ExperienciaPostulante", FormMethod.Post, new { @id = "experienciaPostulanteForm" }))
    {
    @Html.ValidationSummary(true)
   
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Experiencia.IdeExperienciaPostulante)
                <label class="etiquetaFormulario" style="width:130px">Empresa <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NombreEmpresa)
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NombreEmpresa)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" >Cargo <span class="text-error">*</span></label>
            </td>
            <td class="colInput;input-xxlarge">
                    @Html.DropDownListFor(model => model.Experiencia.TipoCargoTrabajo, new SelectList(Model.TipoCargos, "Valor", "Descripcion", Model.Experiencia.TipoCargoTrabajo), new { @id = "Tipocargo"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TipoCargoTrabajo )
                </div>
            </td>
        </tr> 
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario"> Otro </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Experiencia.NombreCargoTrabajo, new { @id="NombreCargo_otro",@disabled = "disabled"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NombreCargoTrabajo )
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Fecha Inicio <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.FechaTrabajoInicio, new {@class = "datepicker", @id = "fechaTrabajoInicio"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.FechaTrabajoInicio)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Fecha Fin </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.FechaTrabajoFin, new { @class = "datepicker", @id = "fechaTrabajoFin"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.FechaTrabajoFin)
                </div>
            </td>
            <td>
                <Label style="display:inline-block; font-size:10pt" for="estudiando">   Actualmente Trabajando</Label>
                @Html.CheckBoxFor(model => model.Experiencia.ActualmenteTrabajando, new { @id="indActuaTrabajando"})
                
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Tiempo de Servicio </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.TiempoDeServicio)
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TiempoDeServicio)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Motivo de Cese </label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Experiencia.TipoMotivoCese, new SelectList(Model.TipoMotivosCese, "Valor", "Descripcion", Model.Experiencia.TipoMotivoCese))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TipoMotivoCese)
                </div>
            </td>
            
        </tr>
        </table>
        <div>
            <h5> Datos de Referencia</h5>
        </div>
    
        <table>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" style="width:160px" > Nombre de Referencia <span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
                @Html.TextBoxFor(model => model.Experiencia.NombreReferente)
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NombreReferente)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" style="width:160px" > Cargo <span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
                @Html.DropDownListFor(model => model.Experiencia.TipoCargoTrabajoReferente, new SelectList(Model.TipoCargosReferente, "Valor", "Descripcion", Model.Experiencia.TipoCargoTrabajoReferente))
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.TipoCargoTrabajoReferente)
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Celular de Referencia  </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NumeroMovilReferencia, new { @value =""})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NumeroMovilReferencia)
                </div>
            </td>
            
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Correo de Referencia  </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.CorreoReferente)
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.CorreoReferente)
                </div>
            </td>
            
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Telefono de Institucion <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NumeroFijoInstitucionReferente, new { @style = "width: 100px"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NumeroFijoInstitucionReferente)
                </div>
            </td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" > Anexo </label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Experiencia.NumeroAnexoInstitucionReferente, new { @style = "width: 70px"})
                <div class="tex-error" style="font-size:12px;color:red"> 
                    @Html.ValidationMessageFor(model => model.Experiencia.NumeroAnexoInstitucionReferente)
                </div>
            </td>
            
        </tr>
        </table>
}