@model SanPablo.Reclutador.Web.Models.ExperienciaPostulanteGeneralViewModel
@{
    ViewBag.Title = "Experiencia";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{

    <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            mostrarAlerta();
            actualizarBarra();



            $('#btnExperienciaSig').click(function () {
              $.ajax({
                type: "POST",
                url: '@Url.Action("validaExperiencia", "ExperienciaPostulante")',
                traditional: true,
                success: function (data) {
                    if (data.Resultado) {
                      SanPablo.Redirecciona('@Url.Action("Index", "ConocimientoGeneralPostulante")');
                    }
                    else
                    {
                      MostrarMensaje(data.Mensaje, "Alerta");
                    }
                  }
                });
            });



            jQuery("#grdList").jqGrid({
                url: '@Url.Action("Listar", "ExperienciaPostulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Empresa', 'Cargo', 'Fecha Inicio', 'Fecha Fin', '', 'Tiempo Servicio', 'Motivo Cese', 'Nombre Referente', 'Celular', 'Cargo Referente', 'Telefono Institucion', 'Anexo'],
                colModel: [
                        { name: 'Empresa', index: 'Empresa', align: 'left', sortable: false },
                        { name: 'Cargo', index: 'Cargo', align: 'left', sortable: false },
                        { name: 'FechaInicio', index: 'FechaInicio', align: 'center', sortable: false },
                        { name: 'FechaFin', index: 'FechaFin', align: 'center', sortable: false },
                        { name: 'Actualmente', index: 'Actualmente', align: 'left', sortable: false, hidden:true },
                        { name: 'TiempoServicio', index: 'TiempoServicio', align: 'left', sortable: false },
                        { name: 'MotivoCese', index: 'MotivoCese', align: 'left', sortable: false },
                        { name: 'NombreReferente', index: 'NombreReferente', align: 'left', sortable: false },
                        { name: 'TelefonoCelular', index: 'TelefonoCelular', align: 'left', sortable: false },
                        { name: 'CargoReferente', index: 'CargoReferente', align: 'left', sortable: false },
                        { name: 'TelefonoInstitucion', index: 'TelefonoInstitucion', align: 'left', sortable: false },
                        { name: 'Anexo', index: 'Anexo', align: 'left', sortable: false },
                ],
                pager: jQuery('#grdPager'),
                rownumbers: true,
                rowList: [10, 30, 50],
                sortname: 'IdeExperienciaPostulante',
                sortorder: 'desc',
                viewrecords: false,
                height: 300,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                rules: true,
                hidegrid: false,
                autowidth: true,
                shrinkToFit: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

            $('#updateDialog').dialog({
                autoOpen: false,
                width: 950,
                resizable: false,
                modal: true,
                buttons: {
                "Grabar": function (e) {
                    e.preventDefault();
                    var fechaFin = $('#Experiencia_FechaFin').val();
                    var indActual = $('#indActuaTrabajando').is(":checked");
                    if ((fechaFin == "") && (indActual == false)) {
                        var msj = document.getElementById('msjErrorFecha');
                        msj.innerHTML = "Indicar fecha fin";
                        msj.style.display = "block";
                    }
                    else
                        {
                        var result = $('#experienciaPostulanteForm').valid();
                        if (result) {
                            $.post('@Url.Action("Edit", "ExperienciaPostulante")',
                            $("#experienciaPostulanteForm").serialize(),
                            function (respuesta) {
                                if (respuesta.msj) {
                                    $("#updateDialog").dialog("close");
                                    location.reload(true);
                                }
                                else {
                                    var mensj = document.getElementById("mensajeError");
                                    mensj.style.display = "block";
                                }
                            });
                        }
                    }
                },
                "Cancelar": function () {
                     $(this).dialog("close");
                }
               }
            });

            $('#btnAgregar').click(function () {
                mostrarAgregarExperiencia();
            });
            // btn Editar
            $('#btnEditar').click(function () {
                var ideExperiencia = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (ideExperiencia != null) {
                    mostrarEditarExperiencia(ideExperiencia);
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a editar');
                    $("#divMensaje").dialog({
                        title: 'ALERTA',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });

            // btn Eliminar
            $('#btnEliminar').click(function () {
                var ideExperiencia = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (ideExperiencia != null) {
                    $("#spanMensaje").html('¿Está seguro que desea eliminar el registro?');
                    $("#divMensaje").dialog({
                        title: 'Sistema de Reclutamiento y Selección de Personal',
                        modal: true,
                        buttons: {
                            "Eliminar": function () { eliminarExperiencia(ideExperiencia); $(this).dialog("close"); location.reload(true) },
                            "Cancelar": function () { $(this).dialog("close"); }
                        }
                    });

                    return false;
                }
                else {
                    $("#spanMensaje").html('Seleccionar un item a eliminar');
                    $("#divMensaje").dialog({
                        title: 'Sistema de Reclutamiento y Selección de Personal',
                        modal: true,
                        buttons: {
                            "Ok": function () { $(this).dialog("close"); }
                        }
                    });
                }
            });
        });

        function mostrarEditarExperiencia(id) {
            var dialogDiv = $('#updateDialog');
            //var id = parseInt(ideEstudioEdit);
            $.get('@Url.Action("Edit", "ExperienciaPostulante")',{id : id}, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }

        function eliminarExperiencia(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("eliminarExperiencia","ExperienciaPostulante")',
                data: { ideExperiencia: id },
                success: function (respuesta) {
                alert(respuesta);
            }
            });
    }


        function mostrarAgregarExperiencia() {
            var dialogDiv = $('#updateDialog');
            $.get('@Url.Action("Edit", "ExperienciaPostulante", new { id = "0"})', function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialog"));
                dialogDiv.dialog('open');
            });
            return false;
        }


        function MostrarMensaje(mensaje, titulo) {
            Funciones.Alert("divMensajeExp", "spnMensajeExp", mensaje, titulo);
        }
    </script>
}
<div class="span12">
    @Html.Partial("MenuCv")
</div>

@*<div class="span12">*@
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Experiencia Laboral</h5>
            </div>
           @Html.HiddenFor(model=>model.porcentaje)
            <div class="grilla-opciones">
                <div class="opciones">
                    <a id="btnAgregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdList">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" href="@Url.Action("Index", "EstudioPostulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                   @* <a class="btn btn-info" href="@Url.Action("Index", "ConocimientoGeneralPostulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>*@

                    <a class="btn btn-info" id="btnExperienciaSig"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
@*</div>*@
<div id="updateDialog" title="Experiencia"  ></div>
    <div id="divMensaje">
        <span id="spanMensaje" ></span>
    </div>

<div id="divMensajeExp">
        <span id="spnMensajeExp" ></span>
    </div>



