@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CriterioViewModel
@{
    ViewBag.Title = "Listado Criterio";
}



@section Head{
     <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
  

<script src="@Url.Content("~/Scripts/uploadify/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        
     
      //  $(".grilla-opciones").hide();
      //  $("#btnbuscaimagen").hide();

       // $("#Criterio_CodigoCriterio").attr('disabled', true);

        
        $("#Criterio_TipoModoRegistro").change(function () {
            var vvalor = $(this).val();

            if (vvalor == "0") {
                $("#btnbuscaimagen").show();
                $(".Imagen").show();
            }
            else {
                $("#btnbuscaimagen").hide();
                $(".Imagen").hide();
            }
        });



        $('#updateDialog').dialog({
            autoOpen: false,
            width: 600,
            height: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Grabar": function () {
                    $.post("/Intranet/Criterio/PopupCriterio",
                    $("#criterioForm").serialize(),
                        function (data) {
                            $("#updateDialog").html(data);
                            
                            //$(this).data('bob').text($(this).find("textarea").val();
                            $('#grdList').trigger('reloadGrid');
                           // $("#updateDialog").dialog("close");
                            //$(data).find(".dfdf");
                        }
                    );
                },
                 "Cancelar": function () {
                 $(this).dialog("close");
                }
            }
        });

        $('#Agregar').click(function () {
            var codigoCriterio = $("#Criterio_IdeCriterio").val();
            if (codigoCriterio != null && codigoCriterio > 0) {
                mostrarAgregarEstudios(0, codigoCriterio);
            } else {
                alert('Ingrese un Criterio');
            }
            
        });

        $('#btnEditar').click(function () {
                var codigoCriterio = $("#Criterio_IdeCriterio").val();
                var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                if (selr != null) {
                    mostrarAgregarEstudios(selr, codigoCriterio);
                } else {
                   alert('Seleccione una Alternativa');
                   
                }
                
        });

        $('#btnEliminar').click(function () {
            var codigoCriterio = $("#Criterio_IdeCriterio").val();
            var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
            if (selr != null) {
                eliminarAlternativa(selr, codigoCriterio);
            } else {
                alert('Seleccione una Alternativa');
            }
        });

        $('#btnGuardar').click(function () {
            $(".tabla-datos").show();
            $(".grilla-opciones").show();
        });

        jQuery("#grdList").jqGrid({
            url: '@Url.Action("ListaAlternativaxCriterio", "Criterio")' + '?idCriterio=' + $("#Criterio_IdeCriterio").val(),
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Nº','','Alternativa', 'Peso', 'Imagen'],
            colModel: [

                    { name: 'NroOrden', index: 'NroOrden', align: 'left',  width: 10, editable: false, sortable: false },
                    { name: 'CodigoAlternativa', index: 'CodigoAlternativa', align: 'left', width: 10, editable: false, sortable: false, hidden: true },
                    { name: 'NombreAlternativa', index: 'NombreAlternativa', align: 'left', editable: false, sortable: false },
                    { name: 'Peso', index: 'Peso', align: 'left', sortable: false, width: 30, editable: false },
                    { name: 'RutaDeImagen', index: 'RutaDeImagen', align: 'center', sortable: false, width: 30, editable: false, formatter: ImagenFormatter },
            ],
            sortname: 'CodigoAlternativa',
            sortorder: 'desc',
            viewrecords: true,
            cellEdit: true,
            /*caption: 'Lista Alternativas',*/
            rules: true ,
            height: 160,
            autowidth: true,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }


        });


        var dlgsubirarchivoimagen = $("#dlgsubirarchivoimagen").dialog(
           {
               autoOpen: false,
               modal: true,
               title: "Cargar Imagen",
               width: 500,
               height: 240,
               buttons: {
                   "Subir": function () {
                       //Guardar();
                       return true;
                   },
                   "Cancelar": function () {
                       $(this).dialog("close");
                       return false;
                   }
               }
           });



    });
    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function eliminarAlternativa(selr, codCriterio) {
@*        //var dialogDiv = $('#updateDialog');
        if (selr != null) {
            var url = '@Url.Action("PopupCriterio", "Criterio",  new { area = "Intranet" })' + '/' + selr + "?codCriterio=" + codCriterio;
           // window.location = url;

        } else {
            alert("Seleccione una alternativa");
        }*@

        $.post("/Intranet/Criterio/Eliminar?codigoAlternativa=" + selr + "&codigoCriterio=" + codCriterio,
        function (data) {
            alert("ola k ase")
            }
        );
        
        return false;

    }
    
    
    function InicializarMsg() {
        $(".msgModel").show();
        if ($(".msgModel .merror").is(":visible")) {
            $(".msgModel .merror").slideUp(200, function () {
                SanPablo.ShowElement(".msgModel .loading");
            });
        } else
            SanPablo.ShowElement(".msgModel .loading");
    }


    function ImagenFormatter(cellvalue, options, rowObject) {

        var strboton = '<input type="button" value="Imagen.." onclick="mostrarsubirarchivoimagen();" class="btn btn-mini" />';
        return strboton;

    }
    function mostrarsubirarchivoimagen() {
        $("#dlgsubirarchivoimagen").dialog('open');
    }

    function mostrarAgregarEstudios(id, codCriterio) {
        var dialogDiv = $('#updateDialog');
        $.get("/Intranet/Criterio/PopupCriterio/" + id + "?codCriterio=" +codCriterio, function (data) {
            dialogDiv.html(data);
            dialogDiv.dialog('open');
        });
        return false;
    }

</script>
}

@using (Html.BeginForm("Edit", "Criterio", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="span12"> 
        <div class="widget-box">
            <div class="widget-title">
                <h5>Criterio</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>
            </div>

            <table style="margin-left:120px;">
                <tr>
                    <td colspan="8">&nbsp;</td>
                </tr>
                <tr>
                     <td class="colEtiqueta">
                         
                         <label class="etiquetaFormulario">Código</label>
                    </td>
                    <td class="colInput">
                          @Html.TextBoxFor(model => model.Criterio.IdeCriterio, new { disabled = "disabled" ,@class = "textoFormulario"})                       
                    </td>
                    <td style="width:40px;"></td>
                   
                    <td class="colEtiqueta">
                            <label class="etiquetaFormulario">Medición</label>
                    </td>
                     <td class="colInput">
                            @Html.DropDownListFor(model => model.Criterio.TipoMedicion, new SelectList(Model.Medicion, "Valor", "Descripcion", Model.Criterio.TipoMedicion))
		                     <div class="tex-error" style="font-size:12px;color:red">    
                             @Html.ValidationMessageFor(model => model.Criterio.TipoMedicion)
                             </div>
                     </td>
                 </tr>
                 <tr>

                    <td class="colEtiqueta">
                      <label class="etiquetaFormulario">Tipo</label>
                    </td>
                   <td class="colInput">
                            @Html.DropDownListFor(model => model.Criterio.TipoCriterio, new SelectList(Model.TipoCriterio, "Valor", "Descripcion", Model.Criterio.TipoCriterio))
		                   <div class="tex-error" style="font-size:12px;color:red">         
                           @Html.ValidationMessageFor(model => model.Criterio.TipoCriterio)
                           </div>
                    </td>
                    <td style="width:40px;"></td>
                    <td class="colEtiqueta">
                    <label class="etiquetaFormulario">Modo</label>
                    </td>
                    <td class="colInput">
                        @Html.DropDownListFor(model => model.Criterio.TipoModo, new SelectList(Model.TipoModo, "Valor", "Descripcion", Model.Criterio.TipoModo))
		                <div class="tex-error" style="font-size:12px;color:red">     
                        @Html.ValidationMessageFor(model => model.Criterio.TipoModo)
                        </div>
                    </td>

                  </tr>
                
                   <tr>
                       <td class="colEtiqueta">
                            <label class="etiquetaFormulario">Pregunta</label>
                        </td>
                       <td class="colInput">
                             @Html.TextBoxFor(model => model.Criterio.Pregunta, new { @class = "textoFormulario" })    
                            <div class="tex-error" style="font-size:12px;color:red">    
                            @Html.ValidationMessageFor(model => model.Criterio.Pregunta)
                            </div>
                       </td>
                         
                         <td style="width:40px;"></td>
                         
                         <td class="colEtiqueta">
                            <label class="etiquetaFormulario">Calificación</label>
                         </td>

                          <td class="colInput">
                               
                            @Html.DropDownListFor(model => model.Criterio.TipoCalificacion, new SelectList(Model.TipoCalificacion, "Valor", "Descripcion", Model.Criterio.TipoCalificacion))
		                    <div class="tex-error" style="font-size:12px;color:red">     
                            @Html.ValidationMessageFor(model => model.Criterio.TipoCalificacion)
                            </div>
                          </td>
                       
                    </tr>
                    <tr>
                        <td colspan="8">
                             <input  type="file" name="file" id="btnbuscaimagen"/> 
                            <!-- <input id="btnbuscaimagen" type="button" value="Imagen.." onclick="mostrarsubirarchivoimagen();" class="btn btn-mini" style="display: inline-block;"> -->
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
               </table>          
            
            <div class="grilla-opciones">
                <h6>Alternativas</h6>
                <div class="opciones">
                    
                    <a id="Agregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a> 
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            
            <div class="tabla-datos" >
                <table id="grdList" >
                </table>
            </div>
           
             <div class="form-actions">
                <a class="btn" href="@Url.Action("Index", "Criterio", new { area = "Intranet" })" ><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <button type="submit" id="btnGuardar" class="btn btn-info"><i class="icon-hdd icon-white"></i> Guardar</button>
            </div>
           
        </div>
        </div>
}


<div id="dlgsubirarchivoimagen">
    <table style="width: 100%">      
        <tr>
            <td style="height: 30px; vertical-align: central;">Sólo se permiten archivos con extensión JPG, GIF. Tamaño máximo del archivo 1MB. El archivo debe tener 32px de ancho y 32 px de Largo</td>
        </tr>
          <tr>
            <td style="height: 10px;"></td>
        </tr> 
        <tr>
            <td>
             <input class="input-file" id="fileInput" type="file"></td>
        </tr>
        <tr>
            <td style="height: 10px;"></td>
        </tr>       
    </table>
</div>


<div id="updateDialog" title="Agregar Alternativa"></div>

<div class="msgModel" style="display: none">
    <div class="tips loading">
        Por favor espere, procesando solicitud...
    </div>
    <div class="tips merror">
    </div>
    <div class="tips mexito">
    </div>
</div>