@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CriterioViewModel
@{
    ViewBag.Title = "Listado Criterio";
}
@section Head{
}

@section Scripts{

<script type="text/javascript">
    //Table initialisation 
    $(document).ready(function () {

        jQuery("#grdList").jqGrid({
            url: '@Url.Action("ListaCriterio", "Criterio")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Estado', 'Codigo', 'Pregunta', 'Medición', 'Tipo', 'Modo', 'Calificación', 'Fecha Creación', 'Usuario Creación', 'Fecha Modificación', 'Usuario Modificación'],
            colModel: [
                    { name: 'Estado', index: 'Estado', align: 'center', sortable: false, width: 50, formatter: HabilitarFormatter },
                    { name: 'Codigo', index: 'Codigo', align: 'center', width: 50, sortable: false, hidden: true },
                    { name: 'Pregunta', index: 'Pregunta', align: 'left' },
                    { name: 'Medicion', index: 'Medicion', align: 'left', width: 60 },
                    { name: 'Calificacion', index: 'Calificacion', align: 'left', width: 50 },
                    { name: 'Tipo', index: 'Tipo', align: 'left', width: 50 },
                    { name: 'Modo', index: 'Modo', align: 'left', width: 50 },
                    { name: 'FechaCreacion', index: 'FechaCreacion', align: 'left', width: 100 },
                    { name: 'UsuarioCreacion', index: 'UsuarioCreacion', align: 'left', width: 100 },
                    { name: 'FechaModificacion', index: 'FechaModificacion', align: 'left', width: 100 },
                    { name: 'UsuarioModificacion', index: 'UsuarioModificacion', align: 'left', width: 100 }
            ],
            pager: jQuery('#grdPager'),
            rowNum: 10,
            rowList: [10, 30, 50],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            /*caption: 'Lista Referencias',*/
            height: 350,
            width: 920,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

    });

    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function HabilitarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'enabled.png';
        var title = "Habilitar"
        if (rowObject[14] == "Activo") {
            archivo = 'enabled.png';
            var title = "Habilitar"
        } else {
            archivo = 'enabled.png';
            var title = "Habilitar"
        }

        var strImg = '<img src="' + imgPath + archivo + '" title="' + title + '" alt="' + title + '">';
        return strImg;
    }

</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Criterio</h5>
            </div>
            <form class="formulario-busqueda">
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Tipo</label>
                            <div class="controles">
                              
                                @Html.DropDownListFor(model => model.criterio.TipoCriterio, new SelectList(Model.tipoCriterio, "Codigo", "Descripcion", Model.criterio.TipoCriterio))
		                        @Html.ValidationMessageFor(model => model.criterio.TipoCriterio)

                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Medición</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.criterio.TipoMedicion, new SelectList(Model.medicion, "Codigo", "Descripcion", Model.criterio.TipoMedicion))
		                        @Html.ValidationMessageFor(model => model.criterio.TipoMedicion)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Pregunta</label>
                            <div class="controles">
                                <input id="fechaInicio" type="text" class="input-large">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Estado</label>
                            <div class="controles">
                                @Html.DropDownListFor(model => model.criterio.EstadoCriterio, new SelectList(Model.estado, "Codigo", "Descripcion", Model.criterio.EstadoCriterio))
		                        @Html.ValidationMessageFor(model => model.criterio.EstadoCriterio)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-accion offset9">
                    <button type="submit" class="btn btn-info"><i class="icon-search icon-white"></i> Buscar</button>
                    <button type="reset" class="btn"><i class="icon-trash"></i> Limpiar</button>
                </div>
            </form>
            <div class="tabla-datos">
                <table id="grdList">
                </table>
                <div id="grdPager">
                </div>
            </div>
            <div class="form-actions">
                <a class="btn btn-info" href="@Url.Action("Edit","Criterio",new { area = "Intranet"})"><i class="icon-plus icon-white"></i> Nuevo</a>
                <a class="btn btn-info" href="@Url.Action("Edit","Criterio",new { area = "Intranet"})"><i class="icon-zoom-in icon-white"></i> Consultar</a>
                <a class="btn btn-info"  href="@Url.Action("Edit","Criterio",new { area = "Intranet"})"><i class="icon-pencil icon-white"></i> Editar</a>
                <button type="reset" class="btn btn-info"><i class="icon-check icon-white"></i> Activar / Desactivar</button>
                <button type="submit" class="btn btn-danger"><i class="icon-remove icon-white"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>
