@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CriterioViewModel
@{
    Layout = "";
}
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        
     
        var dato = '@Session["TipoModo"]';
        if (dato == 1) {
            $("#Alternativa_RutaDeImagen").hide();
        }
        if (dato == "I") {
            $("#Alternativa_RutaDeImagen").show();
        }
        if (dato == "T") {
            $("#Alternativa_RutaDeImagen").hide();
        }
                
        
    });

  
   
</script>


@using (Html.BeginForm("PopupCriterio", "Criterio", FormMethod.Post, new {  id = "frmPopupCriterio" }))
    {
    @Html.ValidationSummary(true)
    @Html.TextBoxFor(model => model.Alternativa.Criterio.IdeCriterio,  new { style = "display: none;" })
    @Html.TextBoxFor(model => model.Alternativa.IdeAlternativa,  new { style = "display: none;" })

    <table style="margin-left:30px;">
        <tr >
            <td class="colEtiqueta" >
                <label class="etiquetaFormulario" for="setipoInstitucion">Alternativa<span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
               
               @Html.TextBoxFor(model => model.Alternativa.NombreAlternativa, new { @maxlength = "150",onkeyup="aMays(event, this)"})
                <div class="tex-error" style="font-size:12px;color:red">    
               @Html.ValidationMessageFor(model => model.Alternativa.NombreAlternativa )
                </div>
            </td>
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="setInstitucion">Peso<span class="text-error">*</span></label>
            </td>
            <td class="colInput;input-xxlarge">

                @Html.TextBoxFor(model => model.Alternativa.Peso, new { onkeypress="return Funciones.isNumberKey(event)",@maxlength = "2" })
                <div class="tex-error" style="font-size:12px;color:red">   
                @Html.ValidationMessageFor(model => model.Alternativa.Peso)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
          <td colspan="2">
            @Html.TextBoxFor(model => model.imagen2, new { type = "file"})
            
             @if (Model.Alternativa.Image!=null)
                {
                    <table>
                        <tr>
                            <td style="width:80px;"></td>
                                                
                                            
                            <td class ="colInput" colspan="2">
                                <img id="ImgAlternativa"  height ="150" width="150" src="@Url.Action("GetImageAlternativa", "Criterio",new { id = Model.Alternativa.IdeAlternativa })" /> 
                            </td>
                    </tr>
                    </table>    
                }

          </td>
           
        </tr>
        
         
       
    </table>
}
