@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CriterioViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    
    $(document).ready(function () {


        $('#btnBuscarCriterios').click(function () {
            $('#grdListCriterios').trigger('reloadGrid');
        });


       

        jQuery("#grdListCriterios").jqGrid({
        datatype: function (postdata) {
            var migrilla = new Object();
            migrilla.page = postdata.page;
            migrilla.rows = postdata.rows;
            migrilla.sidx = postdata.sortField;
            migrilla.sord = postdata.sortOrder;
            migrilla._search = postdata.isSearch;
            migrilla.filters = postdata.filters;
            migrilla.Rules = [
                { field: 'tipCriterio', data: $("#Criterio_TipoCriterio").val() },
                { field: 'tipMed', data: $("#Criterio_TipoMedicion").val() },
                { field: 'pregunta', data: $("#Criterio_Pregunta").val() },
                { field: 'estado', data: $("#Criterio_IndicadorActivo").val() },
                { field: 'modo', data: $("#Criterio_TipoModo").val() }
                
            ];

            if (migrilla._search == true) {
                migrilla.searchField = postdata.searchField;
                migrilla.searchOper = postdata.searchOper;
                migrilla.searchString = postdata.searchString;
            }

            var params = { grid: migrilla };

            $.ajax({
                url: '@Url.Action("ListaCriterioxSubCategoria", "Criterio")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListCriterios')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function () {
                        alert('Error with AJAX callback');
                    }
                });
            },

      
            colNames: ['Estado', '', '', 'Pregunta', 'Medición', '', '', 'Tipo', '', 'Modo'],
            colModel: [
                    { name: 'Estado', index: 'Estado', align: 'center', sortable: false, width: 50, formatter: HabilitarFormatter, hidden: true },
                    { name: 'CodigoEstado', index: 'CodigoEstado', align: 'center', width: 10, hidden: true, sortable: false },
                    { name: 'Codigo', index: 'Codigo', align: 'center', width: 10, hidden: true, sortable: false },
                    { name: 'Pregunta', index: 'Pregunta', align: 'left', width: 400 },
                    { name: 'TipoMedicionDes', index: 'TipoMedicionDes', align: 'left' },
                    { name: 'Medicion', index: 'Medicion', align: 'left', hidden: true },
                    { name: 'Tipo', index: 'Tipo', align: 'left', hidden: true },
                    { name: 'TipoCriterioDes', index: 'TipoCriterioDes', align: 'left', width: 150, hidden: true },
                    //{ name: 'Calificacion', index: 'Calificacion', align: 'left', hidden: true },
                    //{ name: 'TipoCalificacionDes', index: 'TipoCalificacionDes', align: 'left', width: 200 },
                    { name: 'Modo', index: 'Modo', align: 'left', hidden: true },
                    { name: 'TipoModoDes', index: 'TipoModoDes', align: 'left', width: 150 }
                    
            ],

        pager: jQuery('#grdPagerCriterios'),
        rowNum: 10,
        rules: true,
        autowidth: true,
        multiselect: true,

            //rowList: [10, 30, 50],
        sortname: 'IdeCriterio',
        sortorder: 'desc',
        viewrecords: true,
        height: 350,
        width: 900,
        cellsubmit: 'clientArray',
        hidegrid: false,
        rownumbers: true,
        shrinkToFit: false,

        afterInsertRow: function (rowid, aData) {

            if (aData.Pregunta.length > 70) {
                var cPreguntaSub = aData.Pregunta.substring(0, 70) + " ...";
                jQuery("#grdListCriterios").jqGrid('setCell', rowid, 'Pregunta', cPreguntaSub);
            }

        },

        onSelectAll: function (aRowids, status) {
            //completeRow = jQuery("#list").jqgrid('getGridParam','selarrrow');
            completeRow = aRowids;
            CompleteStatus = status;
        },
        onSelectRow: function (rowid, status) {
            SelectRowdata = rowid;
            SelectedRowStatus = status;
        },

            

    });

    });

    function HabilitarFormatter(cellvalue, options, rowObject) {
        var imgPath = '@Url.Content("~/Content/images/")';
        var archivo = 'enabled.png';
        var title = "Habilitar"
        if (rowObject[1] == "A") {
            archivo = 'enabled.png';
            var title = "Habilitado"
        } else {
            archivo = 'delete.png';
            var title = "Desabilitado"
        }


        function checkBox(obj) {
            $('.check').prop('checked', obj.checked);
        }

        var strImg = '<img src="' + imgPath + archivo + '" title="' + title + '" alt="' + title + '">';
        return strImg;
    }
</script>

@using (Html.BeginForm("PopupListaCriterio", "Criterio", FormMethod.Post, new { id = "frmPopupListaCriterio", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <table style="margin-left:120px;">
        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
        <tr>
            @Html.HiddenFor(model => model.CriterioPorSubcategoria.IDESUBCATEGORIA, new { data_val = "false" })

            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="inputSuccess">Tipo</label>
            </td>
            <td class="colInput">
                              
                @Html.DropDownListFor(model => model.Criterio.TipoCriterio, new SelectList(Model.TipoCriterio, "Valor", "Descripcion", Model.Criterio.TipoCriterio),new { data_val = "false" ,@disabled ="disabled"})
	        </td>
            <td style="width:40px;"></td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="selectError">Medición</label>
            </td>   
            <td class="colInput">
                @Html.DropDownListFor(model => model.Criterio.TipoMedicion, new SelectList(Model.Medicion, "Valor", "Descripcion", Model.Criterio.TipoMedicion),new { data_val = "false" })
		    </td>
        <tr/>
        <tr>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="inputSuccess">Pregunta</label>
            </td>
            <td class="colInput">
                @Html.TextBoxFor(model => model.Criterio.Pregunta, new { @class = "textoFormulario", data_val = "false" ,onblur="aMays(event, this)"})  
            </td>
            <td style="width:40px;"></td>
            <td class="colEtiqueta">
                <label class="etiquetaFormulario" for="inputSuccess">Modo</label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Criterio.TipoModo, new SelectList(Model.Modos, "Valor", "Descripcion", Model.Criterio.TipoModo),new { data_val = "false" })
	        </td>
        </tr>

         <tr >
            <td class="opciones" style="text-align:right" colspan="6">
                <a id="btnBuscarCriterios" class="btn btn-small btn-info"><i class="icon-search icon-white"></i> Buscar</a>
                <button type="reset"   id="btnLimpiarCriterios" class="btn"><i class="icon-trash"></i> Limpiar</button>
                 <div style="clear:both"></div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        
    </table>
   
    <div class="tabla-datos">
        <table id="grdListCriterios">
        </table>
        <div id="grdPagerCriterios">
        </div>
    </div>
}        