@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CentroEstudioViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {



        //ELEGIR EL TIPO DE INSTITUCIONES
        $('select#CentroEstudio_TipoCentroEstudio').change(function () {
            var tipoInstituto = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarNombreInstitucion","CentroEstudioCargo")',
                    data: { tipoInstituto: tipoInstituto },
                    success: function (respuesta) {
                        $("select#CentroEstudio_TipoNombreCentroEstudio").empty();
                        $("select#CentroEstudio_TipoNombreCentroEstudio").append("<option value='00'> Seleccionar </option>");
                        $.each(respuesta, function (i, items) {
                            $("select#CentroEstudio_TipoNombreCentroEstudio").append("<option value='"
                            + items.Valor + "'>" + items.Descripcion + "</option>");
                        }
                        );
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
            })
        
    });
</script>



@using (Html.BeginForm("Index", "CentroEstudioCargo", FormMethod.Post, new { @id = "centroEstudioForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> 
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.CentroEstudio.IdeCentroEstudioCargo)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de Institución <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.CentroEstudio.TipoCentroEstudio, new SelectList(Model.TiposInstitucion, "Valor", "Descripcion", Model.CentroEstudio.TipoCentroEstudio))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.CentroEstudio.TipoCentroEstudio)
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Nombre Institución <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.CentroEstudio.TipoNombreCentroEstudio, new SelectList(Model.Instituciones, "Valor", "Descripcion", Model.CentroEstudio.TipoNombreCentroEstudio))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.CentroEstudio.TipoNombreCentroEstudio)
                </div>
            </td>
        </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.CentroEstudio.PuntajeCentroEstudios, new {@class="input-xxmini" , maxlength="2" })
               <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.CentroEstudio.PuntajeCentroEstudios)
                </div>
           </td>
       </tr>  
    </table>
}