@using SanPablo.Reclutador.Web.Models
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.UsuarioViewModel
@using SanPablo.Reclutador.Entity

@{
    ViewBag.Title = "";
}



@section Head{
     <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
  

<script src="@Url.Content("~/Scripts/uploadify/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $("#tabs").tabs();
        
       
        jQuery("#grdListUsuario").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();
                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sortField;
                migrilla.sord = postdata.sortOrder;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'idUsuario', data: $("#Usuario_IdUsuario").val() },

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListaUsuarioRolSede", "Usuario")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListUsuario')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: ['','', 'Sede','','','Rol'],
            colModel: [
                     { name: 'IdUsuarolSede', index: 'IdUsuarolSede', align: 'left', editable: false, sortable: false, hidden: true },
                     { name: 'IdSede', index: 'IdSede', align: 'left', editable: false, sortable: false, hidden: true },
                     { name: 'DescSede', index: 'DescSede', align: 'left', sortable: false, editable: false, width: 400 },
                     { name: 'IdUsuario', index: 'IdUsuario', align: 'left', sortable: false, editable: false, hidden: true },
                     { name: 'IdRol', index: 'IdRol', align: 'left', sortable: false,  editable: false, hidden: true },
                     { name: 'DescRol', index: 'DescOpcion', align: 'left', sortable: false, width: 400, editable: false }
            ],

            pager: jQuery('#grdPagerUsuario'),
            rowNum: 10,
            //rowList: [10, 30, 50],
            autowidth: true,
            rules: true,
            sortname: 'IdUsuarolSede',
            sortorder: 'desc',
            viewrecords: true,
            height: 250,
            cellsubmit: 'clientArray',
            hidegrid: false,
            rownumbers: true,
            shrinkToFit: false,

            postData: {
            },
            loadComplete: function (data) {
            }
        });
    
        


    jQuery("#grdListaTipoReqInicial").jqGrid({
        datatype: function (postdata) {
            var migrilla = new Object();
            migrilla.page = postdata.page;
            migrilla.rows = postdata.rows;
            migrilla.sidx = postdata.sortField;
            migrilla.sord = postdata.sortOrder;
            migrilla._search = postdata.isSearch;
            migrilla.filters = postdata.filters;
            migrilla.Rules = [
                       { field: 'idUsuario', data: $("#Usuario_IdUsuario").val() },

            ];

            if (migrilla._search == true) {
                migrilla.searchField = postdata.searchField;
                migrilla.searchOper = postdata.searchOper;
                migrilla.searchString = postdata.searchString;
            }

            var params = { grid: migrilla };

            $.ajax({
                url: '@Url.Action("GetListaTipoReq", "Usuario")',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListaTipoReqInicial')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
        colNames: ['', '', '', 'Tipo de Requerimiento'],
        colModel: [
                 { name: 'IDUSUREQ', index: 'IDUSUREQ', align: 'left', editable: false, sortable: false, hidden: true },
                 { name: 'IDUSUARIO', index: 'IDUSUARIO', align: 'left', editable: false, sortable: false, hidden: true },
                 { name: 'TIPREQ', index: 'TIPREQ', align: 'left', sortable: false, editable: false, hidden: true },
                 { name: 'DESREQ', index: 'DESREQ', align: 'left', sortable: false, editable: false, width: 750 }

        ],

        pager: jQuery('#grdPagerListaTipoReq'),
        rowNum: 10,
        //rowList: [10, 30, 50],
        autowidth: true,
        rules: true,
        sortname: 'IDUSUREQ',
        sortorder: 'desc',
        viewrecords: true,
        height: 250,
        cellsubmit: 'clientArray',
        hidegrid: false,
        rownumbers: true,
        shrinkToFit: false,

        postData: {
        },
        loadComplete: function (data) {
        }


    });


   
    jQuery("#grdListaNivelSede").jqGrid({
        datatype: function (postdata) {
            var migrilla = new Object();
            migrilla.page = postdata.page;
            migrilla.rows = postdata.rows;
            migrilla.sidx = postdata.sortField;
            migrilla.sord = postdata.sortOrder;
            migrilla._search = postdata.isSearch;
            migrilla.filters = postdata.filters;
            migrilla.Rules = [
                        { field: 'idUsuario', data: $("#Usuario_IdUsuario").val() }

            ];

            if (migrilla._search == true) {
                migrilla.searchField = postdata.searchField;
                migrilla.searchOper = postdata.searchOper;
                migrilla.searchString = postdata.searchString;
            }

            var params = { grid: migrilla };

            $.ajax({
                url: '@Url.Action("GetSedeNivel", "Usuario")',
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(params),
            async: false,
            success: function (data, st) {
                if (st == 'success') {
                    var jq = $('#grdListaNivelSede')[0];
                    jq.addJSONData(data);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    },
    colNames: ['Estado','', '', '', '','','','','Sede','Dependencia','Departamento','Área'],
    colModel: [
				 
             { name: 'ESTADO', index: 'ESTADO', align: 'left', sortable: false, editable: false, hidden: true },
             { name: 'FLGESTADO', index: 'FLGESTADO', align: 'left', sortable: false, editable: false, hidden: true },
             { name: 'IDUSUARIONIVEL', index: 'IDUSUARIONIVEL', align: 'left', editable: false, sortable: false, hidden: true },
             { name: 'IDUSUARIO', index: 'IDUSUARIO', align: 'left', editable: false, sortable: false, hidden: true },
             { name: 'IDESEDE', index: 'IDESEDE', align: 'left', sortable: false, editable: false, hidden: true },
             { name: 'IDEDEPENDENCIA', index: 'IDEDEPENDENCIA', align: 'left', sortable: false, editable: false, hidden: true  },
             { name: 'IDEDEPARTAMENTO', index: 'IDEDEPARTAMENTO', align: 'left', sortable: false, editable: false, hidden: true  },
             { name: 'IDEAREA', index: 'IDEAREA', align: 'left', sortable: false, editable: false, hidden: true  },
             { name: 'SEDEDES', index: 'SEDEDES', align: 'left', sortable: false, editable: false, width: 200},
             { name: 'DEPENDENCIADES', index: 'DEPENDENCIADES', align: 'left', sortable: false, editable: false, width: 200},
             { name: 'DEPARTAMENTODES', index: 'DEPARTAMENTODES', align: 'left', sortable: false, editable: false, width: 200},
             { name: 'AREADES', index: 'AREADES', align: 'left', sortable: false, editable: false, width: 200}
	],
	
     pager: jQuery('#grdPagerListaSede'),
         rowNum: 10,
     autowidth: true,
     rules: true,
     sortname: 'IDUSUARIONIVEL',
     sortorder: 'desc',
     viewrecords: true,
     height: 250,
     cellsubmit: 'clientArray',
     hidegrid: false,
     rownumbers: true,
     shrinkToFit: false,

     postData: {
     },
     loadComplete: function (data) {
     }

     });

    
    $('#btnEliminar').click(function () {
        validaSesIntranet();
        var selr = jQuery('#grdListUsuario').jqGrid('getGridParam', 'selrow');
        if (selr != null && selr > 0) {
            $('#confirmacion').dialog('open');
        } else {
            MostrarMensaje('Seleccione un registro', "MENSAJE");
        }

    });



    $('#btnEliminarSedeNivel').click(function () {
        validaSesIntranet();
        var selr = jQuery('#grdListaNivelSede').jqGrid('getGridParam', 'selrow');
        if (selr != null && selr > 0) {
            $('#confirmacionSedeNivel').dialog('open');
        } else {
            MostrarMensaje('Seleccione un registro', "MENSAJE");
        }

    });



    $('#btnEliminarReq').click(function () {
        validaSesIntranet();

        var selr = jQuery('#grdListaTipoReqInicial').jqGrid('getGridParam', 'selrow');
        if (selr != null && selr > 0) {
            $('#confReqInical').dialog('open');
        } else {
            MostrarMensaje('Seleccione un registro', "MENSAJE");
        }

    });

    $("#spanConfReqInical").html("¿Desea eliminar el registro?")
    $('#confReqInical').dialog({
        autoOpen: false,
        resizable:false,
        modal: true,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {

                var selr = jQuery('#grdListaTipoReqInicial').jqGrid('getGridParam', 'selrow');
                var rowData = jQuery('#grdListaTipoReqInicial').jqGrid('getRowData', selr);
                var codUsu = rowData.IDUSUARIO;
                var tipReq = rowData.TIPREQ;

                if (selr != null && selr > 0) {
                    EliminarTipReq(codUsu, tipReq);
                } else {
                    MostrarMensaje('Seleccione una tipo de requerimiento', "MENSAJE");
                }
                $(this).dialog("close");
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });

       
    $("#spanConfirmacionSedeNivel").html("¿Desea eliminar el registro?")
    $('#confirmacionSedeNivel').dialog({
        autoOpen: false,
        resizable:false,
        modal: true,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {

                var selr = jQuery('#grdListaNivelSede').jqGrid('getGridParam', 'selrow');

                if (selr != null && selr > 0) {
                    EliminarRolSedeNivel(selr);
                } else {
                    MostrarMensaje('Seleccione un registro', "ALERTA");
                }
                $(this).dialog("close");
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });



    $("#spanConfirmacion").html("¿Desea eliminar el registro?")
    $('#confirmacion').dialog({
        autoOpen: false,
        resizable:false,
        modal: true,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {
              
                var selr = jQuery('#grdListUsuario').jqGrid('getGridParam', 'selrow');
              
                if (selr != null && selr > 0) {
                    EliminarRolSede(selr);
                } else {
                    MostrarMensaje('Seleccione un rol', "ALERTA");
                }
                $(this).dialog("close");
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });




    $('#btnNuevo').click(function () {
        validaSesIntranet();

        var idUsu = $("#Usuario_IdUsuario").val();

        if (idUsu != null && idUsu > 0) {
            mostrarPopup(idUsu,0);
        } else {
            MostrarMensaje('Ingrese un registro', "MENSAJE");
        }

    });


    $('#btnNuevoSede').click(function () {

        validaSesIntranet();

        var idUsu = $("#Usuario_IdUsuario").val();

        if (idUsu != null && idUsu > 0) {
            mostrarPopupSede(idUsu, 0);
        } else {
            MostrarMensaje('Ingrese un registro', "MENSAJE");
        }

    });


    $('#btnSedeNivel').click(function () {

        validaSesIntranet();

        var idUsu = $("#Usuario_IdUsuario").val();
        var selr = jQuery('#grdListaNivelSede').jqGrid('getGridParam', 'selrow');
        var rowData = jQuery('#grdListaNivelSede').jqGrid('getRowData', selr);
        var idSede = rowData.IDESEDE;
        
        if (idSede != null && idSede > 0) {
            mostrarPopupSedeNivel(idUsu, idSede);
        } else {
            MostrarMensaje('Ingrese un registro', "MENSAJE");
        }

    });
    



    $('#popupDialogRol').dialog({
        autoOpen: false,
        width: 520,
        height: 400,
        resizable: false,
        modal: true,
        buttons: {
            "Grabar": function () {
                if ($("#frmPopupSedeRol").validate().form()) {
                    $('#confSelc').dialog('open');
                }
              
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });

    $('#popupDialogSede').dialog({
        autoOpen: false,
        width: 480,
        height: 400,
        resizable: false,
        modal: true,
        buttons: {
            "Grabar": function () {
                if ($("#frmPopupSede").validate().form()) {
                    $('#confSede').dialog('open');
                }
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });

    $('#popupDialogSedeNivel').dialog({
        autoOpen: false,
        width: 440,
        //height: 400,
        resizable: false,
        modal: true,
        buttons: {
            "Grabar": function () {
                if ($("#frmPopupSedeNivel").validate().form()) {
                    $('#confSedeNivel').dialog('open');
                }

            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });



    $("#spanSedeNivel").html("¿Desea guardar los cambios?")
    $('#confSedeNivel').dialog({
        autoOpen: false,
        resizable: false,
        modal: true,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {
                if ($("#frmPopupSedeNivel").validate().form()) {
                    $.ajax({
                        type: "POST",
                        data: $("#frmPopupSedeNivel").serialize(),
                        url: '@Url.Action("SetSedeNivel", "Usuario", new { area = "Intranet"})',
                        traditional: true,
                        success: function (data) {
                            if (data.Resultado) {
                               // MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                $('#confSedeNivel').dialog("close");
                                $('#popupDialogSedeNivel').dialog("close");
                                $('#grdListaNivelSede').trigger('reloadGrid');

                            }
                        }
                    });
                }
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });
    

    $("#spanConfSede").html("¿Desea guardar los cambios?")
    $('#confSede').dialog({
        autoOpen: false,
        resizable:false,
        modal: true,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {
                if ($("#frmPopupSede").validate().form()) {
                    $.ajax({

                        data: {
                            selc: $("#grdListaMaestroSede").jqGrid('getGridParam', 'selarrrow'),
                            idUsu: $('#IdUsuario').val(),
                        },
                        type: "POST",
                        url: '@Url.Action("SetPopupSede", "Usuario", new { area = "Intranet"})',
                        traditional: true,
                        success: function (data) {
                            if (data.Resultado) {
                                //MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                $('#confSede').dialog("close");
                                $('#popupDialogSede').dialog("close");
                                $('#grdListaNivelSede').trigger('reloadGrid');
                            }
                        }
                    });
                }
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });


    $("#spanConfSelc").html("¿Desea guardar los cambios?")
    $('#confSelc').dialog({
        autoOpen: false,
        modal: true,
        resizable:false,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {
                if ($("#frmPopupSedeRol").validate().form()) {
                    $.ajax({
                       
                        data: {

                            selc: $("#grdListaSedesInicial").jqGrid('getGridParam', 'selarrrow'),
                            idRol: $('#UsuarioRolSede_IdRol').val(),
                            idUsu: $('#IdUsuario').val(),
                            indSede: $('#IndSede').val(),

                        },

                        type: "POST",
                        url: '@Url.Action("SetPopupSedeRol", "Usuario")',
                        traditional: true,
                        success: function (data) {
                            if (data.Resultado) {
                               // MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                $('#confSelc').dialog("close");
                                $('#popupDialogRol').dialog("close");
                                $('#grdListUsuario').trigger('reloadGrid');
                            }
                        }
                    });
                }
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });


     
    $('#btnNuevoReq').click(function () {

        validaSesIntranet();


        var idUsu = $("#Usuario_IdUsuario").val();

        // valida si es de recursos humanos
        $.ajax({
          data: {
              id: idUsu
          },
          type: "POST",
          url: '@Url.Action("ValidaTipoRol", "Usuario")',
          traditional: true,
          success: function (data) {
              if (data.Resultado) {
                  mostrarPopupTipoReq(idUsu);
              }
              else
              {
                  MostrarMensaje(data.Mensaje, "MENSAJE");
              }
          }
        });



        //if (idUsu != null && idUsu > 0) {
        //    mostrarPopupTipoReq(idUsu);
        //} else {
        //    MostrarMensaje('Ingrese un registro', "Sistema de Reclutamiento Y Seleccion de Personal");
        //}


    });

    $('#popupDialogTipReq').dialog({
        autoOpen: false,
        width: 500,
        height: 400,
        resizable: false,
        modal: true,
        buttons: {
            "Grabar": function () {
                $('#tipoReq').dialog('open');

            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });


    $("#spanTipoReq").html("¿Desea guardar los cambios?")
    $('#tipoReq').dialog({
        autoOpen: false,
        modal: true,
        title: "CONFIRMACIÓN",
        buttons: {
            "Aceptar": function () {
                if ($("#frmTipoReq").validate().form()) {
                    $.ajax({
                        data: {
                            selc: $("#grdListaTipReq").jqGrid('getGridParam', 'selarrrow'),
                            codUsuario: $('#IdUsuario').val()
                        },
                        type: "POST",
                        url: '@Url.Action("SetPopupTipoReq", "Usuario")',
                            traditional: true,
                            success: function (data) {
                                if (data.Resultado) {

                                    MostrarMensaje(data.Mensaje, "ALERTA");
                                    $('#tipoReq').dialog('close');
                                    $('#popupDialogTipReq').dialog('close');
                                    $('#grdListaTipoReqInicial').trigger('reloadGrid');
                                }
                            }
                        });
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
     });



    });



    function mostrarPopupTipoReq(selr) {
        var dialogDiv = $('#popupDialogTipReq');

        $.get('@Url.Action("inicioPopupTipReq", "Usuario", new { area = "Intranet"})?id=' + selr, function (data) {

			    dialogDiv.html(data);
			    $.validator.unobtrusive.parse($("#popupDialogTipReq"));
			    dialogDiv.dialog('open');
		    });
		    return false;
        }

    function mostrarPopup(idUsu, selr) {
        var dialogDiv = $('#popupDialogRol');

        $.get('@Url.Action("PopupSedeRol", "Usuario", new { area = "Intranet"})?id=' + idUsu + "&idSel=" + selr, function (data) {

            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#popupDialogRol"));
            dialogDiv.dialog('open');
        });
        return false;
    }

    function mostrarPopupSede(idUsu, selr) {
        var dialogDiv = $('#popupDialogSede');

        $.get('@Url.Action("PopupSede", "Usuario", new { area = "Intranet"})?id=' + idUsu + "&idSel=" + selr, function (data) {

            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#popupDialogSede"));
            dialogDiv.dialog('open');
        });
        return false;
    }


    function mostrarPopupSedeNivel(idUsu, selr) {
        var dialogDiv = $('#popupDialogSedeNivel');

        $.get('@Url.Action("popupSedeNivel", "Usuario", new { area = "Intranet"})?id=' + idUsu + "&idSel=" + selr, function (data) {

            dialogDiv.html(data);
            $.validator.unobtrusive.parse($("#popupDialogSedeNivel"));
            dialogDiv.dialog('open');
        });
        return false;
    }
    


    function MostrarMensaje(mensaje, titulo) {
        Funciones.Alert("divMensaje", "spnMensaje", mensaje, titulo);
    }

    function validacion() {

        validaSesIntranet();
       
        if ($("#frmEdicionUsuario").validate().form()) {
            var codUsuario = $("#Usuario_CodUsuario").val();
            var codAccion = '@Model.Accion';
            $.ajax({
                data: {
                    id: codUsuario,
                    accion: codAccion
                },
                type: "POST",
                url: '@Url.Action("valCodUsuario", "Usuario")',
                traditional: true,
                success: function (data) {
                    if (data.redirecciona) {
                        SanPablo.Redirecciona('@Url.Action("Login", "Seguridad")');
                    }
                    if (data.Resultado == false) {
                        MostrarMensaje(data.Mensaje, "MENSAJE");
                    } else {
                        GrabaUsuario();
                    }
                }
            });
        }
    }

    function GrabaUsuario() {
        var idUsuario = $("#Usuario_IdUsuario").val();
        if ($("#frmEdicionUsuario").validate().form()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edicion", "Usuario")',
                data: $("#frmEdicionUsuario").serialize(),
                traditional: true,
                success: function (data) {
                    if (data.redirecciona) {
                        SanPablo.Redirecciona('@Url.Action("Login", "Seguridad")');
                    }
                    if (data.Resultado) {
                        $("#Usuario_IdUsuario").val(data.IdDato);
                        information('divMensaje', 'spnMensaje', data.Mensaje, "INFORMATIVO", data.IdDato);
                    }
                }
            });
        }
    }

    function information(selectorDiv, selectorSpan, msg, title, selr) {
        $('#' + selectorSpan).html(msg);
        var opt = {
            title: title,
            autoOpen: false,
            modal: true,
            resizable: false,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                    Editar(selr);
                }
            }
        };
        $('#' + selectorDiv).dialog(opt).dialog('open');
    }


    function Editar(selr) {
       window.location = '@Url.Action("Edit", "Usuario", new { id = "" })' + '/' + selr;    
    }


   


    function EliminarRolSede(selc) {

        $.ajax({
            data: {
                id: selc
            },
            type: "POST",
            url: '@Url.Action("EliminaRolSede", "Usuario")',
                traditional: true,
                success: function (data) {
                    if (data.redirecciona) {
                        SanPablo.Redirecciona('@Url.Action("Login", "Seguridad")');
                    }
                    if (data.Resultado == false) {
                        MostrarMensaje(data.Mensaje, "INFORMATIVO");
                    } else {
                        $('#grdListUsuario').trigger('reloadGrid');
                    }
                }
            });

    }


    function EliminarRolSedeNivel(selc) {

        $.ajax({
            data: {
                id: selc
            },
            type: "POST",
            url: '@Url.Action("EliminaRolSedeNivel", "Usuario", new { area = "Intranet"})',
            traditional: true,
            success: function (data) {
                if (data.redirecciona) {
                    SanPablo.Redirecciona('@Url.Action("Login", "Seguridad")');
                    }
                    if (data.Resultado == false) {
                        MostrarMensaje(data.Mensaje, "INFORMATIVO");
                    } else {
                        $('#grdListaNivelSede').trigger('reloadGrid');
                    }
                }
        });

        }


    

    function EliminarTipReq(codUsu, tipReq) {

        $.ajax({
            data: {
                id: codUsu,
                tipReq: tipReq
            },
            type: "POST",
            url: '@Url.Action("EliminarTipReq", "Usuario")',
            traditional: true,
            success: function (data) {
                if (data.redirecciona) {
                    SanPablo.Redirecciona('@Url.Action("Login", "Seguridad")');
                }
                if (data.Resultado == false) {
                    MostrarMensaje(data.Mensaje, "INFORMATIVO");
                } else {
                    $('#grdListaTipoReqInicial').trigger('reloadGrid');
                }
            }
        });

    }


</script>
}

@using (Html.BeginForm("Edit", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEdicionUsuario" }))
{
@Html.ValidationSummary(true)

<div class="span12"> 
        <div class="widget-box">
            <div class="widget-title">
                <h5>Usuario</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>
            </div>

            <table style="margin-left:120px;">
                <tr>
                    <td colspan="8">&nbsp;</td>
                </tr>
                <tr>
                     <td class="colEtiqueta">
                         
                         <label class="etiquetaFormulario">Usuario<span class="text-error">*</span></label>
                    </td>
                    <td class="colInput">
                    @Html.TextBoxFor(model => model.Usuario.IdUsuario, new { style = "display: none;" })   
                       

                    @if (Accion.Consultar.Equals(Model.Accion))
                    { 
                    @Html.TextBoxFor(model => model.Usuario.CodUsuario, new { @class = "textoFormulario", disabled = "disabled" ,onblur="aMays(event, this)"})                      
                    }
                    else
                    {
                    @Html.TextBoxFor(model => model.Usuario.CodUsuario, new { @class = "textoFormulario" ,onblur="aMays(event, this)"})                     
                    }
                        <div class="tex-error" style="font-size:12px;color:red">    
                            @Html.ValidationMessageFor(model => model.Usuario.CodUsuario)
                        </div>       
                    </td>
                    <td style="width:40px;"></td>
                   
                    <td class="colEtiqueta">
                            <label class="etiquetaFormulario">Contraseña<span class="text-error">*</span></label>
                    </td>
                     <td class="colInput">
                        
                          @if (Accion.Consultar.Equals(Model.Accion))
                          { 
                            @Html.TextBoxFor(model => model.Usuario.CodContrasena, new { @class = "textoFormulario", disabled = "disabled", type = "password" })                      
                          }
                          else
                          {
                            @Html.TextBoxFor(model => model.Usuario.CodContrasena, new { @class = "textoFormulario", type = "password" })                     
                          }
                         
                        
                         
                         <div class="tex-error" style="font-size:12px;color:red">    
                        @Html.ValidationMessageFor(model => model.Usuario.CodContrasena)
                        </div>
                    </td>
                 </tr>
                 <tr>

                    <td class="colEtiqueta">
                      <label class="etiquetaFormulario">Apellido Paterno<span class="text-error">*</span></label>
                    </td>
                   <td class="colInput">
                       @if (Accion.Consultar.Equals(Model.Accion))
                       {
                            @Html.TextBoxFor(model => model.Usuario.DscApePaterno, new { @class = "textoFormulario", disabled = "disabled",onblur="aMays(event, this)" })  
                       }
                       else
                       {
                            @Html.TextBoxFor(model => model.Usuario.DscApePaterno, new { @class = "textoFormulario",onblur="aMays(event, this)" })  
                       }
                       
                       
                       <div class="tex-error" style="font-size:12px;color:red">         
                        
                            @Html.ValidationMessageFor(model => model.Usuario.DscApePaterno)
                        </div>
                    </td>
                    <td style="width:40px;"></td>
                    <td class="colEtiqueta">
                    <label class="etiquetaFormulario">Apellido Materno<span class="text-error">*</span></label>
                    </td>
                    <td class="colInput">
                        
                         @if (Accion.Consultar.Equals(Model.Accion))
                         {
                            @Html.TextBoxFor(model => model.Usuario.DscApeMaterno, new { @class = "textoFormulario", disabled = "disabled" ,onblur="aMays(event, this)"})  
                         }
                         else
                         {
                            @Html.TextBoxFor(model => model.Usuario.DscApeMaterno, new { @class = "textoFormulario" ,onblur="aMays(event, this)"})  
                         }

                       
                        <div class="tex-error" style="font-size:12px;color:red">     
                        @Html.ValidationMessageFor(model => model.Usuario.DscApeMaterno)
                        </div>
                    </td>

                  </tr>

                 <tr>

                    <td class="colEtiqueta">
                      <label class="etiquetaFormulario">Nombres<span class="text-error">*</span></label>
                    </td>
                   <td class="colInput">
                       @if (Accion.Consultar.Equals(Model.Accion))
                       {
                            @Html.TextBoxFor(model => model.Usuario.DscNombres, new { @class = "textoFormulario", disabled = "disabled" ,onblur="aMays(event, this)"})  
                       }
                       else
                       {
                            @Html.TextBoxFor(model => model.Usuario.DscNombres, new { @class = "textoFormulario",onblur="aMays(event, this)" })  
                       }
                       
                       <div class="tex-error" style="font-size:12px;color:red">         
                          @Html.ValidationMessageFor(model => model.Usuario.DscNombres)
                        </div>
                    </td>
                    <td style="width:40px;"></td>
                    <td class="colEtiqueta">
                    <label class="etiquetaFormulario">Email<span class="text-error">*</span></label>
                    </td>
                    <td class="colInput">
                        
                         @if (Accion.Consultar.Equals(Model.Accion))
                         {
                            @Html.TextBoxFor(model => model.Usuario.Email, new { @class = "textoFormulario", disabled = "disabled" ,onblur="aMays(event, this)"})  
                         }
                         else
                         {
                            @Html.TextBoxFor(model => model.Usuario.Email, new { @class = "textoFormulario" ,onblur="aMays(event, this)"})  
                         }

                        <div class="tex-error" style="font-size:12px;color:red">     
                        @Html.ValidationMessageFor(model => model.Usuario.Email)
                        </div>
                    </td>

                  </tr>
                
                   <tr>

                    <td class="colEtiqueta">
                      <label class="etiquetaFormulario">Teléfono<span class="text-error">*</span></label>
                    </td>
                   <td class="colInput">
                       @if (Accion.Consultar.Equals(Model.Accion))
                       {
                            @Html.TextBoxFor(model => model.Usuario.Telefono, new { @class = "textoFormulario", disabled = "disabled" ,onblur="aMays(event, this)"})  
                       }
                       else
                       {
                            @Html.TextBoxFor(model => model.Usuario.Telefono, new { @class = "textoFormulario",onblur="aMays(event, this)" })  
                       }
                       
                       <div class="tex-error" style="font-size:12px;color:red">         
                          @Html.ValidationMessageFor(model => model.Usuario.Telefono)
                        </div>
                    </td>
                    <td style="width:40px;"></td>
                    <td class="colEtiqueta">
                   
                    </td>



                    <td >
                       
                    </td>

                  </tr>

                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
               </table>          
                <div class="form-actions">
                
                    @if (Accion.Consultar.Equals(Model.Accion))
                    {
                        <span></span>
                    }
                    else
                    {
                        <a class="btn btn-info"  onclick ="validacion();"><i class=" icon-hdd icon-white"></i> Grabar</a>
                    }
                
                </div>
          
                @if (Accion.Nuevo.Equals(Model.Accion))
                {
		                <span></span>
                }
                else
                {
          
                    
                <div id="tabs">
                  <ul>
                    <li><a href="#tabs-1" id="tab1">Sede</a></li>
                    <li><a href="#tabs-2" id="tab2">Roles</a></li>
                      <li><a href="#tabs-3" id="tab3">Tipo de Requerimiento</a></li>
                  </ul>
                  <div id="tabs-1">
                    @Html.Partial("EdicionSede")
                  </div>
                  <div id="tabs-2">
                    @Html.Partial("EdicionOpciones")
                  </div>
                  <div id="tabs-3">
                    @Html.Partial("EdicionTipoReq")
                  </div>
                </div>                    
                <div class="container">
                </div>    
                    
             
                }
           
          
            <div class="form-actions">
                <a class="btn" href="@Url.Action("Index", "Usuario", new { area = "Intranet" })" ><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                
               
                
            </div>
           
        </div>
        </div>
}

<div id="divMensaje">
        <span id="spnMensaje"></span>
</div>

<div id="opcionDialog" title="Lista de Opciones"></div>
<div id="confSelc"><span id="spanConfSelc"></span></div>
<div id="confSede"><span id="spanConfSede"></span></div>
<div id="confirmacion"><span id="spanConfirmacion"></span></div>
<div id="confirmacionSedeNivel"><span id="spanConfirmacionSedeNivel"></span></div>
<div id="confReqInical"><span id="spanConfReqInical"></span></div>
<div id="confSedeNivel"><span id="spanSedeNivel"></span></div>
<div id="popupDialogRol" title="Rol"></div>
<div id="popupDialogTipReq" title="Tipos de Requerimiento"></div>
<div id="popupDialogSede" title="Sede"></div>
<div id="popupDialogSedeNivel" title="Sede"></div>


<div id="tipoReq"><span id="spanTipoReq"></span></div>




