@using SanPablo.Reclutador.Entity
@using System.Web.Mvc
@{
    
   
    var UsuarioDes = Session[ConstanteSesion.UsuarioDes] == null ? "" : Session[ConstanteSesion.UsuarioDes];
    var RolDes = Session[ConstanteSesion.RolDes] == null ? "" : Session[ConstanteSesion.RolDes];
    var SedeDes = Session[ConstanteSesion.SedeDes] == null ? "" : Session[ConstanteSesion.SedeDes];
    
    
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/custom-theme/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
        <link href="@Url.Content("~/Content/custom-theme/jquery.ui.1.10.0.ie.css")" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jquery-ui-timepicker-addon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jqGrid.overrides.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />



        <style type="text/css">
            .ui-jqgrid tr.jqgrow td {
                word-wrap: break-word; /* IE 5.5+ and CSS3 */
                white-space: pre-wrap; /* CSS3 */
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                overflow: hidden;
                height: auto;
                vertical-align: middle;
                padding-top: 3px;
                padding-bottom: 3px
            }


        </style>

        @RenderSection("head", required: false)
    </head>
    <body>
        <div id="menuContenedor"  style="width: auto;" class="navbar navbar-fixed-top">
          
            
            <div class="navbar navbar-inverse" style="margin-bottom:0px;margin-top:2px;background-color:#f5f5f5">
                <table style="width: 100%">
                    
                    <tr>
                        <td>
                        <div style="width: 100%; height: 5px;background-color: #53016B;"></div>
                            </td>
                        
                    </tr>
                    <tr>
                        <td>
                        <img id="imgLogoPrincipal" src="~/Content/images/LogoSanPabloPeque.png" alt="San Pablo" height="28" width="155" style="margin-top:5px;margin-bottom:5px;padding-left:10px"/>
                      @*   <div style="float:right;padding-right:5px;padding-top:8px;font-size:11px">*@
                           <div style="text-align:right;float:right;padding-right:5px;padding-top:8px;font-size:11px;">
                               @if (!"".Equals(SedeDes))
                               {
	                            <span style="color:purple;font-weight:bold">Sede: </span>
	                            <span style="color:#666;font-weight:bold">@SedeDes</span>
	                            <span>&nbsp; &nbsp;</span>
                               }


	                            <span style="color:purple;font-weight:bold">Rol: </span>
	                            <span style="color:#666;font-weight:bold">@RolDes</span>&nbsp;&nbsp;

	                            <span style="color:purple;font-weight:bold">Usuario: </span>
	                            <span style="color:#666;font-weight:bold">@UsuarioDes</span>

	                            @*<a style="margin-left:10px;margin-top:0px;" href="@Url.Action("Login", "Seguridad", new { area = "Intranet" })" class="btn btn-small">Cerrar Sesion</a>*@
	                            <div class="btn-group" style="margin-left:10px;margin-top:0px;">
		                            <a class="btn btn-small" href="@Url.Action("Login", "Seguridad", new { area = "Intranet" })">Cerrar Sesion</a>
		                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		                            <ul class="dropdown-menu">
		                              <li><a onclick ="ResetPass();">Cambiar Contrase&ntilde;a</a></li>
		                            </ul>
                               </div>

                            </div>
                        
                        
                        </td>
                        
                    </tr>


                
                    <tr>
                        <td>
                            <a href="#" style="color:#53016B;font-size:18px;font-weight:normal;padding-top:10px;padding-left:10px;text-decoration:none">
                                Sistema de Reclutamiento y Selección de Personal 
                            </a>
                        </td>
                    </tr>
                </table>
        
                @*<img id="imgLogoPrincipal" src="~/Content/images/LogoSanPabloPeque.png" alt="San Pablo" height="28" width="155" style="margin-top:5px;margin-bottom:5px"/>
        
                <a href="#" style="color:#53016B;font-size:18px;font-weight:normal;padding-top:10px;padding-left:20px;text-decoration:none">
                    Sistema de Reclutamiento y Selección de Personal 
                </a>*@
             
               @* <div style="float:right;padding-right:5px;padding-top:8px;font-size:11px">
            
                   @if (!"".Equals(SedeDes))
                   {
                     <span style="color:purple;font-weight:bold">Sede: </span>
                     <span style="color:#666;font-weight:bold">@SedeDes</span>
                     <span>&nbsp; &nbsp;</span>
                   }
            
            
                    <span style="color:purple;font-weight:bold">Rol: </span>
                    <span style="color:#666;font-weight:bold">@RolDes</span>&nbsp;&nbsp;
            
                    <span style="color:purple;font-weight:bold">Usuario: </span>
                    <span style="color:#666;font-weight:bold">@UsuarioDes</span>
            
                   
                    <div class="btn-group" style="margin-left:10px;margin-top:0px;">
                        <a class="btn" href="@Url.Action("Login", "Seguridad", new { area = "Intranet" })">Cerrar Sesion</a>
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a onclick ="ResetPass();">Cambiar Contrase&ntilde;a</a></li>
                        </ul>
                   </div>

                </div>*@
            
            </div>
           
            @*<div class="container" style="width: auto;">*@
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                   @* <div class="container">*@
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse">
                 
                             <ul class="nav">
	                            @{ 
                                    var myList = (List<MenuPadre>)Session["listaPadre"];
                                    var myListOp = (List<MenuItem>)Session["ListaMenu"];
                        
                                }
                                   @foreach (MenuPadre Item in myList)
                                   {
                                    <li class="dropdown">
		                       
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Item.DESCRIPCION <b class="caret"></b></a>
                                        @{   List<MenuItem> Lista =
                                            (myListOp.Where(n => n.IDOPCIONPADRE == Item.IDOPCIONPADRE).ToList());
                                        }
                                            <ul class="dropdown-menu">
                                            @foreach (MenuItem opciones in Lista)
                                            {

                                                var url = Utils.AbsoluteWebRoot + opciones.DSCURL;
                                       
                                        
			                                    <li><a href="@url">@opciones.DESCRIPCION</a></li>
			                           
                                            }
                                            </ul>
		                            </li>
                                   }
                            </ul>
                    
                        </div>
                    @*</div>*@
                </div>
            </div>
              @*  </div>*@
           
    </div>
       
        <div class="container" >
            <div class="row">
            <section>
            <div class="span12">
                <div id="divNotificacion" class="alert alert-success" style="display:none;margin-bottom:0px;">
                    <a class="close" onclick="">×</a>
                    <span></span>
                </div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            
            @RenderBody()  
                 
             </section>
            </div>
        </div>
        <div id="PopupDialog" title="Cambiar Contrase&ntilde;a"></div>
        <div id="CambioPass"><span id="spanCambioPass"></span></div>
        <div id="divMensaje">
            <span id="spnMensaje"></span>
            <span id="spanMensaje"></span>
        </div>



        <footer class="footer">
            © <a href="http://www.conastec.com.pe/" target="_blank">CONASTEC</a>  |  @System.DateTime.Now.ToString("yyyy")  |  Versión 1.0
        </footer> 

        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/grid.locale-es.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.conastec.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/ui.datepicker-es.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
       
        

        <script type="text/javascript">


            $(document).ready(function () {

                // reconstruye la imagen para IE
                $("#imgLogoPrincipal").attr("src", '@Url.Content("~/Content/images/LogoSanPabloPeque.png")')
                    .css({
                       height: "28px",
                       width: "155px"
                       
                });


                $('#PopupDialog').dialog({
                    autoOpen: false,
                    width: 500,
                    height: 300,
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Grabar": function () {
                            if ($("#frmPopupPass").validate().form()) {
                                $('#spanCambioPass').dialog('open');
                            }
                        },
                        "Cancelar": function () {
                            $(this).dialog("close");
                        }
                    }
                });


                $("#spanCambioPass").html("¿Desea cambiar la Contraseña?")
                $('#CambioPass').dialog({
                    autoOpen: false,
                    modal: true,
                    title: "Sistema de Reclutamiento Y Seleccion de Personal",
                    buttons: {
                        "Si": function () {
                            $.ajax({
                                data: $("#frmPopupPass").serialize(),
                                type: "POST",
                                url: '@Url.Action("ResetPass", "Seguridad")',
                                traditional: true,
                                success: function (data) {
                                    if (data.redirecciona) {
                                        SanPablo.Redirecciona('@Url.Action("Login", "Seguridad",new { area = "Intranet" })');
                                    }
                                    if (data.Resultado) {
                                        SanPablo.Redirecciona('@Url.Action("Login", "Seguridad",new { area = "Intranet" })');
                                    } else {
                                        $('#confSelc').dialog("close");
                                        MostrarMensaje(data.Mensaje, "Sistema de Reclutamiento Y Seleccion de Personal");
                                    }
                                 }
                          });

                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                }
                });

            });


            function HabilitarFormatter(cellvalue, options, rowObject) {
                var imgPath = '@Url.Content("~/Content/images/")';
                var archivo = 'enabled.png';
                var title = "Habilitar"
                if (rowObject[1] == "A") {
                    archivo = 'enabled.png';
                    var title = "Habilitar"
                } else {
                    archivo = 'delete.png';
                    var title = "Habilitar"
                }

                var strImg = '<img src="' + imgPath + archivo + '" title="' + title + '" alt="' + title + '">';
                return strImg;
            };


            function dump(object) {
                for (var i in object) new Element('p', { html: i + ': ' + object[i] }).inject(document.body);
            }

            function HabilitarFormatterSemaforo(cellvalue, options, rowObject) {
                var imgPath = '@Url.Content("~/Content/images/")';
                var archivo = 'enabled.png';
                var title = "Habilitar"
                
                if (rowObject[1] == "V") {
                    archivo = 'enabled.png';
                    var title = "Habilitar"

                }
                else {
                    if (rowObject[1] == "M") {
                        archivo = 'yellow.png';
                        var title = "Habilitar"
                    }
                    else {
                        if (rowObject[1] == "R") {
                            archivo = 'red.png';
                            var title = "Habilitar"
                        }
                        else {
                            if (rowObject[1] == "I") {
                                archivo = 'black.png';
                                var title = "Habilitar"
                            }
                        }
                    }
                }

                var strImg = '<img src="' + imgPath + archivo + '" title="' + title + '" alt="' + title + '">';
                return strImg;
            };

            function notificacionExito(mensaje) {
                $("#divNotificacion span").html(mensaje);
                $("#divNotificacion").show(200, function () {
                    $('#divNotificacion').delay(5000).fadeOut();
                });
            };

            function notificacionError(mensaje) {
                $("#mensajeError").html(mensaje);
                var mensj = document.getElementById("mensajeError");
                mensj.style.display = "block";
            };
            
            function hide(obj) {
                var el = document.getElementById(obj);
                el.style.display = 'none';
            }

            function ResetPass() {
                
                var dialogDiv = $('#PopupDialog');
                $.get('@Url.Action("InicializaPopup", "Usuario",new { area = "Intranet" })', function (data) {
                    dialogDiv.html(data);
                    $.validator.unobtrusive.parse($("#PopupDialog"));
                    dialogDiv.dialog('open');
                });
                return false;
                
            }


            function MostrarMensaje(mensaje, titulo) {
                Funciones.Alert("divMensaje", "spnMensaje", mensaje, titulo);
            }

            function aMays(e, elemento) {
                tecla = (document.all) ? e.keyCode : e.which;
                elemento.value = elemento.value.toUpperCase();
            }

        </script>
         @RenderSection("Scripts", required: false)
    </body>
</html>
