@using SanPablo.Reclutador.Web.Models
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>
            </div>

            <form class="formulario-busqueda">
                <table>
                    <tr class="formulario-fila">
                    <td class="td-label">
                        <td class="td-label">
                            <label class="control-label" for="inputSuccess">Código</label>
                        <td>
                        <td class="td-label">
                            <input type="text" class="input-small" id="txtcodigo" value="200003" disabled="disabled">
                        <td>
                    </td>
                    <td class="td-label">
                        <label class="control-label" for="selectError">Dependencia</label>
                            <select id="sedependencia" class="select-large" disabled="disabled">
                            <option>Seleccionar</option>
                            <option selected="selected">Gerencia Médica</option>
                            </select>
                    </td>
                    </tr>
                    <tr class="formulario-fila">
                    <td class="td-label">
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                <input type="text" class="input-small" id="txtnombre" value="Técnico en Enfermería " disabled="disabled">
                            </div>
                    </td>
                    <td class="td-label">
                            <label class="control-label" for="selectError">Departamento</label>
                            <div class="controles">
                                <select id="sedepartamento" class="select-large" disabled="disabled">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Enfermería</option>
                                </select>
                            </div>
                    </td>
                    </tr>
                    <tr class="formulario-fila">
                    <td class="td-label">
                            <label class="control-label" for="inputSuccess">Descripción</label>
                            <div class="controles">
                                <input type="text" class="input-large" disabled="disabled" value="Técnico en Enfermería " id="txtdescripcion">
                            </div>
                    </td>
                    <td class="td-label">
                        <label class="control-label" for="selectError">Área</label>
                        <div class="controles">
                             <select id="searea" class="select-large" disabled="disabled">
                                 <option>Seleccionar</option>
                                 <option selected="selected">Cuidados Intensivos</option>
                             </select>
                        </div>
                    </td>
                </tr>
                <tr class="formulario-fila">
                    <td class="td-label">
                        <label class="control-label" for="inputSuccess">Nro Posiciones</label>
                             <input type="text" class="input-mini" id="txtnroposiciones" disabled="disabled">
                    </td>
                    <td class="td-label">
                        <label class="control-label" for="inputSuccess">Código de Cargo</label>
                        <input type="text" class="input-small" disabled="disabled">
                    </td>
                </tr>
                </table>
            </form>

            <h5>Perfil</h5>
            <ul class="nav nav-tabs" data-tabs="tabs">
            <li><div style="width:110px;display:inline-block"></div></li>
                @Html.MenuIntranet("Puesto", "Index", "Perfil")
                @Html.MenuIntranet("General", "General", "Perfil")
                @Html.MenuIntranet("Estudios", "Estudio", "Perfil")
                @Html.MenuIntranet("Experiencia", "Experiencia", "Perfil")
                @Html.MenuIntranet("Conocimientos", "Conocimientos", "Perfil")
                @Html.MenuIntranet("Discapacidad", "Discapacidad", "Perfil")
                @Html.MenuIntranet("Evaluación", "Evaluacion", "Perfil")
                @Html.MenuIntranet("Conf. Perfil", "ConfiguracionPerfil", "Perfil")
            </ul>
            <div class="container">
            @RenderBody() 
            </div>
            <div class="form-actions">     
                <a class="btn" href="@Url.Action("Index", "Cargo", new { area = "Intranet" })"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <a class="btn btn-info" onclick="mostrarAprobarDesaprobar();"><i class="icon-list icon-white"></i> Aprob/Rech</a>
                <a class="btn btn-info" onclick="mostrarConfirmacion();" href="#"><i class="icon-screenshot icon-white"></i> Enviar</a>
                <a class="btn btn-info" href="@Url.Action("Publicacion", "SolicitudCargo")"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
            </div>
        </div>
    </div>
</div>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.conastec.js")" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)