@using SanPablo.Reclutador.Web.Models
@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.MantenimientoCargoViewModel
@{
    ViewBag.Title = "Mantenimiento Cargo";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Mantenimiento de Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    @Html.HiddenFor(model=>model.Cargo.EstadoActivo)
                    @Html.HiddenFor(model=>model.IdeSolicitud)
                    @Html.TextBoxFor(model => model.EstadoRegistro, new {@class="btn btn-primary btn-small disabled" ,disabled="disabled" , style ="width:50px"})
                    @*<button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>*@
                </div>
            </div>

            <form class="formulario-busqueda">
                <div class="span12">
                    <h5>Datos Generales</h5>
                </div>
                <table>
                    <tr class="formulario-fila">
                        @*<td class="colEtiqueta">
                           <label class="control-label" for="inputSuccess">Código</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Cargo.IdeCargo, new { @disabled = "disabled"})
                        
                        </td>*@
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Código de Cargo</label>
                        </td>
                        <td class ="colImput">
                            @Html.TextBoxFor(model=>model.Cargo.CodigoCargo,  new { @disabled = "disabled"})
                        </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="selectError">Dependencia</label>
                        </td>
                        <td class="colInput" >
                            @Html.TextBoxFor(model =>model.Dependencia,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        @*<td class="colEtiqueta">
                          <label class="control-label" for="inputSuccess">Cargo</label>
                       </td>
                        <td class="colImput">
                           @Html.TextBoxFor(model=>model.Cargo.NombreCargo,  new { @disabled = "disabled"})
                       </td>*@
                        <td class="colEtiqueta">
                            <label class="control-label" for="selectError">Departamento</label>
                        </td>
                        <td class="colImput">
                             @Html.TextBoxFor(model =>model.Departamento,  new { @disabled = "disabled"})
                        </td>
                         <td class="colEtiqueta">
                          <label class="control-label" for="selectError">Área</label>
                        </td>
                        <td class="colImput">
                            @Html.TextBoxFor(model=>model.Area,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        @*<td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Descripción</label>
                        </td>
                        <td class="colImput">
                                @Html.TextBoxFor(model=>model.Cargo.DescripcionCargo,  new { @disabled = "disabled"})
                        </td>*@
                       
                    </tr>
                   @* <tr class="formulario-fila">
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Nro Posiciones</label>
                        </td>
                        <td class="colImput">
                                @Html.TextBoxFor(model=>model.Cargo.NumeroPosiciones,  new { @disabled = "disabled"})
                        </td>
                        
                    </tr>*@
                </table>
            </form>
                <div style="clear:both"></div>
                <div class="span12">
                    <div class="span10">
                        @*<h5>Datos Generales</h5>*@
                            @Html.Partial("DatosGenerales")
                    </div>
               </div>
           

            <h5>Datos de Perfil</h5>
            <ul class="nav nav-tabs" data-tabs="tabs">
            <li><div style="width:110px;display:inline-block"></div></li>
                @Html.MenuIntranet("Puesto", "Index", "MantenimientoCargo")
                @Html.MenuIntranet("General", "General", "MantenimientoCargo")
                @Html.MenuIntranet("Estudios", "Estudio", "MantenimientoCargo")
                @Html.MenuIntranet("Experiencia", "Experiencia", "MantenimientoCargo")
                @Html.MenuIntranet("Conocimientos", "Conocimientos", "MantenimientoCargo")
                @Html.MenuIntranet("Discapacidad", "Discapacidad", "MantenimientoCargo")
                @Html.MenuIntranet("Evaluación", "Evaluacion", "MantenimientoCargo")
                @Html.MenuIntranet("Conf. Perfil", "ConfiguracionPerfil", "MantenimientoCargo")
            </ul>
            <div class="container">
            @RenderBody() 
            </div>
            <div class="form-actions">     
                <a class="btn" href="@Url.Action("ListaCargos", "MantenimientoCargo", new { area = "Intranet" })"><i class="icon-arrow-left icon-cog"></i> Lista Cargos</a>
            </div>
        </div>
    </div>
</div>

<div id="updateDialogConfirmacion" title="CONFIRMACIÓN" ><p>¿Está seguro de enviar la solicitud de nuevo cargo?</p></div>

<div id="updateDialogDatos" title="Selección y Reclutamiento de Personal"><p>¿Está seguro de guardar los cambios?</p></div>

<div id="updateDialogAprobacion" title="Aprobacion/Rechazo Solicitud" ></div>
<div id="divMensaje">
    <span id="spanMensaje"></span>
</div>  

 
      

@section Scripts{ 

    @RenderSection("ScriptsCargo", required: false)

<script type="text/javascript">
    $(function () {


        $('#updateDialogAprobacion').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            buttons: {
                "Enviar": function (e) {
                    e.preventDefault();
                    var result = $('#LogSolicitudNuevoCargoForm').valid();
                    if (result) {
                        $("#spanMensaje").html("¿Seguro que quiere enviar la Aprobacion/Rechazo de la solicitud?");
                        $("#divMensaje").dialog({
                            title: 'SAN PABLO',
                            modal: true,
                            buttons: {
                                "Si": function () { $(this).dialog("close"); enviarAprobacionRechazo(); },
                                "No": function () { $(this).dialog("close"); }
                            }
                        });

                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados son correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        // }

        $('#updateDialogDatos').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    e.preventDefault();
                    var result = $("#datosGeneralesForm").valid();
                    if (result) {
                        grabarDatos();
                    }
                    else {
                        notificacionError("ERROR: Verifique que los datos ingresados son correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#updateDialogConfirmacion').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    $.post('@Url.Action("enviarPerfil", "Perfil")',
                        //$("#solicitudNuevoCargoForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                $('#updateDialogConfirmacion').dialog("close");
                                mostrarMensaje("Solicitud enviada exitosamente");

                            }
                            else {
                                $('#updateDialogConfirmacion').dialog("close");
                                mostrarMensaje(respuesta.Mensaje);
                            }
                        });
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        //datos generales
        $('#btnGrabarDatosGenerales').click(function () {
            var dialogDiv = $('#updateDialogDatos');
            dialogDiv.dialog('open');
            // mostrarconfirmacion();
        });



   //});

    
    });

    
    
    function grabarDatos() {
       $.post('@Url.Action("DatosGenerales", "MantenimientoCargo")',
            $("#datosGeneralesForm").serialize(),
            function (respuesta) {
                if (respuesta.Resultado) {
                    $("#updateDialogDatos").dialog("close");
                    mensajeResultado(respuesta.Mensaje);
                }
                else {
                    notificacionError(respuesta.Mensaje)

                }
            }
        );
    }

    function mostrarMensaje(msj)
    {
        
        $("#spanMensaje").html(msj);
        $("#divMensaje").dialog({
            title: 'SAN PABLO',
            modal: true,
            buttons: {
                "Ok": function () { $(this).dialog("close"); }
            }
        });
    }

    function mostrarConfirmacion() {
        var dialogDiv = $('#updateDialogConfirmacion');
        dialogDiv.dialog('open');
    }

    function validarFormulario() {
        if ($('#SolicitudNuevoCargo_EstadoActivo').val() != "I") {
            if ($("#solicitudNuevoCargoForm").validate().form()) {
                mostrarConfirmacion();
            }
        }
        else {
            mensajeResultado("Solicitud en estado: 'INACTIVO'");
        }
    }
    function mostrarAprobarDesaprobar() {
        var estado = $('#Cargo_EstadoActivo').val();
        if (estado == "A") {
            var dialogDiv = $('#updateDialogAprobacion');
            var ideSolicitud = $('#IdeSolicitud').val();
            $.get('@Url.Action("Edit", "LogSolicitudNuevoCargo")', { ideSolicitud: ideSolicitud }, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogAprobacion"));
                dialogDiv.dialog('open');
            });
        }
        else {
            notificacionError("No puede realizar esta accion en una solicitud en estado 'INACTIVO'");
        }
        return false;
    }

    function enviarAprobacionRechazo() {
        $.post('@Url.Action("AprobacionRechazoPerfil", "LogSolicitudNuevoCargo")',
             $("#LogSolicitudNuevoCargoForm").serialize(),
             function (respuesta) {
                 if (respuesta.Resultado) {
                     $("#updateDialogAprobacion").dialog("close");
                     $("#spanMensaje").html("Aprobacion/Rechazo enviado exitosamente");
                     $("#divMensaje").dialog({
                         title: 'SAN PABLO',
                         modal: true,
                         buttons: {
                             "Ok": function () { $(this).dialog("close"); }
                         }
                     });
                 }
                 else {
                     notificacionError(respuesta.Mensaje);
                 }
             }
        );
    }

</script>
}

