@using SanPablo.Reclutador.Web.Models
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>
            </div>

            <form class="formulario-busqueda">
                <table>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                           <label class="control-label" for="inputSuccess">Código</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Cargo.IdeCargo, new { @disabled = "disabled"})
                        
                        </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="selectError">Dependencia</label>
                        </td>
                        <td class="colInput" >
                            @Html.TextBoxFor(model =>model.Dependencia,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                          <label class="control-label" for="inputSuccess">Cargo</label>
                       </td>
                        <td class="colImput">
                           @Html.TextBoxFor(model=>model.Cargo.NombreCargo,  new { @disabled = "disabled"})
                       </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="selectError">Departamento</label>
                        </td>
                        <td class="colImput">
                             @Html.TextBoxFor(model =>model.Departamento,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Descripción</label>
                        </td>
                        <td class="colImput">
                                @Html.TextBoxFor(model=>model.Cargo.DescripcionCargo,  new { @disabled = "disabled"})
                        </td>
                        <td class="colEtiqueta">
                          <label class="control-label" for="selectError">Área</label>
                        </td>
                        <td class="colImput">
                            @Html.TextBoxFor(model=>model.Area,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Nro Posiciones</label>
                        </td>
                        <td class="colImput">
                                @Html.TextBoxFor(model=>model.Cargo.NumeroPosiciones,  new { @disabled = "disabled"})
                        </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Código de Cargo</label>
                        </td>
                        <td class ="colImput">
                            @Html.TextBoxFor(model=>model.Cargo.CodigoCargo,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                </table>
            </form>

            <h5>Perfil</h5>
            <ul class="nav nav-tabs" data-tabs="tabs">
            <li><div style="width:110px;display:inline-block"></div></li>
                @Html.MenuIntranet("Puesto", "Index", "Perfil")
                @Html.MenuIntranet("General", "General", "Perfil")
                @Html.MenuIntranet("Estudios", "Estudio", "Perfil")
                @Html.MenuIntranet("Experiencia", "Experiencia", "Perfil")
                @Html.MenuIntranet("Conocimientos", "Conocimientos", "Perfil")
                @Html.MenuIntranet("Discapacidad", "Discapacidad", "Perfil")
                @Html.MenuIntranet("Evaluación", "Evaluacion", "Perfil")
                @Html.MenuIntranet("Conf. Perfil", "ConfiguracionPerfil", "Perfil")
            </ul>
            <div class="container">
            @RenderBody() 
            </div>
            <div class="form-actions">     
                <a class="btn" href="@Url.Action("Index", "Cargo", new { area = "Intranet" })"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <a class="btn btn-info" onclick="mostrarAprobarDesaprobar();"><i class="icon-list icon-white"></i> Aprob/Rech</a>
                <a class="btn btn-info" onclick="mostrarConfirmacion();" href="#"><i class="icon-screenshot icon-white"></i> Enviar</a>
                <a class="btn btn-info" href="@Url.Action("Publicacion", "SolicitudCargo")"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    @RenderSection("ScriptsCargo", required: false)
}

