@using SanPablo.Reclutador.Web.Models
@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    @Html.HiddenFor(model=>model.Cargo.EstadoActivo)
                    @Html.HiddenFor(model=>model.IdeSolicitud)
                    @Html.TextBoxFor(model => model.Pagina, new { style = "display:none;" })
                    @Html.TextBoxFor(model => model.EstadoRegistro, new {@class="btn btn-primary btn-small disabled" ,disabled="disabled" , style ="width:60px"})
                    @*<button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>*@
                </div>
            </div>

            <form class="formulario-busqueda">
                <table>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                           <label class="control-label" for="inputSuccess">Código</label>
                        </td>
                        <td class="colInput">
                            @Html.TextBoxFor(model => model.Cargo.IdeCargo, new { @disabled = "disabled"})
                        
                        </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="selectError">Dependencia</label>
                        </td>
                        <td class="colInput" >
                            @Html.TextBoxFor(model =>model.Dependencia,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                          <label class="control-label" for="inputSuccess">Cargo</label>
                       </td>
                        <td class="colImput">
                           @Html.TextBoxFor(model=>model.Cargo.NombreCargo,  new { @disabled = "disabled"})
                       </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="selectError">Departamento</label>
                        </td>
                        <td class="colImput">
                             @Html.TextBoxFor(model =>model.Departamento,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Descripción</label>
                        </td>
                        <td class="colImput">
                                @Html.TextBoxFor(model=>model.Cargo.DescripcionCargo,  new { @disabled = "disabled"})
                        </td>
                        <td class="colEtiqueta">
                          <label class="control-label" for="selectError">Área</label>
                        </td>
                        <td class="colImput">
                            @Html.TextBoxFor(model=>model.Area,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                    <tr class="formulario-fila">
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Nro Posiciones</label>
                        </td>
                        <td class="colImput">
                            @Html.TextBoxFor(model=>model.Cargo.NumeroPosiciones,  new { @disabled = "disabled"})
                        </td>
                        <td class="colEtiqueta">
                            <label class="control-label" for="inputSuccess">Código de Cargo</label>
                        </td>
                        <td class ="colImput">
                            @Html.TextBoxFor(model=>model.Cargo.CodigoCargo,  new { @disabled = "disabled"})
                        </td>
                    </tr>
                </table>
            </form>

            <h5>Perfil</h5>
            <ul class="nav nav-tabs" data-tabs="tabs">
            <li><div style="width:110px;display:inline-block"></div></li>
                @Html.MenuIntranet("Puesto", "Index", "Perfil")
                @Html.MenuIntranet("General", "General", "Perfil")
                @Html.MenuIntranet("Estudios", "Estudio", "Perfil")
                @Html.MenuIntranet("Experiencia", "Experiencia", "Perfil")
                @Html.MenuIntranet("Conocimientos", "Conocimientos", "Perfil")
                @Html.MenuIntranet("Discapacidad", "Discapacidad", "Perfil")
                @Html.MenuIntranet("Evaluación", "Evaluacion", "Perfil")
                @Html.MenuIntranet("Conf. Perfil", "ConfiguracionPerfil", "Perfil")
            </ul>
            <div class="container">
            @RenderBody() 
            </div>
            <div class="form-actions">     
                @if (TipoSolicitud.ConsultaRequerimientos.Equals(Model.Pagina))
                { 
                    <a class="btn" href="@Url.Action("Index", "SolicitudConsulta", new { area = "Intranet" })"><i class="icon-arrow-left icon-cog"></i> Pág. Anterior</a>
                }
                else
                {
                    <a class="btn" href="@Url.Action("Index", "SolicitudNuevoCargo", new { area = "Intranet" })"><i class="icon-arrow-left icon-cog"></i>Pág. Anterior</a>
                }
                
                @if (Accion.Aprobar.Equals(Model.Accion))
                {
                    <a class="btn btn-info" onclick="mostrarAprobarDesaprobar();"><i class="icon-list icon-white"></i> @Html.DisplayFor(model=>model.aproObser)</a>
                }
                @if (Accion.Enviar.Equals(Model.Accion))
                {
                    <a class="btn btn-info" onclick="mostrarConfirmacion();" href="#"><i class="icon-screenshot icon-white"></i> Enviar</a>
                }
                @if (Accion.Aceptar.Equals(Model.Accion))
                {
                    <a class="btn btn-info" onclick="mostrarConfirmaAceptar();" href="#"><i class="icon-list icon-white"></i> Aceptar</a>
                }
                @if (Accion.Publicar.Equals(Model.Accion))
                {
                    <a class="btn btn-info" onclick="publicar();" ><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
                }
            </div>
        </div>
    </div>
</div>

<div id="updateDialogConfirmacion" title="CONFIRMACIÓN" ><p>¿Está seguro de enviar la solicitud de nuevo cargo?</p></div>
<div id="updateDialogAprobacion" title="Aprobacion/Rechazo Solicitud" ></div>
<div id="updateDialogAceptar" title="ACEPTAR" ><p>¿Está seguro de aceptar la solicitud de nuevo cargo?</p></div>

<div id="divMensajeAlert">
    <span id="spanMensajeAlert"></span>
</div>  

 
      

@section Scripts{ 

    @RenderSection("ScriptsCargo", required: false)

<script type="text/javascript">
    $(function () {
        $('#updateDialogAprobacion').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            buttons: {
                "Enviar": function (e) {
                    e.preventDefault();
                    var result = $('#LogSolicitudNuevoCargoForm').valid();
                    if (result) {
                        $("#spanMensaje").html("¿Seguro que quiere enviar la Aprobacion/Rechazo de la solicitud?");
                        $("#divMensaje").dialog({
                            title: 'SAN PABLO',
                            modal: true,
                            buttons: {
                                "Si": function () {
                                    $(this).dialog("close");
                                    $("#updateDialogAprobacion").dialog("close");
                                    $.blockUI({
                                        message: '<h1>Enviando...</h1>',
                                        css: {
                                            border: 'none',
                                            padding: '15px',
                                            backgroundColor: '#000',
                                            '-webkit-border-radius': '10px',
                                            '-moz-border-radius': '10px',
                                            opacity: .5,
                                            color: '#fff'
                                        }
                                    });
                                    enviarAprobacionRechazo();
                                },
                                "No": function () { $(this).dialog("close"); }
                            }
                        });

                    }
                    else {

                        notificacionError("ERROR: Verifique que los datos ingresados son correctos");
                    }
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        // }

        $('#updateDialogAceptar').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    $('#updateDialogAceptar').dialog("close");
                    $.blockUI({
                        message: '<h1>Enviando...</h1>',
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });
                    $.post('@Url.Action("aceptarPerfil", "Perfil")',
                        //$("#solicitudNuevoCargoForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                $.unblockUI();
                                mostrarMensaje("Solicitud aceptada exitosamente");
                            }
                            else {
                                $.unblockUI();
                                mostrarMensaje(respuesta.Mensaje);
                            }
                        });
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
                });


        $('#updateDialogConfirmacion').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Aceptar": function (e) {
                    $('#updateDialogConfirmacion').dialog("close");
                    $.blockUI({
                        message: '<h1>Enviando...</h1>',
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });
                    $.post('@Url.Action("enviarPerfil", "Perfil")',
                        //$("#solicitudNuevoCargoForm").serialize(),
                        function (respuesta) {
                            if (respuesta.Resultado) {
                                $.unblockUI();
                                mostrarMensaje("Solicitud enviada exitosamente");
                            }
                            else {
                                $.unblockUI();
                                mostrarMensaje(respuesta.Mensaje);
                            }
                        });
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function mostrarMensaje(msj)
    {
        
        $("#spanMensaje").html(msj);
        $("#divMensaje").dialog({
            title: 'Sistema de reclutamiento y selección de personal',
            modal: true,
            buttons: {
                "Ok": function () { $(this).dialog("close"); }
            }
        });
    }

    function mostrarConfirmaAceptar() {
        var dialogDiv = $('#updateDialogAceptar');
        dialogDiv.dialog('open');
    }

    function mostrarConfirmacion() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("verificarPerfilCompleto", "Perfil")',
            traditional: true,
            success: function (data) {
                if (data.Resultado) {
                    var dialogDiv = $('#updateDialogConfirmacion');
                    dialogDiv.dialog('open');
                }
                else {
                    mostrarMensaje("Debe completar el perfil con los datos obligatorios");
                }
            }
        });
    }

    function validarFormulario() {
        if ($('#SolicitudNuevoCargo_EstadoActivo').val() != "I") {
            if ($("#solicitudNuevoCargoForm").validate().form()) {
                mostrarConfirmacion();
            }
        }
        else {
            mensajeResultado("Solicitud en estado: 'INACTIVO'");
        }
    }
    function mostrarAprobarDesaprobar() {
        var estado = $('#Cargo_EstadoActivo').val();
        if (estado == "A") {
            var dialogDiv = $('#updateDialogAprobacion');
            var ideSolicitud = $('#IdeSolicitud').val();
            $.get('@Url.Action("Edit", "LogSolicitudNuevoCargo")', { ideSolicitud: ideSolicitud }, function (data) {
                dialogDiv.html(data);
                $.validator.unobtrusive.parse($("#updateDialogAprobacion"));
                dialogDiv.dialog('open');
            });
        }
        else {
            notificacionError("No puede realizar esta accion en una solicitud en estado 'INACTIVO'");
        }
        return false;
    }

    function enviarAprobacionRechazo() {

        $.post('@Url.Action("AprobacionRechazoPerfil", "LogSolicitudNuevoCargo")',
             $("#LogSolicitudNuevoCargoForm").serialize(),
             function (respuesta) {
                 $.unblockUI();
                 if (respuesta.Resultado) {
                     mostrarMensaje("Aprobacion/Rechazo enviado exitosamente");
                 }
                 else {
                     notificacionError(respuesta.Mensaje);
                 }
             }
        );
    }

    function publicar()
    {
        var pagina = '@TipoSolicitud.Nuevo';
        var url = '@Url.Action("Index", "Perfil", new { id = "",area="Intranet" })?id=' + "0" + "&pagina=" + pagina;
        window.location = url;
    }


</script>
}

