 @using SanPablo.Reclutador.Web.Models
    <div class="alert alert-info" id="alerta">
        <a class="close" onclick="hide('alerta')" >×</a>
        Para poder <strong>postular</strong> a una posición Ud. debe completar sus Datos, Estudios, Experiencia y Conocimientos
    </div>
      
    
    <p id="progreso" style="margin-left:380px;margin-top:0px;color:#666;margin-bottom:1px;">Tu CV esta completo al 0%</p>
    <div class="progress progress-info progress-striped active" style="height:15px;margin-top:0px">
        <div id="progressBar" class="bar" style="width: 0%;"></div>
    </div>
    


<ul class="nav nav-pills">
    @Html.MenuItem("1. Datos", "General", "Postulante")
    @Html.MenuItem("2. Estudios", "Index", "EstudioPostulante")
    @Html.MenuItem("3. Experiencia", "Index", "ExperienciaPostulante")
    @Html.MenuItem("4. Conocimientos", "Index", "ConocimientoGeneralPostulante")
@*    @Html.MenuItem("Referencias", "Referencias", "Postulante")*@
    @Html.MenuItem("5. Complementarios", "DatosComplementarios", "Postulante")
    @Html.MenuItem("6. Parientes", "Index", "ParientePostulante")
    @Html.MenuItem("7. Discapacidad", "Index", "DiscapacidadPostulante")
@*    @Html.MenuItem("Reclutamientos", "Reclutamientos", "Postulante")*@
</ul>
<script>
    
    function hide(obj) {
        var el = document.getElementById(obj);
        el.style.display = 'none';

    }

    //barra de progreso
    function actualizarBarra() {
        var porc = $('#indicadorRegistroCompleto').val();
        var porcentaje = '0'
        if (porc == 'A') { porcentaje = '20'; }
        else {
            if (porc == 'B') { porcentaje = '40'; }
            else {
                if (porc == 'C') { porcentaje = '50'; }
                else {
                    if (porc == 'D') { porcentaje = '70'; }
                    else {
                        if (porc == 'E') { porcentaje = '80'; }
                        else {
                            if (porc == 'F') { porcentaje = '100'; }
                        }
                    }
                }
            }
        }
        var progresso = 'Tu CV esta completo al ' + porcentaje + '%';
        document.getElementById("progressBar").style.width = porcentaje + '%';
        document.getElementById("progreso").firstChild.nodeValue = progresso;
        
        var varios = document.getElementsByClassName("icon-ok");
        varios[0].style.visibility = "visible";
    }
</script>