 @using SanPablo.Reclutador.Web.Models
    <div class="alert alert-info" id="alerta" style="display:none" >
        <a class="close" onclick="hide('alerta')" >×</a>
        Para poder <strong>postular</strong> a una posición Ud. debe completar sus Datos, Estudios, Experiencia y Conocimientos, ingrese primero sus datos personales en la pestaña Datos
    </div>
      
<ul class="nav nav-tabs" data-tabs="tabs">
    @Html.MenuIntranet("Puesto", "Index", "Perfil")
    @Html.MenuIntranet("General", "General", "Perfil")
    @Html.MenuIntranet("Estudios", "Estudio", "Perfil")
    @Html.MenuIntranet("Experiencia", "Experiencia", "Perfil")
    @Html.MenuIntranet("Conocimientos", "Conocimientos", "Perfil")
    @Html.MenuIntranet("Discapacidad", "Discapacidad", "Perfil")
    @Html.MenuIntranet("Evaluación", "Index", "Perfil")
    @Html.MenuIntranet("Conf. Perfil", "ConfiguracionPerfil", "Perfil")

</ul>
