 @using SanPablo.Reclutador.Web.Models
    <div class="alert alert-info" id="alerta" style="display:none" >
        <a class="close" onclick="hide('alerta')" >×</a>
        Para poder <strong>postular</strong> a una posición Ud. debe completar sus Datos, Estudios, Experiencia y Conocimientos, ingrese primero sus datos personales en la pestaña Datos
    </div>
      
    
    <p id="progreso" style="margin-left:380px;margin-top:0px;color:#666;margin-bottom:1px;">Tu CV esta completo al 0%</p>
    <div class="progress progress-info progress-striped active" style="height:15px;margin-top:0px">
        <div id="progressBar" class="bar" style="width: 0%;"></div>
    </div>
    


<ul class="nav nav-pills">
    @Html.MenuItem("1. Datos", "General", "Postulante")
    @Html.MenuItem("2. Estudios", "Index", "EstudioPostulante")
    @Html.MenuItem("3. Experiencia", "Index", "ExperienciaPostulante")
    @Html.MenuItem("4. Conocimientos", "Index", "ConocimientoGeneralPostulante")
    @Html.MenuItem("5. Complementarios", "DatosComplementarios", "Postulante")
    @Html.MenuItem("6. Parientes", "Index", "ParientePostulante")
    @Html.MenuItem("7. Discapacidad", "Index", "DiscapacidadPostulante")

</ul>
<script>
   
    function mostrarAlerta() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("mostrarAlerta","Postulante")',
            success: function (respuesta) {
                var alerta = document.getElementById("alerta");
                if (respuesta == "X") {
                    alerta.style.display = "none";
                }
                else { alerta.style.display = "block";}
            },
            error: function (e) {
                alert(e);
            }
         });
    }
    
    function hide(obj) {
        var el = document.getElementById(obj);
        el.style.display = 'none';
        $.ajax({
            type: "POST",
            url: '@Url.Action("actualizarAlerta","Postulante")'
        });

    }

    //barra de progreso
    function actualizarBarra() {
        var progreso= 0;
        var varios = document.getElementsByClassName("icon-ok");
        // determinar pestañas activas
        $.ajax({
            type: "POST",
            url: '@Url.Action("pestañasActivas","Postulante")',
            success: function (respuesta){
                $.each(respuesta, function (i, items) {
                    if (items == 9)
                    {
                        varios[0].style.visibility = "visible";
                        progreso = progreso + 20;
                    }
                    if ((items >= 0) && (items < 7)) {
                        varios[items].style.visibility = "visible";
                        if ((items == 1) || (items == 2) || (items == 3)) {
                            progreso = progreso + 20;
                        }
                        else {
                            if ((items == 4) || (items == 5)) {
                                progreso = progreso + 10;
                            }
                        }
                        
                        
                    }
                    
                });
                var porcentaje = $('#porcentaje').val();
                var progresso = 'Tu CV esta completo al ' + progreso + '%';
                document.getElementById("progressBar").style.width = progreso + '%';
                document.getElementById("progreso").firstChild.nodeValue = progresso;
            },
            error: function (e) {
                  alert(e);
            }

            
        });
       

    }
</script>