@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.EvaluarPostulanteViewModel
@{
    Layout = null;
}

@section Head{
    }
<!DOCTYPE html>

<html>
     <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />

    <head>
        <meta charset="utf-8">
        <title>@Html.DisplayFor(model=>model.Categoria.NOMCATEGORIA)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/custom-theme/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
        <link href="@Url.Content("~/Content/custom-theme/jquery.ui.1.10.0.ie.css")" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jqGrid.overrides.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>


<body onload="countDown();">
     @using (Html.BeginForm("Examen", "Evaluacion", FormMethod.Post, new { @id="examenForm", enctype = "multipart/form-data" }))
     { 
         
    <div class="container">
        <div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Examen</h5>
                <div class="opciones">
                    <a class="btn btn-info" id="btnTerminarPrueba"><i class="icon-adjust icon-white"></i> Terminar</a>
                    @*<a class="btn btn-small btn-info" id="btnTerminarCabezera" href="#" onclick="cerrarPrueba();"><i class="icon-adjust icon-white"></i> Terminar</a>*@
                </div>
            </div>
            <table>
                <tr>
                <td style="margin-top:5px;margin-left:10px;">
                    <span>Pregunta </span>@Html.TextBoxFor(model => model.nroPregunta, new { @class="input-xmini", maxlength="3"}) <span> de @Html.DisplayFor(model=>model.totalPreguntas)</span>
                   <div style="display:inline-block">
                      <a class="btn btn-info" id="btnBuscarPregunta" style="margin:5px;display:inline-block ">Ir a</a>
                   </div>
                </td>
                <td style="margin-top:5px;margin-right:10px; ">
                   @*<span>Duracion </span>*@ <h4 id="horaImprimir" style="display:inline-block;width:300px;" ></h4>   
                </td>
                <td style="float:right;margin-top:10px;margin-right:10px; width: 220px;">
                    @Html.TextBoxFor(model => model.indicadorMensaje, new { style = "display:none;" })
                    @Html.TextBoxFor(model => model.segundos, new { disabled = "disabled", style = "display:none;" })
                    @Html.TextBoxFor(model => model.Categoria.TIEMPO, new { @class = "input-mini", style= "display:none;" })
                    <span>Inicio</span> 
                    @Html.TextBoxFor(model => model.Inicio, new { @class="input-mini", disabled= "disabled"}) 
                    <span>Fin</span>  
                    @Html.TextBoxFor(model => model.Fin, new {@class= "input-mini", disabled = "disabled"})
                </td>
                </tr>
                <tr>
                    <td style="width:720px"></td>
                    @*<td style="float:right;margin-top:10px;margin-right:10px;">
                        @Html.TextBoxFor(model => model.segundos, new { disabled = "disabled", style = "display:none;" })
                        @Html.TextBoxFor(model => model.Categoria.TIEMPO, new { @class = "input-mini", style= "display:none;" })
                        <span>Inicio</span> 
                        @Html.TextBoxFor(model => model.Inicio, new { @class="input-mini", disabled= "disabled"}) 
                        <span>Fin</span>  
                        @Html.TextBoxFor(model => model.Fin, new {@class= "input-mini", disabled = "disabled"})
                    </td>*@
                </tr>
            </table>
            <div style="clear:both"></div>
            <div class="grilla-opciones">
                 @*<h6>@Html.DisplayFor(model=>model.SubCategoria.NOMSUBCATEGORIA)</h6>*@

                @Html.TextBoxFor(model => model.Criterio.IdeCriterioPorSubcategoria, new { style = "display:none;" })
                @Html.TextBoxFor(model => model.SubCategoria.IDESUBCATEGORIA, new { style = "display:none;" })
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <table style="width:100%;margin-left:10px;margin-right:10px;">                                         
                <tbody><tr>   
                    @Html.TextBoxFor(model => model.Criterio.IdeCriterio, new { style = "display:none;" })
                     @if(Model.Criterio.TipoModo == TipoModo.Texto)
                      {
                        <td>
                          
                           @Html.DisplayFor(model => model.nroPregunta) .- &nbsp;@Html.DisplayFor(model => model.Criterio.Pregunta)
                        </td>
                         <td>&nbsp;</td>
                      }
                      else
                      {
                            <td class="colEtiqueta"></td>
                            <td class ="colInput" >
                                @Html.DisplayFor(model => model.nroPregunta) .- &nbsp;
                                <img id="ImgCriterio"  height ="100" width="100" src="@Url.Action("GetImage", "Criterio", new { id = Model.Criterio.IdeCriterio })" /> 
                            </td>
                         
                      }                     
                </tr>
                <tr><td>&nbsp;</td></tr>

                 @{ 
                     var myList = Model.Alternativas;
                  
                  }
                  @foreach (Alternativa Item in myList)
                  {
                      if (Model.Criterio.TipoModo == TipoModo.Texto)
                      {
                    <tr>
                        <td>
                            @Html.RadioButtonFor(model => model.Alternativa.IdeAlternativa, Item.IdeAlternativa) @Html.DisplayFor(model => Item.NombreAlternativa)
                        </td>
                    </tr>
                      }
                      else
                      {
                          <tr>
                            <td class="colEtiqueta"></td>
                            <td class ="colInput" >
                                 @Html.RadioButtonFor(model => model.Alternativa.IdeAlternativa, Item.IdeAlternativa)
                                <img id="ImgAlternativa"  height ="100" width="100" src="@Url.Action("GetImageAlternativa", "Alternativa", new { id = Item.IdeAlternativa })" /> 
                            </td>
                          </tr>
                      }

                  }
                  
            </tbody></table>   
            <div class="form-actions">
                @if (Model.nroPregunta > 1)
                {
                    <a class="btn" id ="btnAnterior" ><i class="icon-arrow-left icon-cog"></i> Anterior</a>    
                } 
                @if (Accion.Siguiente == Model.Accion)
                {    
                    <button type="submit" id="btnSiguiente" class="btn btn-info"><i class="icon-arrow-right icon-white"></i> Siguiente</button>
                }
               @* else
                {
                    <a class="btn btn-info" id="btnTerminar" @*href="#" onclick="cerrarPrueba();"><i class="icon-adjust icon-white"></i> Terminar</a>
                }*@

                
                 
            </div>                     
        </div>

    </div>
</div>
    </div>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
      <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
      <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

      
      <script src="@Url.Content("~/Scripts/SanPablo.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>
     }
    <div id="divMensaje">
        <span id="spnMensaje"></span>
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        SanPablo.Numeros('nroPregunta');

        $(window).on('beforeunload', function () {

            $(window).on('unload', function () {
                cerrarPrueba();
            });
            return "¿Termino el examen?";
        });

        $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close').remove();

        $('#btnBuscarPregunta').click(function () {
            stopNavigate();
            guardarBuscarPregunta();
            //buscarPreguntaRef();
        });


        $('#btnAnterior').click(function () {
            stopNavigate();
            preguntaAnterior(@Model.nroPregunta);
        });
        
        $('#btnSiguiente').click(function () {
            stopNavigate();
        });

        $('#btnAceptarId').click(function () { stopNavigate });

        //$('#btnAceptarId').on('mousedown', stopNavigate);

        //$('#btnAceptarId').on('mouseleave', function () {
        //    $(window).on('beforeunload', function () {
        //        return 'Esta seguro de terminar la prueba?';
        //    });
        //});

        //$('#btnTerminarPrueba').on('mousedown', stopNavigate);

        //$('#btnTerminarPrueba').on('mouseleave', function () {
        //    console.log("hola q ase");
        //    $(window).on('beforeunload', function () {
        //        return 'Esta seguro de terminar la prueba?';
        //    });
        //});

        
        //$('#btnBuscarPregunta').on('mousedown', stopNavigate);

        //$('#btnBuscarPregunta').on('mouseleave', function () {
        //    $(window).on('beforeunload', function () {
        //        return 'Esta seguro de terminar la prueba?';
        //    });
        //});

       
        //$('#btnAnterior').on('mousedown', stopNavigate);

        //$('#btnAnterior').on('mouseleave', function () {
        //    $(window).on('beforeunload', function () {
        //        return 'Esta seguro de terminar la prueba?';
        //    });
        //});

        //$('#btnSiguiente').on('mousedown', stopNavigate);

        //$('#btnSiguiente').on('mouseleave', function () {
        //        $(window).on('beforeunload', function () {
        //            return 'Esta seguro de terminar la prueba?';
        //        });
        //    });

      

            //$(window).on('unload', function () {
            //   // cerrarPrueba();

            //});

        $('#btnTerminarPrueba').click(function () {
            stopNavigate();
            verificarPreguntas();
                
            });
    });

    function verificarPreguntas()
    {
        $.post('@Url.Action("preguntasSinContestar", "Evaluacion")',
             
              function (respuesta) {
                  if (respuesta.Resultado) {
                      $("#spnMensaje").html(respuesta.Mensaje);
                      $("#divMensaje").dialog({
                          title: 'CONFIRMACIÓN',
                          resizable: false,
                          modal: true,
                          buttons: {
                              "Aceptar":
                                   {
                                       text: "Aceptar",
                                       id: "btnAceptarId",
                                       click: function () {
                                           cerrarPrueba(); $(this).dialog("close");
                                       }
                                   },//  function () { cerrarPrueba(); $(this).dialog("close"); },
                              "Cancelar": function () { $(this).dialog("close"); }
                          }
                      });
                   }
                   else {

                       MostrarMensaje(respuesta.Mensaje, "ALERTA");
                   }
               }
        );

        
    }

    function mueveReloj() {
        momentoActual = new Date()
        hora = momentoActual.getHours()
        minuto = momentoActual.getMinutes()
        segundo = momentoActual.getSeconds()

        horaImprimible = hora + " : " + minuto + " : " + segundo

        document.getElementById("horaImprimir").innerHTML = horaImprimible
        setTimeout("mueveReloj()", 1000)
    }

    function countDown()
    {
        var totalSegundos = document.getElementById("segundos").value;
        var days, hours, minutes, seconds;
        var countdown = document.getElementById("horaImprimir");
        setInterval(function () {
            var seconds_left = totalSegundos;

            //if (totalSegundos < 300)
            //{
            //    MostrarMensaje("")
            //}

            if (totalSegundos <= 0)
            {
                stopNavigate();
                cerrarPrueba();
            }
            hours = parseInt(seconds_left / 3600);
            seconds_left = seconds_left % 3600;
     
            minutes = parseInt(seconds_left / 60);
            seconds = parseInt(seconds_left % 60);
            

            countdown.innerHTML = hours + " : "
            + minutes + " : " + seconds ;  
            totalSegundos = totalSegundos - 1;
        }, 1000);
    }


    function preguntaAnterior(preguntaActual) {
    ///enviar todo el formulario
        $.post('@Url.Action("preguntaAnterior", "Evaluacion")',
               $("#examenForm").serialize(),
               function (respuesta) {
                   if (respuesta.Resultado) {
                       var nroPreg = parseInt(respuesta.IdDato);
                       var url = '@Url.Action("MostrarPregunta", "Evaluacion", new { nroPregunta = "", area = "Intranet" })?nroPregunta=' + nroPreg;
                      window.location = url;
                  }
                   else {
                       
                       MostrarMensaje(respuesta.Mensaje,"INFORMATIVO");
                  }
               }
        );
          }

    function MostrarMensajeSalir()
    {
        $("#spnMensaje").html('¿Está seguro de terminar la evaluación?.');
        $("#divMensaje").dialog({
            title: 'CONFIRMACIÓN',
            modal: true,
            buttons: {
                "Aceptar": function () { cerrarPrueba(); $(this).dialog("close"); },
                "Cancelar": function () { $(this).dialog("close"); }
            }
        });
    }
    function cerrarPrueba()
    {
       

        $.post('@Url.Action("terminarPrueba", "Evaluacion")',
              $("#examenForm").serialize(),
              function (respuesta) {
                  if (respuesta.Resultado) {
                      window.close();

                  }
                  else {
                      window.close();
                      //MostrarMensaje(respuesta.Mensaje,"MENSAJE");
                  }
               }
        );

    }

    function guardarBuscarPregunta()
    {
        var nroPregunta = document.getElementById('nroPregunta').value;

        $.post('@Url.Action("guardarPregunta", "Evaluacion")',
               $("#examenForm").serialize(),
               function (respuesta) {
                  if (respuesta.Resultado) {
                      var nroPreg = parseInt(nroPregunta) - 1;
                      var url = '@Url.Action("MostrarPregunta", "Evaluacion", new { nroPregunta = "",area="Intranet" })?nroPregunta=' + nroPreg;
                      window.location = url;
                   }
                  else {
                      MostrarMensaje(respuesta.Mensaje,"INFORMATIVO");
                   }
               }
        );
    }

    function MostrarMensaje(mensaje, titulo) {
        Funciones.Alert("divMensaje", "spnMensaje", mensaje, titulo);
    }

    function stopNavigate() {
        $(window).off('beforeunload');
    }
    
</script>
</body>
</html>
