@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.EvaluarPostulanteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        @*<title>Instrucciones Examen</title>*@
        <title>@Html.DisplayFor(model=>model.Categoria.NOMCATEGORIA)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/custom-theme/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
        <link href="@Url.Content("~/Content/custom-theme/jquery.ui.1.10.0.ie.css")" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jqGrid.overrides.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>
<body>
    <div class="container">
        <div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Examen</h5>
                <div class="opciones">
                    <a class="btn btn-small btn-info" href="#" onclick="window.close();"><i class="icon-adjust icon-white"></i> Terminiar</a>
                </div>
            </div>
            <div style="float:left;margin-top:5px;margin-left:10px;">
                <span>Pregunta </span><input type="text" class="input-xmini" value="1"/> <span> de 4</span>
            </div>
            <a class="btn btn-info" style="margin:5px;">Ir a</a>
            <div style="float:right;margin-top:5px;">
                <span>Duracion</span>  
                @Html.TextBoxFor(model => model.Categoria.TIEMPO, new { @class = "input-mini", disabled = "disabled" })
                @*<input type="text" class="input-mini" id="txduracion" value="30 min." disabled="disabled">*@&nbsp;&nbsp;
                <span>Inicio</span> 
                @Html.DisplayFor(model => model.Inicio, new { @class="input-mini", disabled= "disabled"}) 
                @*<input type="text" class="input-mini" id="txinicio" value="5:00 p.m." disabled="disabled">*@&nbsp-
                <span>Fin</span>  
                @Html.DisplayFor(model => model.Fin, new {@class= "input-mini", disabled = "disabled"})
                @*<input type="text" class="input-mini" id="txtFin" value="5:30 p.m." disabled="disabled">*@
            </div>
            <div style="clear:both"></div>
            <div class="grilla-opciones">
                @*<h6>Comunicación Interpersonal</h6>*@
                 <h6>@Html.DisplayFor(model=>model.SubCategoria.NOMSUBCATEGORIA)</h6>
                @Html.TextBoxFor(model => model.SubCategoria.IDESUBCATEGORIA, new { style = "display:none;" })
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <table style="width:100%;margin-left:10px;margin-right:10px;">                                         
                <tbody><tr>                        
                    @Html.TextBoxFor(model => model.Criterio.IdeCriterio, new { style = "display:none;" })
                    <td>1.- @Html.DisplayFor(model=>model.Criterio.Pregunta)
                    </td>                     
                </tr>
                 @{ 
                        var myList = (List<MenuPadre>)Session["listaPadre"];
                        var myListOp = (List<MenuItem>)Session["ListaMenu"];
                  }
                  @foreach (MenuPadre Item in myList)
                  {
                      if(Model.Criterio.TipoModo == TipoModo.Texto)
                      {
                    <tr>
                        <td>
                            <input type="radio" name="pregunta2"> &nbsp;No muy Exacta 
                        </td>
                    </tr>
                      }
                      else
                      {
                          <tr>
                            <td class="colEtiqueta"></td>
                            <td class ="colInput" >
                                <img id="ImgAlternativa"  height ="100" width="100" src="@Url.Action("GetImage", "Criterio", new { id = Model.Criterio.IdeCriterio })" /> 
                            </td>
                          </tr>
                      }
                  }
                <tr><td><input type="radio" name="pregunta2"> &nbsp;No muy Exacta </td></tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;Ligeramente Exacta</td></tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;Generalmente Exacta</td></tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;Muy Exacta</td></tr>
                  
            </tbody></table>   
            <div class="form-actions">       
                <a class="btn btn-info"href="@Url.Action("Examen1", "Evaluacion")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
            </div>                     
        </div>

    </div>
</div>
    </div>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
</body>
</html>
